openapi: 3.0.0
info:
  title: Sales Staff
  version: '3.0'
  description: Sales staff management
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v3/io'
paths:
  /sales-staffs:
    parameters: []
    get:
      summary: Get Sales Staffs
      operationId: get-sales-staffs
      description: Get all sales staffs with pangiation
      tags:
        - Sales Staff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/sales_staff'
                  meta:
                    allOf:
                      - type: object
                        properties:
                          message:
                            type: string
                      - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/utils/pagination.yaml
                  code:
                    type: integer
                    x-stoplight:
                      id: 2zlf0enukfxj2
              examples:
                Arthur Mrogan assigned to the Van der Linde Gang:
                  value:
                    data:
                      - id: 19
                        salesRepName: Arthur Morgan
                        email: Arthur.Morgan@rstar.com
                        companyCount: 1
                        roleName: Sales Rep
                    meta:
                      message: Success
                      pagination:
                        totalCount: 1
                        limit: 10
                        offset: 0
      security:
        - authToken: []
      parameters:
        - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/specs/api-v3/super_admin/super_admin.yaml#/components/parameters/limit
        - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/specs/api-v3/super_admin/super_admin.yaml#/components/parameters/offset
        - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/specs/api-v3/super_admin/super_admin.yaml#/components/parameters/orderBy
        - schema:
            type: string
          in: query
          name: companyId
          description: 'Unique ID of company '
  '/sales-staffs/{salesStaffId}':
    parameters:
      - schema:
          type: integer
        name: salesStaffId
        in: path
        required: true
        description: Sales staff ID
    put:
      summary: Update a Sales Staff
      operationId: put-sales-staffs-salesStaffId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    data: {}
                    meta:
                      message: SUCCESS
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                  meta:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: string
                        minLength: 1
                required:
                  - code
                  - data
                  - meta
              examples:
                example-1:
                  value:
                    code: 200
                    data: {}
                    meta:
                      message: SUCCESS
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 400
                    data: {}
                    meta:
                      message: Create BC customer group failed
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                  meta:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: string
                        minLength: 1
                required:
                  - code
                  - data
                  - meta
              examples:
                example-1:
                  value:
                    code: 400
                    data: {}
                    meta:
                      message: Update failed reason
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    data: {}
                    meta:
                      message: SUCCESS
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                  meta:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: string
                        minLength: 1
                required:
                  - code
                  - data
                  - meta
              examples:
                example-1:
                  value:
                    code: 404
                    data: {}
                    meta:
                      message: Resource Not Found
      description: Update a sales staff for company assignment
      tags:
        - Sales Staff
      security:
        - authToken: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: array
              x-examples:
                example-1:
                  companies:
                    - companyId: '89'
                      isAssigned: '0'
                      id: '89'
                      assignStatus: '0'
                    - companyId: '84'
                      isAssigned: '0'
                      id: '84'
                      assignStatus: '0'
                    - companyId: '219'
                      isAssigned: '1'
                      id: '219'
                      assignStatus: '1'
                    - companyId: '221'
                      isAssigned: '1'
                      id: '221'
                      assignStatus: '1'
              items:
                type: object
                properties:
                  companyId:
                    type: integer
                  assignStatus:
                    type: boolean
                required:
                  - companyId
                  - assignStatus
    get:
      summary: Get a Sales Staff
      operationId: get-sales-staffs-salesStaffId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                x-examples:
                  example-1:
                    data:
                      id: 11
                      name: ''
                      email: robert.zha@silksoftware.com
                      phoneNumber: ''
                      assignedCompanies:
                        - id: 5742
                          bcId: '7288'
                          companyName: testtesttest678
                          bcGroupName: testtesttest678
                        - id: 5747
                          bcId: '7374'
                          companyName: karentest
                          bcGroupName: karentest
                allOf:
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: number
                            description: sales staff id
                            example: 12
                          name:
                            type: string
                            description: name of sales staff
                            example: tom
                          email:
                            type: string
                            minLength: 1
                            description: email of sales staff
                            format: email
                          phoneNumber:
                            type: string
                            description: phone number of sales staff
                            example: '123454321'
                          assignedCompanies:
                            type: array
                            uniqueItems: true
                            minItems: 1
                            items:
                              type: object
                              description: company info which is assigned by sales staff
                              properties:
                                id:
                                  type: number
                                  description: company id
                                  example: 1
                                bcId:
                                  type: string
                                  minLength: 1
                                  description: company bc group id
                                  example: '23'
                                companyName:
                                  type: string
                                  minLength: 1
                                  description: name of this company
                                  example: google
                                bcGroupName:
                                  type: string
                                  minLength: 1
                                  description: 'bc group name '
                                  example: google
                  - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/utils/response-object.yaml
              examples:
                example-1:
                  value:
                    data:
                      id: 12
                      name: tom
                      email: user@example.com
                      phoneNumber: '123454321'
                      assignedCompanies:
                        - id: 1
                          bcId: '23'
                          companyName: google
                          bcGroupName: google
                    code: 200
                    meta:
                      message: SUCCESS
      tags:
        - Sales Staff
      description: get sales staff detail infomation. include which companies is assigned.
      security:
        - authToken: []
components:
  schemas:
    sales_staff:
      title: Sales Staff
      type: object
      description: Sales staff basic model
      x-examples:
        Arthur Morgan:
          id: 140
          salesRepName: Arthur Morgan
          email: Arthur.Morgan@rstar.com
          companyCount: 0
          roleName: Sales Rep
      properties:
        id:
          type: integer
          description: Unique identifier for the given sales staff
        salesRepName:
          type: string
          description: Name for the given sales staff.
        email:
          type: string
          description: Email for the given sales staff.
        companyCount:
          type: integer
          description: The company's count which sales staff assigned.
        roleName:
          type: string
          minLength: 1
          description: Role name for the given sales staff.
      required:
        - id
        - salesRepName
        - email
        - companyCount
        - roleName
      x-internal: false
  securitySchemes:
    authToken:
      name: authToken
      type: apiKey
      in: header
tags:
  - name: Sales Staff
