openapi: '3.0.0'
info:
  title: company
  version: '1.0'
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v2'
paths:
  /companies:
    get:
      summary: Get Companies
      tags:
        - company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - companyId: '5456'
                          companyName: CharlesCo
                          bcGroupName: CharlesCo
                          companyStatus: '1'
                          uuid: ''
                          catalogId: '9'
                          catalogName: "Main Catalog"
                          updatedAt: '1622108658'
                          createdAt: '1598955819'
                        - companyId: '5716'
                          companyName: "Levi Industries"
                          bcGroupName: "Levi Industries"
                          companyStatus: '1'
                          uuid: ''
                          catalogId: '5'
                          catalogName: "Product Catalog"
                          updatedAt: '1622108356'
                          createdAt: '1622108356'
                        - companyId: '5712'
                          companyName: "Acme Corporation"
                          bcGroupName: "Acme Corp Group"
                          companyStatus: '1'
                          uuid: ''
                          catalogId: '5'
                          catalogName: "Product Catalog"
                          updatedAt: '1621902093'
                          createdAt: '1621405788'
                        - companyId: '5715'
                          companyName: sell it
                          bcGroupName: sell it
                          companyStatus: '0'
                          uuid: ''
                          catalogId: '5'
                          catalogName: "Product Catalog"
                          updatedAt: '1621837685'
                          createdAt: '1621837685'
                        - companyId: '5714'
                          companyName: jim-test-company
                          bcGroupName: jim-test-company_fmqT
                          companyStatus: '1'
                          uuid: ''
                          catalogId: '2'
                          catalogName: allenB2b
                          updatedAt: '1621492280'
                          createdAt: '1621408275'
                        - companyId: '5713'
                          companyName: jim-test-lose-phone
                          bcGroupName: jim-test-lose-phone
                          companyStatus: '1'
                          uuid: ''
                          catalogId: '5'
                          catalogName: "Product Catalog"
                          updatedAt: '1621408226'
                          createdAt: '1621408165'
                        - companyId: '5711'
                          companyName: Hannah Test
                          bcGroupName: Hannah Test_lvSu
                          companyStatus: '1'
                          uuid: ''
                          catalogId: '5'
                          catalogName: "Product Catalog"
                          updatedAt: '1621405517'
                          createdAt: '1621405209'
                        - companyId: '5710'
                          companyName: jim-test-comp-1
                          bcGroupName: jim-test-comp-1_LHxy
                          companyStatus: '1'
                          uuid: ''
                          catalogId: '5'
                          catalogName: "Product Catalog"
                          updatedAt: '1621394542'
                          createdAt: '1621394518'
                        - companyId: '5709'
                          companyName: jim-test-comp-1
                          bcGroupName: jim-test-comp-1_dauk
                          companyStatus: '1'
                          uuid: ''
                          catalogId: '5'
                          catalogName: "Product Catalog"
                          updatedAt: '1621394253'
                          createdAt: '1621394253'
                        - companyId: '5708'
                          companyName: jim-test-comp-1
                          bcGroupName: jim-test-comp-1
                          companyStatus: '1'
                          uuid: ''
                          catalogId: '5'
                          catalogName: "Product Catalog"
                          updatedAt: '1621394191'
                          createdAt: '1621394191'
                      pagination:
                        totalCount: 5415
                        offset: 0
                        limit: 10
                      canLogin: 0
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - list
                      - pagination
                      - canLogin
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            companyId:
                              type: string
                              minLength: 1
                            companyName:
                              type: string
                              minLength: 1
                            bcGroupName:
                              type: string
                              minLength: 1
                            companyStatus:
                              type: string
                              minLength: 1
                              description: '"0": "PENDING",     "1": "APPROVED",     "2": "REJECTED",     "3": "INACTIVE"'
                            uuid:
                              type: string
                            catalogId:
                              type: string
                              minLength: 1
                            catalogName:
                              type: string
                              minLength: 1
                            updatedAt:
                              type: string
                              minLength: 1
                            createdAt:
                              type: string
                              minLength: 1
                          required:
                            - companyId
                            - companyName
                            - bcGroupName
                            - companyStatus
                            - uuid
                            - catalogId
                            - catalogName
                            - updatedAt
                            - createdAt
                      pagination:
                        type: object
                        required:
                          - totalCount
                          - offset
                          - limit
                        properties:
                          totalCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                      canLogin:
                        type: number
                required:
                  - code
                  - message
                  - data
              examples:
                standard response:
                  value:
                    code: 0
                    message: string
                    data:
                      list:
                        - companyId: '5456'
                          companyName: CharlesCo
                          bcGroupName: CharlesCo
                          companyStatus: '1'
                          uuid: ''
                          catalogId: '9'
                          catalogName: "Main Catalog"
                          updatedAt: '1622169445'
                          createdAt: '1598955819'
                      pagination:
                        totalCount: 0
                        offset: 0
                        limit: 0
                      canLogin: 0
                include extra fields:
                  value:
                    code: 0
                    message: string
                    data:
                      list:
                        - companyId: '5456'
                          companyName: CharlesCo
                          bcGroupName: CharlesCo
                          companyStatus: '1'
                          uuid: ''
                          catalogId: '9'
                          catalogName: "Main Catalog"
                          updatedAt: '1622169445'
                          createdAt: '1598955819'
                      pagination:
                        totalCount: 0
                        offset: 0
                        limit: 0
                      canLogin: 0
      operationId: get-companies
      description: Get all companies list
      parameters:
        - schema:
            type: string
            default: '0'
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
            default: '10'
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
          in: query
          name: q
          description: Company query string
        - schema:
            type: string
            enum:
              - updatedAt
              - companyName
            default: updatedAt
          in: query
          name: sortBy
          description: The response sorted by which field
        - schema:
            type: string
            enum:
              - DESC
              - ASC
            default: DESC
          in: query
          name: orderBy
        - schema:
            type: integer
            enum:
              - '0'
              - '1'
              - '2'
              - '3'
          in: query
          name: status
          description: '0=PENDING,  1=APPROVED,  2=REJECTED,  3=INACTIVE, If it is null, it means get all.'
        - schema:
            type: string
          in: query
          name: minLastModifiedTime
          description: Minimum last modified time
        - schema:
            type: string
          in: query
          name: maxLastModifiedTime
          description: Maxinum last modified time
        - schema:
            type: string
          in: query
          name: minLastCreatedTime
          description: Minimum last created time
        - schema:
            type: string
          in: query
          name: maxLastCreatedTime
          description: Maxinum last created time
        - schema:
            type: string
            enum:
              - '"0"'
              - '"1"'
          in: query
          name: includeExtra
          description: Is show extra fields in the response
      x-internal: true
    parameters: []
    post:
      summary: Create A Company
      operationId: post-companies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      companyId:
                        type: number
                    required:
                      - companyId
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      companyId: 5717
              examples:
                example-1:
                  value:
                    code: 0
                    message: string
                    data:
                      companyId: 1233
      description: Create a company
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  companyName: "Acme Corporation"
                  phoneNumber: "555-123-4567"
                  companyEmail: "contact@acme.com"
                  addressLine1: "123 Business Street"
                  addressLine2: "Suite 100"
                  city: "Austin"
                  state: "TX"
                  country: "US"
                  zipCode: "78701"
                  adminFirstName: "John"
                  adminLastName: "Doe"
                  adminEmail: "john.doe@acme.com"
                  adminPhoneNumber: "555-987-6543"
                  catalogId: "catalog-123"
                  acceptCrreationEmail: '0'
                  extraFields:
                    - fieldName: string
                      fieldValue: string
                  uuid: string
              properties:
                companyName:
                  type: string
                  minLength: 1
                phoneNumber:
                  type: string
                  minLength: 1
                companyEmail:
                  type: string
                  minLength: 1
                addressLine1:
                  type: string
                  minLength: 1
                addressLine2:
                  type: string
                  minLength: 1
                city:
                  type: string
                  minLength: 1
                state:
                  type: string
                  minLength: 1
                zipCode:
                  type: string
                  minLength: 1
                Country:
                  type: string
                  minLength: 1
                  description: |-
                    Country full name or ISO2 country code. For Example:

                    A Country full name: Afghanistan

                    ISO2 Country code: AF
                adminFirstName:
                  type: string
                  minLength: 1
                adminLastName:
                  type: string
                  minLength: 1
                adminEmail:
                  type: string
                  minLength: 1
                adminPhoneNumber:
                  type: string
                  minLength: 1
                extraFields:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    type: object
                    properties:
                      fieldName:
                        type: string
                        description: Field name that config in you store
                      fieldValue:
                        type: string
                        description: Field value that you want to add
                catalogId:
                  type: string
                  description: BC price list Id that company related
              required:
                - companyName
                - companyEmail
                - addressLine1
                - addressLine2
                - city
                - state
                - zipCode
                - Country
                - adminFirstName
                - adminLastName
                - adminEmail
            examples:
              example-1:
                value:
                  companyName: string
                  phoneNumber: string
                  companyEmail: string
                  addressLine1: string
                  addressLine2: string
                  city: string
                  state: string
                  zipCode: string
                  Country: string
                  adminFirstName: string
                  adminLastName: string
                  adminEmail: string
                  adminPhoneNumber: string
                  extraFields:
                    - null
                  catalogId: string
      tags:
        - company
      x-internal: true
  /companies/extra_fields:
    get:
      summary: Get Company Extra Field
      tags:
        - company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - fieldName
                        - labelName
                        - dataType
                        - isRequired
                      properties:
                        fieldName:
                          type: string
                          minLength: 1
                        labelName:
                          type: string
                          minLength: 1
                        dataType:
                          type: string
                          minLength: 1
                        isRequired:
                          type: string
                          minLength: 1
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      - fieldName: company_tax_exempt_code
                        labelName: Company Tax Exempt Code
                        dataType: '0'
                        isRequired: '0'
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      - fieldName: company_tax_exempt_code
                        labelName: Company Tax Exempt Code
                        dataType: '0'
                        isRequired: '0'
      operationId: get-companies-extra_fields
      description: Get Company Extra Field
      x-internal: true
  '/companies/{companyId}/stats':
    parameters:
      - schema:
          type: string
        name: companyId
        in: path
        required: true
    get:
      summary: Get Company Stats
      tags:
        - company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - name
                        - count
                      properties:
                        name:
                          type: string
                          minLength: 1
                        count:
                          type: number
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: Success
                    data:
                      - name: users
                        count: 3
                      - name: assignedSalesReps
                        count: 1
                      - name: enabledPaymentMethods
                        count: 4
                      - name: addresses
                        count: 1
              examples:
                example-1:
                  value:
                    code: 200
                    message: Success
                    data:
                      - name: users
                        count: 3
                      - name: assignedSalesReps
                        count: 1
                      - name: enabledPaymentMethods
                        count: 4
                      - name: addresses
                        count: 1
      operationId: get-companies-companyId-stats
      description: Get Company Stats
      x-internal: true
  '/companies/{companyId}/basic-info':
    parameters:
      - schema:
          type: string
        name: companyId
        in: path
        required: true
    get:
      summary: Get Company Basic Info
      tags:
        - company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      companyId:
                        type: string
                        minLength: 1
                      companyName:
                        type: string
                        minLength: 1
                      bcGroupName:
                        type: string
                        minLength: 1
                      companyStatus:
                        type: string
                        minLength: 1
                      addressLine1:
                        type: string
                        minLength: 1
                      addressLine2:
                        type: string
                        minLength: 1
                      city:
                        type: string
                        minLength: 1
                      state:
                        type: string
                      zipCode:
                        type: string
                        minLength: 1
                      country:
                        type: string
                        minLength: 1
                      companyEmail:
                        type: string
                        minLength: 1
                      phoneNumber:
                        type: string
                        minLength: 1
                      updatedAt:
                        type: string
                        minLength: 1
                      catalogId:
                        type: string
                        minLength: 1
                      customerGroupId:
                        type: string
                        minLength: 1
                      uuid:
                        type: string
                      catalogName:
                        type: string
                        minLength: 1
                      extraFields:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - fieldName
                            - labelName
                            - dataType
                            - isRequired
                            - fieldValue
                          properties:
                            fieldName:
                              type: string
                              minLength: 1
                            labelName:
                              type: string
                              minLength: 1
                            dataType:
                              type: string
                              minLength: 1
                            isRequired:
                              type: string
                              minLength: 1
                            fieldValue:
                              type: string
                    required:
                      - companyId
                      - companyName
                      - bcGroupName
                      - companyStatus
                      - addressLine1
                      - addressLine2
                      - city
                      - state
                      - zipCode
                      - country
                      - companyEmail
                      - phoneNumber
                      - updatedAt
                      - catalogId
                      - customerGroupId
                      - uuid
                      - catalogName
                      - extraFields
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      companyId: '5716'
                      companyName: levi-test
                      bcGroupName: levi-test
                      companyStatus: '1'
                      addressLine1: address line 1
                      addressLine2: address line 2
                      city: Denver
                      state: ''
                      zipCode: '80022'
                      country: Aruba
                      companyEmail: levi.tuo@silksoftware.com
                      phoneNumber: '17195453626'
                      updatedAt: '1622615748'
                      catalogId: '5'
                      customerGroupId: '7002'
                      uuid: ''
                      catalogName: test
                      extraFields:
                        - fieldName: company_tax_exempt_code
                          labelName: Company Tax Exempt Code
                          dataType: '0'
                          isRequired: '0'
                          fieldValue: ''
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      companyId: '5716'
                      companyName: company name
                      bcGroupName: bc group name
                      companyStatus: '1'
                      addressLine1: address line 1
                      addressLine2: address line 2
                      city: Denver
                      state: ''
                      zipCode: '80022'
                      country: Aruba
                      companyEmail: example@example.com
                      phoneNumber: '17195453626'
                      updatedAt: '1622615748'
                      catalogId: '5'
                      customerGroupId: '7002'
                      uuid: ''
                      catalogName: test
                      extraFields:
                        - fieldName: company_tax_exempt_code
                          labelName: Company Tax Exempt Code
                          dataType: '0'
                          isRequired: '0'
                          fieldValue: ''
      operationId: get-companies-companyId-basic-info
      description: Get Company Basic Info
      x-internal: true
    put:
      summary: Update Company Basic Info
      operationId: put-companies-companyId-basic-info
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      companyId:
                        type: number
                    required:
                      - companyId
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 0
                    message: string
                    data:
                      companyId: 1233
              examples:
                example-1:
                  value:
                    code: 0
                    message: string
                    data:
                      companyId: 1233
      description: Update Company Basic Info
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  companyName: "Acme Corporation"
                  phoneNumber: "555-123-4567"
                  companyEmail: "contact@acme.com"
                  addressLine1: "123 Business Street"
                  addressLine2: "Suite 100"
                  city: "Austin"
                  state: "TX"
                  country: "US"
                  zipCode: "78701"
                  adminFirstName: "John"
                  adminLastName: "Doe"
                  adminEmail: "john.doe@acme.com"
                  adminPhoneNumber: "555-987-6543"
                  catalogId: "catalog-123"
                  acceptCrreationEmail: '0'
                  extraFields:
                    - fieldName: string
                      fieldValue: string
                  uuid: string
              properties:
                companyName:
                  type: string
                  minLength: 1
                phoneNumber:
                  type: string
                  minLength: 1
                companyEmail:
                  type: string
                  minLength: 1
                addressLine1:
                  type: string
                  minLength: 1
                addressLine2:
                  type: string
                  minLength: 1
                city:
                  type: string
                  minLength: 1
                state:
                  type: string
                  minLength: 1
                zipCode:
                  type: string
                  minLength: 1
                Country:
                  type: string
                  minLength: 1
                  description: |-
                    Country full name or ISO2 country code. For Example:

                    A Country full name: Afghanistan

                    ISO2 Country code: AF
                adminFirstName:
                  type: string
                  minLength: 1
                adminLastName:
                  type: string
                  minLength: 1
                adminEmail:
                  type: string
                  minLength: 1
                adminPhoneNumber:
                  type: string
                  minLength: 1
                extraFields:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    type: object
                    properties:
                      fieldName:
                        type: string
                        description: Field name that config in you store
                      fieldValue:
                        type: string
                        description: Field value that you want to add
                catalogId:
                  type: string
                  description: BC price list Id that company related
              required:
                - companyName
                - companyEmail
                - addressLine1
                - addressLine2
                - city
                - state
                - zipCode
                - Country
                - adminFirstName
                - adminLastName
                - adminEmail
            examples:
              example-1:
                value:
                  companyName: string
                  phoneNumber: string
                  companyEmail: string
                  addressLine1: string
                  addressLine2: string
                  city: string
                  state: string
                  zipCode: string
                  Country: string
                  adminFirstName: string
                  adminLastName: string
                  adminEmail: string
                  adminPhoneNumber: string
                  extraFields:
                    - null
                  catalogId: string
      tags:
        - company
      x-internal: true
  '/companies/{companyId}/users/{userId}':
    parameters:
      - schema:
          type: string
        name: companyId
        in: path
        required: true
      - schema:
          type: string
        name: userId
        in: path
        required: true
    get:
      summary: Get Company UserInfo By UserId
      tags:
        - company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 1
                      customerPhone:
                        type: string
                        minLength: 1
                      role:
                        type: string
                        minLength: 1
                      email:
                        type: string
                        minLength: 1
                      createdAt:
                        type: string
                        minLength: 1
                      updatedAt:
                        type: string
                        minLength: 1
                      firstName:
                        type: string
                        minLength: 1
                      lastName:
                        type: string
                        minLength: 1
                      catalogId:
                        type: string
                        minLength: 1
                    required:
                      - id
                      - customerPhone
                      - role
                      - email
                      - createdAt
                      - updatedAt
                      - firstName
                      - lastName
                      - catalogId
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      id: '7837'
                      customerPhone: '11111112'
                      role: '0'
                      email: admin@example.com
                      createdAt: '1622444011'
                      updatedAt: '1622444501'
                      firstName: "John"
                      lastName: "Doe"
                      catalogId: '5'
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      id: '7837'
                      customerPhone: '11111112'
                      role: '0'
                      email: example@example.com
                      createdAt: '1622444011'
                      updatedAt: '1622444501'
                      firstName: first name
                      lastName: last name
                      catalogId: '5'
      operationId: get-companies-companyId-users-userId
      description: Get Company UserInfo By UserId
      x-internal: true
    put:
      summary: Update Company User Info
      operationId: put-companies-companyId-users-userId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      companyId:
                        type: string
                        minLength: 1
                    required:
                      - companyId
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      companyId: '5716'
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      companyId: '5716'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  email: admin@example.com
                  role: '0'
                  firstName: "John"
                  lastName: "Doe"
                  customerPhone: '11111111'
                  id: '7837'
                  createdAt: '1622444011'
                  updatedAt: '1622444501'
                  catalogId: '5'
              properties:
                email:
                  type: string
                  minLength: 1
                role:
                  type: string
                  minLength: 1
                firstName:
                  type: string
                  minLength: 1
                lastName:
                  type: string
                  minLength: 1
                customerPhone:
                  type: string
                  minLength: 1
              required:
                - email
                - role
                - firstName
                - lastName
                - customerPhone
      description: Update Company User Info
      tags:
        - company
      x-internal: true
    delete:
      summary: Delete Company User
      operationId: delete-companies-companyId-users-userId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      userId:
                        type: string
                        minLength: 1
                    required:
                      - userId
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      userId: '7837'
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      userId: '7837'
      description: 'Delete Company User '
      tags:
        - company
      x-internal: true
  '/companies/{companyId}/payments':
    parameters:
      - schema:
          type: string
        name: companyId
        in: path
        required: true
    get:
      summary: Get Company Payments
      tags:
        - company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - paymentId
                        - code
                        - name
                        - isEnabled
                      properties:
                        paymentId:
                          type: number
                        code:
                          type: string
                          minLength: 1
                        name:
                          type: string
                          minLength: 1
                        isEnabled:
                          type: string
                          minLength: 1
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: Success
                    data:
                      - paymentId: 39
                        code: bankdeposit
                        name: Bank Deposit
                        isEnabled: '1'
                      - paymentId: 43
                        code: cheque
                        name: Check
                        isEnabled: '1'
                      - paymentId: 40
                        code: cod
                        name: Cash on Delivery
                        isEnabled: '1'
                      - paymentId: 52
                        code: moneyorder
                        name: Money Order
                        isEnabled: '1'
                      - paymentId: 51
                        code: authorizenet
                        name: Authorize.Net
                        isEnabled: '0'
              examples:
                example-1:
                  value:
                    code: 200
                    message: Success
                    data:
                      - paymentId: 39
                        code: bankdeposit
                        name: Bank Deposit
                        isEnabled: '1'
                      - paymentId: 43
                        code: cheque
                        name: Check
                        isEnabled: '1'
                      - paymentId: 40
                        code: cod
                        name: Cash on Delivery
                        isEnabled: '1'
                      - paymentId: 52
                        code: moneyorder
                        name: Money Order
                        isEnabled: '1'
                      - paymentId: 51
                        code: authorizenet
                        name: Authorize.Net
                        isEnabled: '0'
      operationId: get-companies-companyId-payments
      description: Get Company Payments
      x-internal: true
    put:
      summary: Update Company Payments
      operationId: put-companies-companyId-payments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                    required: []
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      description: Update Company Payments
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                payments:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    required:
                      - paymentId
                      - code
                      - name
                      - isEnabled
                    properties:
                      paymentId:
                        type: number
                      code:
                        type: string
                        minLength: 1
                      name:
                        type: string
                        minLength: 1
                      isEnabled:
                        type: string
                        minLength: 1
              required:
                - payments
              x-examples:
                example-1:
                  payments:
                    - paymentId: 39
                      code: bankdeposit
                      name: Bank Deposit
                      isEnabled: '1'
                    - paymentId: 43
                      code: cheque
                      name: Check
                      isEnabled: '1'
                    - paymentId: 40
                      code: cod
                      name: Cash on Delivery
                      isEnabled: '1'
                    - paymentId: 52
                      code: moneyorder
                      name: Money Order
                      isEnabled: '1'
                    - paymentId: 51
                      code: authorizenet
                      name: Authorize.Net
                      isEnabled: '1'
      tags:
        - company
      x-internal: true
  '/companies/validations/backend/user-emails/{email}':
    parameters:
      - schema:
          type: string
        name: email
        in: path
        required: true
    get:
      summary: Check Company Email Backend
      tags:
        - company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: Success
                    data:
                      isValid: '0'
                      userInfo:
                        id: '7831'
                        firstName: levi
                        lastName: tuo
                        phoneNumber: '555-123-4567'
                        role: '0'
                        email: levi.tuo@silksoftware.com
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - isValid
                      - userInfo
                    properties:
                      isValid:
                        type: string
                        minLength: 1
                        description: '"0":Email already exists."1":Email does not exist.'
                      userInfo:
                        type: object
                        required:
                          - id
                          - firstName
                          - lastName
                          - phoneNumber
                          - role
                          - email
                        properties:
                          id:
                            type: string
                            minLength: 1
                          firstName:
                            type: string
                            minLength: 1
                          lastName:
                            type: string
                            minLength: 1
                          phoneNumber:
                            type: string
                          role:
                            type: string
                            minLength: 1
                          email:
                            type: string
                            minLength: 1
                required:
                  - code
                  - message
                  - data
              examples:
                user exist:
                  value:
                    code: 200
                    message: Success
                    data:
                      isValid: '0'
                      userInfo:
                        id: '7831'
                        firstName: first name
                        lastName: last name
                        phoneNumber: '555-123-4567'
                        role: '0'
                        email: example@example.com
                user not sxist:
                  value:
                    code: 200
                    message: Success
                    data:
                      isValid: '1'
                      userInfo: {}
      operationId: get-companies-validations-backend-user-emails-email
      description: Check Company Email Backend
      parameters:
        - schema:
            type: string
          in: query
          name: companyId
        - schema:
            type: integer
            enum:
              - '0'
              - '1'
              - '2'
              - '3'
              - '4'
          in: query
          name: role
          description: User roles(0=admin 1=senior_buyer 2=junior_buyer 3=sales_rep 4=unknown)
          required: true
      x-internal: true
  /companies/convert-from-customer-group:
    post:
      summary: Create A Company - convert from CG
      operationId: post-companies-convert-from-customer-group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      companyId:
                        type: number
                    required:
                      - companyId
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      companyId: 1
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      companyId: 1
      description: Create A Company - convert from CG
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                companyName:
                  type: string
                phoneNumber:
                  type: string
                companyEmail:
                  type: string
                addressLine1:
                  type: string
                addressLine2:
                  type: string
                city:
                  type: string
                state:
                  type: string
                zipCode:
                  type: string
                country:
                  type: string
                adminFirstName:
                  type: string
                adminLastName:
                  type: string
                adminEmail:
                  type: string
                adminPhoneNumber:
                  type: string
                customerGroupId:
                  type: string
              required:
                - companyName
                - phoneNumber
                - companyEmail
                - addressLine1
                - addressLine2
                - city
                - state
                - zipCode
                - country
                - adminFirstName
                - adminLastName
                - adminEmail
                - adminPhoneNumber
                - customerGroupId
      tags:
        - company
      x-internal: true
  /customer-groups:
    get:
      summary: Get Company Customer Groups
      tags:
        - company
      responses: {}
      operationId: get-customer-groups
      description: Get Company Customer Groups
      parameters:
        - schema:
            type: string
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
          in: query
          name: q
          description: Query string
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                code:
                  type: number
                message:
                  type: string
                  minLength: 1
                data:
                  type: object
                  properties:
                    list:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        required:
                          - id
                          - name
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                            minLength: 1
                    pagination:
                      type: object
                      properties:
                        totalCount:
                          type: number
                        offset:
                          type: number
                        limit:
                          type: number
                      required:
                        - totalCount
                        - offset
                        - limit
                  required:
                    - list
                    - pagination
              required:
                - code
                - message
                - data
              x-examples:
                example-1:
                  code: 200
                  message: SUCCESS
                  data:
                    list:
                      - id: 6523
                        name: kidotestccio
                      - id: 6528
                        name: new email test company2
                      - id: 6529
                        name: new email test company3
                      - id: 6530
                        name: new email test company4
                      - id: 6531
                        name: new email test company5
                      - id: 6532
                        name: new email test company6
                      - id: 6533
                        name: new email test company7
                      - id: 6534
                        name: new email test company8
                      - id: 6535
                        name: new email test company11
                      - id: 6536
                        name: new email test company12
                    pagination:
                      totalCount: 1249
                      offset: 0
                      limit: 10
            examples:
              example-1:
                value:
                  code: 200
                  message: SUCCESS
                  data:
                    list:
                      - id: 6528
                        name: new email test company2
                      - id: 6529
                        name: new email test company3
                    pagination:
                      totalCount: 2
                      offset: 0
                      limit: 10
      x-internal: true
  '/companies/{company_id}/inner-sales-reps':
    parameters:
      - schema:
          type: string
        name: company_id
        in: path
        required: true
    get:
      summary: Get A Companies' SalesStaffs' List
      tags:
        - company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - id
                            - innerSalesRepName
                            - email
                            - isAssigned
                          properties:
                            id:
                              type: string
                              minLength: 1
                            innerSalesRepName:
                              type: string
                              minLength: 1
                            email:
                              type: string
                              minLength: 1
                            isAssigned:
                              type: string
                              minLength: 1
                      pagination:
                        type: object
                        properties:
                          totalCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                        required:
                          - totalCount
                          - offset
                          - limit
                    required:
                      - list
                      - pagination
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - id: '25'
                          innerSalesRepName: SpritStorm
                          email: admin@example.com
                          isAssigned: '1'
                      pagination:
                        totalCount: 1
                        offset: 0
                        limit: 10
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - id: '25'
                          innerSalesRepName: SpritStorm
                          email: example@example.com
                          isAssigned: '1'
                      pagination:
                        totalCount: 1
                        offset: 0
                        limit: 10
      operationId: get-companies-company_id-inner-sales-reps
      description: Get A Companies' SalesStaffs' List
      x-internal: true
  '/companies/{companyId}/users':
    parameters:
      - schema:
          type: string
        name: companyId
        in: path
        required: true
    get:
      summary: Get Company UserInfo
      tags:
        - company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - id
                            - phoneNumber
                            - role
                            - email
                            - uuid
                            - createdAt
                            - updatedAt
                            - firstName
                            - lastName
                            - catalogId
                          properties:
                            id:
                              type: string
                              minLength: 1
                            phoneNumber:
                              type: string
                            role:
                              type: string
                              minLength: 1
                            email:
                              type: string
                              minLength: 1
                            uuid:
                              type: string
                            createdAt:
                              type: string
                              minLength: 1
                            updatedAt:
                              type: string
                              minLength: 1
                            firstName:
                              type: string
                              minLength: 1
                            lastName:
                              type: string
                              minLength: 1
                            catalogId:
                              type: string
                              minLength: 1
                      pagination:
                        type: object
                        properties:
                          totalCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                        required:
                          - totalCount
                          - offset
                          - limit
                    required:
                      - list
                      - pagination
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - id: '7831'
                          phoneNumber: '555-123-4567'
                          role: '0'
                          email: levi.tuo@silksoftware.com
                          uuid: ''
                          createdAt: '1622108356'
                          updatedAt: '1622618944'
                          firstName: levi
                          lastName: tuo
                          catalogId: '5'
                        - id: '7843'
                          phoneNumber: '123456789'
                          role: '0'
                          email: Jo.Sweet@example.com
                          uuid: ''
                          createdAt: '1622598722'
                          updatedAt: '1622599039'
                          firstName: Jo
                          lastName: Sweet
                          catalogId: '5'
                        - id: '7837'
                          phoneNumber: '11111112'
                          role: '0'
                          email: admin@example.com
                          uuid: ''
                          createdAt: '1622444011'
                          updatedAt: '1622444501'
                          firstName: "John"
                          lastName: "Doe"
                          catalogId: '5'
                      pagination:
                        totalCount: 3
                        offset: 0
                        limit: 6
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - id: '7831'
                          phoneNumber: '555-123-4567'
                          role: '0'
                          email: exmaple@example.com
                          uuid: ''
                          createdAt: '1622108356'
                          updatedAt: '1622618944'
                          firstName: first name
                          lastName: last name
                          catalogId: '5'
                      pagination:
                        totalCount: 1
                        offset: 0
                        limit: 6
      operationId: get-companies-companyId-users
      description: Get Company UserInfo
      parameters:
        - schema:
            type: string
            default: '10'
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
            default: '0'
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
          in: query
          name: q
          description: Query string
        - schema:
            type: integer
            enum:
              - '0'
              - '1'
              - '2'
              - '3'
              - '4'
          in: query
          name: 'role[]'
          description: 'user roles(0=admin 1=senior_buyer 2=junior_buyer 3=sales_rep 4=unknown), If you assign multiple values to it, please use it multiple times in the query.'
        - schema:
            type: string
          in: query
          name: minLastModifiedTime
          description: Minimum last modified time
        - schema:
            type: string
          in: query
          name: maxLastModifiedTime
          description: Maximum last modified time
        - schema:
            type: string
          in: query
          name: minLastCreatedTime
          description: Minimum Last created time
        - schema:
            type: string
          in: query
          name: maxLastCreatedTime
          description: Maximum Last created time
      x-internal: true
  /companies/addresses/countries:
    get:
      summary: Get Address Countries
      tags:
        - company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - id
                            - countryName
                            - countryCode
                          properties:
                            id:
                              type: number
                            countryName:
                              type: string
                              minLength: 1
                            countryCode:
                              type: string
                              minLength: 1
                            states:
                              type: array
                              items:
                                required: []
                                properties: {}
                    required:
                      - list
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: Success
                    data:
                      list:
                        - id: 1
                          countryName: Afghanistan
                          countryCode: AF
                          states: []
                        - id: 2
                          countryName: Albania
                          countryCode: AL
                          states: []
                        - id: 3
                          countryName: Algeria
                          countryCode: DZ
                          states: []
                        - id: 4
                          countryName: American Samoa
                          countryCode: AS
                          states: []
                        - id: 5
                          countryName: Andorra
                          countryCode: AD
                          states: []
                        - id: 6
                          countryName: Angola
                          countryCode: AO
                          states: []
                        - id: 7
                          countryName: Anguilla
                          countryCode: AI
                          states: []
                        - id: 8
                          countryName: Antarctica
                          countryCode: AQ
                          states: []
                        - id: 9
                          countryName: Antigua and Barbuda
                          countryCode: AG
                          states: []
                        - id: 10
                          countryName: Argentina
                          countryCode: AR
                          states:
                            - stateName: Ciudad Autónoma de Buenos Aires
                              stateCode: C
                            - stateName: Buenos Aires
                              stateCode: B
                            - stateName: Catamarca
                              stateCode: K
                            - stateName: Chaco
                              stateCode: H
                            - stateName: Chubut
                              stateCode: U
                            - stateName: Córdoba
                              stateCode: X
                            - stateName: Corrientes
                              stateCode: W
                            - stateName: Entre Ríos
                              stateCode: E
                            - stateName: Formosa
                              stateCode: P
                            - stateName: Jujuy
                              stateCode: 'Y'
                            - stateName: La Pampa
                              stateCode: L
                            - stateName: La Rioja
                              stateCode: F
                            - stateName: Mendoza
                              stateCode: M
                            - stateName: Misiones
                              stateCode: 'N'
                            - stateName: Neuquén
                              stateCode: Q
                            - stateName: Río Negro
                              stateCode: R
                            - stateName: Salta
                              stateCode: A
                            - stateName: San Juan
                              stateCode: J
                            - stateName: San Luis
                              stateCode: D
                            - stateName: Santa Cruz
                              stateCode: Z
                            - stateName: Santa Fe
                              stateCode: S
                            - stateName: Santiago del Estero
                              stateCode: G
                            - stateName: Tierra del Fuego
                              stateCode: V
                            - stateName: Tucumán
                              stateCode: T
                        - id: 11
                          countryName: Armenia
                          countryCode: AM
                          states: []
                        - id: 12
                          countryName: Aruba
                          countryCode: AW
                          states: []
                        - id: 13
                          countryName: Australia
                          countryCode: AU
                          states:
                            - stateName: Australian Capital Territory
                              stateCode: ACT
                            - stateName: New South Wales
                              stateCode: NSW
                            - stateName: Northern Territory
                              stateCode: NT
                            - stateName: Queensland
                              stateCode: QLD
                            - stateName: South Australia
                              stateCode: SA
                            - stateName: Tasmania
                              stateCode: TAS
                            - stateName: Victoria
                              stateCode: VIC
                            - stateName: Western Australia
                              stateCode: WA
                        - id: 14
                          countryName: Austria
                          countryCode: AT
                          states:
                            - stateName: Wien
                              stateCode: '9'
                            - stateName: Niederösterreich
                              stateCode: '3'
                            - stateName: Oberösterreich
                              stateCode: '4'
                            - stateName: Salzburg
                              stateCode: '5'
                            - stateName: Kärnten
                              stateCode: '2'
                            - stateName: Steiermark
                              stateCode: '6'
                            - stateName: Tirol
                              stateCode: '7'
                            - stateName: Burgenland
                              stateCode: '1'
                            - stateName: Vorarlberg
                              stateCode: '8'
                        - id: 15
                          countryName: Azerbaijan
                          countryCode: AZ
                          states: []
                        - id: 16
                          countryName: Bahamas
                          countryCode: BS
                          states: []
                        - id: 17
                          countryName: Bahrain
                          countryCode: BH
                          states: []
                        - id: 18
                          countryName: Bangladesh
                          countryCode: BD
                          states: []
                        - id: 19
                          countryName: Barbados
                          countryCode: BB
                          states: []
                        - id: 20
                          countryName: Belarus
                          countryCode: BY
                          states: []
                        - id: 21
                          countryName: Belgium
                          countryCode: BE
                          states: []
                        - id: 22
                          countryName: Belize
                          countryCode: BZ
                          states: []
                        - id: 23
                          countryName: Benin
                          countryCode: BJ
                          states: []
                        - id: 24
                          countryName: Bermuda
                          countryCode: BM
                          states: []
                        - id: 25
                          countryName: Bhutan
                          countryCode: BT
                          states: []
                        - id: 26
                          countryName: Bolivia
                          countryCode: BO
                          states: []
                        - id: 27
                          countryName: Bosnia and Herzegovina
                          countryCode: BA
                          states: []
                        - id: 28
                          countryName: Botswana
                          countryCode: BW
                          states: []
                        - id: 29
                          countryName: Bouvet Island
                          countryCode: BV
                          states: []
                        - id: 30
                          countryName: Brazil
                          countryCode: BR
                          states: []
                        - id: 31
                          countryName: British Indian Ocean Territory
                          countryCode: IO
                          states: []
                        - id: 32
                          countryName: Brunei Darussalam
                          countryCode: BN
                          states: []
                        - id: 33
                          countryName: Bulgaria
                          countryCode: BG
                          states: []
                        - id: 34
                          countryName: Burkina Faso
                          countryCode: BF
                          states: []
                        - id: 35
                          countryName: Burundi
                          countryCode: BI
                          states: []
                        - id: 36
                          countryName: Cambodia
                          countryCode: KH
                          states: []
                        - id: 37
                          countryName: Cameroon
                          countryCode: CM
                          states: []
                        - id: 38
                          countryName: Canada
                          countryCode: CA
                          states:
                            - stateName: Alberta
                              stateCode: AB
                            - stateName: British Columbia
                              stateCode: BC
                            - stateName: Manitoba
                              stateCode: MB
                            - stateName: Newfoundland and Labrador
                              stateCode: NL
                            - stateName: New Brunswick
                              stateCode: NB
                            - stateName: Nova Scotia
                              stateCode: NS
                            - stateName: Northwest Territories
                              stateCode: NT
                            - stateName: Nunavut
                              stateCode: NU
                            - stateName: Ontario
                              stateCode: 'ON'
                            - stateName: Prince Edward Island
                              stateCode: PE
                            - stateName: Quebec
                              stateCode: QC
                            - stateName: Saskatchewan
                              stateCode: SK
                            - stateName: Yukon Territory
                              stateCode: YT
                        - id: 39
                          countryName: Cape Verde
                          countryCode: CV
                          states: []
                        - id: 40
                          countryName: Cayman Islands
                          countryCode: KY
                          states: []
                        - id: 41
                          countryName: Central African Republic
                          countryCode: CF
                          states: []
                        - id: 42
                          countryName: Chad
                          countryCode: TD
                          states: []
                        - id: 43
                          countryName: Chile
                          countryCode: CL
                          states: []
                        - id: 44
                          countryName: China
                          countryCode: CN
                          states: []
                        - id: 45
                          countryName: Christmas Island
                          countryCode: CX
                          states: []
                        - id: 46
                          countryName: Cocos (Keeling) Islands
                          countryCode: CC
                          states: []
                        - id: 47
                          countryName: Colombia
                          countryCode: CO
                          states: []
                        - id: 48
                          countryName: Comoros
                          countryCode: KM
                          states: []
                        - id: 49
                          countryName: Congo
                          countryCode: CG
                          states: []
                        - id: 50
                          countryName: 'Congo, the Democratic Republic of the'
                          countryCode: CD
                          states: []
                        - id: 51
                          countryName: Cook Islands
                          countryCode: CK
                          states: []
                        - id: 52
                          countryName: Costa Rica
                          countryCode: CR
                          states: []
                        - id: 54
                          countryName: Croatia
                          countryCode: HR
                          states: []
                        - id: 56
                          countryName: Cyprus
                          countryCode: CY
                          states: []
                        - id: 57
                          countryName: Czech Republic
                          countryCode: CZ
                          states: []
                        - id: 58
                          countryName: Denmark
                          countryCode: DK
                          states: []
                        - id: 59
                          countryName: Djibouti
                          countryCode: DJ
                          states: []
                        - id: 60
                          countryName: Dominica
                          countryCode: DM
                          states: []
                        - id: 61
                          countryName: Dominican Republic
                          countryCode: DO
                          states: []
                        - id: 62
                          countryName: Ecuador
                          countryCode: EC
                          states: []
                        - id: 63
                          countryName: Egypt
                          countryCode: EG
                          states: []
                        - id: 64
                          countryName: El Salvador
                          countryCode: SV
                          states: []
                        - id: 65
                          countryName: Equatorial Guinea
                          countryCode: GQ
                          states: []
                        - id: 66
                          countryName: Eritrea
                          countryCode: ER
                          states: []
                        - id: 67
                          countryName: Estonia
                          countryCode: EE
                          states: []
                        - id: 68
                          countryName: Ethiopia
                          countryCode: ET
                          states: []
                        - id: 69
                          countryName: Falkland Islands (Malvinas)
                          countryCode: FK
                          states: []
                        - id: 70
                          countryName: Faroe Islands
                          countryCode: FO
                          states: []
                        - id: 71
                          countryName: Fiji
                          countryCode: FJ
                          states: []
                        - id: 72
                          countryName: Finland
                          countryCode: FI
                          states: []
                        - id: 73
                          countryName: France
                          countryCode: FR
                          states: []
                        - id: 74
                          countryName: French Guiana
                          countryCode: GF
                          states: []
                        - id: 75
                          countryName: French Polynesia
                          countryCode: PF
                          states: []
                        - id: 76
                          countryName: French Southern Territories
                          countryCode: TF
                          states: []
                        - id: 77
                          countryName: Gabon
                          countryCode: GA
                          states: []
                        - id: 78
                          countryName: Gambia
                          countryCode: GM
                          states: []
                        - id: 79
                          countryName: Georgia
                          countryCode: GE
                          states: []
                        - id: 80
                          countryName: Germany
                          countryCode: DE
                          states:
                            - stateName: Niedersachsen
                              stateCode: NI
                            - stateName: Baden-Württemberg
                              stateCode: BW
                            - stateName: Bayern
                              stateCode: BY
                            - stateName: Berlin
                              stateCode: BE
                            - stateName: Brandenburg
                              stateCode: BB
                            - stateName: Bremen
                              stateCode: HB
                            - stateName: Hamburg
                              stateCode: HH
                            - stateName: Hessen
                              stateCode: HE
                            - stateName: Mecklenburg-Vorpommern
                              stateCode: MV
                            - stateName: Nordrhein-Westfalen
                              stateCode: NW
                            - stateName: Rheinland-Pfalz
                              stateCode: RP
                            - stateName: Saarland
                              stateCode: SL
                            - stateName: Sachsen
                              stateCode: SN
                            - stateName: Sachsen-Anhalt
                              stateCode: ST
                            - stateName: Schleswig-Holstein
                              stateCode: SH
                            - stateName: Thüringen
                              stateCode: TH
                        - id: 81
                          countryName: Ghana
                          countryCode: GH
                          states: []
                        - id: 82
                          countryName: Gibraltar
                          countryCode: GI
                          states: []
                        - id: 83
                          countryName: Greece
                          countryCode: GR
                          states: []
                        - id: 84
                          countryName: Greenland
                          countryCode: GL
                          states: []
                        - id: 85
                          countryName: Grenada
                          countryCode: GD
                          states: []
                        - id: 86
                          countryName: Guadeloupe
                          countryCode: GP
                          states: []
                        - id: 87
                          countryName: Guam
                          countryCode: GU
                          states: []
                        - id: 88
                          countryName: Guatemala
                          countryCode: GT
                          states: []
                        - id: 89
                          countryName: Guinea
                          countryCode: GN
                          states: []
                        - id: 90
                          countryName: Guinea-Bissau
                          countryCode: GW
                          states: []
                        - id: 91
                          countryName: Guyana
                          countryCode: GY
                          states: []
                        - id: 92
                          countryName: Haiti
                          countryCode: HT
                          states: []
                        - id: 93
                          countryName: Heard Island and Mcdonald Islands
                          countryCode: HM
                          states: []
                        - id: 94
                          countryName: Holy See (Vatican City State)
                          countryCode: VA
                          states: []
                        - id: 95
                          countryName: Honduras
                          countryCode: HN
                          states: []
                        - id: 96
                          countryName: Hong Kong
                          countryCode: HK
                          states: []
                        - id: 97
                          countryName: Hungary
                          countryCode: HU
                          states: []
                        - id: 98
                          countryName: Iceland
                          countryCode: IS
                          states: []
                        - id: 99
                          countryName: India
                          countryCode: IN
                          states:
                            - stateName: Andhra Pradesh
                              stateCode: AP
                            - stateName: Arunachal Pradesh
                              stateCode: AR
                            - stateName: Assam
                              stateCode: AS
                            - stateName: Bihar
                              stateCode: BR
                            - stateName: Chhattisgarh
                              stateCode: CT
                            - stateName: Goa
                              stateCode: GA
                            - stateName: Gujarat
                              stateCode: GJ
                            - stateName: Haryana
                              stateCode: HR
                            - stateName: Himachal Pradesh
                              stateCode: HP
                            - stateName: Jammu & Kashmir
                              stateCode: JK
                            - stateName: Jharkhand
                              stateCode: JH
                            - stateName: Karnataka
                              stateCode: KA
                            - stateName: Kerala
                              stateCode: KL
                            - stateName: Madhya Pradesh
                              stateCode: MP
                            - stateName: Maharashtra
                              stateCode: MH
                            - stateName: Manipur
                              stateCode: MN
                            - stateName: Meghalaya
                              stateCode: ML
                            - stateName: Mizoram
                              stateCode: MZ
                            - stateName: Nagaland
                              stateCode: NL
                            - stateName: Orissa
                              stateCode: OR
                            - stateName: Punjab
                              stateCode: PB
                            - stateName: Rajasthan
                              stateCode: RJ
                            - stateName: Sikkim
                              stateCode: SK
                            - stateName: Tamil Nadu
                              stateCode: TN
                            - stateName: Tripura
                              stateCode: TR
                            - stateName: Uttarakhand
                              stateCode: UT
                            - stateName: Uttar Pradesh
                              stateCode: UP
                            - stateName: West Bengal
                              stateCode: WB
                            - stateName: Andaman and Nicobar Islands
                              stateCode: AN
                            - stateName: Chandigarh
                              stateCode: CH
                            - stateName: Dadra and Nagar Haveli
                              stateCode: DN
                            - stateName: Daman & Diu
                              stateCode: DD
                            - stateName: Lakshadweep
                              stateCode: LD
                            - stateName: Delhi
                              stateCode: DL
                            - stateName: Pondicherry
                              stateCode: PY
                            - stateName: Telangana
                              stateCode: TS
                        - id: 100
                          countryName: Indonesia
                          countryCode: ID
                          states:
                            - stateName: Bali
                              stateCode: BA
                            - stateName: Bangka Belitung
                              stateCode: BB
                            - stateName: Banten
                              stateCode: BT
                            - stateName: Bengkulu
                              stateCode: BE
                            - stateName: Daista Aceh
                              stateCode: AC
                            - stateName: Jakarta
                              stateCode: JK
                            - stateName: Sumatera Utara
                              stateCode: SU
                            - stateName: Sumatera Barat
                              stateCode: SB
                            - stateName: Riau
                              stateCode: RI
                            - stateName: Jambi
                              stateCode: JA
                            - stateName: Sumatera Selatan
                              stateCode: SS
                            - stateName: Lampung
                              stateCode: LA
                            - stateName: Jawa Barat
                              stateCode: JB
                            - stateName: Jawa Tengah
                              stateCode: JT
                            - stateName: Daista Yogyakarta
                              stateCode: YO
                            - stateName: Jawa Timur
                              stateCode: JI
                            - stateName: Kalimantan Barat
                              stateCode: KB
                            - stateName: Kalimantan Tengah
                              stateCode: KT
                            - stateName: Kalimantan Timur
                              stateCode: KI
                            - stateName: Kalimantan Selatan
                              stateCode: KS
                            - stateName: Nusa Tenggara Barat
                              stateCode: NB
                            - stateName: Nusa Tenggara Timur
                              stateCode: NT
                            - stateName: Sulawesi Selatan
                              stateCode: SN
                            - stateName: Sulawesi Tengah
                              stateCode: ST
                            - stateName: Sulawesi Utara
                              stateCode: SA
                            - stateName: Sulawesi Tenggara
                              stateCode: SG
                            - stateName: Maluku
                              stateCode: MA
                            - stateName: Maluku Utara
                              stateCode: MU
                            - stateName: Irian Jaya Timur
                              stateCode: IJ
                            - stateName: Irian Jaya Tengah
                              stateCode: IT
                            - stateName: Irian Jawa Barat
                              stateCode: IB
                            - stateName: Gorontalo
                              stateCode: GO
                        - id: 102
                          countryName: Iraq
                          countryCode: IQ
                          states: []
                        - id: 103
                          countryName: Ireland
                          countryCode: IE
                          states:
                            - stateName: Carlow
                              stateCode: CW
                            - stateName: Cavan
                              stateCode: CN
                            - stateName: Clare
                              stateCode: CE
                            - stateName: Cork
                              stateCode: C
                            - stateName: Donegal
                              stateCode: DL
                            - stateName: Dublin
                              stateCode: D
                            - stateName: Galway
                              stateCode: G
                            - stateName: Kerry
                              stateCode: KY
                            - stateName: Kildare
                              stateCode: KE
[...]
