openapi: '3.0.0'
info:
  title: inner-sales-rep
  version: '1.0'
  description: ''
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v2'
paths:
  /inner-sales-reps:
    get:
      summary: Get Sales Staffs List
      tags:
        - inner-sales-rep
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - id: '33'
                          salesRepName: super admin kiki
                          email: kiki@qq.com
                          companyCount: 2
                          roleName: test sales staff
                        - id: '25'
                          salesRepName: SpritStorm
                          email: DoNotFuckingTouchThisOne@bundleb2b.net
                          companyCount: 27
                          roleName: TestIsSales
                      pagination:
                        totalCount: 2
                        offset: 0
                        limit: 10
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - list
                      - pagination
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              minLength: 1
                            salesRepName:
                              type: string
                              minLength: 1
                            email:
                              type: string
                              minLength: 1
                            companyCount:
                              type: number
                            roleName:
                              type: string
                              minLength: 1
                          required:
                            - id
                            - email
                            - companyCount
                            - roleName
                      pagination:
                        type: object
                        required:
                          - totalCount
                          - offset
                          - limit
                        properties:
                          totalCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                required:
                  - code
                  - message
                  - data
              examples:
                groupBy=1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - id: '33'
                          salesRepName: sale rep name
                          email: example@example.com
                          companyCount: 2
                          roleName: sales staff
                      pagination:
                        totalCount: 1
                        offset: 0
                        limit: 10
                groupBy=2:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - id: '5498'
                          companyName: company name
                          innerSalesRepsCount: 0
                          email: example@example.com
                      pagination:
                        totalCount: 1
                        offset: 0
                        limit: 10
      operationId: get-inner-sales-reps
      description: Get Sales Staffs List
      parameters:
        - schema:
            type: string
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
            default: username
          in: query
          name: sortBy
        - schema:
            type: string
            default: DESC
          in: query
          name: orderBy
        - schema:
            type: integer
            default: '1'
            enum:
              - '1'
              - '2'
          in: query
          name: groupBy
          description: '1=inner_sales_rep, 2=company'
        - schema:
            type: string
          in: query
          name: q
          description: Query string
      x-internal: true
  '/inner-sales-reps/{inner_sales_rep_id}':
    parameters:
      - schema:
          type: string
        name: inner_sales_rep_id
        in: path
        required: true
    put:
      summary: Update A SalesStaff
      operationId: put-inner-sales-reps-inner_sales_rep_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  companies:
                    - companyId: '116'
                      isAssigned: '1'
                      id: '116'
                      assignStatus: '1'
              properties:
                companies:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 1
                        description: Company ID
                      assignStatus:
                        type: string
                        minLength: 1
                        description: '''0'': assigned, ''1'': unassigned'
                    required:
                      - id
                      - assignStatus
              required:
                - companies
            examples: {}
        description: ''
      description: Update A SalesStaff
      tags:
        - inner-sales-rep
      x-internal: true
  '/inner-sales-reps/{inner_sales_rep_id}/companies':
    parameters:
      - schema:
          type: string
        name: inner_sales_rep_id
        in: path
        required: true
    get:
      summary: Get A SalesStaff's Companies' List
      tags:
        - inner-sales-rep
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 0
                    message: string
                    data:
                      list:
                        - id: '123'
                          companyName: string
                          isAssigned: '1'
                      pagination:
                        totalCount: 0
                        offset: 0
                        limit: 0
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - list
                      - pagination
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              minLength: 1
                            companyName:
                              type: string
                              minLength: 1
                            isAssigned:
                              type: string
                              minLength: 1
                              description: '"0":assigned, "1":unassigned'
                          required:
                            - id
                            - companyName
                            - isAssigned
                      pagination:
                        type: object
                        required:
                          - totalCount
                          - offset
                          - limit
                        properties:
                          totalCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 0
                    message: string
                    data:
                      list:
                        - id: '123'
                          companyName: string
                          isAssigned: '1'
                      pagination:
                        totalCount: 0
                        offset: 0
                        limit: 0
      operationId: get-inner-sales-reps-inner_sales_rep_id-companies
      description: Get A SalesStaff's Companies' List
      parameters:
        - schema:
            type: string
            default: '0'
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
            default: '10'
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
          in: query
          name: q
          description: Query string
        - schema:
            type: integer
            default: '1'
            enum:
              - 0
              - 1
          in: query
          name: assignStatus
          description: '0=assigned, 1=unassigned'
        - schema:
            type: integer
            default: '1'
            enum:
              - '0'
              - '1'
              - '2'
              - '3'
          in: query
          name: status
          description: 'company status(0=PENDING, 1=APPROVED, 2=REJECTED, 3=INACTIVE)'
      x-internal: true
  /inner-sales-reps/companies:
    get:
      summary: Get SalesStaff' Companies List Based On SalesStaff Store Config
      tags:
        - inner-sales-rep
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - id
                            - companyName
                            - companyEmail
                            - customerGroupName
                          properties:
                            id:
                              type: string
                              minLength: 1
                            companyName:
                              type: string
                              minLength: 1
                            companyEmail:
                              type: string
                              minLength: 1
                            customerGroupName:
                              type: string
                              minLength: 1
                      pagination:
                        type: object
                        properties:
                          totalCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                        required:
                          - totalCount
                          - offset
                          - limit
                    required:
                      - list
                      - pagination
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - id: '5692'
                          companyName: Hannah Test413
                          companyEmail: hannah.qi@bundleb2b.net
                          customerGroupName: Hannah Test413
                        - id: '5693'
                          companyName: chengdu mozijiao
                          companyEmail: mozijiao@abc.com
                          customerGroupName: chengdu mozijiao
                      pagination:
                        totalCount: 2
                        offset: 0
                        limit: 10
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - id: '5692'
                          companyName: company name
                          companyEmail: example@example
                          customerGroupName: cg name
                      pagination:
                        totalCount: 1
                        offset: 0
                        limit: 10
      operationId: get-inner-sales-reps-companies
      description: Get SalesStaff' Companies List Based On SalesStaff Store Config
      parameters:
        - schema:
            type: string
            default: '0'
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
            default: '10'
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
          in: query
          name: q
          description: Query string
        - schema:
            type: integer
            default: '1'
            enum:
              - 0
              - 1
              - 2
              - 3
          in: query
          name: status
          description: 'company status(0=PENDING, 1=APPROVED, 2=REJECTED, 3=INACTIVE)'
      x-internal: true
  /inner-sales-reps/import:
    post:
      summary: Import Sales Staffs Files
      operationId: post-inner-sales-reps-import
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      isReady: '0'
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - isReady
                    properties:
                      isReady:
                        type: string
                        minLength: 1
                        description: '"0":doing, "1":finished'
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      isReady: '0'
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                innerSalesRepFile:
                  type: object
        description: ''
      description: Import Sales Staffs Files
      tags:
        - inner-sales-rep
      x-internal: true
  /inner-sales-reps/export:
    get:
      summary: Export Sales Staffs Files
      tags:
        - inner-sales-rep
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      isReady: '0'
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - isReady
                    properties:
                      isReady:
                        type: string
                        minLength: 1
                        description: '"0":doing, "1":finished'
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      isReady: '0'
      operationId: get-inner-sales-reps-export
      description: Export Sales Staffs Files
      x-internal: true
components:
  schemas: {}
  securitySchemes:
    authToken:
      name: authToken
      type: apiKey
      in: header
security:
  - authToken: []
tags:
  - name: inner-sales-rep
x-internal: true
