openapi: '3.0.0'
info:
  title: integrations
  version: '1.0'
  description: ''
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v2'
paths:
  /integrations/acumatica/configs:
    get:
      summary: Get acumatica configs
      tags:
        - integrations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      baseUrl:
                        type: string
                        minLength: 1
                      endpointName:
                        type: string
                        minLength: 1
                      version:
                        type: string
                        minLength: 1
                      username:
                        type: string
                        minLength: 1
                      password:
                        type: string
                        minLength: 1
                    required:
                      - baseUrl
                      - endpointName
                      - version
                      - username
                      - password
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      baseUrl: 'http://silkweb.eicp.net:1680/ac'
                      endpointName: Commerce
                      version: 18.200.001
                      username: admin
                      password: Abc12345678
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      baseUrl: url
                      endpointName: Commerce
                      version: 18.200.001
                      username: admin
                      password: '12345678'
      operationId: get-integrations-acumatica-configs
      description: Get acumatica configs
      x-internal: true
    put:
      summary: Update acumatica configs
      operationId: put-integrations-acumatica-configs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                    required: []
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      description: Update acumatica configs
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                baseUrl:
                  type: string
                  minLength: 1
                endpointName:
                  type: string
                  minLength: 1
                version:
                  type: string
                  minLength: 1
                username:
                  type: string
                  minLength: 1
                password:
                  type: string
                  minLength: 1
              required:
                - baseUrl
                - endpointName
                - version
                - username
                - password
              x-examples:
                example-1:
                  baseUrl: 'http://silkweb.eicp.net:1680/ac'
                  endpointName: Commerce
                  version: 18.200.001
                  username: admin
                  password: Abc12345678
      tags:
        - integrations
      x-internal: true
  /integrations/acumatica/switches:
    get:
      summary: Get acumatica switches
      tags:
        - integrations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      switches:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - switchName
                            - isActive
                          properties:
                            switchName:
                              type: string
                              minLength: 1
                            isActive:
                              type: string
                              minLength: 1
                    required:
                      - switches
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      switches:
                        - switchName: company
                          isActive: '0'
                        - switchName: address
                          isActive: '0'
                        - switchName: user
                          isActive: '0'
                        - switchName: order
                          isActive: '0'
                        - switchName: shipment
                          isActive: '0'
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      switches:
                        - switchName: company
                          isActive: '0'
                        - switchName: address
                          isActive: '0'
                        - switchName: user
                          isActive: '0'
                        - switchName: order
                          isActive: '0'
                        - switchName: shipment
                          isActive: '0'
      operationId: get-integrations-acumatica-switches
      description: Get acumatica switches
      x-internal: true
    put:
      summary: Update acumatica switch
      operationId: put-integrations-acumatica-switches
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      switchName:
                        type: string
                        minLength: 1
                    required:
                      - switchName
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      switchName: company
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      switchName: company
      description: Update acumatica switch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                switchName:
                  type: string
                  enum:
                    - company
                    - address
                    - user
                    - order
                    - shipment
                isActive:
                  type: string
                  enum:
                    - '0'
                    - '1'
              required:
                - switchName
                - isActive
            examples: {}
      tags:
        - integrations
      x-internal: true
  /integrations/acumatica/logs:
    get:
      summary: Get acumatica async logs
      tags:
        - integrations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - localEntity
                            - status
                            - locallyModified
                            - localId
                            - externallyModified
                            - externalId
                            - errorMessage
                            - latestAttempt
                            - attemptCount
                            - createdAt
                          properties:
                            localEntity:
                              type: string
                              minLength: 1
                            status:
                              type: string
                              minLength: 1
                            locallyModified:
                              type: string
                              minLength: 1
                            localId:
                              type: string
                              minLength: 1
                            externallyModified:
                              type: string
                              minLength: 1
                            externalId:
                              type: string
                              minLength: 1
                            errorMessage:
                              type: string
                            latestAttempt:
                              type: string
                            attemptCount:
                              type: string
                            createdAt:
                              type: string
                              minLength: 1
                      pagination:
                        type: object
                        properties:
                          totalCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                        required:
                          - totalCount
                          - offset
                          - limit
                    required:
                      - list
                      - pagination
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - localEntity: Company
                          status: '1'
                          locallyModified: '2020-09-18 04:50:02'
                          localId: 5461(price test 1)
                          externallyModified: '2020-09-18 04:50:01'
                          externalId: a9e7c85a-aff8-ea11-80d6-005056bef72c(price test 1)
                          errorMessage: ''
                          latestAttempt: ''
                          attemptCount: ''
                          createdAt: '2020-09-18 04:50:02.382149'
                        - localEntity: Company
                          status: '1'
                          locallyModified: '2020-09-18 04:20:02'
                          localId: 5461(price test 1)
                          externallyModified: '2020-09-18 04:20:01'
                          externalId: a9e7c85a-aff8-ea11-80d6-005056bef72c(price test 1)
                          errorMessage: ''
                          latestAttempt: ''
                          attemptCount: ''
                          createdAt: '2020-09-18 04:20:02.381721'
                        - localEntity: Company
                          status: '1'
                          locallyModified: '2020-09-18 03:50:12'
                          localId: 5461(price test 1)
                          externallyModified: '2020-09-18 03:50:11'
                          externalId: a9e7c85a-aff8-ea11-80d6-005056bef72c(price test 1)
                          errorMessage: ''
                          latestAttempt: ''
                          attemptCount: ''
                          createdAt: '2020-09-18 03:50:12.025839'
                        - localEntity: Company
                          status: '1'
                          locallyModified: '2020-09-18 03:20:09'
                          localId: 5461(price test 1)
                          externallyModified: '2020-09-18 03:20:08'
                          externalId: a9e7c85a-aff8-ea11-80d6-005056bef72c(price test 1)
                          errorMessage: ''
                          latestAttempt: ''
                          attemptCount: ''
                          createdAt: '2020-09-18 03:20:09.712583'
                        - localEntity: shipment
                          status: '1'
                          locallyModified: ''
                          localId: '22'
                          externallyModified: ''
                          externalId: ba852bb8-cd00-4b40-a65b-35d28beda872
                          errorMessage: ''
                          latestAttempt: ''
                          attemptCount: ''
                          createdAt: '2020-09-07 02:54:07.428831'
                        - localEntity: shipment
                          status: '1'
                          locallyModified: ''
                          localId: '21'
                          externallyModified: ''
                          externalId: f0b76126-1b1b-4c23-b743-1d092bf4b2b7
                          errorMessage: ''
                          latestAttempt: ''
                          attemptCount: ''
                          createdAt: '2020-09-07 02:54:06.535865'
                        - localEntity: shipment
                          status: '1'
                          locallyModified: ''
                          localId: '20'
                          externallyModified: ''
                          externalId: ba852bb8-cd00-4b40-a65b-35d28beda872
                          errorMessage: ''
                          latestAttempt: ''
                          attemptCount: ''
                          createdAt: '2020-09-07 02:50:10.837811'
                        - localEntity: shipment
                          status: '1'
                          locallyModified: ''
                          localId: '19'
                          externallyModified: ''
                          externalId: f0b76126-1b1b-4c23-b743-1d092bf4b2b7
                          errorMessage: ''
                          latestAttempt: ''
                          attemptCount: ''
                          createdAt: '2020-09-07 02:50:09.806422'
                        - localEntity: shipment
                          status: '1'
                          locallyModified: ''
                          localId: ''
                          externallyModified: ''
                          externalId: ''
                          errorMessage: ''
                          latestAttempt: ''
                          attemptCount: ''
                          createdAt: '2020-09-07 02:46:54.446964'
                        - localEntity: shipment
                          status: '1'
                          locallyModified: ''
                          localId: ''
                          externallyModified: ''
                          externalId: ''
                          errorMessage: ''
                          latestAttempt: ''
                          attemptCount: ''
                          createdAt: '2020-09-07 02:46:53.551020'
                      pagination:
                        totalCount: 181
                        offset: 0
                        limit: 10
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - localEntity: Company
                          status: '1'
                          locallyModified: '2020-09-18 04:50:02'
                          localId: 5461(price test 1)
                          externallyModified: '2020-09-18 04:50:01'
                          externalId: a9e7c85a-aff8-ea11-80d6-005056bef72c(price test 1)
                          errorMessage: ''
                          latestAttempt: ''
                          attemptCount: ''
                          createdAt: '2020-09-18 04:50:02.382149'
                      pagination:
                        totalCount: 1
                        offset: 0
                        limit: 10
      operationId: get-integrations-acumatica-logs
      parameters:
        - schema:
            type: string
            default: '0'
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
            default: '10'
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
            enum:
              - '0'
              - '1'
          in: query
          name: status
      description: Get acumatica async logs
      x-internal: true
  /integrations/acumatica/initial-async:
    post:
      summary: Async acumatica data
      operationId: post-integrations-acumatica-initial-async
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                    required: []
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      description: Async acumatica data
      tags:
        - integrations
      x-internal: true
components:
  schemas: {}
  securitySchemes:
    authToken:
      name: authToken
      type: apiKey
      in: header
security:
  - authToken: []
tags:
  - name: integrations
x-internal: true
