openapi: '3.0.0'
info:
  title: notification
  version: '1.0'
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v2'
paths:
  /notifications:
    get:
      summary: Get Notification List With Pagination
      tags:
        - notification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - id: '458'
                          isRead: '1'
                          title: Order CSV Export Notification
                          createdAt: 1622711162
                        - id: '457'
                          isRead: '0'
                          title: Order CSV Export Notification
                          createdAt: 1622711103
                        - id: '456'
                          isRead: '0'
                          title: Order CSV Export Notification
                          createdAt: 1622711071
                        - id: '455'
                          isRead: '1'
                          title: Sales Staffs Assignment Upload Summary Notification
                          createdAt: 1622689606
                        - id: '454'
                          isRead: '1'
                          title: Sales Staffs Assignment Upload Summary Notification
                          createdAt: 1622689235
                        - id: '453'
                          isRead: '1'
                          title: Sales Staff Assignment CSV Export Notification
                          createdAt: 1622689051
                        - id: '452'
                          isRead: '1'
                          title: Sales Rep Upload Summary Notification
                          createdAt: 1619405769
                        - id: '451'
                          isRead: '0'
                          title: Sales Rep Upload Summary Notification
                          createdAt: 1619405414
                        - id: '450'
                          isRead: '0'
                          title: Sales Rep Upload Summary Notification
                          createdAt: 1619399443
                        - id: '449'
                          isRead: '1'
                          title: Super Admin CSV Export Notification
                          createdAt: 1619344245
                      pagination:
                        offset: 0
                        totalCount: 394
                        limit: 10
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - list
                      - pagination
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              minLength: 1
                              description: Notifications ID
                            isRead:
                              type: string
                              minLength: 1
                              description: 'notifications status(0=unread, 1=Have read)'
                            title:
                              type: string
                              minLength: 1
                              description: Notifications title
                            createdAt:
                              type: number
                          required:
                            - id
                            - isRead
                            - title
                            - createdAt
                      pagination:
                        type: object
                        required:
                          - offset
                          - totalCount
                          - limit
                        properties:
                          offset:
                            type: number
                          totalCount:
                            type: number
                          limit:
                            type: number
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - id: '458'
                          isRead: '1'
                          title: Order CSV Export Notification
                          createdAt: 1622711162
                      pagination:
                        offset: 0
                        totalCount: 1
                        limit: 10
      operationId: get-notifications
      description: Get Notification List With Pagination
      parameters:
        - schema:
            type: string
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
            enum:
              - '0'
              - '1'
            default: '0'
          in: query
          name: isRead
          description: 'notifications status(0=unread, 1=Have read)'
      x-internal: true
  '/notifications/{notificationId}':
    parameters:
      - schema:
          type: string
        name: notificationId
        in: path
        required: true
    get:
      summary: Get Notification Detail
      tags:
        - notification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      id: 458
                      title: Order CSV Export Notification
                      isRead: 1
                      body: |2-






























                                    <div>
                                        <p>Your File Is Ready</p>
                                        <a href="https://s3-us-west-2.amazonaws.com/bundleb2b-v2.0-order-staging/order-export-1i6zpxpe3g-1622711162.csv">Download As A CSV File.</a>
                                    </div>
                      createdAt: 1622711162
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - id
                      - title
                      - isRead
                      - body
                      - createdAt
                    properties:
                      id:
                        type: number
                        description: Notifications ID
                      title:
                        type: string
                        minLength: 1
                        description: Notifications title
                      isRead:
                        type: number
                        description: 'notifications status(0=unread, 1=Have read)'
                      body:
                        type: string
                        minLength: 1
                        description: Notifications content
                      createdAt:
                        type: number
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      id: 458
                      title: Order CSV Export Notification
                      isRead: 1
                      body: |2-



























                                    <div>
                                        <p>Your File Is Ready</p>
                                        <a href="url">Download As A CSV File.</a>
                                    </div>
                      createdAt: 1622711162
      operationId: get-notifications-notificationId
      description: Get Notification Detail
      x-internal: true
  '/notifications/{notificationId}/mark-as-read':
    parameters:
      - schema:
          type: string
        name: notificationId
        in: path
        required: true
    put:
      summary: ''
      operationId: put-notifications-notificationId-mark-as-read
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                    required: []
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      tags:
        - notification
      x-internal: true
  /stats:
    get:
      summary: Get Dashboard Stats
      tags:
        - notification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - title
                        - total
                        - updatedAt
                      properties:
                        title:
                          type: string
                          minLength: 1
                        total:
                          type: number
                        updatedAt:
                          type: string
                          minLength: 1
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      - title: Companies
                        total: 5419
                        updatedAt: '1622712137'
                      - title: Price Lists
                        total: 13
                        updatedAt: '1621382400'
                      - title:
                          - Super Admins
                        total: 1581
                        updatedAt: '1622614678'
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      - title: Companies
                        total: 5419
                        updatedAt: '1622712137'
                      - title: Price Lists
                        total: 13
                        updatedAt: '1621382400'
                      - title:
                          - Super Admins
                        total: 1581
                        updatedAt: '1622614678'
      operationId: get-stats
      description: Get Dashboard Stats
      x-internal: true
components:
  schemas: {}
  securitySchemes:
    authToken:
      name: authToken
      type: apiKey
      in: header
security:
  - authToken: []
tags:
  - name: notification
x-internal: true
