openapi: '3.0.0'
info:
  title: order
  version: '1.0'
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v2'
paths:
  /orders/backend:
    get:
      summary: Get Order List
      tags:
        - order
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - id: '404'
                          bcOrderId: '637'
                          companyName: Acme Corporation
                          status: Awaiting Payment
                          customStatus: Awaiting Payment from Customer
                          statusCode: 0
                          totalIncTax: 60
                          currencyCode: CNY
                          money:
                            currency_location: left
                            currency_token: ¥
                            decimal_token: .
                            decimal_places: 2
                            thousands_token: ','
                          createdAt: 1622650013
                          items: 5
                          timezone: Pacific/Apia
                          url: 'https://sylvia-apptest-store.mybigcommerce.com/manage/orders/637'
                        - id: '396'
                          bcOrderId: '636'
                          companyName: Company XYZ
                          status: Awaiting Payment
                          customStatus: Awaiting Payment from Customer
                          statusCode: 0
                          totalIncTax: 91.9
                          currencyCode: CNY
                          money:
                            currency_location: left
                            currency_token: ¥
                            decimal_token: .
                            decimal_places: 2
                            thousands_token: ','
                          createdAt: 1622617316
                          items: 2
                          timezone: Pacific/Apia
                          url: 'https://sylvia-apptest-store.mybigcommerce.com/manage/orders/636'
                        - id: '394'
                          bcOrderId: '635'
                          companyName: Company XYZ
                          status: Awaiting Payment
                          customStatus: Awaiting Payment from Customer
                          statusCode: 0
                          totalIncTax: 450.45
                          currencyCode: CNY
                          money:
                            currency_location: left
                            currency_token: ¥
                            decimal_token: .
                            decimal_places: 2
                            thousands_token: ','
                          createdAt: 1622616050
                          items: 11
                          timezone: Pacific/Apia
                          url: 'https://sylvia-apptest-store.mybigcommerce.com/manage/orders/635'
                        - id: '406'
                          bcOrderId: '629'
                          companyName: CharlesCo
                          status: Awaiting Payment
                          customStatus: Awaiting Payment from Customer
                          statusCode: 7
                          totalIncTax: 549.95
                          currencyCode: CNY
                          money:
                            currency_location: left
                            currency_token: ¥
                            decimal_token: .
                            decimal_places: 2
                            thousands_token: ','
                          createdAt: 1622015866
                          items: 6
                          timezone: Pacific/Apia
                          url: 'https://sylvia-apptest-store.mybigcommerce.com/manage/orders/629'
                        - id: '389'
                          bcOrderId: '628'
                          companyName: Some Company 618
                          status: Awaiting Payment
                          customStatus: Awaiting Payment from Customer
                          statusCode: 0
                          totalIncTax: 127.95
                          currencyCode: CNY
                          money:
                            currency_location: left
                            currency_token: ¥
                            decimal_token: .
                            decimal_places: 2
                            thousands_token: ','
                          createdAt: 1621411452
                          items: 1
                          timezone: Pacific/Apia
                          url: 'https://sylvia-apptest-store.mybigcommerce.com/manage/orders/628'
                        - id: '388'
                          bcOrderId: '619'
                          companyName: BundleCompany
                          status: Awaiting Payment
                          customStatus: Awaiting Payment from Customer
                          statusCode: 7
                          totalIncTax: 3004
                          currencyCode: CNY
                          money:
                            currency_location: left
                            currency_token: ¥
                            decimal_token: .
                            decimal_places: 2
                            thousands_token: ','
                          createdAt: 1619767048
                          items: 20
                          timezone: Pacific/Apia
                          url: 'https://sylvia-apptest-store.mybigcommerce.com/manage/orders/619'
                        - id: '387'
                          bcOrderId: '618'
                          companyName: BundleCompany
                          status: Awaiting Payment
                          customStatus: Awaiting Payment from Customer
                          statusCode: 7
                          totalIncTax: 443.9
                          currencyCode: CNY
                          money:
                            currency_location: left
                            currency_token: ¥
                            decimal_token: .
                            decimal_places: 2
                            thousands_token: ','
                          createdAt: 1619659847
                          items: 3
                          timezone: Pacific/Apia
                          url: 'https://sylvia-apptest-store.mybigcommerce.com/manage/orders/618'
                        - id: '386'
                          bcOrderId: '617'
                          companyName: Some Company 618
                          status: Awaiting Payment
                          customStatus: Awaiting Payment from Customer
                          statusCode: 7
                          totalIncTax: 164
                          currencyCode: CNY
                          money:
                            currency_location: left
                            currency_token: ¥
                            decimal_token: .
                            decimal_places: 2
                            thousands_token: ','
                          createdAt: 1619601130
                          items: 11
                          timezone: Pacific/Apia
                          url: 'https://sylvia-apptest-store.mybigcommerce.com/manage/orders/617'
                        - id: '385'
                          bcOrderId: '616'
                          companyName: Some Company 618
                          status: Awaiting Payment
                          customStatus: Awaiting Payment from Customer
                          statusCode: 7
                          totalIncTax: 164
                          currencyCode: CNY
                          money:
                            currency_location: left
                            currency_token: ¥
                            decimal_token: .
                            decimal_places: 2
                            thousands_token: ','
                          createdAt: 1619600269
                          items: 11
                          timezone: Pacific/Apia
                          url: 'https://sylvia-apptest-store.mybigcommerce.com/manage/orders/616'
                        - id: '384'
                          bcOrderId: '615'
                          companyName: Some Company
                          status: Awaiting Payment
                          customStatus: Awaiting Payment from Customer
                          statusCode: 7
                          totalIncTax: 104
                          currencyCode: CNY
                          money:
                            currency_location: left
                            currency_token: ¥
                            decimal_token: .
                            decimal_places: 2
                            thousands_token: ','
                          createdAt: 1619592409
                          items: 1
                          timezone: Pacific/Apia
                          url: 'https://sylvia-apptest-store.mybigcommerce.com/manage/orders/615'
                      pagination:
                        totalCount: 223
                        offset: 0
                        limit: 10
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - list
                      - pagination
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              minLength: 1
                              description: Order ID in B2B Edition
                            bcOrderId:
                              type: string
                              minLength: 1
                            companyName:
                              type: string
                              minLength: 1
                            status:
                              type: string
                              minLength: 1
                              description: Order status in B2B Edition
                            customStatus:
                              type: string
                              minLength: 1
                              description: Order status in BC
                            statusCode:
                              type: number
                              description: '0=unpaid, 1=paid'
                            totalIncTax:
                              type: number
                            currencyCode:
                              type: string
                              minLength: 1
                            money:
                              type: object
                              description: The style of the currency used for the order
                              properties:
                                currency_location:
                                  type: string
                                  minLength: 1
                                currency_token:
                                  type: string
                                  minLength: 1
                                decimal_token:
                                  type: string
                                  minLength: 1
                                decimal_places:
                                  type: number
                                thousands_token:
                                  type: string
                                  minLength: 1
                              required:
                                - currency_location
                                - currency_token
                                - decimal_token
                                - decimal_places
                                - thousands_token
                            createdAt:
                              type: number
                            items:
                              type: number
                              description: Number of items
                            timezone:
                              type: string
                              minLength: 1
                            url:
                              type: string
                              minLength: 1
                              description: Order url in BC
                          required:
                            - id
                            - bcOrderId
                            - companyName
                            - status
                            - customStatus
                            - statusCode
                            - totalIncTax
                            - currencyCode
                            - createdAt
                            - items
                            - timezone
                            - url
                      pagination:
                        type: object
                        required:
                          - totalCount
                          - offset
                          - limit
                        properties:
                          totalCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - id: '404'
                          bcOrderId: '637'
                          companyName: Some Company
                          status: Awaiting Payment
                          customStatus: Awaiting Payment from Customer
                          statusCode: 0
                          totalIncTax: 60
                          currencyCode: CNY
                          money:
                            currency_location: left
                            currency_token: ¥
                            decimal_token: .
                            decimal_places: 2
                            thousands_token: ','
                          createdAt: 1622650013
                          items: 5
                          timezone: Pacific/Apia
                          url: url
                      pagination:
                        totalCount: 1
                        offset: 0
                        limit: 10
      operationId: get-orders-backend
      description: Get Order List
      parameters:
        - schema:
            type: string
            default: ASC
          in: query
          name: orderBy
        - schema:
            type: string
            default: createdAt
          in: query
          name: sortBy
        - schema:
            type: string
          in: query
          name: q
          description: Query string
        - schema:
            type: string
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
          in: query
          name: company
          description: Company name
        - schema:
            type: string
          in: query
          name: orderId
          description: Order ID in BC
        - schema:
            type: string
          in: query
          name: 'status[]'
          description: Order status in B2B Edition
        - schema:
            type: string
            enum:
              - '"0"'
              - '"1"'
          in: query
          name: 'statusCode[]'
          description: '0=unpaid, 1=paid'
      x-internal: true
  /orders/export:
    post:
      summary: ''
      operationId: post-orders-export
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      isReady: '0'
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - isReady
                    properties:
                      isReady:
                        type: string
                        minLength: 1
                        description: '"0":doing, "1":finished'
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      isReady: '0'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  beginDateAt: '1111'
                  endDateAt: '22222'
                  status:
                    - 0
                  salesRepIds: 11
              properties:
                beginDateAt:
                  type: string
                  minLength: 1
                endDateAt:
                  type: string
                  minLength: 1
                status:
                  type: array
                  description: '0=unpaid, 1=paid'
                  items:
                    type: object
                salesRepIds:
                  type: number
              required:
                - beginDateAt
                - endDateAt
                - status
                - salesRepIds
            examples:
              example-1:
                value:
                  beginDateAt: '1111'
                  endDateAt: '22222'
                  status:
                    - 0
                  salesRepIds: 11
      tags:
        - order
      x-internal: true
components:
  schemas: {}
  securitySchemes:
    authToken:
      name: authToken
      type: apiKey
      in: header
security:
  - authToken: []
tags:
  - name: order
x-internal: true
