openapi: '3.0.0'
info:
  title: product
  version: '1.0'
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v2'
paths:
  /products:
    get:
      summary: Get products list
      tags:
        - product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      products:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - id
                            - name
                            - sku
                            - calculatedPrice
                            - orderQuantityMinimum
                            - orderQuantityMaximum
                            - imageUrl
                            - currencyCode
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                              minLength: 1
                            sku:
                              type: string
                              minLength: 1
                            calculatedPrice:
                              type: number
                            orderQuantityMinimum:
                              type: number
                            orderQuantityMaximum:
                              type: number
                            imageUrl:
                              type: string
                              minLength: 1
                            currencyCode:
                              type: string
                              minLength: 1
                            variants:
                              type: array
                              uniqueItems: true
                              minItems: 1
                              items:
                                required:
                                  - productId
                                  - sku
                                  - calculatedPrice
                                  - imageUrl
                                  - variantId
                                  - currencyCode
                                properties:
                                  productId:
                                    type: number
                                  sku:
                                    type: string
                                    minLength: 1
                                  calculatedPrice:
                                    type: number
                                  imageUrl:
                                    type: string
                                    minLength: 1
                                  optionValues:
                                    type: array
                                    uniqueItems: true
                                    minItems: 1
                                    items:
                                      required:
                                        - id
                                        - label
                                        - optionId
                                        - optionDisplayName
                                      properties:
                                        id:
                                          type: number
                                        label:
                                          type: string
                                          minLength: 1
                                        optionId:
                                          type: number
                                        optionDisplayName:
                                          type: string
                                          minLength: 1
                                  variantId:
                                    type: number
                                  currencyCode:
                                    type: string
                                    minLength: 1
                            modifiers:
                              type: array
                              items:
                                properties: {}
                      pagination:
                        type: object
                        properties:
                          totalCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                        required:
                          - totalCount
                          - offset
                          - limit
                    required:
                      - products
                      - pagination
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      products:
                        - id: 77
                          name: '[Sample] Fog Linen Chambray Towel - Beige Stripe'
                          sku: SLCTBS
                          calculatedPrice: 49
                          orderQuantityMinimum: 5
                          orderQuantityMaximum: 0
                          imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/77/images/266/foglinenbeigestripetowel1b.1554505752.220.290.jpg?c=2'
                          currencyCode: CNY
                          variants:
                            - productId: 77
                              sku: K1
                              calculatedPrice: 10
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/77/images/266/foglinenbeigestripetowel1b.1554505752.220.290.jpg?c=2'
                              optionValues:
                                - id: 149
                                  label: Small
                                  optionId: 299
                                  optionDisplayName: Size
                                - id: 152
                                  label: red
                                  optionId: 300
                                  optionDisplayName: KK
                              variantId: 397
                              currencyCode: CNY
                            - productId: 77
                              sku: K2
                              calculatedPrice: 20
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/77/images/266/foglinenbeigestripetowel1b.1554505752.220.290.jpg?c=2'
                              optionValues:
                                - id: 149
                                  label: Small
                                  optionId: 299
                                  optionDisplayName: Size
                                - id: 153
                                  label: blue
                                  optionId: 300
                                  optionDisplayName: KK
                              variantId: 398
                              currencyCode: CNY
                            - productId: 77
                              sku: K3
                              calculatedPrice: 30
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/77/images/266/foglinenbeigestripetowel1b.1554505752.220.290.jpg?c=2'
                              optionValues:
                                - id: 150
                                  label: Medium
                                  optionId: 299
                                  optionDisplayName: Size
                                - id: 153
                                  label: blue
                                  optionId: 300
                                  optionDisplayName: KK
                              variantId: 399
                              currencyCode: CNY
                          modifiers: []
                        - id: 80
                          name: '[Sample] Orbit Terrarium - Large'
                          sku: OTL
                          calculatedPrice: 109
                          orderQuantityMinimum: 0
                          orderQuantityMaximum: 0
                          imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/80/images/272/roundterrariumlarge.1554505753.220.290.jpg?c=2'
                          currencyCode: CNY
                          variants:
                            - productId: 80
                              sku: c1-1
                              calculatedPrice: 109
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/80/images/272/roundterrariumlarge.1554505753.220.290.jpg?c=2'
                              optionValues:
                                - id: 95
                                  label: Small
                                  optionId: 158
                                  optionDisplayName: Size
                              variantId: 201
                              currencyCode: CNY
                            - productId: 80
                              sku: c1-2
                              calculatedPrice: 109
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/80/images/272/roundterrariumlarge.1554505753.220.290.jpg?c=2'
                              optionValues:
                                - id: 96
                                  label: Medium
                                  optionId: 158
                                  optionDisplayName: Size
                              variantId: 202
                              currencyCode: CNY
                            - productId: 80
                              sku: c1-3
                              calculatedPrice: 109
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/80/images/272/roundterrariumlarge.1554505753.220.290.jpg?c=2'
                              optionValues:
                                - id: 97
                                  label: Large
                                  optionId: 158
                                  optionDisplayName: Size
                              variantId: 203
                              currencyCode: CNY
                          modifiers: []
                        - id: 81
                          name: '[Sample] Orbit Terrarium - Small'
                          sku: OTS
                          calculatedPrice: 89
                          orderQuantityMinimum: 0
                          orderQuantityMaximum: 0
                          imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/81/images/273/roundterrariumsmall.1554505753.220.290.jpg?c=2'
                          currencyCode: CNY
                          variants:
                            - productId: 81
                              sku: OTS
                              calculatedPrice: 89
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/81/images/273/roundterrariumsmall.1554505753.386.513.jpg?c=2'
                              optionValues: []
                              variantId: 65
                              currencyCode: CNY
                          modifiers: []
                        - id: 86
                          name: '[Sample] Able Brewing System'
                          sku: ABS
                          calculatedPrice: 225
                          orderQuantityMinimum: 0
                          orderQuantityMaximum: 0
                          imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/86/images/286/ablebrewingsystem4.1614825453.220.290.jpg?c=2'
                          currencyCode: CNY
                          variants:
                            - productId: 86
                              sku: ABS
                              calculatedPrice: 225
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/86/images/286/ablebrewingsystem4.1614825453.386.513.jpg?c=2'
                              optionValues: []
                              variantId: 66
                              currencyCode: CNY
                          modifiers: []
                        - id: 88
                          name: '[Sample] Chemex Coffeemaker 3 Cup'
                          sku: CC3C
                          calculatedPrice: 49.5
                          orderQuantityMinimum: 0
                          orderQuantityMaximum: 0
                          imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/88/images/292/3cupchemex5.1554505753.220.290.jpg?c=2'
                          currencyCode: CNY
                          variants:
                            - productId: 88
                              sku: CC3C
                              calculatedPrice: 49.5
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/88/images/292/3cupchemex5.1554505753.386.513.jpg?c=2'
                              optionValues: []
                              variantId: 67
                              currencyCode: CNY
                          modifiers: []
                        - id: 93
                          name: '[Sample] 1 L Le Parfait Jar'
                          sku: SLLPJ
                          calculatedPrice: 7
                          orderQuantityMinimum: 0
                          orderQuantityMaximum: 0
                          imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/93/images/311/leparfaitmedium3.1554505753.220.290.jpg?c=2'
                          currencyCode: CNY
                          variants:
                            - productId: 93
                              sku: SLLPJ-6088C959
                              calculatedPrice: 7
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/93/images/311/leparfaitmedium3.1554505753.220.290.jpg?c=2'
                              optionValues:
                                - id: 95
                                  label: Small
                                  optionId: 112
                                  optionDisplayName: Size
                              variantId: 46
                              currencyCode: CNY
                            - productId: 93
                              sku: SLLPJ-9A544946
                              calculatedPrice: 7
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/93/images/311/leparfaitmedium3.1554505753.220.290.jpg?c=2'
                              optionValues:
                                - id: 96
                                  label: Medium
                                  optionId: 112
                                  optionDisplayName: Size
                              variantId: 50
                              currencyCode: CNY
                            - productId: 93
                              sku: SLLPJ-8650D0FD
                              calculatedPrice: 7
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/93/images/311/leparfaitmedium3.1554505753.220.290.jpg?c=2'
                              optionValues:
                                - id: 97
                                  label: Large
                                  optionId: 112
                                  optionDisplayName: Size
                              variantId: 54
                              currencyCode: CNY
                          modifiers: []
                        - id: 94
                          name: '[Sample] Oak Cheese Grater'
                          sku: OCG
                          calculatedPrice: 34.95
                          orderQuantityMinimum: 0
                          orderQuantityMaximum: 0
                          imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/94/images/314/oakcheesegrater2.1554505753.220.290.jpg?c=2'
                          currencyCode: CNY
                          variants:
                            - productId: 94
                              sku: x1-1
                              calculatedPrice: 34.95
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/94/images/314/oakcheesegrater2.1554505753.220.290.jpg?c=2'
                              optionValues:
                                - id: 95
                                  label: Small
                                  optionId: 156
                                  optionDisplayName: Size
                              variantId: 189
                              currencyCode: CNY
                            - productId: 94
                              sku: x1-2
                              calculatedPrice: 34.95
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/94/images/314/oakcheesegrater2.1554505753.220.290.jpg?c=2'
                              optionValues:
                                - id: 96
                                  label: Medium
                                  optionId: 156
                                  optionDisplayName: Size
                              variantId: 190
                              currencyCode: CNY
                            - productId: 94
                              sku: x1-3
                              calculatedPrice: 34.95
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/94/images/314/oakcheesegrater2.1554505753.220.290.jpg?c=2'
                              optionValues:
                                - id: 97
                                  label: Large
                                  optionId: 156
                                  optionDisplayName: Size
                              variantId: 191
                              currencyCode: CNY
                          modifiers: []
                        - id: 97
                          name: '[Sample] Tiered Wire Basket'
                          sku: TWB
                          calculatedPrice: 119.95
                          orderQuantityMinimum: 0
                          orderQuantityMaximum: 0
                          imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/97/images/325/tieredbasket.1554505753.220.290.jpg?c=2'
                          currencyCode: CNY
                          variants:
                            - productId: 97
                              sku: g1-1
                              calculatedPrice: 119.95
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/97/images/325/tieredbasket.1554505753.220.290.jpg?c=2'
                              optionValues:
                                - id: 95
                                  label: Small
                                  optionId: 154
                                  optionDisplayName: Size
                              variantId: 178
                              currencyCode: CNY
                            - productId: 97
                              sku: g1-2
                              calculatedPrice: 119.95
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/97/images/325/tieredbasket.1554505753.220.290.jpg?c=2'
                              optionValues:
                                - id: 96
                                  label: Medium
                                  optionId: 154
                                  optionDisplayName: Size
                              variantId: 179
                              currencyCode: CNY
                            - productId: 97
                              sku: g1-3
                              calculatedPrice: 119.95
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/97/images/325/tieredbasket.1554505753.220.290.jpg?c=2'
                              optionValues:
                                - id: 97
                                  label: Large
                                  optionId: 154
                                  optionDisplayName: Size
                              variantId: 180
                              currencyCode: CNY
                          modifiers: []
                        - id: 98
                          name: '[Sample] Laundry Detergent'
                          sku: CGLD
                          calculatedPrice: 29.95
                          orderQuantityMinimum: 0
                          orderQuantityMaximum: 0
                          imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/98/images/327/CommonGoodLaundrySoap.1554505753.220.290.jpg?c=2'
                          currencyCode: CNY
                          variants:
                            - productId: 98
                              sku: f1-1
                              calculatedPrice: 29.95
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/98/images/327/CommonGoodLaundrySoap.1554505753.220.290.jpg?c=2'
                              optionValues:
                                - id: 95
                                  label: Small
                                  optionId: 152
                                  optionDisplayName: Size
                              variantId: 166
                              currencyCode: CNY
                            - productId: 98
                              sku: f1-2
                              calculatedPrice: 29.95
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/98/images/327/CommonGoodLaundrySoap.1554505753.220.290.jpg?c=2'
                              optionValues:
                                - id: 96
                                  label: Medium
                                  optionId: 152
                                  optionDisplayName: Size
                              variantId: 167
                              currencyCode: CNY
                            - productId: 98
                              sku: f1-3
                              calculatedPrice: 29.95
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/98/images/327/CommonGoodLaundrySoap.1554505753.220.290.jpg?c=2'
                              optionValues:
                                - id: 97
                                  label: Large
                                  optionId: 152
                                  optionDisplayName: Size
                              variantId: 168
                              currencyCode: CNY
                          modifiers: []
                        - id: 103
                          name: '[Sample] Canvas Laundry Cart'
                          sku: CLC
                          calculatedPrice: 200
                          orderQuantityMinimum: 0
                          orderQuantityMaximum: 0
                          imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/103/images/334/naturalcanvascart2.1554505753.220.290.jpg?c=2'
                          currencyCode: CNY
                          variants:
                            - productId: 103
                              sku: z1-1
                              calculatedPrice: 200
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/103/images/334/naturalcanvascart2.1554505753.220.290.jpg?c=2'
                              optionValues:
                                - id: 95
                                  label: Small
                                  optionId: 150
                                  optionDisplayName: Size
                              variantId: 154
                              currencyCode: CNY
                            - productId: 103
                              sku: z1-2
                              calculatedPrice: 200
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/103/images/334/naturalcanvascart2.1554505753.220.290.jpg?c=2'
                              optionValues:
                                - id: 96
                                  label: Medium
                                  optionId: 150
                                  optionDisplayName: Size
                              variantId: 155
                              currencyCode: CNY
                            - productId: 103
                              sku: z1-3
                              calculatedPrice: 200
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/103/images/334/naturalcanvascart2.1554505753.220.290.jpg?c=2'
                              optionValues:
                                - id: 97
                                  label: Large
                                  optionId: 150
                                  optionDisplayName: Size
                              variantId: 156
                              currencyCode: CNY
                          modifiers: []
                      pagination:
                        totalCount: 24
                        offset: 0
                        limit: 10
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      products:
                        - id: 77
                          name: '[Sample] Fog Linen Chambray Towel - Beige Stripe'
                          sku: SLCTBS
                          calculatedPrice: 49
                          orderQuantityMinimum: 5
                          orderQuantityMaximum: 0
                          imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/77/images/266/foglinenbeigestripetowel1b.1554505752.220.290.jpg?c=2'
                          currencyCode: CNY
                          variants:
                            - productId: 77
                              sku: K1
                              calculatedPrice: 10
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/77/images/266/foglinenbeigestripetowel1b.1554505752.220.290.jpg?c=2'
                              optionValues:
                                - id: 149
                                  label: Small
                                  optionId: 299
                                  optionDisplayName: Size
                                - id: 152
                                  label: red
                                  optionId: 300
                                  optionDisplayName: KK
                              variantId: 397
                              currencyCode: CNY
                            - productId: 77
                              sku: K2
                              calculatedPrice: 20
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/77/images/266/foglinenbeigestripetowel1b.1554505752.220.290.jpg?c=2'
                              optionValues:
                                - id: 149
                                  label: Small
                                  optionId: 299
                                  optionDisplayName: Size
                                - id: 153
                                  label: blue
                                  optionId: 300
                                  optionDisplayName: KK
                              variantId: 398
                              currencyCode: CNY
                            - productId: 77
                              sku: K3
                              calculatedPrice: 30
                              imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/77/images/266/foglinenbeigestripetowel1b.1554505752.220.290.jpg?c=2'
                              optionValues:
                                - id: 150
                                  label: Medium
                                  optionId: 299
                                  optionDisplayName: Size
                                - id: 153
                                  label: blue
                                  optionId: 300
                                  optionDisplayName: KK
                              variantId: 399
                              currencyCode: CNY
                          modifiers: []
                      pagination:
                        totalCount: 1
                        offset: 0
                        limit: 10
      operationId: get-products
      description: Get products list
      parameters:
        - schema:
            type: string
          in: query
          name: q
          required: true
          description: Query string
        - schema:
            type: string
          in: query
          name: companyId
        - schema:
            type: string
            default: '0'
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
            default: '10'
          in: query
          name: limit
          description: Pagination limit
      x-internal: true
components:
  schemas: {}
  securitySchemes:
    authToken:
      name: authToken
      type: apiKey
      in: header
security:
  - authToken: []
tags:
  - name: product
x-internal: true
