openapi: '3.0.0'
info:
  title: quote
  version: '1.0'
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v2'
paths:
  '/quotes/{quote_id}':
    parameters:
      - schema:
          type: string
        name: quote_id
        in: path
        required: true
    get:
      summary: Get Quote Info
      operationId: get-quotes-quote_id
      description: Get Quote Info
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      storeInfo:
                        type: object
                        properties:
                          storeName:
                            type: string
                          storeAddress:
                            type: string
                          storeCountry:
                            type: string
                      companyInfo:
                        type: object
                        properties:
                          companyId:
                            type: string
                          companyName:
                            type: string
                          companyAddress:
                            type: string
                          companyCountry:
                            type: string
                          companyCountryCode:
                            type: string
                          companyState:
                            type: string
                          companyStateCode:
                            type: string
                          companyCity:
                            type: string
                          companyZipCode:
                            type: string
                          firstName:
                            type: string
                          lastName:
                            type: string
                          phoneNumber:
                            type: string
                      salesRepInfo:
                        type: object
                        properties:
                          firstName:
                            type: string
                          lastName:
                            type: string
                          phoneNumber:
                            type: string
                          email:
                            type: string
                      quoteInfo:
                        type: object
                        properties:
                          quoteId:
                            type: string
                          referenceNumber:
                            type: string
                          title:
                            type: string
                          description:
                            type: string
                          createdAt:
                            type: string
                          expiredAt:
                            type: string
                          subtotal:
                            type: number
                          discount:
                            type: number
                          grandTotal:
                            type: number
                          money:
                            type: object
                          status:
                            type: string
                          orderId:
                            type: string
                          additionalInfo:
                            type: string
                          addressInfo:
                            type: array
                            items:
                              type: object
                              properties:
                                sku:
                                  type: string
                                basePrice:
                                  type: number
                                discount:
                                  type: number
                                newPrice:
                                  type: number
                                quantity:
                                  type: string
                                productId:
                                  type: string
                                variantId:
                                  type: string
                                imageUrl:
                                  type: string
                                productName:
                                  type: string
                                options:
                                  type: string
                required:
                  - code
                  - message
                  - data
      tags:
        - quote
      deprecated: true
      x-internal: true
  '/backend/quotes/{quote_id}':
    parameters:
      - schema:
          type: string
        name: quote_id
        in: path
        required: true
    put:
      summary: Update Quote Status in Backend(Approval)
      operationId: put-backend-quotes-quote_id
      responses:
        '200':
          description: OK
      description: Update Quote Status in Backend(Approval)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - '0'
                    - '6'
                  description: '"0": "Approve", "6": "Reject"'
      tags:
        - quote
      deprecated: true
      x-internal: true
  /quotes:
    get:
      summary: Get Quotes List
      tags:
        - quote
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  quoteId:
                    type: string
                  referenceNumber:
                    type: string
                  title:
                    type: string
                  companyName:
                    type: string
                  salesRep:
                    type: string
                  createdAt:
                    type: string
                  totalPrice:
                    type: string
                  status:
                    type: string
                  money:
                    type: object
                  orderId:
                    type: string
                  backendOrderUrl:
                    type: string
      operationId: get-quotes
      description: Get Quotes List
      parameters:
        - schema:
            type: string
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
            default: createdAt
          in: query
          name: sortBy
        - schema:
            type: string
            default: DESC
          in: query
          name: orderBy
        - schema:
            type: string
          in: query
          name: referenceNumber
        - schema:
            type: string
          in: query
          name: company
        - schema:
            type: string
          in: query
          name: salesRep
        - schema:
            type: array
            enum:
              - '0'
              - '1'
              - '2'
              - '3'
              - '4'
              - '5'
              - '6'
              - '7'
          in: query
          name: 'status[]'
          description: '"0": "new" "1": "sent" "2": "ordered" "3": "expired" "5": "draft" "6": "awaiting_approval" "7": "rejected"'
      deprecated: true
      x-internal: true
components:
  schemas: {}
  securitySchemes:
    authToken:
      name: authToken
      type: apiKey
      in: header
security:
  - authToken: []
tags:
  - name: quote
x-internal: true
