openapi: '3.0.0'
info:
  title: sales-reps
  version: '1.0'
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v2'
paths:
  '/sales-reps/{sales_rep_id}/companies/backend':
    parameters:
      - schema:
          type: string
        name: sales_rep_id
        in: path
        required: true
    get:
      summary: Get Sales Reps Companies Backend
      tags:
        - sales-rep
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - companyId: '5716'
                          companyName: levi-test
                          isAssigned: '1'
                        - companyId: '5717'
                          companyName: levi-test-create
                          isAssigned: '1'
                      pagination:
                        totalCount: 2
                        offset: 0
                        limit: 10
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - list
                      - pagination
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            companyId:
                              type: string
                              minLength: 1
                            companyName:
                              type: string
                              minLength: 1
                            isAssigned:
                              type: string
                              minLength: 1
                              description: 'sales reps assigned to the company(0=Assigned, 1=unassigned)'
                          required:
                            - companyId
                            - companyName
                            - isAssigned
                      pagination:
                        type: object
                        required:
                          - totalCount
                          - offset
                          - limit
                        properties:
                          totalCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - companyId: '5716'
                          companyName: company name
                          isAssigned: '1'
                      pagination:
                        totalCount: 1
                        offset: 0
                        limit: 10
      operationId: get-sales-reps-sales_rep_id-companies-backend
      description: Get Sales Reps Companies Backend
      parameters:
        - schema:
            type: string
            default: '10'
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
            default: '0'
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: integer
            default: '1'
            enum:
              - 0
              - 1
          in: query
          name: status
          description: 'sales reps assigned to the company(0=Assigned, 1=unassigned)'
        - schema:
            type: string
          in: query
          name: q
          description: Query string
      x-internal: true
    put:
      summary: Update Sales Reps Companies Backend
      operationId: put-sales-reps-sales_rep_id-companies-backend
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                    required: []
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      description: Update Sales Reps Companies Backend
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  companies:
                    - companyId: '86'
                      isAssigned: '1'
              properties:
                companies:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    type: object
                    properties:
                      companyId:
                        type: string
                        minLength: 1
                      isAssigned:
                        type: string
                        minLength: 1
                        description: 'sales reps assigned to the company(0=Assigned, 1=unassigned)'
                    required:
                      - companyId
                      - isAssigned
              required:
                - companies
      tags:
        - sales-rep
      x-internal: true
  '/companies/{company_id}/sales-reps/backend':
    parameters:
      - schema:
          type: string
        name: company_id
        in: path
        required: true
    get:
      summary: Get Company Sales Reps Backend
      tags:
        - sales-rep
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - salesRepId: '7844'
                          firstName: levi
                          lastName: test
                          isAssigned: '1'
                      pagination:
                        totalCount: 1
                        offset: 0
                        limit: 10
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - list
                      - pagination
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            salesRepId:
                              type: string
                              minLength: 1
                            firstName:
                              type: string
                              minLength: 1
                            lastName:
                              type: string
                              minLength: 1
                            isAssigned:
                              type: string
                              minLength: 1
                              description: 'sales reps status(0=Assigned, 1=unassigned)'
                          required:
                            - salesRepId
                            - firstName
                            - lastName
                            - isAssigned
                      pagination:
                        type: object
                        required:
                          - totalCount
                          - offset
                          - limit
                        properties:
                          totalCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - salesRepId: '7844'
                          firstName: first name
                          lastName: last name
                          isAssigned: '1'
                      pagination:
                        totalCount: 1
                        offset: 0
                        limit: 10
      operationId: get-companies-company_id-sales-reps-backend
      description: Get Company Sales Reps Backend
      parameters:
        - schema:
            type: string
            default: '10'
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
            default: '0'
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
          in: query
          name: q
          description: Query string
        - schema:
            type: integer
            default: '1'
            enum:
              - 0
              - 1
          in: query
          name: status
          description: 'sales reps assigned to the company(0=Assigned, 1=unassigned)'
      x-internal: true
    put:
      summary: Update Company Sales Reps Backend
      operationId: put-companies-company_id-sales-reps-backend
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                    required: []
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      description: Update Company Sales Reps Backend
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  salesReps:
                    - salesRepId: '104'
                      isAssigned: '1'
                    - salesRepId: '7815'
                      isAssigned: '1'
              properties:
                salesReps:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    type: object
                    properties:
                      salesRepId:
                        type: string
                        minLength: 1
                      isAssigned:
                        type: string
                        minLength: 1
                        description: 'sales reps assigned to the company(0=Assigned, 1=unassigned)'
                    required:
                      - salesRepId
                      - isAssigned
              required:
                - salesReps
      tags:
        - sales-rep
      x-internal: true
  /sales-reps/companies:
    get:
      summary: Get Company Sales Reps
      tags:
        - sales-rep
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - companyName: company name
                          bcGroupName: bc group name
                          description: Desc
                          companyEmail: 1149847234@qq.com
                          addressLine1: ''
                          addressLine2: ''
                          city: shanxi
                          state: weinan
                          zipCode: pucheg
                          country: ''
                          companyId: '5498'
                          catalogId: '11'
                          salesRepCount: '10'
                      pagination:
                        totalCount: 5420
                        offset: 0
                        limit: 10
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - list
                      - pagination
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            companyName:
                              type: string
                              minLength: 1
                            bcGroupName:
                              type: string
                              minLength: 1
                            description:
                              type: string
                              minLength: 1
                            companyEmail:
                              type: string
                              minLength: 1
                            addressLine1:
                              type: string
                            addressLine2:
                              type: string
                            city:
                              type: string
                              minLength: 1
                            state:
                              type: string
                              minLength: 1
                            zipCode:
                              type: string
                              minLength: 1
                            country:
                              type: string
                            companyId:
                              type: string
                              minLength: 1
                            catalogId:
                              type: string
                              minLength: 1
                            salesRepCount:
                              type: string
                              minLength: 1
                              description: The number of sales reps
                          required:
                            - companyName
                            - bcGroupName
                            - description
                            - companyEmail
                            - addressLine1
                            - addressLine2
                            - city
                            - state
                            - zipCode
                            - country
                            - companyId
                            - catalogId
                            - salesRepCount
                      pagination:
                        type: object
                        required:
                          - totalCount
                          - offset
                          - limit
                        properties:
                          totalCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - companyName: company name
                          bcGroupName: bc group name
                          description: ''
                          companyEmail: example@example.com
                          addressLine1: adress line 1
                          addressLine2: adress line 2
                          city: Sewell
                          state: New Jersey
                          zipCode: '92620'
                          country: ''
                          companyId: '376'
                          catalogId: '11'
                          salesRepCount: '10'
                      pagination:
                        totalCount: 5420
                        offset: 0
                        limit: 10
      operationId: get-sales-reps-companies
      description: Get Company Sales Reps
      parameters:
        - schema:
            type: string
            default: '0'
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
            default: '10'
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
            enum:
              - '1'
              - '2'
            default: '2'
          in: query
          name: groupBy
          description: 'Group by(''2'' for company, ''1'' for sales reps)'
        - schema:
            type: string
            default: 'DESC '
          in: query
          description: Order by default DESC choice (DESC ASC)
          name: orderBy
      x-internal: true
  '/sales-reps/{saleRepId}':
    parameters:
      - schema:
          type: string
        name: saleRepId
        in: path
        required: true
    delete:
      summary: Delete A Sales Rep
      operationId: delete-sales-reps-saleRepId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                    required: []
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      description: Delete A Sales Rep
      tags:
        - sales-rep
      x-internal: true
  /sales-reps/companies/export:
    post:
      summary: Export Sales Reps
      operationId: post-sales-reps-companies-export
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      isReady: '0'
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - isReady
                    properties:
                      isReady:
                        type: string
                        minLength: 1
                        description: '"0":doing, "1":finished'
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      isReady: '0'
      description: Export Sales Reps
      tags:
        - sales-rep
      x-internal: true
components:
  schemas: {}
  securitySchemes:
    authToken:
      name: authToken
      type: apiKey
      in: header
security:
  - authToken: []
tags:
  - name: sales-rep
x-internal: true
