openapi: '3.0.0'
info:
  title: store-config
  version: '1.0'
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v2'
paths:
  /store-config:
    get:
      summary: Get Store Config
      tags:
        - store-config
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      intervalQuantity:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      companyAutoApproval:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      openExpirationNotice:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      SFPAutoSaveShippingAddress:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      autoSaveOrderCompanyEmail:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      emailTemplatesConfig:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      addressSalesRep:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      addressBook:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      addressAdmin:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      quoteSalesRepCreation:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      quoteForGuest:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      backendPermissions:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      importConvertCompanyOrder:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      openIntegration:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      quoteOnCartPage:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      quoteOnProductPage:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      defaultPriceList:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      quoteForIndividualCustomer:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      createUserEmailNotice:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      quoteSalesRepVisibility:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      shoppingListNotifications:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      emailNotifications:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      innerSalesRep:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      quoteAutoApproval:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      quotes:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      email:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      quoteCustomer:
                        type: object
                        properties:
                          id:
                            type: number
                          isEnable:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - isEnable
                      listItemNum:
                        type: number
                    required:
                      - intervalQuantity
                      - companyAutoApproval
                      - openExpirationNotice
                      - SFPAutoSaveShippingAddress
                      - autoSaveOrderCompanyEmail
                      - emailTemplatesConfig
                      - addressSalesRep
                      - addressBook
                      - addressAdmin
                      - quoteSalesRepCreation
                      - quoteForGuest
                      - backendPermissions
                      - importConvertCompanyOrder
                      - openIntegration
                      - quoteOnCartPage
                      - quoteOnProductPage
                      - defaultPriceList
                      - quoteForIndividualCustomer
                      - createUserEmailNotice
                      - quoteSalesRepVisibility
                      - shoppingListNotifications
                      - emailNotifications
                      - innerSalesRep
                      - quoteAutoApproval
                      - quotes
                      - email
                      - quoteCustomer
                      - listItemNum
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      intervalQuantity:
                        id: 2
                        isEnable: '0'
                      companyAutoApproval:
                        id: 19
                        isEnable: '0'
                      openExpirationNotice:
                        id: 29
                        isEnable: '0::0'
                      SFPAutoSaveShippingAddress:
                        id: 66
                        isEnable: '0'
                      autoSaveOrderCompanyEmail:
                        id: 67
                        isEnable: '1'
                      emailTemplatesConfig:
                        id: 69
                        isEnable: '0'
                      addressSalesRep:
                        id: 8
                        isEnable: '1'
                      addressBook:
                        id: 6
                        isEnable: '1'
                      addressAdmin:
                        id: 7
                        isEnable: '1'
                      quoteSalesRepCreation:
                        id: 78
                        isEnable: '1'
                      quoteForGuest:
                        id: 75
                        isEnable: '1'
                      backendPermissions:
                        id: 62
                        isEnable: '1'
                      importConvertCompanyOrder:
                        id: 68
                        isEnable: '1'
                      openIntegration:
                        id: 33
                        isEnable: '0'
                      quoteOnCartPage:
                        id: 74
                        isEnable: '1'
                      quoteOnProductPage:
                        id: 73
                        isEnable: '1'
                      defaultPriceList:
                        id: 70
                        isEnable: '5'
                      quoteForIndividualCustomer:
                        id: 76
                        isEnable: '1'
                      createUserEmailNotice:
                        id: 52
                        isEnable: '1'
                      quoteSalesRepVisibility:
                        id: 77
                        isEnable: '0'
                      shoppingListNotifications:
                        id: 90
                        isEnable: '1'
                      emailNotifications:
                        id: 1
                        isEnable: '1'
                      innerSalesRep:
                        id: 71
                        isEnable: '1'
                      quoteAutoApproval:
                        id: 54
                        isEnable: '0'
                      quotes:
                        id: 12
                        isEnable: '1'
                      email:
                        id: 3
                        isEnable: kido.zhao@bundleb2b.net
                      quoteCustomer:
                        id: 72
                        isEnable: '1'
                      listItemNum: 27
              examples:
                key=email:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      id: 3
                      key: email
                      isEnabled: example@example.com
                key is None:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      intervalQuantity:
                        id: 2
                        isEnable: '0'
                      companyAutoApproval:
                        id: 19
                        isEnable: '0'
                      openExpirationNotice:
                        id: 29
                        isEnable: '0::0'
                      SFPAutoSaveShippingAddress:
                        id: 66
                        isEnable: '0'
                      autoSaveOrderCompanyEmail:
                        id: 67
                        isEnable: '1'
                      emailTemplatesConfig:
                        id: 69
                        isEnable: '0'
                      addressSalesRep:
                        id: 8
                        isEnable: '1'
                      addressBook:
                        id: 6
                        isEnable: '1'
                      addressAdmin:
                        id: 7
                        isEnable: '1'
                      quoteSalesRepCreation:
                        id: 78
                        isEnable: '1'
                      quoteForGuest:
                        id: 75
                        isEnable: '1'
                      backendPermissions:
                        id: 62
                        isEnable: '1'
                      importConvertCompanyOrder:
                        id: 68
                        isEnable: '1'
                      openIntegration:
                        id: 33
                        isEnable: '0'
                      quoteOnCartPage:
                        id: 74
                        isEnable: '1'
                      quoteOnProductPage:
                        id: 73
                        isEnable: '1'
                      defaultPriceList:
                        id: 70
                        isEnable: '5'
                      quoteForIndividualCustomer:
                        id: 76
                        isEnable: '1'
                      createUserEmailNotice:
                        id: 52
                        isEnable: '1'
                      quoteSalesRepVisibility:
                        id: 77
                        isEnable: '0'
                      shoppingListNotifications:
                        id: 90
                        isEnable: '1'
                      emailNotifications:
                        id: 1
                        isEnable: '1'
                      innerSalesRep:
                        id: 71
                        isEnable: '1'
                      quoteAutoApproval:
                        id: 54
                        isEnable: '0'
                      quotes:
                        id: 12
                        isEnable: '1'
                      email:
                        id: 3
                        isEnable: example@example.com
                      quoteCustomer:
                        id: 72
                        isEnable: '1'
                      listItemNum: 27
      operationId: get-store-config
      parameters:
        - schema:
            type: string
          in: query
          name: key
      description: Get Store Config
      x-internal: true
    post:
      summary: Create Store Config
      operationId: post-store-config
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      configId:
                        type: string
                        minLength: 1
                    required:
                      - configId
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      configId: '12'
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      configId: '12'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  description: Store config key
                value:
                  type: string
                  description: Store config value
      description: Create Store Config
      tags:
        - store-config
      x-internal: true
    put:
      summary: Update Store Config
      operationId: put-store-config
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      description: Update Store Config
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Store config id
                value:
                  type: string
                  description: Store config value
              required:
                - id
                - value
      tags:
        - store-config
      x-internal: true
  /store-config/price-list:
    put:
      summary: Update Store Config Default Price List
      operationId: put-store-config-price-list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      pricelistId:
                        type: string
                      pricelistName:
                        type: string
                    required:
                      - pricelistId
                      - pricelistName
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      pricelistId: ''
                      pricelistName: ''
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      pricelistId: '12'
                      pricelistName: price name
      description: Update Store Config Default Price List
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pricelistId:
                  type: string
      tags:
        - store-config
      x-internal: true
  /store-config/payment-methods:
    put:
      summary: Update Store Config Default Payment Methods
      operationId: put-store-config-payment-methods
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      paymentMethods:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - id
                            - paymentCode
                            - paymentTitle
                          properties:
                            id:
                              type: number
                            paymentCode:
                              type: string
                              minLength: 1
                            paymentTitle:
                              type: string
                              minLength: 1
                    required:
                      - paymentMethods
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      paymentMethods:
                        - id: 39
                          paymentCode: bankdeposit
                          paymentTitle: Bank Deposit
                        - id: 43
                          paymentCode: cheque
                          paymentTitle: Check
                        - id: 40
                          paymentCode: cod
                          paymentTitle: Cash on Delivery
                        - id: 52
                          paymentCode: moneyorder
                          paymentTitle: Money Order
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      paymentMethods:
                        - id: 39
                          paymentCode: bankdeposit
                          paymentTitle: Bank Deposit
                        - id: 43
                          paymentCode: cheque
                          paymentTitle: Check
                        - id: 40
                          paymentCode: cod
                          paymentTitle: Cash on Delivery
                        - id: 52
                          paymentCode: moneyorder
                          paymentTitle: Money Order
      description: Update Store Config Default Payment Methods
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  paymentCodes:
                    - bankdeposit
                    - cheque
                    - cod
                    - moneyorder
              properties:
                paymentCodes:
                  type: array
                  items:
                    type: string
              required:
                - paymentCodes
      tags:
        - store-config
      x-internal: true
  /store-config/inner-sales-rep:
    put:
      summary: Update Store's InnerSalesRep
      operationId: put-store-config-inner-sales-rep
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      innerSalesRep:
                        type: object
                        properties:
                          userId:
                            type: number
                          email:
                            type: string
                            minLength: 1
                          username:
                            type: string
                            minLength: 1
                        required:
                          - userId
                          - email
                          - username
                    required:
                      - innerSalesRep
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      innerSalesRep:
                        userId: 36
                        email: levi.tuo@silksoftware.com
                        username: levi.tuo
              examples:
                userId is not None:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      innerSalesRep:
                        userId: 36
                        email: example@example.com
                        username: username
      description: Update Store's InnerSalesRep
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: Backend User ID
      tags:
        - store-config
      x-internal: true
  '/store-configs/switch-status/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    put:
      summary: Update Store Config Switch Status
      operationId: put-store-configs-switch-status-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      description: Update Store Config's value.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                isEnabled:
                  type: string
                  enum:
                    - '0'
                    - '1'
                  description: If this key is a checkbox use this field.
                value:
                  type: string
                  example: PO Number
                  description: Use this field when key is a text value.
              required:
                - isEnabled
      tags:
        - store-config
      x-internal: true
  /store-configs/notifications-email:
    put:
      summary: Update Store Config Notification Email
      operationId: put-store-configs-notifications-email
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      email:
                        type: string
                        minLength: 1
                    required:
                      - email
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      email: kido.zhao@bundleb2b.net
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      email: example@example.com
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - email
      description: Update Store Config Notification Email
      tags:
        - store-config
      x-internal: true
  /store-configs/email/configs:
    put:
      summary: Update store custom email server
      operationId: put-store-configs-email-configs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  verifyOrSubmit: '0'
                  emailConfigs:
                    smtpServer: mail.s482.sureserver.com
                    port: '587'
                    security: 1
                    username: hannah.qi@bundleb2b.net
                    password: jeidiamohsutohn
              properties:
                verifyOrSubmit:
                  type: string
                  minLength: 1
                emailConfigs:
                  type: object
                  required:
                    - smtpServer
                    - port
                    - security
                    - username
                    - password
                  properties:
                    smtpServer:
                      type: string
                      minLength: 1
                    port:
                      type: string
                      minLength: 1
                    security:
                      type: integer
                      description: 'use tls and ssl(0=No, 1=Yes)'
                    username:
                      type: string
                      minLength: 1
                    password:
                      type: string
                      minLength: 1
              required:
                - verifyOrSubmit
                - emailConfigs
            examples: {}
      description: Update store custom email server
      tags:
        - store-config
      x-internal: true
  /store-configs/email/templates:
    put:
      summary: Update store custom email templates
      operationId: put-store-configs-email-templates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      description: Update store custom email templates
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  content: '<p>Dear Customer,</p><p><span style="font-size: 1em;">To view the status and details of your quote, please visit: {quote_details_url}</span><br/></p><p><span style="font-size: 1em;">Thanks,</span><br/></p><p><b></b><br/></p>'
                  type: 3
              properties:
                content:
                  type: string
                  minLength: 1
                  description: Email template content
                type:
                  default: 3
                  description: 'email type(0=customer_welcome_email, 1=customer_invited_email, 2=customer_pending_email, 3=quote_detail_email)'
                  type: integer
              required:
                - content
                - type
            examples: {}
      tags:
        - store-config
      x-internal: true
  /store-configs:
    get:
      summary: Get Store Configs
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      switchStatus:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - id
                            - key
                            - isEnabled
                          properties:
                            id:
                              type: string
                              minLength: 1
                            key:
                              type: string
                              minLength: 1
                            isEnabled:
                              type: string
                              minLength: 1
                      notificationsEmailTo:
                        type: string
                        minLength: 1
                      defaultPriceList:
                        type: object
                        properties:
                          pricelistId:
                            type: string
                            minLength: 1
                          pricelistName:
                            type: string
                            minLength: 1
                        required:
                          - pricelistId
                          - pricelistName
                      priceList:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - pricelistId
                            - pricelistName
                          properties:
                            pricelistId:
                              type: number
                            pricelistName:
                              type: string
                              minLength: 1
                      defaultPaymentMethods:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - id
                            - paymentCode
                            - paymentTitle
                          properties:
                            id:
                              type: number
                            paymentCode:
                              type: string
                              minLength: 1
                            paymentTitle:
                              type: string
                              minLength: 1
                      defaultInnerSalesRep:
                        type: object
                        properties: {}
                        required: []
                      appClientId:
                        type: string
                        minLength: 1
                      listItemNum:
                        type: number
                      emailConfigs:
                        type: object
                        properties:
                          smtpServer:
                            type: string
                            minLength: 1
                          port:
                            type: string
                            minLength: 1
                          security:
                            type: number
                          username:
                            type: string
                            minLength: 1
                          password:
                            type: string
                            minLength: 1
                          configId:
                            type: number
                          isEnabled:
                            type: string
                            minLength: 1
                        required:
                          - smtpServer
                          - port
                          - security
                          - username
                          - password
                          - configId
                          - isEnabled
                      emailTemplates:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - title
                            - content
                            - type
                            - configId
                            - isEnabled
                          properties:
                            title:
                              type: string
                              minLength: 1
                            content:
                              type: string
                              minLength: 1
                            type:
                              type: number
                            configId:
                              type: number
                            isEnabled:
                              type: string
                              minLength: 1
                    required:
                      - switchStatus
                      - notificationsEmailTo
                      - defaultPriceList
                      - priceList
                      - defaultPaymentMethods
                      - defaultInnerSalesRep
                      - appClientId
                      - listItemNum
                      - emailConfigs
                      - emailTemplates
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: 成功
                    data:
                      switchStatus:
                        - id: '2'
                          key: interval_quantity
                          isEnabled: '0'
                        - id: '75'
                          key: quote_for_guest
                          isEnabled: '0'
                        - id: '102'
                          key: invite_user_email_notice
                          isEnabled: '1'
                        - id: '1'
                          key: email_notifications
                          isEnabled: '1'
                        - id: '29'
                          key: open_expiration_notice
                          isEnabled: '0'
                        - id: '8'
                          key: address_sales_rep
                          isEnabled: '1'
                        - id: '6'
                          key: address_book
                          isEnabled: '1'
                        - id: '52'
                          key: create_user_email_notice
                          isEnabled: '1'
                        - id: '78'
                          key: quote_sales_rep_creation
                          isEnabled: '1'
                        - id: '73'
                          key: quote_on_product_page
                          isEnabled: '1'
                        - id: '62'
                          key: backend_permissions
                          isEnabled: '1'
                        - id: '68'
                          key: import_convert_company_order
                          isEnabled: '1'
                        - id: '33'
                          key: open_integration
                          isEnabled: '0'
                        - id: '77'
                          key: quote_sales_rep_visibility
                          isEnabled: '0'
                        - id: '19'
                          key: company_auto_approval
                          isEnabled: '0'
                        - id: '71'
                          key: inner_sales_rep
                          isEnabled: '1'
                        - id: '76'
                          key: quote_for_individual_customer
                          isEnabled: '1'
                        - id: '72'
                          key: quote_customer
                          isEnabled: '0'
                        - id: '54'
                          key: quote_auto_approval
                          isEnabled: '0'
                        - id: '12'
                          key: quotes
                          isEnabled: '1'
                        - id: '104'
                          key: use_external_email_config
                          isEnabled: '1'
                        - id: '103'
                          key: shopping_list_approved_notifications
                          isEnabled: '1'
                        - id: '90'
                          key: shopping_list_notifications
                          isEnabled: '1'
                        - id: '7'
                          key: address_admin
                          isEnabled: '1'
                        - id: '74'
                          key: quote_on_cart_page
                          isEnabled: '0'
                      notificationsEmailTo: kido.zhao@bundleb2b.net
                      defaultPriceList:
                        pricelistId: '13'
                        pricelistName: price test 1
                      priceList:
                        - pricelistId: 1
                          pricelistName: Wholesale001
                        - pricelistId: 2
                          pricelistName: allenB2b
                        - pricelistId: 5
                          pricelistName: test
                        - pricelistId: 6
                          pricelistName: s-test1 pricelist
                        - pricelistId: 7
                          pricelistName: Wholesale0011
                        - pricelistId: 8
                          pricelistName: allenB2b1
                        - pricelistId: 9
                          pricelistName: test1
                        - pricelistId: 10
                          pricelistName: s-test1 pricelist1
                        - pricelistId: 11
                          pricelistName: Wholesale group
                        - pricelistId: 13
                          pricelistName: price test 1
                        - pricelistId: 14
                          pricelistName: sdg
                        - pricelistId: 15
                          pricelistName: newtest1
                        - pricelistId: 16
                          pricelistName: price list1
                      defaultPaymentMethods:
                        - id: 39
                          paymentCode: bankdeposit
                          paymentTitle: Bank Deposit
                        - id: 43
                          paymentCode: cheque
                          paymentTitle: Check
                        - id: 52
                          paymentCode: moneyorder
                          paymentTitle: Money Order
                      defaultInnerSalesRep: {}
                      appClientId: npjs1ubfnbxqqhmjxazbfy0cosfq4s4
                      listItemNum: 26
                      emailConfigs:
                        smtpServer: smtp.163.com
                        port: '465'
                        security: 0
                        username: liumaosen100@163.com
                        password: NAVBCEPHKAWYCWOK
                        configId: 104
                        isEnabled: '1'
                      emailTemplates:
                        - title: You Have Received a Shopping List Approval Request
                          content: '<p>Hello,</p><br><p><font>{submitter_name}</font> has submitted a new shopping list for approval.&nbsp;</p><p>Please note,&nbsp;<span style="">this shopping list will be on hold until you or another admin user has approved it for processing.</span></p><br><p>Please use the link below to log in:</p><br><p><a href="{shoppinglist_url}"><font>LOG IN</font><span></span></a></p><br><p>Thanks!</p><p>The {store_name} Team</p>'
                          type: 4
                          configId: 90
                          isEnabled: '1'
                        - title: 'The Status of Your Shopping List {shoppinglist_name} Has Been Updated'
                          content: '<p>Hello {submitter_name},</p><br><p>The status of your shopping list {shoppinglist_name} has been updated.</p><br><p>Please use the link below to login and review your shopping list:</p><br><p><a href="{shoppinglist_url}">LOG IN</a></p><br><p>Thanks!</p><p>The {store_name} Team</p>'
                          type: 5
                          configId: 103
                          isEnabled: '1'
                        - title: '{inviter_name} Has Invited You to Join Their {store_name} Business Account'
                          content: '<p>Hi {newuser_email},</p><br><p>{inviter_name} from {company_name} would like you to join their {store_name} Business Account.</p><br><p>Here is your account email address: {newuser_email}.</p><p>Log into your business account at&nbsp;<a href="{store_login_url}">store</a> using your email address and password.</p><br><p>If you do not already have a password you will need to request a&nbsp;<a href="{password_reset_url}">password reset</a> using your account email address.</p><br><p>If you cannot see the link above, please copy this URL into your web browser to reset your password:</p><p>{password_reset_url}</p><br><p>We look forward to serving you.</p><br><p>If you think you received this email in error, please disregard.</p>'
                          type: 1
                          configId: 102
                          isEnabled: '1'
                        - title: 'Your {store_name} Quote {quote_number} Has Been Updated'
                          content: '<p>Dear Customer,</p><p><span style="font-size: 1em;">To view the status and details of your quote, please visit: {quote_details_url}</span><br></p><p><span style="font-size: 1em;">Thanks,</span></p>'
                          type: 3
                        - title: 'Your {store_name} Business Account has been generated'
                          content: '<p>Hi <font>{user_email}</font>,</p><br><p>Thank you for signing up for a business account with us.</p><br><p>Here is your account email address: <font>{user_email}</font>.</p><p>Log into your business account at&nbsp;<a href="{store_login_url}">store</a> using your email address and password.</p><br><p>If you do not already have a password, you will need to request a&nbsp;<a href="{password_reset_url}">password reset</a> using your account email address.</p><br><p>If you cannot see the link above, please copy this URL into your web browser to reset your password:</p><p><font>{password_reset_url}</font></p><br><p>We look forward to serving you.</p><br><p>If you think you received this email in error, please disregard.</p>'
                          type: 0
                          configId: 52
                          isEnabled: '1'
              examples:
                example-1:
                  value:
                    code: 200
                    message: 成功
                    data:
                      switchStatus:
                        - id: '2'
                          key: interval_quantity
                          isEnabled: '0'
                        - id: '75'
                          key: quote_for_guest
                          isEnabled: '0'
                        - id: '102'
                          key: invite_user_email_notice
                          isEnabled: '1'
                        - id: '1'
                          key: email_notifications
                          isEnabled: '1'
                        - id: '29'
                          key: open_expiration_notice
                          isEnabled: '0'
                        - id: '8'
                          key: address_sales_rep
                          isEnabled: '1'
                        - id: '6'
                          key: address_book
                          isEnabled: '1'
                        - id: '52'
                          key: create_user_email_notice
                          isEnabled: '1'
                        - id: '78'
                          key: quote_sales_rep_creation
                          isEnabled: '1'
                        - id: '73'
                          key: quote_on_product_page
                          isEnabled: '1'
                        - id: '62'
                          key: backend_permissions
                          isEnabled: '1'
                        - id: '68'
                          key: import_convert_company_order
                          isEnabled: '1'
                        - id: '33'
                          key: open_integration
                          isEnabled: '0'
                        - id: '77'
                          key: quote_sales_rep_visibility
                          isEnabled: '0'
                        - id: '19'
                          key: company_auto_approval
                          isEnabled: '0'
                        - id: '71'
                          key: inner_sales_rep
                          isEnabled: '1'
                        - id: '76'
                          key: quote_for_individual_customer
                          isEnabled: '1'
                        - id: '72'
                          key: quote_customer
                          isEnabled: '0'
                        - id: '54'
                          key: quote_auto_approval
                          isEnabled: '0'
                        - id: '12'
                          key: quotes
                          isEnabled: '1'
                        - id: '104'
                          key: use_external_email_config
                          isEnabled: '1'
                        - id: '103'
                          key: shopping_list_approved_notifications
                          isEnabled: '1'
                        - id: '90'
                          key: shopping_list_notifications
                          isEnabled: '1'
                        - id: '7'
                          key: address_admin
                          isEnabled: '1'
                        - id: '74'
                          key: quote_on_cart_page
                          isEnabled: '0'
                      notificationsEmailTo: kido.zhao@bundleb2b.net
                      defaultPriceList:
                        pricelistId: '13'
                        pricelistName: price test 1
                      priceList:
                        - pricelistId: 1
                          pricelistName: Wholesale001
                        - pricelistId: 2
                          pricelistName: allenB2b
                        - pricelistId: 5
                          pricelistName: test
                        - pricelistId: 6
                          pricelistName: s-test1 pricelist
                        - pricelistId: 7
                          pricelistName: Wholesale0011
                        - pricelistId: 8
                          pricelistName: allenB2b1
                        - pricelistId: 9
                          pricelistName: test1
                        - pricelistId: 10
                          pricelistName: s-test1 pricelist1
                        - pricelistId: 11
                          pricelistName: Wholesale group
                        - pricelistId: 13
                          pricelistName: price test 1
                        - pricelistId: 14
                          pricelistName: sdg
                        - pricelistId: 15
                          pricelistName: newtest1
                        - pricelistId: 16
                          pricelistName: price list1
                      defaultPaymentMethods:
                        - id: 39
                          paymentCode: bankdeposit
                          paymentTitle: Bank Deposit
                        - id: 43
                          paymentCode: cheque
                          paymentTitle: Check
                        - id: 52
                          paymentCode: moneyorder
                          paymentTitle: Money Order
                      defaultInnerSalesRep: {}
                      appClientId: npjs1ubfnbxqqhmjxazbfy0cosfq4s4
                      listItemNum: 26
                      emailConfigs:
                        smtpServer: smtp.163.com
                        port: '465'
                        security: 0
                        username: liumaosen100@163.com
                        password: NAVBCEPHKAWYCWOK
                        configId: 104
                        isEnabled: '1'
                      emailTemplates:
                        - title: You Have Received a Shopping List Approval Request
                          content: '<p>Hello,</p><br><p><font>{submitter_name}</font> has submitted a new shopping list for approval.&nbsp;</p><p>Please note,&nbsp;<span style="">this shopping list will be on hold until you or another admin user has approved it for processing.</span></p><br><p>Please use the link below to log in:</p><br><p><a href="{shoppinglist_url}"><font>LOG IN</font><span></span></a></p><br><p>Thanks!</p><p>The {store_name} Team</p>'
                          type: 4
                          configId: 90
                          isEnabled: '1'
                        - title: 'The Status of Your Shopping List {shoppinglist_name} Has Been Updated'
                          content: '<p>Hello {submitter_name},</p><br><p>The status of your shopping list {shoppinglist_name} has been updated.</p><br><p>Please use the link below to login and review your shopping list:</p><br><p><a href="{shoppinglist_url}">LOG IN</a></p><br><p>Thanks!</p><p>The {store_name} Team</p>'
                          type: 5
                          configId: 103
                          isEnabled: '1'
                        - title: '{inviter_name} Has Invited You to Join Their {store_name} Business Account'
                          content: '<p>Hi {newuser_email},</p><br><p>{inviter_name} from {company_name} would like you to join their {store_name} Business Account.</p><br><p>Here is your account email address: {newuser_email}.</p><p>Log into your business account at&nbsp;<a href="{store_login_url}">store</a> using your email address and password.</p><br><p>If you do not already have a password you will need to request a&nbsp;<a href="{password_reset_url}">password reset</a> using your account email address.</p><br><p>If you cannot see the link above, please copy this URL into your web browser to reset your password:</p><p>{password_reset_url}</p><br><p>We look forward to serving you.</p><br><p>If you think you received this email in error, please disregard.</p>'
                          type: 1
                          configId: 102
                          isEnabled: '1'
                        - title: 'Your {store_name} Quote {quote_number} Has Been Updated'
                          content: '<p>Dear Customer,</p><p><span style="font-size: 1em;">To view the status and details of your quote, please visit: {quote_details_url}</span><br></p><p><span style="font-size: 1em;">Thanks,</span></p>'
                          type: 3
                        - title: 'Your {store_name} Business Account has been generated'
                          content: '<p>Hi <font>{user_email}</font>,</p><br><p>Thank you for signing up for a business account with us.</p><br><p>Here is your account email address: <font>{user_email}</font>.</p><p>Log into your business account at&nbsp;<a href="{store_login_url}">store</a> using your email address and password.</p><br><p>If you do not already have a password, you will need to request a&nbsp;<a href="{password_reset_url}">password reset</a> using your account email address.</p><br><p>If you cannot see the link above, please copy this URL into your web browser to reset your password:</p><p><font>{password_reset_url}</font></p><br><p>We look forward to serving you.</p><br><p>If you think you received this email in error, please disregard.</p>'
                          type: 0
                          configId: 52
                          isEnabled: '1'
      operationId: get-store-configs
      description: Get configs of this store.
      parameters: []
      security:
        - authToken: []
      x-internal: true
  /store-configs/checkout:
    get:
      summary: Get Checkout Config of Store
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      checkoutShippingAllowNewAddress:
                        type: object
                        properties:
                          id:
                            type: number
                          value:
                            type: string
                            minLength: 1
                          type:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - value
                          - type
                      checkoutShippingAllowSaveAddress:
                        type: object
                        properties:
                          id:
                            type: number
                          value:
                            type: string
                            minLength: 1
                          type:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - value
                          - type
                      checkoutShippingAllowSameAddress:
                        type: object
                        properties:
                          id:
                            type: number
                          value:
                            type: string
                            minLength: 1
                          type:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - value
                          - type
                      checkoutBillingAllowNewAddress:
                        type: object
                        properties:
                          id:
                            type: number
                          value:
                            type: string
                            minLength: 1
                          type:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - value
                          - type
                      checkoutBillingAllowSaveAddress:
                        type: object
                        properties:
                          id:
                            type: number
                          value:
                            type: string
                            minLength: 1
                          type:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - value
                          - type
                      checkoutPaymentPurchaseEnableExtra:
                        type: object
                        properties:
                          id:
                            type: number
                          value:
                            type: string
                            minLength: 1
                          type:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - value
                          - type
                      checkoutPaymentPurchaseExtraFields:
                        type: object
                        properties:
                          id:
                            type: number
                          value:
                            type: string
                            minLength: 1
                          type:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - value
                          - type
                      checkoutPaymentPurchaseExtraFieldsRequired:
                        type: object
                        properties:
                          id:
                            type: number
                          value:
                            type: string
                            minLength: 1
                          type:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - value
                          - type
                      checkoutPaymentAdditionalEnableExtra:
                        type: object
                        properties:
                          id:
                            type: number
                          value:
                            type: string
                            minLength: 1
                          type:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - value
                          - type
                      checkoutPaymentAdditionalExtraFields:
                        type: object
                        properties:
                          id:
                            type: number
                          value:
                            type: string
                            minLength: 1
                          type:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - value
                          - type
                      checkoutPaymentAdditionalExtraFieldsRequired:
                        type: object
                        properties:
                          id:
                            type: number
                          value:
                            type: string
                            minLength: 1
                          type:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - value
                          - type
                    required:
                      - checkoutShippingAllowNewAddress
                      - checkoutShippingAllowSaveAddress
                      - checkoutShippingAllowSameAddress
                      - checkoutBillingAllowNewAddress
                      - checkoutBillingAllowSaveAddress
                      - checkoutPaymentPurchaseEnableExtra
                      - checkoutPaymentPurchaseExtraFields
                      - checkoutPaymentPurchaseExtraFieldsRequired
                      - checkoutPaymentAdditionalEnableExtra
                      - checkoutPaymentAdditionalExtraFields
                      - checkoutPaymentAdditionalExtraFieldsRequired
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: 成功
                    data:
                      checkoutShippingAllowNewAddress:
                        id: 91
                        value: '1'
                        type: checkbox
                      checkoutShippingAllowSaveAddress:
                        id: 92
                        value: '1'
                        type: checkbox
                      checkoutShippingAllowSameAddress:
                        id: 93
                        value: '1'
                        type: checkbox
                      checkoutBillingAllowNewAddress:
                        id: 94
                        value: '1'
                        type: checkbox
                      checkoutBillingAllowSaveAddress:
                        id: 95
                        value: '1'
                        type: checkbox
                      checkoutPaymentPurchaseEnableExtra:
                        id: 96
                        value: '1'
                        type: checkbox
                      checkoutPaymentPurchaseExtraFields:
                        id: 97
                        value: PO Number / Reference Number 1
                        type: text
                      checkoutPaymentPurchaseExtraFieldsRequired:
                        id: 98
                        value: '1'
                        type: checkbox
                      checkoutPaymentAdditionalEnableExtra:
                        id: 99
                        value: '1'
                        type: checkbox
                      checkoutPaymentAdditionalExtraFields:
                        id: 100
                        value: Reference Number 2
                        type: text
                      checkoutPaymentAdditionalExtraFieldsRequired:
                        id: 101
                        value: '1'
                        type: checkbox
              examples:
                example-1:
                  value:
                    code: 200
                    message: 成功
                    data:
                      checkoutShippingAllowNewAddress:
                        id: 91
                        value: '1'
                        type: checkbox
                      checkoutShippingAllowSaveAddress:
                        id: 92
                        value: '1'
                        type: checkbox
                      checkoutShippingAllowSameAddress:
                        id: 93
                        value: '1'
                        type: checkbox
                      checkoutBillingAllowNewAddress:
                        id: 94
                        value: '1'
                        type: checkbox
                      checkoutBillingAllowSaveAddress:
                        id: 95
                        value: '1'
                        type: checkbox
                      checkoutPaymentPurchaseEnableExtra:
                        id: 96
                        value: '1'
                        type: checkbox
                      checkoutPaymentPurchaseExtraFields:
                        id: 97
                        value: PO Number / Reference Number 1
                        type: text
                      checkoutPaymentPurchaseExtraFieldsRequired:
                        id: 98
                        value: '1'
                        type: checkbox
                      checkoutPaymentAdditionalEnableExtra:
                        id: 99
                        value: '1'
                        type: checkbox
                      checkoutPaymentAdditionalExtraFields:
                        id: 100
                        value: Reference Number 2
                        type: text
                      checkoutPaymentAdditionalExtraFieldsRequired:
                        id: 101
                        value: '1'
                        type: checkbox
      operationId: get-store-configs-checkout
      description: Get checkout config setting of the store.
      security:
        - authToken: []
      x-internal: true
components:
  schemas: {}
  securitySchemes:
    authToken:
      name: authToken
      type: apiKey
      in: header
security:
  - authToken: []
tags:
  - name: store-config
x-internal: true
