openapi: '3.0.0'
info:
  title: webhooks
  version: '1.0'
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v2'
paths:
  /webhooks/orders:
    post:
      summary: Receiving and disposing web hook data
      operationId: post-webhooks-orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - quoteId: 198
                          quoteNumber: QN000198
                          referenceNumber: ''
                          quoteTitle: ''
                          createdBy: Hannah Admin330
                          company: CharlesCo
                          salesRep: ''
                          createdAt: 1622619765
                          updatedAt: 1622619765
                          expiredAt: ''
                          subtotal: 45.95
                          status: 0
                          currency:
                            token: ¥
                            location: left
                            currencyCode: USD
                            decimalToken: .
                            decimalPlaces: 2
                            thousandsToken: ','
                            currencyExchangeRate: 1
                          bcOrderId: ''
                          orderId: ''
                        - quoteId: 197
                          quoteNumber: QN000197
                          referenceNumber: ''
                          quoteTitle: ''
                          createdBy: Hannah Admin330
                          company: CharlesCo
                          salesRep: ''
                          createdAt: 1622619710
                          updatedAt: 1622619710
                          expiredAt: ''
                          subtotal: 45.95
                          status: 0
                          currency:
                            token: ¥
                            location: left
                            currencyCode: USD
                            decimalToken: .
                            decimalPlaces: 2
                            thousandsToken: ','
                            currencyExchangeRate: 1
                          bcOrderId: ''
                          orderId: ''
                        - quoteId: 196
                          quoteNumber: QN000196
                          referenceNumber: ''
                          quoteTitle: ''
                          createdBy: Hannah Admin330
                          company: CharlesCo
                          salesRep: ''
                          createdAt: 1622619698
                          updatedAt: 1622619698
                          expiredAt: ''
                          subtotal: 45.95
                          status: 0
                          currency:
                            token: ¥
                            location: left
                            currencyCode: USD
                            decimalToken: .
                            decimalPlaces: 2
                            thousandsToken: ','
                            currencyExchangeRate: 1
                          bcOrderId: ''
                          orderId: ''
                        - quoteId: 195
                          quoteNumber: QN000195
                          referenceNumber: ''
                          quoteTitle: ''
                          createdBy: Kido Zhao
                          company: levi-test
                          salesRep: Kido Zhao
                          createdAt: 1622618606
                          updatedAt: 1622626110
                          expiredAt: 1622717999
                          subtotal: 45.95
                          status: 4
                          currency:
                            token: ¥
                            location: left
                            currencyCode: USD
                            decimalToken: .
                            decimalPlaces: 2
                            thousandsToken: ','
                            currencyExchangeRate: 1
                          bcOrderId: 396
                          orderId: 226
                        - quoteId: 194
                          quoteNumber: QN000194
                          referenceNumber: ''
                          quoteTitle: test
                          createdBy: Hannah Admin330
                          company: CharlesCo
                          salesRep: ''
                          createdAt: 1622617428
                          updatedAt: 1622617428
                          expiredAt: ''
                          subtotal: 100
                          status: 0
                          currency:
                            token: ¥
                            location: left
                            currencyCode: USD
                            decimalToken: .
                            decimalPlaces: 2
                            thousandsToken: ','
                            currencyExchangeRate: 1
                          bcOrderId: ''
                          orderId: ''
                        - quoteId: 193
                          quoteNumber: QN000193
                          referenceNumber: ''
                          quoteTitle: ''
                          createdBy: Hannah Admin330
                          company: CharlesCo
                          salesRep: ''
                          createdAt: 1622616667
                          updatedAt: 1622616667
                          expiredAt: ''
                          subtotal: 45.95
                          status: 0
                          currency:
                            token: ¥
                            location: left
                            currencyCode: USD
                            decimalToken: .
                            decimalPlaces: 2
                            thousandsToken: ','
                            currencyExchangeRate: 1
                          bcOrderId: ''
                          orderId: ''
                        - quoteId: 192
                          quoteNumber: QN000192
                          referenceNumber: ''
                          quoteTitle: ''
                          createdBy: Hannah Admin330
                          company: CharlesCo
                          salesRep: ''
                          createdAt: 1622616377
                          updatedAt: 1622616377
                          expiredAt: ''
                          subtotal: 45.95
                          status: 0
                          currency:
                            token: ¥
                            location: left
                            currencyCode: USD
                            decimalToken: .
                            decimalPlaces: 2
                            thousandsToken: ','
                            currencyExchangeRate: 1
                          bcOrderId: ''
                          orderId: ''
                        - quoteId: 191
                          quoteNumber: QN000191
                          referenceNumber: ''
                          quoteTitle: ''
                          createdBy: wesley.sale song
                          company: wdawd
                          salesRep: ''
                          createdAt: 1622169388
                          updatedAt: 1622169388
                          expiredAt: ''
                          subtotal: 119.95
                          status: 0
                          currency:
                            token: ¥
                            location: left
                            currencyCode: CNY
                            decimalToken: .
                            decimalPlaces: 2
                            thousandsToken: ','
                            currencyExchangeRate: '1.0000000000'
                          bcOrderId: ''
                          orderId: ''
                        - quoteId: 190
                          quoteNumber: QN000190
                          referenceNumber: ''
                          quoteTitle: ''
                          createdBy: wesley.sale song
                          company: wdawd
                          salesRep: ''
                          createdAt: 1622169374
                          updatedAt: 1622169374
                          expiredAt: ''
                          subtotal: 119.95
                          status: 0
                          currency:
                            token: ¥
                            location: left
                            currencyCode: CNY
                            decimalToken: .
                            decimalPlaces: 2
                            thousandsToken: ','
                            currencyExchangeRate: '1.0000000000'
                          bcOrderId: ''
                          orderId: ''
                        - quoteId: 189
                          quoteNumber: QN000189
                          referenceNumber: ''
                          quoteTitle: ''
                          createdBy: wesley.sale song
                          company: wdawd
                          salesRep: ''
                          createdAt: 1622169366
                          updatedAt: 1622169366
                          expiredAt: ''
                          subtotal: 119.95
                          status: 0
                          currency:
                            token: ¥
                            location: left
                            currencyCode: CNY
                            decimalToken: .
                            decimalPlaces: 2
                            thousandsToken: ','
                            currencyExchangeRate: '1.0000000000'
                          bcOrderId: ''
                          orderId: ''
                      pagination:
                        totalCount: 186
                        offset: 0
                        limit: 10
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                required:
                  - code
                  - message
                  - data
              examples: {}
      description: Receiving and disposing web hook data
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                scope:
                  type: string
                producer:
                  type: string
      tags:
        - webhooks
      x-internal: true
  /webhooks/customers:
    post:
      summary: Receiving and disposing customer web hook data
      operationId: post-webhooks-customers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  scope: store/customer/created
                  store_id: '1025646'
                  data:
                    type: customer
                    id: 32
                  hash: 8768ab15aa86c6d73c7e4c3efbaee072110ad1d2
                  created_at: 1561481571
                  producer: 'stores/{store_hash}'
              properties:
                scope:
                  type: string
                  minLength: 1
                data:
                  type: object
                  required:
                    - id
                  properties:
                    id:
                      type: number
                producer:
                  type: string
                  minLength: 1
              required:
                - scope
                - data
                - producer
      description: Receiving and disposing customer web hook data
      tags:
        - webhooks
      x-internal: true
  /webhooks/register:
    post:
      summary: Register web hooks events
      operationId: post-webhooks-register
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      description: Register web hooks events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: string
                destination:
                  type: string
              required:
                - scope
                - destination
      tags:
        - webhooks
      x-internal: true
components:
  schemas: {}
  securitySchemes:
    authToken:
      name: authToken
      type: apiKey
      in: header
security:
  - authToken: []
tags:
  - name: webhooks
x-internal: true
