openapi: '3.0.0'
info:
  title: Address
  version: v3
  description: BigCommerce B2B Edition Address
  contact:
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
    email: support@bigcommerce.com
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v3/io'
paths:
  /countries:
    parameters: []
    get:
      summary: Get Countries
      tags:
        - Address
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    data:
                      - countryCode: US
                        countryName: United States
                    meta:
                      message: SUCCESS
                properties:
                  code:
                    type: number
                  data:
                    required:
                      - countryCode
                      - countryName
                    type: object
                    properties:
                      countryCode:
                        type: string
                        minLength: 1
                      countryName:
                        type: string
                        minLength: 1
                  meta:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: string
                        minLength: 1
                required:
                  - code
                  - data
                  - meta
              examples:
                example-1:
                  value:
                    code: 200
                    data:
                      countryCode: US
                      countryName: United States
                    meta:
                      message: SUCCESS
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - code
                  - data
                  - meta
                x-examples:
                  example-1:
                    code: 404
                    data: {}
                    meta:
                      message: Resource not found
              examples:
                example-1:
                  value:
                    code: 404
                    data: {}
                    meta:
                      message: Resource not found
      operationId: get-addresses-countries-countryName-code
      description: Get a country's info from its code/name.
      parameters:
        - schema:
            type: string
            enum:
              - '0'
              - '1'
            default: '0'
            example: '0'
          in: query
          name: searchType
          description: 'The search type, 0: Get the country code from the input country name; 1: Get the country name from the input country code.'
          required: true
        - schema:
            type: string
            example: US (the searchType should be 1);  United States (the searchType should be 0)
          in: query
          name: q
          description: Input country name/code
          required: true
      security:
        - authToken: []
  /states:
    parameters: []
    get:
      summary: Get States
      tags:
        - Address
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    data:
                      - stateCode: TX
                        stateName: Texas
                    meta:
                      message: SUCCESS
                properties:
                  code:
                    type: number
                  data:
                    type: object
                    required:
                      - stateCode
                      - stateName
                    properties:
                      stateCode:
                        type: string
                        minLength: 1
                      stateName:
                        type: string
                        minLength: 1
                  meta:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: string
                        minLength: 1
                required:
                  - code
                  - data
                  - meta
              examples:
                Get states success:
                  value:
                    code: 200
                    data:
                      stateCode: TX
                      stateName: Texas
                    meta:
                      message: SUCCESS
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - code
                  - data
                  - meta
                x-examples:
                  example-1:
                    code: 404
                    data: {}
                    meta:
                      message: Resource not found
              examples:
                Resource not found:
                  value:
                    code: 404
                    data: {}
                    meta:
                      message: Please enter a valid state name or state abbreviation for the country.
      operationId: get-addresses-states-stateName-code
      description: Get a state's info from its code/name.
      security:
        - authToken: []
      parameters:
        - schema:
            type: string
            enum:
              - '0'
              - '1'
            default: '0'
            example: '0'
          in: query
          name: searchType
          description: 'The search type, 0: Get the state code from the input state name; 1: Get the state name from the input state code.'
          required: true
        - schema:
            type: string
            example: TX (the searchType should be 1);  Texas (the searchType should be 0)
          in: query
          name: q
          description: Input state name/code
          required: true
        - schema:
            type: string
            example: 'US(the  searchType should be 1), United States(the searchType should be 0)'
            default: US / United States
          in: query
          name: country
          description: 'Country code or name,it should correspond to the search type you have chosen.'
  /addresses:
    get:
      summary: Get addresses
      tags:
        - Address
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/address/address.yaml
                  meta:
                    type: object
                    required:
                      - message
                      - pagination
                    properties:
                      message:
                        type: string
                        minLength: 1
                      pagination:
                        type: object
                        required:
                          - limit
                          - offset
                          - totalCount
                        properties:
                          limit:
                            type: number
                          offset:
                            type: number
                          totalCount:
                            type: number
                required:
                  - code
                  - data
                  - meta
               x-examples:
                  example-1:
                    code: 200
                    data:
                      - addressId: '6'
                        addressLine1: 123 Main Street
                        addressLine2: Blvd
                        city: Austin
                        country:
                          countryCode: US
                          countryName: United States
                        firstName: Jane
                        isBilling: true
                        isDefaultBilling: true
                        isDefaultShipping: true
                        isShipping: true
                        lastName: Doe
                        phoneNumber: '11111111111'
                        state:
                          stateCode: TX
                          stateName: Texas
                        zipCode: '78751'
                    meta:
                      message: SUCCESS
                      pagination:
                        limit: 1
                        offset: 1
                        totalCount: 989
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    data: {}
                    meta:
                      message: Resource not found
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: string
                        minLength: 1
                required:
                  - code
                  - data
                  - meta
              examples:
                example-1:
                  value:
                    code: 404
                    data: {}
                    meta:
                      message: Resource not found
      operationId: get-companies
      description: Get an addresses
      security:
        - authToken: []
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - name: minModified
          in: query
          description: Minimum modified timestamp
          allowEmptyValue: true
          schema:
            type: number
            format: time
        - name: maxModified
          in: query
          description: Maximum modified timestamp
          allowEmptyValue: true
          schema:
            type: number
        - name: minCreated
          in: query
          description: Minimum created timestamp
          allowEmptyValue: true
          schema:
            type: number
        - name: maxCreated
          in: query
          description: Maximum created timestamp
          allowEmptyValue: true
          schema:
            type: number
        - schema:
            type: integer
            example: 12
          in: query
          name: companyId
          description: Company ID
        - schema:
            type: boolean
          in: query
          name: isBilling
        - schema:
            type: boolean
          in: query
          name: isShipping
        - schema:
            type: string
            default: '0'
            enum:
              - '0'
              - '1'
          in: query
          name: isIncludeExtraFields
          description: Is show extra fields in the response.
        - schema:
            type: string
          in: query
          name: firstName
          description: Address first name filter
        - schema:
            type: string
          in: query
          name: lastName
          description: Address last name filter
        - schema:
            type: string
          in: query
          name: address
          description: Address address filter
        - schema:
            type: string
          in: query
          name: city
          description: Address city filter
        - schema:
            type: string
          in: query
          name: country
          description: Address country filter
        - schema:
            type: string
          in: query
          name: state
          description: Address state filter
        - schema:
            type: string
          in: query
          name: zipCode
          description: Address zip code filter
        - schema:
            type: string
          in: query
          name: phoneNumber
          description: Address phone number filter
        - schema:
            type: string
          in: query
          name: 'externalId[]'
          description: External ID filter
    parameters: []
    post:
      summary: Create a Company's Address
      operationId: post-companies-companyId-addresses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    data:
                      addressId: '147340'
                    meta:
                      message: SUCCESS
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    required:
                      - addressId
                    properties:
                      addressId:
                        type: string
                        minLength: 1
                  meta:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: string
                        minLength: 1
                required:
                  - code
                  - data
                  - meta
              examples:
                example-1:
                  value:
                    code: 200
                    data:
                      addressId: '147340'
                    meta:
                      message: SUCCESS
      description: Create a company's address
      requestBody:
        content:
          application/json:
            schema:
              $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/address/address.yaml
            examples: {}
      tags:
        - Address
      security:
        - authToken: []
  '/addresses/{addressId}':
    parameters:
      - schema:
          type: string
        name: addressId
        in: path
        required: true
    get:
      summary: Get an Address
      tags:
        - Address
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    code: 200
                    data:
                      addressId: 6
                      addressLine1: 123 Main Street
                      addressLine2: Blvd
                      city: Austin
                      country:
                        countryCode: US
                        countryName: United States
                      firstName: Jane
                      isBilling: true
                      isDefaultBilling: true
                      isDefaultShipping: true
                      isShipping: true
                      lastName: Doe
                      phoneNumber: '11111111111'
                      state:
                        stateCode: TX
                        stateName: Texas
                      zipCode: '78751'
                      companyId: 12
                    meta:
                      message: SUCCESS
                properties:
                  code:
                    type: number
                  data:
                    $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/address/address.yaml
                  meta:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: string
                        minLength: 1
                required:
                  - code
                  - data
                  - meta
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    data: {}
                    meta:
                      message: Resource not found
                properties:
                  code:
                    type: number
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: string
                        minLength: 1
                required:
                  - code
                  - meta
              examples:
                example-1:
                  value:
                    code: 404
                    data: {}
                    meta:
                      message: Resource not found
      operationId: get-companies-companyId-addresses-addressId
      description: Get an address detail info
      security:
        - authToken: []
    put:
      summary: Update an Address
      operationId: put-companies-companyId-addresses-addressId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  data:
                    type: object
                    properties:
                      addressId:
                        type: string
                        minLength: 1
                    required:
                      - addressId
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - code
                  - data
                  - meta
                x-examples:
                  example-1:
                    code: 200
                    data:
                      addressId: '147340'
                    meta:
                      message: SUCCESS
              examples:
                example-1:
                  value:
                    code: 200
                    data:
                      addressId: '147340'
                    meta:
                      message: SUCCESS
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  example: 1
                  format: int32
                  description: Unique numeric ID of this Address.
                  readOnly: true
                addressLine1:
                  type: string
                  minLength: 1
                  example: 1600 Pennsylvania Avenue NW
                  maxLength: 200
                  description: Address line 1 of the Address Model.
                addressLine2:
                  type: string
                  minLength: 1
                  example: 'Washington, DC 22202'
                  maxLength: 200
                  description: Address line 2 of the Address Model.
                city:
                  type: string
                  minLength: 1
                  example: Austin
                  maxLength: 100
                  description: City of the Address Model.
                firstName:
                  type: string
                  minLength: 1
                  example: Jane
                  maxLength: 100
                  description: First name of the Address Model.
                lastName:
                  type: string
                  minLength: 1
                  example: Doe
                  maxLength: 100
                  description: Last name of the Address Model.
                isBilling:
                  type: boolean
                  description: Is this address use for billing
                isDefaultBilling:
                  type: boolean
                  description: Is default billing address of company
                isDefaultShipping:
                  type: boolean
                  description: Is default shipping address of company
                isShipping:
                  type: boolean
                  description: Is this address use for shipping
                phoneNumber:
                  type: string
                  minLength: 1
                  example: '11111111111'
                  maxLength: 50
                  description: Contact phone number of this address
                zipCode:
                  type: string
                  minLength: 1
                  maxLength: 50
                  example: '78751'
                  description: Zip code
                companyId:
                  type: integer
                  example: 1840
                  description: The company ID of this address owner
                countryName:
                  type: string
                  description: Country name of the Address Model.
                  minLength: 1
                  maxLength: 150
                  example: United States
                countryCode:
                  type: string
                  description: Country code of the Address Model.
                  minLength: 1
                  maxLength: 50
                  example: US
                stateCode:
                  type: string
                  description: State code of the Address Model.
                  example: TX
                  minLength: 1
                  maxLength: 50
                stateName:
                  type: string
                  description: State name of the Address Model.
                  example: Texas
                  minLength: 1
                  maxLength: 150
                label:
                  type: string
                  description: Label of the Address Model
                extraFields:
                  type: array
                  description: Extra fields of the address
                  items:
                    type: object
                    properties:
                      fieldName:
                        type: string
                        description: Field name that config in you store
                      fieldValue:
                        type: string
                        description: Value of the extra field.
                externalId:
                  type: string
            examples:
              example-1:
                value:
                  id: 1
                  addressLine1: string
                  addressLine2: 'Washington, DC 22202'
                  city: Austin
                  firstName: Jane
                  lastName: Doe
                  isBilling: true
                  isDefaultBilling: true
                  isDefaultShipping: true
                  isShipping: true
                  phoneNumber: '11111111111'
                  zipCode: '78751'
                  companyId: 1840
                  countryName: United States
                  countryCode: US
                  stateCode: TX
                  stateName: Texas
                  label: test
                  extraFields: []
                  externalId: '2'
        description: ''
      tags:
        - Address
      description: Update an address attributes
      security:
        - authToken: []
    delete:
      summary: Delete an Address
      operationId: delete-companies-companyId-addresses-addressId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  data:
                    type: object
                    properties:
                      addressId:
                        type: string
                        minLength: 1
                    required:
                      - addressId
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - code
                  - data
                  - meta
                x-examples:
                  example-1:
                    code: 200
                    data:
                      addressId: '147340'
                    meta:
                      message: SUCCESS
              examples:
                example-1:
                  value:
                    code: 200
                    data:
                      addressId: '147340'
                    meta:
                      message: SUCCESS
      tags:
        - Address
      description: Delete an address
      security:
        - authToken: []
  /addresses/bulk:
    post:
      summary: Bulk Create Addresses
      operationId: post-addresses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - code
                  - data
                  - meta
                x-examples:
                  example-1:
                    code: 200
                    data: {}
                    meta:
                      message: SUCCESS
              examples:
                example-1:
                  value:
                    code: 0
                    data: {}
                    meta:
                      message: string
        '400':
          description: 'Bad Request, some addresses created failed'
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: number
                  data:
                    type: object
                    required:
                      - errors
                    properties:
                      errors:
                        minItems: 1
                        uniqueItems: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              minLength: 1
                              type: string
                            _detail:
                              type: string
                          required:
                            - id
                            - _detail
                  meta:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        minLength: 1
                        type: string
                required:
                  - code
                  - data
                  - meta
              examples:
                example-1:
                  value:
                    code: 0
                    data:
                      errors:
                        - id: string
                          _detail: string
                    meta:
                      message: string
            example-1:
              example:
                code: 400
                data:
                  errors:
                    - id: '42'
                      detail: ''
                meta:
                  message: 'Some companies updated failed, you can see these in errors.'
        '404':
          description: The resource was not found.
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 0
                    data:
                      errors:
                        - id: string
                          detail: string
                    meta:
                      message: string
                properties:
                  code:
                    type: number
                  data:
                    type: object
                    required:
                      - errors
                    properties:
                      errors:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              minLength: 1
                            _detail:
                              type: string
                              minLength: 1
                          required:
                            - id
                            - _detail
                  meta:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: string
                        minLength: 1
                required:
                  - code
                  - data
                  - meta
              examples:
                example-1:
                  value:
                    code: 0
                    data:
                      errors:
                        - id: string
                          _detail: string
                    meta:
                      message: string
            example-1:
              example:
                code: 404
                data:
                  errors:
                    - id: '42'
                      detail: ''
                meta:
                  message: 'Some company resources are not found, and the companyIds are in the errors.'
        '409':
          description: Address was in conflict with another address. This is the result of duplicate unique values.
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: number
                  data:
                    type: object
                    required:
                      - errors
                    properties:
                      errors:
                        minItems: 1
                        uniqueItems: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              minLength: 1
                              type: string
                            _detail:
                              type: string
                          required:
                            - id
                            - _detail
                  meta:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        minLength: 1
                        type: string
                required:
                  - code
                  - data
                  - meta
              examples:
                example-1:
                  value:
                    code: 0
                    data:
                      errors:
                        - id: string
                          _detail: string
                    meta:
                      message: string
            example-1:
              example:
                code: 409
                data:
                  errors:
                    - id: '42'
                      detail: ''
                meta:
                  message: Company was in conflict with another company
        '413':
          description: 'Request Entity Too Large. In normal conditions, bulk create or update method support 10 entities in one request.'
          content:
            application/json:
              schema:
                $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/utils/response-413.yaml
              examples:
                example-1:
                  value:
                    code: 413
                    meta:
                      message: Request Entity Too Large
                    data: {}
        '422':
          description: Address was not valid. This is the result of missing required fields or invalid data. See the response for more details.
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 0
                    data:
                      errors:
                        - id: string
                          detail: string
                    meta:
                      message: string
                properties:
                  code:
                    type: number
                  data:
                    type: object
                    required:
                      - errors
                    properties:
                      errors:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          allOf:
                            - type: object
                              properties:
                                id:
                                  type: integer
                                _detail:
                                  type: string
                                  minLength: 1
                              required:
                                - id
                                - _detail
                            - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/address/address.yaml
                  meta:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: string
                        minLength: 1
                required:
                  - code
                  - data
                  - meta
              examples:
                example-1:
                  value:
                    code: 0
                    data:
                      errors:
                        - id: 1
                          _detail: string
                          addressLine1: 1600 Pennsylvania Avenue NW
                          addressLine2: 'Washington, DC 22202'
                          city: Austin
                          country:
                          countryCode: US
                          countryName: United States
                          firstName: Jane
                          lastName: Doe
                          isBilling: true
                          isDefaultBilling: true
                          isDefaultShipping: true
                          isShipping: true
                          phoneNumber: '11111111111'
                          state:
                            stateCode: TX
                            stateName: Texas
                          zipCode: '78751'
                          companyId: "1840"
                    meta:
                      message: string
      tags:
        - Address
      description: Bulk create addresses
      security:
        - authToken: []
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/address/address.yaml
            examples: {}
    parameters: []
  /addresses/extra-fields:
    get:
      summary: Get address extra field configs
      tags:
        - Address
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/utils/response-object.yaml
                  - properties:
                      data:
                        type: array
                        items:
                          $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/extra_fields/extra_fields.yaml
                      meta:
                        $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/utils/pagination.yaml
                    type: object
              examples:
                example-1:
                  value:
                    code: 200
                    data:
                      - id: 1
                        uuid: 2af143b0-3a78-4d16-af42-1f0f9a7bc85a
                        fieldName: fax
                        fieldType: 0
                        isRequired: false
                        isUnique: false
                    meta:
                      message: Success
                      pagination:
                        limit: 10
                        offset: 0
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  data:
                    type: object
                    properties:
                      errMsg:
                        type: string
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
              examples:
                example-1:
                  value:
                    code: 422
                    data:
                      errMsg: A valid integer is required
                    meta:
                      message: Parameter Error
      operationId: get-addresses-extra-fields
      description: Get address extra fields configs
      security:
        - authToken: []
      parameters:
        - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/specs/storefront/storefront.yaml#/components/parameters/offset
        - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/specs/storefront/storefront.yaml#/components/parameters/limit
components:
  parameters:
    limit:
      name: limit
      in: query
      description: 'Pagination limit default: 10'
      allowEmptyValue: true
      schema:
        maximum: 250
        exclusiveMaximum: true
        minimum: 1
        exclusiveMinimum: true
        type: integer
        default: 10
    offset:
      name: offset
      in: query
      description: 'Pagination offset default: 0'
      allowEmptyValue: true
      schema:
        type: integer
        minimum: 0
  schemas: {}
  securitySchemes:
    authToken:
      name: authToken
      description: Required to authenticate requests. Include the token in a header parameter called `authToken`.
      type: apiKey
      in: header
tags:
  - name: Address
