openapi: 3.0.1
info:
  title: Quote
  description: BigCommerce B2B Edition Quote
  contact: {}
  version: v3
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v3/io'
security:
  - authToken: []
tags:
  - name: Quote
    description: Request for Quote.
components:
  securitySchemes:
    authToken:
      name: authToken
      type: apiKey
      in: header
paths:
  /rfq:
    get:
      summary: Get Quote Form List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - quoteId: 195
                          quoteNumber: QN000195
                          referenceNumber: ''
                          quoteTitle: ''
                          createdBy: Kido Zhao
                          company: levi-test
                          salesRep: Kido Zhao
                          createdAt: 1622618606
                          updatedAt: 1622618606
                          expiredAt: 1622717999
                          subtotal: 45.95
                          status: 0
                          currency:
                            token: ¥
                            location: left
                            currencyCode: USD
                            decimalToken: .
                            decimalPlaces: 2
                            thousandsToken: ','
                            currencyExchangeRate: 1
                          bcOrderId: ''
                          orderId: ''
                      pagination:
                        totalCount: 1
                        offset: 0
                        limit: 10
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - list
                      - pagination
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            quoteId:
                              type: number
                            quoteNumber:
                              type: string
                              minLength: 1
                            referenceNumber:
                              type: string
                              description: Reference number of a quote
                            quoteTitle:
                              type: string
                              description: Quote title created by a user
                            createdBy:
                              type: string
                              minLength: 1
                            company:
                              type: string
                              minLength: 1
                            salesRep:
                              type: string
                              minLength: 1
                            createdAt:
                              type: number
                            updatedAt:
                              type: number
                            expiredAt:
                              type: number
                            subtotal:
                              type: number
                              description: Total price
                            status:
                              type: integer
                              description: Status of quote. 0:NEW; 2:IN PROCESS; 3:UPDATED BY CUSTOMER; 4:ORDERED; 5:EXPIRED; 6:ARCHIVED; 7:DRAFT
                            currency:
                              type: object
                              description: Currency information
                              properties:
                                token:
                                  type: string
                                  minLength: 1
                                  description: Currency token
                                location:
                                  type: string
                                  minLength: 1
                                  description: Currency token location
                                currencyCode:
                                  type: string
                                  minLength: 1
                                  description: 'Currency code, ex. USD, CNY'
                                decimalToken:
                                  type: string
                                  minLength: 1
                                  description: Decimal token
                                decimalPlaces:
                                  type: number
                                  description: Number of decimal places
                                currencyExchangeRate:
                                  type: number
                                  description: Exchange rate
                                thousandsToken:
                                  type: string
                                  minLength: 1
                                  description: Thousands token
                              required:
                                - token
                                - location
                                - currencyCode
                                - decimalToken
                                - decimalPlaces
                                - currencyExchangeRate
                                - thousandsToken
                            bcOrderId:
                              type: string
                            orderId:
                              type: string
                            extraFields:
                              type: array
                              description: extra fields of the quote
                              items:
                                type: object
                                properties:
                                  fieldName:
                                    type: string
                                    description: Field name
                                  fieldValue:
                                    type: string
                                    description: Field value
                            channelId:
                              type: integer
                              description: BigCommerce channel id
                            channelName:
                              type: string
                              description: Store Channel name
                          required:
                            - quoteId
                            - quoteNumber
                            - referenceNumber
                            - quoteTitle
                            - createdBy
                            - company
                            - salesRep
                            - createdAt
                            - updatedAt
                            - expiredAt
                            - subtotal
                            - status
                            - bcOrderId
                            - orderId
                      pagination:
                        type: object
                        required:
                          - totalCount
                          - offset
                          - limit
                        properties:
                          totalCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - quoteId: 195
                          quoteNumber: QN000195
                          referenceNumber: ''
                          quoteTitle: ''
                          createdBy: Jo Sweet
                          company: company name
                          salesRep: Jo Sweet
                          createdAt: 1622618606
                          updatedAt: 1622618606
                          expiredAt: 1622717999
                          subtotal: 45.95
                          status: 0
                          currency:
                            token: ¥
                            location: left
                            currencyCode: USD
                            decimalToken: .
                            decimalPlaces: 2
                            thousandsToken: ','
                            currencyExchangeRate: 1
                          bcOrderId: ''
                          orderId: ''
                          extraField:
                            - fieldName: test
                              fieldValue: test
                          channelId: 1
                          channelName: string
                      pagination:
                        totalCount: 1
                        offset: 0
                        limit: 10
      operationId: get-rfq
      parameters:
        - schema:
            type: string
            default: '0'
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
            default: '10'
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
            default: updatedAt
          in: query
          name: sortBy
          description: Sort by desc or asc
        - schema:
            type: string
            default: DESC
          in: query
          name: orderBy
          description: Order by
        - schema:
            type: string
          in: query
          name: q
          description: Query string
        - schema:
            type: string
          in: query
          name: quoteNumber
          description: Quote number
        - schema:
            type: string
          in: query
          name: company
          description: Company ID field
        - schema:
            type: string
          in: query
          name: salesRep
          description: Super Admin ID
        - schema:
            type: integer
            enum:
            - 0
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
          in: query
          name: status
          description: Status of quote. 0:NEW; 2:IN PROCESS; 3:UPDATED BY CUSTOMER; 4:ORDERED; 5:EXPIRED; 6:ARCHIVED; 7:DRAFT
        - schema:
            type: string
          in: query
          name: quoteTitle
          description: Title of quote
        - schema:
            type: string
          in: query
          name: createdBy
          description: Create user name
        - schema:
            type: number
          in: query
          name: maxCreated
          description: Maximum created timestamp
        - schema:
            type: number
          in: query
          name: minCreated
          description: Minimum created timestamp
        - schema:
            type: number
          in: query
          name: maxModified
          description: Maximum modified timestamp
        - schema:
            type: number
          in: query
          name: minModified
          description: Minimum modified timestamp
        - schema:
            type: number
          in: query
          name: maxExpired
          description: Maximum expired timestamp
        - schema:
            type: number
          in: query
          name: minExpired
          description: Minimum expired timestamp
        - schema:
            type: array
          in: query
          name: channelIds
          description: BigCommerce channel ids.
      description: Get quote form list
      tags:
        - Quote
      security:
        - authToken: []
    post:
      summary: Create a Quote Form
      operationId: post-rfq
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      quoteId:
                        type: number
                      quoteUrl:
                        type: string
                        minLength: 1
                    required:
                      - quoteId
                      - quoteUrl
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      quoteId: 195
                      quoteUrl: 'https://sylvia-apptest-store.mybigcommerce.com/quote/?id=195&date=1622618606'
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      quoteId: 195
                      quoteUrl: url
        '201':
          description: Created
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  notes: this is a note
                  legalTerms: for examplde
                  message: test message
                  grandTotal: 45.95
                  discount: 0
                  subtotal: 45.95
                  referenceNumber: ''
                  userEmail: kido.zhao@bundleb2b.net
                  expiredAt: 06/02/2021
                  quoteTitle: ''
                  shippingAddress:
                    country: Argentina
                    state: Mendoza
                    city: AS
                    zipCode: '10013'
                    address: line1
                    apartment: line1
                  contactInfo:
                    name: levi-test-quote
                    email: levi.tuo@silksoftware.com
                    companyName: levi-test
                    phoneNumber: ''
                  companyId: 5716
                  currency:
                    token: ¥
                    location: left
                    decimalToken: .
                    decimalPlaces: 2
                    thousandsToken: ','
                  companyInfo:
                    companyId: 5716
                    companyName: levi-test
                  productList:
                    - sku: e1-1
                      basePrice: 45.95
                      discount: 0
                      offeredPrice: 45.95
                      quantity: 1
                      productId: 104
                      variantId: 142
                      imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/104/images/336/utilitybucket1.1554505753.220.290.jpg?c=2'
                      orderQuantityMaximum: 0
                      orderQuantityMinimum: 0
                      productName: '[Sample] Utility Caddy'
                      options:
                        - optionId: 147
                          optionValue: 95
                          optionLabel: Small
                          optionName: Size
              properties:
                notes:
                  type: string
                  minLength: 1
                legalTerms:
                  type: string
                  minLength: 1
                  description: Legal terms
                message:
                  type: string
                  minLength: 1
                  description: Extra message
                grandTotal:
                  type: number
                  description: Total price after discount
                discount:
                  type: number
                totalAmount:
                  type: integer
                  description: Total price after discount
                subtotal:
                  type: number
                  description: Total price
                referenceNumber:
                  type: string
                userEmail:
                  type: string
                  minLength: 1
                  description: user email belong to a sales rep.
                quoteTitle:
                  type: string
                  description: title for quote
                expiredAt:
                  type: string
                  minLength: 1
                  description: 'format time with %m/%d/%Y %H:%M:%S'
                shippingAddress:
                  type: object
                  description: shipping address information for quote
                  properties:
                    country:
                      type: string
                      minLength: 1
                      description: country name
                    state:
                      type: string
                      minLength: 1
                      description: state name
                    city:
                      type: string
                      minLength: 1
                      description: city name
                    zipCode:
                      type: string
                      minLength: 1
                      description: zip code
                    address:
                      type: string
                      minLength: 1
                      description: address detail information
                    apartment:
                      type: string
                      minLength: 1
                  required:
                    - country
                    - state
                    - city
                    - zipCode
                    - address
                    - apartment
                contactInfo:
                  type: object
                  properties:
                    name:
                      type: string
                      minLength: 1
                      description: contact name
                    email:
                      type: string
                      minLength: 1
                      description: contact email
                    companyName:
                      type: string
                      minLength: 1
                    phoneNumber:
                      type: string
                  required:
                    - name
                    - email
                companyId:
                  type: number
                  description: company id field for quote
                currency:
                  type: object
                  description: Currency info
                  properties:
                    token:
                      type: string
                      minLength: 1
                      description: 'Currency token, such as $'
                    location:
                      type: string
                      minLength: 1
                      description: 'Currency token position, left or right'
                    decimalToken:
                      type: string
                      minLength: 1
                      description: Decimal separator
                    decimalPlaces:
                      type: number
                    thousandsToken:
                      type: string
                      minLength: 1
                      description: Thousands separator
                productList:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    type: object
                    properties:
                      sku:
                        type: string
                        minLength: 1
                      basePrice:
                        type: number
                      discount:
                        type: number
                      offeredPrice:
                        type: number
                        description: The discounted price must be passed on
                      quantity:
                        type: number
                        description: quantity for product in this quote
                      productId:
                        type: number
                        description: product id
                      variantId:
                        type: number
                        description: Variant SKU ID of the product
                      imageUrl:
                        type: string
                        minLength: 1
                        description: image url path for product
                      orderQuantityMaximum:
                        type: number
                      orderQuantityMinimum:
                        type: number
                      productName:
                        type: string
                        minLength: 1
                        description: name for product
                      options:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        description: product choices option infomation for quote item
                        items:
                          type: object
                          properties:
                            optionId:
                              type: number
                            optionValue:
                              type: number
                            optionLabel:
                              type: string
                              minLength: 1
                            optionName:
                              type: string
                              minLength: 1
                          required:
                            - optionId
                            - optionValue
                            - optionLabel
                            - optionName
                    required:
                      - sku
                      - basePrice
                      - discount
                      - offeredPrice
                      - quantity
                      - productId
                extraFields:
                  type: array
                  description: Extra fields of the quote
                  items:
                    type: object
                    properties:
                      id:
                        type: number
                        description: The quote extra field config id.
                      fieldName:
                        type: string
                        description: Extra field name
                      value:
                        type: string
                        description: Extra field value
                    required:
                      - id
                      - fieldName
                      - value
                channelId:
                  type: integer
                  description: BigCommerce channel id
                displayDiscount:
                  type: boolean
                  x-stoplight:
                    id: s0wst3o47yt85
                  description: Whether the quote email and PDF show discount.
                  default: true
                allowCheckout:
                  type: boolean
                  x-stoplight:
                    id: w5xajgvp4yil7
                  description: Whether the quote email and PDF show checkout button
                  default: true
              required:
                - grandTotal
                - discount
                - totalAmount
                - subtotal
                - expiredAt
                - productList
            examples: {}
          application/xml:
            schema:
              type: object
              properties: {}
        description: ''
      description: Create a quote form
      security:
        - authToken: []
      tags:
        - Quote
  '/rfq/{quote_id}':
    parameters:
      - schema:
          type: string
        name: quote_id
        in: path
        required: true
        description: Unique quote ID
    get:
      summary: Get a Quote Detail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      quoteNumber: QN000199
                      referenceNumber: ''
                      createdAt: 1622619778
                      expiredAt: ''
                      status: 0
                      contactInfo:
                        name: Hannah Admin330
                        email: charles.admin@charlesco.com
                        companyName: CharlesCo
                        phoneNumber: '0000000000'
                      shippingAddress:
                        city: ''
                        state: ''
                        address: ''
                        country: ''
                        zipCode: ''
                        apartment: ''
                      subtotal: 45.95
                      discount: 0
                      grandTotal: 45.95
                      currency:
                        token: ¥
                        location: left
                        currencyCode: USD
                        decimalToken: .
                        decimalPlaces: 2
                        thousandsToken: ','
                        currencyExchangeRate: 1
                      trackingHistory: []
                      productList:
                        - sku: e1-3
                          basePrice: 45.95
                          discount: 0
                          offeredPrice: 45.95
                          quantity: 1
                          imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/images/stencil/original/products/104/336/utilitybucket1.1554505753.jpg?c=2'
                          productId: 104
                          variantId: 144
                          productName: '[Sample] Utility Caddy'
                          options:
                            - optionId: 147
                              optionName: Size
                              optionLabel: Large
                              optionValue: '97'
                          notes: ''
                          orderQuantityMaximum: 0
                          orderQuantityMinimum: 0
                      quoteTitle: ''
                      notes: ''
                      legalTerms: ''
                      createdBy: Hannah Admin330
                      bcOrderId: ''
                      orderId: ''
                      storeInfo:
                        storeName: Sylvia Apptest Store
                        storeAddress: |-
                          47 Discovery
                          Acmeville, AC 12345
                          United States of America
                        storeCountry: United States
                      companyInfo:
                        companyId: '5456'
                        companyName: CharlesCo
                        companyAddress: Asia China
                        companyCountry: ''
                        companyState: Sichuan
                        companyCity: Chengdu
                        companyZipCode: '10086'
                        phoneNumber: '123412'
                      salesRepInfo: {}
                properties:
                  code:
                    type: number
                  data:
                    type: object
                    required:
                      - quoteNumber
                      - referenceNumber
                      - createdAt
                      - expiredAt
                      - status
                      - contactInfo
                      - shippingAddress
                      - subtotal
                      - discount
                      - grandTotal
                      - currency
                      - trackingHistory
                      - productList
                      - quoteTitle
                      - notes
                      - legalTerms
                      - createdBy
                      - bcOrderId
                      - orderId
                      - storeInfo
                      - companyInfo
                      - salesRepInfo
                    properties:
                      quoteNumber:
                        type: string
                        minLength: 1
                        description: Quote number
                      referenceNumber:
                        type: string
                        description: Reference number of a quote
                      createdAt:
                        type: number
                        description: Created at timestamp
                      expiredAt:
                        type: number
                        description: Expired at timestamp
                      status:
                        type: integer
                        description: Status of this quote. 0:NEW; 2:IN PROCESS; 3:UPDATED BY CUSTOMER; 4:ORDERED; 5:EXPIRED; 6:ARCHIVED; 7:DRAFT
                      contactInfo:
                        type: object
                        required:
                          - name
                          - email
                          - companyName
                          - phoneNumber
                        properties:
                          name:
                            type: string
                            minLength: 1
                          email:
                            type: string
                            minLength: 1
                          companyName:
                            type: string
                            minLength: 1
                          phoneNumber:
                            type: string
                            minLength: 1
                      shippingAddress:
                        type: object
                        required:
                          - city
                          - state
                          - address
                          - zipCode
                          - country
                          - apartment
                        properties:
                          city:
                            type: string
                          state:
                            type: string
                          address:
                            type: string
                          zipCode:
                            type: string
                          country:
                            type: string
                          apartment:
                            type: string
                      subtotal:
                        type: number
                        description: Total price
                      discount:
                        type: number
                        description: Discount
                      grandTotal:
                        type: number
                        description: Total price after discount
                      currency:
                        type: object
                        required:
                          - token
                          - location
                          - currencyCode
                          - decimalToken
                          - decimalPlaces
                          - thousandsToken
                          - currencyExchangeRate
                        properties:
                          token:
                            type: string
                            minLength: 1
                            description: 'Currency token, such as $'
                          location:
                            type: string
                            minLength: 1
                            description: 'Currency token location, ex. left or right'
                          currencyCode:
                            type: string
                            minLength: 1
                            description: 'Currency code, ex. USD CNY'
                          decimalToken:
                            type: string
                            minLength: 1
                            description: Decimal separator
                          decimalPlaces:
                            type: number
                            description: Number of decimal places
                          thousandsToken:
                            type: string
                            minLength: 1
                            description: Thousands separator
                          currencyExchangeRate:
                            type: number
                            description: Currency rate
                      trackingHistory:
                        type: array
                        description: tracking message hitory
                        items:
                          type: object
                          properties:
                            date:
                              type: number
                              description: timestamp of this message
                              example: 1630489012
                            role:
                              type: string
                              description: Role and username of this message. The role maybe start with 'Sales rep' or 'Customer' which depends on if user is a backend user
                              example: Customer Tom
                            message:
                              type: string
                              description: comments message record
                              example: 'record some message when update this quote '
                      productList:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            sku:
                              type: string
                              minLength: 1
                            basePrice:
                              type: number
                              description: Base price of this product
                            discount:
                              type: number
                              description: Discount
                            offeredPrice:
                              type: number
                              description: The discounted price must be passed on
                            quantity:
                              type: number
                              description: Quantity of the product
                            imageUrl:
                              type: string
                              minLength: 1
                              description: Product image URL
                            productId:
                              type: number
                            variantId:
                              type: number
                              description: Variant SKU ID
                            productName:
                              type: string
                              minLength: 1
                            options:
                              type: array
                              uniqueItems: true
                              minItems: 1
                              items:
                                type: object
                                properties:
                                  optionId:
                                    type: number
                                  optionName:
                                    type: string
                                    minLength: 1
                                  optionLabel:
                                    type: string
                                    minLength: 1
                                  optionValue:
                                    type: string
                                    minLength: 1
                                required:
                                  - optionId
                                  - optionName
                                  - optionLabel
                                  - optionValue
                            notes:
                              type: string
                              description: The extra message notes
                            orderQuantityMaximum:
                              type: number
                              description: The maximum quantity for this order
                            orderQuantityMinimum:
                              type: number
                              description: The minimum quantity for this order
                          required:
                            - sku
                            - basePrice
                            - discount
                            - offeredPrice
                            - quantity
                            - imageUrl
                            - productId
                            - variantId
                            - productName
                            - notes
                            - orderQuantityMaximum
                            - orderQuantityMinimum
                      quoteTitle:
                        type: string
                        description: Quote title
                      notes:
                        type: string
                        description: Extra message note
                      legalTerms:
                        type: string
                        description: Legal terms
                      createdBy:
                        type: string
                        minLength: 1
                      bcOrderId:
                        type: string
                        description: BC order ID
                      orderId:
                        type: string
                        description: B2B Edition order ID
                      storeInfo:
                        type: object
                        required:
                          - storeName
                          - storeAddress
                          - storeCountry
                        properties:
                          storeName:
                            type: string
                            minLength: 1
                          storeAddress:
                            type: string
                            minLength: 1
                          storeCountry:
                            type: string
                            minLength: 1
                      companyInfo:
                        type: object
                        required:
                          - companyId
                          - companyName
                          - companyAddress
                          - companyCountry
                          - companyState
                          - companyCity
                          - companyZipCode
                          - phoneNumber
                        properties:
                          companyId:
                            type: string
                            minLength: 1
                          companyName:
                            type: string
                            minLength: 1
                          companyAddress:
                            type: string
                            minLength: 1
                          companyCountry:
                            type: string
                          companyState:
                            type: string
                            minLength: 1
                          companyCity:
                            type: string
                            minLength: 1
                          companyZipCode:
                            type: string
                            minLength: 1
                          phoneNumber:
                            type: string
                            minLength: 1
                      salesRepInfo:
                        type: object
                      extraFields:
                        type: array
                        items:
                          type: object
                          properties:
                            fieldName:
                              type: string
                            fieldValue:
                              type: string
                      channelId:
                        type: integer
                        description: BigCommerce channel id
                      channelName:
                        type: string
                        description: Store Channel name
                      displayDiscount:
                        type: boolean
                        x-stoplight:
                          id: vnuwtyb6yv830
                        description: Whether the quote email and PDF show discount
                      allowCheckout:
                        type: boolean
                        x-stoplight:
                          id: 2bvfpedqdfg42
                        description: Whether the quote email and PDF show checkout button
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                required:
                  - code
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    data:
                      quoteNumber: QN000199
                      referenceNumber: ''
                      createdAt: 1622619778
                      expiredAt: 1722619778
                      status: 0
                      contactInfo:
                        name: Hannah Admin330
                        email: charles.admin@charlesco.com
                        companyName: CharlesCo
                        phoneNumber: '0000000000'
                      shippingAddress:
                        city: ''
                        state: ''
                        address: ''
                        country: ''
                        zipCode: ''
                        apartment: ''
                      subtotal: 45.95
                      discount: 0
                      grandTotal: 45.95
                      currency:
                        token: ¥
                        location: left
                        currencyCode: USD
                        decimalToken: .
                        decimalPlaces: 2
                        thousandsToken: ','
                        currencyExchangeRate: 1
                      trackingHistory:
                        - date: 1630489012
                          role: Customer Tom
                          message: 'record some message when update this quote '
                        - date: 1630490012
                          role: Sales rep Cat
                          message: 'record some message when update this quote '
                      productList:
                        - sku: e1-3
                          basePrice: 45.95
                          discount: 0
                          offeredPrice: 45.95
                          quantity: 1
                          imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/images/stencil/original/products/104/336/utilitybucket1.1554505753.jpg?c=2'
                          productId: 104
                          variantId: 144
                          productName: '[Sample] Utility Caddy'
                          options:
                            - optionId: 147
                              optionName: Size
                              optionLabel: Large
                              optionValue: '97'
                          notes: ''
                          orderQuantityMaximum: 0
                          orderQuantityMinimum: 0
                      quoteTitle: ''
                      notes: ''
                      legalTerms: ''
                      createdBy: Hannah Admin330
                      bcOrderId: ''
                      orderId: ''
                      storeInfo:
                        storeName: Sylvia Apptest Store
                        storeAddress: |-
                          47 Discovery
                          Acmeville, AC 12345
                          United States of America
                        storeCountry: United States
                      companyInfo:
                        companyId: '5456'
                        companyName: CharlesCo
                        companyAddress: Asia China
                        companyCountry: ''
                        companyState: Sichuan
                        companyCity: Chengdu
                        companyZipCode: '10086'
                        phoneNumber: '123412'
                      salesRepInfo: {}
                      extraFields:
                        - fieldName: test
                          fieldValue: test
                      channelId: 1
                      channelName: string
                    meta:
                      message: SUCCESS
      operationId: get-rfq-quote_id
      parameters:
        - schema:
            type: string
          in: query
          name: date
          required: true
          description: quote create at
      description: Get a quote form detail by quoteId
      security:
        - authToken: []
      tags:
        - Quote
    put:
      summary: Update a Quote
      operationId: put-rfq-quote_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      quoteId:
                        type: number
                      quoteUrl:
                        type: string
                        minLength: 1
                    required:
                      - quoteId
                      - quoteUrl
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      quoteId: 195
                      quoteUrl: url
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      quoteId: 195
                      quoteUrl: url
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  notes: string
                  legalTerms: string
                  message: string
                  grandTotal: 0
                  discount: 0
                  subtotal: 0
                  referenceNumber: string
                  userEmail: string
                  expiredAt: string
                  quoteTitle: string
                  shippingAddress:
                    country: string
                    state: string
                    city: string
                    zipCode: string
                    address: string
                    apartment: string
                  contactInfo:
                    name: string
                    email: string
                    companyName: string
                    phoneNumber: string
                  companyId: 0
                  currency:
                    token: string
                    location: string
                    decimalToken: string
                    decimalPlaces: 0
                    thousandsToken: string
                  companyInfo:
                    companyId: 0
                    companyName: string
                  productList:
                    - sku: string
                      basePrice: 0
                      discount: 0
                      offeredPrice: 0
                      quantity: 0
                      productId: 0
                      variantId: 0
                      imageUrl: string
                      orderQuantityMaximum: 0
                      orderQuantityMinimum: 0
                      productName: string
                      options:
                        - optionId: 0
                          optionValue: 0
                          optionLabel: string
                          optionName: string
              properties:
                notes:
                  type: string
                  minLength: 1
                  description: Quote extra message
                legalTerms:
                  type: string
                  minLength: 1
                message:
                  type: string
                  minLength: 1
                  description: Text info from comments
                grandTotal:
                  type: number
                  description: Total price after discount
                discount:
                  type: number
                subtotal:
                  type: number
                  description: Total price
                referenceNumber:
                  type: string
                  minLength: 1
                  description: Reference number of a quote
                userEmail:
                  type: string
                  minLength: 1
                expiredAt:
                  type: string
                  minLength: 1
                quoteTitle:
                  type: string
                  minLength: 1
                shippingAddress:
                  type: object
                  properties:
                    country:
                      type: string
                      minLength: 1
                    state:
                      type: string
                      minLength: 1
                    city:
                      type: string
                      minLength: 1
                    zipCode:
                      type: string
                      minLength: 1
                    address:
                      type: string
                      minLength: 1
                    apartment:
                      type: string
                      minLength: 1
                contactInfo:
                  type: object
                  properties:
                    name:
                      type: string
                      minLength: 1
                    email:
                      type: string
                      minLength: 1
                    companyName:
                      type: string
                      minLength: 1
                    phoneNumber:
                      type: string
                      minLength: 1
                currency:
                  type: object
                  description: 'Currency info, which can be seen when you get quote detail'
                  properties:
                    token:
                      type: string
                      minLength: 1
                    location:
                      type: string
                      minLength: 1
                    decimalToken:
                      type: string
                      minLength: 1
                    decimalPlaces:
                      type: number
                    thousandsToken:
                      type: string
                      minLength: 1
                productList:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    type: object
                    properties:
                      sku:
                        type: string
                        minLength: 1
                      basePrice:
                        type: number
                      discount:
                        type: number
                      offeredPrice:
                        type: number
                        description: The discounted price must be passed on
                      quantity:
                        type: number
                      productId:
                        type: number
                      variantId:
                        type: number
                      imageUrl:
                        type: string
                        minLength: 1
                      orderQuantityMaximum:
                        type: number
                      orderQuantityMinimum:
                        type: number
                      productName:
                        type: string
                        minLength: 1
                      options:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            optionId:
                              type: number
                            optionValue:
                              type: number
                            optionLabel:
                              type: string
                              minLength: 1
                            optionName:
                              type: string
                              minLength: 1
                extraFields:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The quote extra field config id.
                      fieldName:
                        type: string
                        description: Field name
                      value:
                        type: string
                        description: Field value
                    required:
                      - id
                      - fieldName
                      - value
                displayDiscount:
                  type: boolean
                  x-stoplight:
                    id: g83gkehxa1huf
                  description: Whether the quote email and PDF show discount
                allowCheckout:
                  type: boolean
                  x-stoplight:
                    id: bsoxwjlgtuizi
                  description: Whether the quote email and PDF show checkout button
            examples:
              example-1:
                value:
                  notes: string
                  legalTerms: string
                  message: string
                  grandTotal: 0
                  discount: 0
                  subtotal: 0
                  referenceNumber: string
                  userEmail: string
                  expiredAt: string
                  quoteTitle: string
                  shippingAddress:
                    country: string
                    state: string
                    city: string
                    zipCode: string
                    address: string
                    apartment: string
                  contactInfo:
                    name: string
                    email: string
                    companyName: string
                    phoneNumber: string
                  currency:
                    token: string
                    location: string
                    decimalToken: string
                    decimalPlaces: 0
                    thousandsToken: string
                  productList:
                    - sku: string
                      basePrice: 0
                      discount: 0
                      offeredPrice: 0
                      quantity: 0
                      productId: 0
                      variantId: 0
                      imageUrl: string
                      orderQuantityMaximum: 0
                      orderQuantityMinimum: 0
                      productName: string
                      options:
                        - optionId: 0
                          optionValue: 0
                          optionLabel: string
                          optionName: string
        description: Request body params you could find when you get quote detail
      description: Update a quote
      security:
        - authToken: []
      tags:
        - Quote
    delete:
      summary: Delete a Quote
      operationId: delete-rfq-quote_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      description: Delete a quote by quoteId
      security:
        - authToken: []
      tags:
        - Quote
  '/rfq/{quote_id}/checkout':
    parameters:
      - schema:
          type: string
        name: quote_id
        in: path
        required: true
        description: Unique quote ID
    post:
      summary: Checkout Quote Form
      operationId: post-rfq-quote_id-checkout
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      checkoutUrl: url
                      cartId: '123'
                      cartUrl: url
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - checkoutUrl
                      - cartId
                      - cartUrl
                    properties:
                      checkoutUrl:
                        type: string
                        minLength: 1
                        description: The checkout URL
                      cartId:
                        type: string
                        minLength: 1
                        description: Cart ID
                      cartUrl:
                        type: string
                        minLength: 1
                        description: The cart URL
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      checkoutUrl: url
                      cartId: '123'
                      cartUrl: url
      description: Checkout quote form by quoteId
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              example-1:
                value: {}
      security:
        - authToken: []
      tags:
        - Quote
  '/rfq/{quote_id}/ordered':
    parameters:
      - schema:
          type: string
        name: quote_id
        in: path
        required: true
        description: Unique quote ID
    post:
      summary: Ordered a Quote
      operationId: post-rfq-quote_id-ordered
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      description: |
        Ordered a quote by quoteId
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  orderId: ''
                  shippingTotal: 0
                  taxTotal: 0
                  shippingMethod:
                    id: kWf@Mjg
                    type: flat
                    description: Fixed (Fixed)
                    imageUrl: 'telnet://axcsqlcngg.cc/sfsrtyimv'
                    transitTime: ''
                    cost: 10
                    additionalDescription: ''
              properties:
                orderId:
                  type: string
                  description: Unique order ID
              required:
                - orderId
            examples:
              example-1:
                value:
                  orderId: ''
      security:
        - authToken: []
      tags:
        - Quote
  /rfq/emails:
    post:
      summary: Send a Quote Email
      operationId: post-rfq-emails
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      description: Send a quote email
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  quoteId: '195'
                  email: levi.tuo@silksoftware.com
              properties:
                quoteId:
                  type: string
                  minLength: 1
                  description: The quote ID you want to use
                email:
                  type: string
                  minLength: 1
                  description: Which email you want to send
                withAttach:
                  default: 0
                  type: boolean
                  description: Whether to send the quote pdf as an attachment.
                emailTemplate:
                  type: string
                  enum:
                    - Simple
                    - Simple with Pictures
                    - Waves with Pictures
                    - Sky
                    - Dots
                  description: Template for sending emails
                ccTo:
                  type: array
                  description: Cc who sent the message
                  items:
                    type: string
                emailLang:
                  type: string
                  enum:
                    - en
                    - nl
                  description: 'The language in which the message is sent. nl: Dutch'
              required:
                - quoteId
                - email
                - withAttach
                - emailTemplate
            examples: {}
      tags:
        - Quote
  '/rfq/{quote_id}/pdf-export':
    parameters:
      - schema:
          type: string
        name: quote_id
        in: path
        required: true
        description: Unique quote ID
    post:
      summary: Quote Export PDF
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        minLength: 1
                    required:
                      - url
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      url: 'https://s3-us-west-2.amazonaws.com/bundleb2b-v2.0-quote-staging/Sylvia_Apptest_Store:QN000195.pdf'
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      url: pdf url
      operationId: get-rfq-quote_id-pdf-export
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                currency:
                  type: object
                  properties:
                    currencyExchangeRate:
                      type: string
                      description: Currency rate
      description: Export quote pdf
      security:
        - authToken: []
      tags:
        - Quote
  /rfq/extra-fields:
    get:
      summary: Get quote extra fields configs
      tags:
        - Quote
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: ID of the quote extra field config
                        fieldName:
                          type: string
                          description: Field name
                        fieldType:
                          type: number
                          description: Field type. 0 - text; 1 - textarea; 2 - number
                          enum:
                            - 0
                            - 1
                            - 2
                        isRequired:
                          type: boolean
                        isUnique:
                          type: boolean
                        valueConfigs:
                          type: object
                          properties:
                            defaultValue:
                              type: string
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
              examples:
                example-1:
                  value:
                    code: 200
                    data:
                      - id: 1
                        filedName: test1
                        fieldType: 0
                        isRequired: false
                        isUnique: false
                        valueConfigs:
                          defaultValue: ''
                          maximumLength: 65535
                      - id: 2
                        filedName: test2
                        fieldType: 0
                        isRequired: false
                        isUnique: false
                        valueConfigs:
                          defaultValue: ''
                          maximumLength: 65535
                    meta:
                      message: SUCCESS
      operationId: get-rfq-extra-fields
      description: Get quote extra fields configs. It is better to cache the response results to avoid frequent API requests
      security:
        - authToken: []
