openapi: 3.0.1
info:
  title: Shopping List
  description: |-
    > **NOTICE**
    > 
    > As of September 30, 2025, the B2B Edition API `authToken` will be deprecated and replaced by the standard BigCommerce API `X-Auth-Token`. For information concerning this change, see [B2B Authentication](/b2b-edition/docs/authentication).
    > 
    > Existing `authToken` connections will continue to function until December 31, 2025, after which they will cease to operate.

    BigCommerce B2B Edition Shopping List
  contact: {}
  version: v3
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v3/io'
security:
  - X-Auth-Token: []
tags:
  - name: Shopping List
    description: Shopping List management.
paths:
  shopping-list:
    parameters:
      - $ref: "#/components/parameters/X-Store-Hash"
    get:
      summary: Get Shopping Lists
      tags:
        - Shopping List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/utils/response-object.yaml
                  - type: object
                    properties:
                      meta:
                        $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/utils/pagination.yaml
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/shopping_list'
              examples:
                example-1:
                  value:
                    code: 200
                    meta:
                      message: SUCCESS
                      pagination:
                        limit: 10
                        offset: 0
                        totalCount: 1
                    data:
                    - id: 1
                      name: my first shopping list
                      description: this is my first shopping list
                      status: 0
                      companyId: 1
                      userId: 12
                      createdAt: 1631495936
                      updatedAt: 1631495936
                      channelId: 0
                      channelName: "string"
        '422':
          $ref: '#/components/responses/422'
      operationId: get-shopping-list
      description: |-
        Get a list of shopping lists viewable based on user permissions of a buyer user ID.

        A junior buyer can see all of the lists they create and no one else's.

        A senior buyer or admin can see all of the companies approved or ready for approval lists. This would include lists sent by junior buyers.
      parameters:
        - schema:
            type: integer
          in: query
          name: userId
          description: 'B2B Edition buyer user ID (Either userId or customerId must be passed, but not both.)'
          required: true
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - schema:
            type: number
          in: query
          name: channelId
          description: BigCommerce channel ID
        - schema:
            type: integer
          in: query
          name: customerId
          description: 'BigCommerce customer ID (Either userId or customerId must be passed, but not both.)'
          required: true
        - schema:
            type: integer
          in: query
          name: createdUserId
          description: 'B2B Edition buyer user ID, if the userId has permissions to view all shopping lists of the company, entering this parameter will filter out the shopping lists created by that user.'
    post:
      summary: Create a Shopping List
      operationId: post-shopping-list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/utils/response-object.yaml
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          shoppingListId:
                            type: integer
                            description: shopping list id for created
                            example: 1
              examples:
                example-1:
                  value:
                    code: 200
                    meta:
                      message: SUCCESS
                    data:
                      shoppingListId: 1
        '422':
          $ref: '#/components/responses/422'
      tags:
        - Shopping List
      description: Create a shopping list for a user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                  description: Description information for shopping list
                status:
                  type: integer
                  description: 'status of shopping list, (0: approved, 20: deleted, 30: draft, 40: ready for approval)'
                  enum:
                    - 0
                    - 30
                    - 40
                  example: 0
                userId:
                  type: integer
                  description: 'B2B Edition buyer user ID (one of userId and customerId must be passed, and only one of them can be passed).'
                customerId:
                  type: integer
                  description: 'BigCommerce customer ID(one of userId and customerId must be passed, and only one of them can be passed).'
                channelId:
                  type: integer
                  description: BigCommerce channel ID
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/shopping_list_item'
              required:
                - name
            examples:
              example-1:
                value:
                  name: my first shopping list
                  description: this is my first shopping list
                  status: 0
                  userId: 0
                  channelId: 1
                  items:
                    - productId: 123
                      variantId: 321
                      quantity: 5
        description: ''
  '/shopping-list/{shoppingListId}':
    get:
      summary: Get a Shopping List
      tags:
        - Shopping List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/utils/response-object.yaml
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: '#/components/schemas/shopping_list'
                          - type: object
                            properties:
                              items:
                                type: array
                                items:
                                  $ref: '#/components/schemas/shopping_list_item'
                  - type: object
                    properties:
                      meta:
                        type: object
                        properties:
                          pagination:
                            type: object
                            properties:
                              totalCount:
                                type: integer
                                description: The total number of the all data
                              limit:
                                type: integer
                                description: 'Pagination limit '
                              offset:
                                type: integer
                                description: Pagination offset
              examples:
                example-1:
                  value:
                    code: 200
                    meta:
                      message: SUCCESS
                      pagination:
                        limit: 0
                        offset: 0
                        totalCount: 0
                    data:
                      id: 1
                      name: my first shopping list
                      description: this is my first shopping list
                      status: 0
                      companyId: 1
                      userId: 12
                      createdAt: 1631495936
                      updatedAt: 1631495936
                      channelId: 0
                      channelName: "string"
                      items:
                        - id: 1
                          productId: 123
                          variantId: 321
                          quantity: 5
                          sortOrder: 0
                          optionList:
                            optionId: "string"
                            optionValue: "string"
                          productNote: "string"
        '404':
          $ref: '#/components/responses/404'
      operationId: get-shopping-list-shoppingListId
      description: Get a shopping list detail information
      parameters:
        - schema:
            type: integer
          in: query
          name: userId
          description: 'B2B Edition buyer user ID, you can enter a user ID to check if this user can view this shopping list.'
        - schema:
            type: string
            enum:
              - quantity
              - productName
              - productSku
              - sortOrder
            example: sortOrder
          in: query
          name: sortBy
          description: the field to sort by
        - schema:
            type: string
            enum:
              - DESC
              - ASC
            example: DESC
          in: query
          name: orderBy
          description: desc or asc for sort by
        - schema:
            type: integer
          in: query
          description: 'BigCommerce customer ID, passing this parameter will obtain the shopping list according to the b2c user.'
          name: customerId
        - schema:
            type: integer
            minimum: 0
            default: 0
          in: query
          name: offset
          description: Pagination offset for shopping list items
        - schema:
            type: integer
            default: 250
            minimum: 1
            maximum: 250
          in: query
          name: limit
          description: Pagination limit for shopping list items
    parameters:
      - $ref: "#/components/parameters/X-Store-Hash"
      - $ref: '#/components/parameters/shoppingListId'
    put:
      summary: Update a Shopping List
      operationId: put-shopping-list-shoppingListId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/utils/response-object.yaml
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/shopping_list'
              examples:
                example-1:
                  value:
                    code: 200
                    meta:
                      message: SUCCESS
                    data:
                      id: 1
                      name: my first shopping list
                      description: this is my first shopping list
                      status: 0
                      companyId: 1
                      userId: 12
                      createdAt: 1631495936
                      updatedAt: 1631495936
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      tags:
        - Shopping List
      description: |-
        update a shopping list detail. you can also update shopping list items by update the items field by this API endpoints. 
        note: 
        1. User id for update the shopping list is not required. You can optionally enter this field according to whether you need to judge user permissions.
        2. The ID field in shopping list items is an optional field. If it is null, you can only change the quantity of this item by product ID, variant ID and option list, these three fields will determine an actual item. If it is not null, the ID field will determine an actual item and you can change product ID, variant ID, and option list by this way.
        3. Set a zero quantity of shopping list item will delete this item.
        4. Quantity = 0 will remove item, you can modify multiple items at one time.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                  name:
                    type: string
                    example: my first shopping list
                    description: name for shopping list
                  description:
                    type: string
                    description: description information for shopping list
                    example: this is my first shopping list
                  status:
                    type: integer
                    description: 'status of shopping list, (0: approved, 20: deleted, 30: draft, 40: ready for approval)'
                    enum:
                      - 0
                      - 30
                      - 40
                    example: 0
                  userId:
                    type: integer
                    example: 12
                    description: 'B2B Edition buyer user ID, you can enter a user ID to check if this user can update this shopping list.'
                  customerId:
                    type: integer
                    description: 'BigCommerce customer ID, passing this parameter will obtain the shopping list according to the b2c user.'
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Unique ID field for shopping list item
                        productId:
                          type: integer
                          description: Product ID for shopping list item
                        variantId:
                          type: integer
                          description: 'Variant ID for shopping list item. If the product has options, the variant ID is required, otherwise it can be left blank.'
                        quantity:
                          type: integer
                          description: Quantity of product and variant
                        sortOrder:
                          type: integer
                          description: The sort order for item
                        optionList:
                          type: object
                          description: The optionlist does not need to be input in and will be automatically obtained based on productId and variantId.
                          properties:
                            optionId:
                              type: string
                            optionValue:
                              type: string
                        productNote:
                          type: string
                          description: product note
            examples:
              example-1:
                value:
                  name: test
                  description: develop test
                  status: 0
                  companyId: 155576
                  userId: 223437
                  items:
                    - id: 75693
                      productId: 107
                      variantId: 73
                      quantity: 0
                    - id: 85416
                      productId: 86
                      variantId: 66
                      quantity: 40
                    - id: 76533
                      productId: 112
                      variantId: 79
                      quantity: 1
        description: ''
      parameters: []
    delete:
      summary: Delete a Shopping List
      operationId: delete-shopping-list-shoppingListId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/utils/response-object.yaml
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          shoppingListId:
                            type: integer
                            example: 1
                            description: shopping list ID for deleted
              examples:
                example-1:
                  value:
                    code: 200
                    meta:
                      message: SUCCESS
                    data:
                      shoppingListId: 1
        '404':
          $ref: '#/components/responses/422'
      tags:
        - Shopping List
      description: Delete a shopping list. Note this will not delete a shopping list item.
      parameters:
        - schema:
            type: integer
          in: query
          name: userId
          description: 'B2B Edition buyer user ID, you can enter a user ID for check if this user can delete this shopping list.'
  '/shopping-list/{shoppingListId}/items/{itemId}':
    parameters:
      - $ref: "#/components/parameters/X-Store-Hash"
      - schema:
          type: string
        name: shoppingListId
        in: path
        required: true
      - schema:
          type: string
        name: itemId
        in: path
        required: true
    delete:
      summary: Delete a Shopping List Item
      operationId: delete-shopping-list-shoppingListId-items-itemId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                  data:
                    type: object
                    properties: {}
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  data:
                    type: object
                    properties:
                      errMsg:
                        type: string
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
              examples:
                example-1:
                  value:
                    code: 404
                    data:
                      errMsg: Shopping list item matching query does not exist.
                    meta:
                      message: Not Found Error
      description: 'Delete a shopping list item'
      tags:
        - Shopping List
      parameters: []
components:
  parameters:
    X-Store-Hash:
      name: X-Store-Hash
      in: header
      required: true
      schema:
        type: string
        example: abc123
      description: The unique store hash associated with a BigCommerce store that has B2B Edition enabled.
    shoppingListId:
      name: shoppingListId
      in: path
      required: true
      schema:
        type: integer
      description: The unique ID for a shopping list.
    limit:
      name: limit
      in: query
      description: 'Pagination limit default: 10'
      allowEmptyValue: true
      schema:
        maximum: 250
        exclusiveMaximum: true
        minimum: 1
        exclusiveMinimum: true
        type: integer
        default: 10
    offset:
      name: offset
      in: query
      description: 'Pagination offset default: 0'
      allowEmptyValue: true
      schema:
        type: integer
        minimum: 0
    companyId:
      name: companyId
      in: path
      description: The unique numeric ID of this company.
      required: true
      schema:
        type: integer
  schemas:
    shopping_list:
      title: Shopping List
      type: object
      x-examples:
        example-1:
          id: 1
          name: my first shopping list
          description: this is my first shopping list
          status: 0
          companyId: 1
          userId: 12
          createdAt: 1631495936
          updatedAt: 1631495936
          channelId: 1
          channelName: string
      x-tags:
        - Models
      properties:
        id:
          type: integer
          example: 1
          readOnly: true
        name:
          type: string
          description: The name for shopping list.
          example: my first shopping list
        description:
          type: string
          description: The description information for shopping list.
          example: this is my first shopping list
        status:
          type: integer
          description: 'status of shopping list, (0: approved, 20: deleted, 30: draft, 40: ready for approval) '
          example: 0
          enum:
            - 0
            - 30
            - 40
        companyId:
          type: integer
          description: The ID for shopping list owner company.
          example: 1
          readOnly: true
        userId:
          type: integer
          description: ID for shopping list creator
          example: 12
        createdAt:
          type: integer
          example: 1631495936
          format: int32
          description: shopping list create time
          readOnly: true
        updatedAt:
          type: integer
          example: 1631495936
          format: int32
          description: update time for shopping list
          readOnly: true
        channelId:
          type: number
          description: BigCommerce channel ID
        channelName:
          type: string
          description: Store Channel name
      required:
        - status
      x-internal: false
    shopping_list_b2c:
      title: B2C Shopping List
      type: object
      x-examples:
        example-1:
          id: 1
          name: my first shopping list
          description: this is my first shopping list
          status: 0
          companyId: 1
          userId: 12
          createdAt: 1631495936
          updatedAt: 1631495936
          channelId: 1
          channelName: string
      x-tags:
        - Models
      properties:
        id:
          type: integer
          example: 1
          readOnly: true
        name:
          type: string
          description: The name for shopping list.
          example: my first shopping list
        description:
          type: string
          description: The description information for shopping list.
          example: this is my first shopping list
        createdAt:
          type: integer
          example: 1631495936
          format: int32
          description: The shopping list create time.
          readOnly: true
        updatedAt:
          type: integer
          example: 1631495936
          format: int32
          description: The update time for shopping list.
          readOnly: true
        channelId:
          type: number
          description: The BigCommerce channel ID.
        channelName:
          type: string
          description: Store Channel name
      x-internal: false
    shopping_list_item:
      title: Shopping List Item
      type: object
      description: "Shopping List Items"
      properties:
        id:
          type: integer
          example: 1
          description: unique ID field for shopping list item
          readOnly: true
        productId:
          type: integer
          example: 123
          description: product ID for shopping list item
        variantId:
          type: integer
          example: 321
          description: 'Variant ID for shopping list item. If the product has options, variant ID is required, otherwise it can be left blank.'
        quantity:
          type: integer
          example: 5
          description: Quantity of product and variant
        sortOrder:
          type: integer
          description: The sort order for item
        optionList:
          type: object
          description: The optionlist does not need to be entered and will be automatically obtained based on productId and variantId.
          properties:
            optionId:
              type: string
            optionValue:
              type: string
        productNote:
          type: string
          description: product note
      required:
        - productId
        - variantId
        - quantity
      x-internal: false
      x-tags:
        - Models
  responses:
    '404':
      description: Not Found Error
      content:
        application/json:
          schema:
            type: object
            description: Response body
            properties:
              code:
                type: number
                description: Response status code
                example: 404
              data:
                type: object
                description: Response data
                properties:
                  errMsg:
                    type: string
                    example: some data entry not found
                    description: error message detail
              meta:
                type: object
                properties:
                  message:
                    type: string
                    example: Not Found Error
                    description: Error message of this response
          examples:
            example-1:
              value:
                code: 404
                data: {}
                meta:
                  message: Not Found Error
    '422':
      description: Parameter Error
      content:
        application/json:
          schema:
            description: ''
            type: object
            x-examples:
              example-1:
                code: 422
                data:
                  errMsg:
                    min_created:
                      - A valid integer is required.
                meta:
                  message: Parameter Error
            properties:
              code:
                type: number
                description: response status code
                example: 422
              data:
                type: object
                required:
                  - errMsg
                properties:
                  errMsg:
                    type: object
                    description: Error detail information for some parameters.
                    properties: {}
              meta:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                    minLength: 1
                    description: error information
                    example: Parameter Error
            required:
              - code
              - data
              - meta
          examples:
            parameter error:
              value:
                code: 422
                data:
                  errMsg:
                    user Id:
                      - user must belong to a company
                meta:
                  message: Parameter Error
    '500':
      description: Server Error
      content:
        application/json:
          schema:
            type: object
            description: Response body
            properties:
              code:
                type: number
                description: Response status code
                example: 500
              data:
                type: object
                properties: {}
                description: Response data
              meta:
                type: object
                properties:
                  message:
                    type: string
                    example: Server Error
                    description: Server Error Response message
          examples:
            example-1:
              value:
                code: 500
                data: {}
                meta:
                  message: Server Error
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: |-

        ### Authentication header

        | Header | Argument | Description |
        |:-------|:---------|:------------|
        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |
        
        ### Further reading

        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).
        
        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).
        
        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).
      type: apiKey
      in: header
