{
  "swagger": "2.0",
  "info": {
    "title": "Open API",
    "description": "BigCommerce B2B Edition Open API Docs",
    "license": {},
    "version": "v3"
  },
  "host": "api-b2b.bigcommerce.com",
  "schemes": [
    "https"
  ],
  "basePath": "/api/v2/io",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "authToken": {
      "name": "authToken",
      "type": "apiKey",
      "in": "header"
    }
  },
  "security": [
    {
      "Basic": []
    }
  ],
  "tags": [
    {
      "name": "Address"
    },
    {
      "name": "Company"
    },
    {
      "name": "Order"
    },
    {
      "name": "Payment"
    },
    {
      "name": "Proxy"
    },
    {
      "name": "SalesRep"
    },
    {
      "name": "User"
    }
  ],
  "paths": {
    "/addresses/country_state": {
      "get": {
        "operationId": "addresses_country_state_list",
        "summary": "Convert Country State",
        "description": "Convert country/state name to their code or code to name",
        "parameters": [
          {
            "name": "authToken",
            "in": "header",
            "description": "Auth token in header",
            "required": true,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country code/name",
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Country code/name",
            "type": "string"
          },
          {
            "name": "search_type",
            "in": "query",
            "description": "Convert type, code means transfer the input country/state name to their code, name means transfer the input country/state code to their name",
            "type": "string",
            "enum": [
              "code",
              "name"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Response success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status code",
                  "type": "number"
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {
                    "countryCode": {
                      "description": "The converted country code from input country name",
                      "type": "string"
                    },
                    "countryName": {
                      "description": "The converted country name from input country code",
                      "type": "string"
                    },
                    "stateCode": {
                      "description": "The converted state code from input state name",
                      "type": "string"
                    },
                    "stateName": {
                      "description": "The converted state name from input country code",
                      "type": "string"
                    }
                  }
                },
                "message": {
                  "description": "Response message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 200,
                "data": {
                  "countryName": "United States",
                  "stateName": "New York"
                },
                "message": "SUCCESS"
              }
            }
          },
          "404": {
            "description": "Response record not found",
            "schema": {
              "description": "Response body",
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status code",
                  "type": "number"
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {
                    "errMsg": {
                      "description": "Error message info",
                      "type": "string"
                    }
                  }
                },
                "message": {
                  "description": "Response message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 404,
                "data": {},
                "message": "Not Found Error"
              }
            }
          }
        },
        "tags": [
          "Address"
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "\ncurl --location --request GET 'localhost:8000/api/v2/io/addresses/country_state?search_type=code&country=United%20States&state=New%20York'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiMWk2enB4cGUzZyIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoia2lkby56aGFvQGJ1bmRsZWIyYi5uZXQifQ.fB8TtxpTDdhOUmR_7gYV16w9nV3Kp0US52W8JMHG1js'                         --header 'Cookie: csrftoken=1r2Sm1HUb6NglzK7V5QJlcS7YlptUtVVGKCu9AbcYeyrKNy9erCk0SDDZnI8YKz7'\n"
          },
          {
            "lang": "Python",
            "source": "\nimport requests\n\nurl = \"localhost:8000/api/v2/io/addresses/country_state?search_type=name&country=US&state=NY\"\n\npayload={}\nheaders = {\n  'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiMWk2enB4cGUzZyIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoia2lkby56aGFvQGJ1bmRsZWIyYi5uZXQifQ.fB8TtxpTDdhOUmR_7gYV16w9nV3Kp0US52W8JMHG1js',\n  'Cookie': 'csrftoken=1r2Sm1HUb6NglzK7V5QJlcS7YlptUtVVGKCu9AbcYeyrKNy9erCk0SDDZnI8YKz7'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "JavaScript",
            "source": "\nvar myHeaders = new Headers();\nmyHeaders.append(\"authToken\", \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiMWk2enB4cGUzZyIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoia2lkby56aGFvQGJ1bmRsZWIyYi5uZXQifQ.fB8TtxpTDdhOUmR_7gYV16w9nV3Kp0US52W8JMHG1js\");\nmyHeaders.append(\"Cookie\", \"csrftoken=1r2Sm1HUb6NglzK7V5QJlcS7YlptUtVVGKCu9AbcYeyrKNy9erCk0SDDZnI8YKz7\");\n\nvar requestOptions = {\n  method: 'GET',\n  headers: myHeaders,\n  redirect: 'follow'\n};\n\nfetch(\"localhost:8000/api/v2/io/addresses/country_state?search_type=code&country=United States&state=New York\", requestOptions)\n  .then(response => response.text())\n  .then(result => console.log(result))\n  .catch(error => console.log('error', error));\n"
          }
        ]
      },
      "parameters": []
    },
    "/companies/convert-from-customer-group": {
      "post": {
        "operationId": "companies_convert-from-customer-group_create",
        "summary": "Create Company From CG",
        "description": "Create company from bigCommerce customer group. This API only enable for non-MSF store.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "description": "Request body",
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "acceptWelcomeEmail": {
                      "description": "(0=will not receive email 1=will receive email)",
                      "type": "string",
                      "enum": [
                        0,
                        1
                      ]
                    },
                    "addressLine1": {
                      "description": "Address string line 1",
                      "type": "string"
                    },
                    "addressLine2": {
                      "description": "Address string line 2",
                      "type": "string"
                    },
                    "adminEmail": {
                      "description": "Company admin user email",
                      "type": "string"
                    },
                    "adminFirstName": {
                      "description": "Company admin user's first name",
                      "type": "string"
                    },
                    "adminLastName": {
                      "description": "Company admin user's last name",
                      "type": "string"
                    },
                    "adminPhoneNumber": {
                      "description": "Company admin user phone number",
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "companyEmail": {
                      "type": "string"
                    },
                    "companyName": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "customerGroupId": {
                      "description": "BC customer group ID",
                      "type": "string"
                    },
                    "extraFields": {
                      "description": "To use customized extra fields with field names you need to first add company extra fields in Settings > Extra fields inside B2B edition. eg. If you want to create a new company with an extra integer field named licenseNO, you can use this structure [{'fieldName': 'LicenseNO', 'fieldValue': 10342340323}] in the request body.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fieldName": {
                            "type": "string"
                          },
                          "fieldValue": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "extraInt1": {
                      "description": "The default extra integer field, you can also use this field to create a company with it.(include extraInt1 ~ extraInt5, extraStr1 ~ extraStr5, extraText) \n\n But there is an important point you need to know. After the B3 team helped you configure the custom extra fields, if you still need to use these default fields, you need to know the correspondence between the custom extra fields and the default extra fields. Otherwise, when you pass in both custom and default extra fields, if the custom extra field is bound to the default extra field you pass in, the value of the custom extra field will override the default extra field.",
                      "type": "number"
                    },
                    "extraInt2": {
                      "description": "Company create extra integer value, please refer to the description of extraInt1 above.",
                      "type": "number"
                    },
                    "extraInt3": {
                      "description": "Company create extra integer value, please refer to the description of extraInt1 above.",
                      "type": "number"
                    },
                    "extraInt4": {
                      "description": "Company create extra integer value, please refer to the description of extraInt1 above.",
                      "type": "number"
                    },
                    "extraInt5": {
                      "description": "Company create extra integer value, please refer to the description of extraInt1 above.",
                      "type": "number"
                    },
                    "extraStr1": {
                      "description": "Company create extra string value, please refer to the description of extraInt1 above.",
                      "type": "string"
                    },
                    "extraStr2": {
                      "description": "Company create extra string value, please refer to the description of extraInt1 above.",
                      "type": "string"
                    },
                    "extraStr3": {
                      "description": "Company create extra string value, please refer to the description of extraInt1 above.",
                      "type": "string"
                    },
                    "extraStr4": {
                      "description": "Company create extra string value, please refer to the description of extraInt1 above.",
                      "type": "string"
                    },
                    "extraStr5": {
                      "description": "Company create extra string value, please refer to the description of extraInt1 above.",
                      "type": "string"
                    },
                    "extraText": {
                      "description": "Company create extra text value, please refer to the description of extraInt1 above.",
                      "type": "string"
                    },
                    "phoneNumber": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "zipCode": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "adminEmail",
                    "adminFirstName",
                    "adminLastName",
                    "companyEmail",
                    "companyName",
                    "customerGroupId",
                    "phoneNumber"
                  ]
                },
                {
                  "$ref": "https://raw.githubusercontent.com/bigcommerce/docs/b3-test/docs/b2b-edition/models/extra_fields/user_extra_field_values.yaml"
                }
              ]
            }
          },
          {
            "name": "authToken",
            "in": "header",
            "description": "Auth token in header.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Response Success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status code",
                  "type": "number"
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {
                    "companyId": {
                      "description": "Created company Id",
                      "type": "string"
                    }
                  }
                },
                "message": {
                  "description": "Response message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 200,
                "data": {
                  "companyId": "2"
                },
                "message": "Success"
              }
            }
          },
          "400": {
            "description": "Response Bad Request",
            "schema": {
              "description": "Response body",
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status error code",
                  "type": "number"
                },
                "data": {
                  "description": "Response error data",
                  "type": "object",
                  "properties": {
                    "[field]": {
                      "description": "Message about problem with field 'field'",
                      "type": "string"
                    }
                  }
                },
                "message": {
                  "description": "Response error message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 40010,
                "message": "Enter a valid email address."
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "schema": {
              "description": "Response body",
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status code",
                  "type": "number"
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {
                    "errMsg": {
                      "description": "Error message info",
                      "type": "string"
                    }
                  }
                },
                "message": {
                  "description": "Response message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 404,
                "data": {
                  "errMsg": "Customer group does not exist"
                },
                "message": "Not Found Error"
              }
            }
          }
        },
        "tags": [
          "Company"
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "\ncurl --location --request POST 'https://api-b2b.bigcommerce.com/api/v2/io/companies/convert-from-customer-group'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'                         --header 'Content-Type: application/json'                         --data-raw '{\n    \"companyName\": \"test3.23-22\",\n    \"phoneNumber\": 122331212,\n    \"companyEmail\": \"test@test.com\",\n    \"addressLine1\": \"xxxx\",\n    \"addressLine2\": \"\",\n    \"city\": \"xxxx\",\n    \"state\": \"xxxx\",\n    \"zipCode\": \"12333\",\n    \"country\": \"China\",\n    \"adminFirstName\": \"test\",\n    \"adminLastName\": \"sdfsd\",\n    \"adminEmail\": \"test1@test.com\",\n    \"adminPhoneNumber\": \"3838288282\",\n    \"customerGroupId\": 4\n}'\n"
          },
          {
            "lang": "Python",
            "source": "\nimport requests\n\nurl = \"https://api-b2b.bigcommerce.com/api/v2/io/companies/convert-from-customer-group\"\n\npayload = {\n    \"companyName\": \"test3.23-22\",\n    \"phoneNumber\": 122331212,\n    \"companyEmail\": \"test@test.com\",\n    \"addressLine1\": \"xxxx\",\n    \"addressLine2\": \"\",\n    \"city\": \"xxxx\",\n    \"state\": \"xxxx\",\n    \"zipCode\": \"12333\",\n    \"country\": \"China\",\n    \"adminFirstName\": \"test\",\n    \"adminLastName\": \"sdfsd\",\n    \"adminEmail\": \"test1@test.com\",\n    \"adminPhoneNumber\": \"3838288282\",\n    \"customerGroupId\": 4\n}\nheaders = {\n  'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY',\n  'Content-Type': 'application/json'\n}\nresponse = requests.request(\"POST\", url, headers=headers, data = payload)\nprint(response.text.encode('utf8'))\n"
          },
          {
            "lang": "JavaScript",
            "source": "\nvar myHeaders = new Headers();\nmyHeaders.append(\"authToken\", \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY\");\nmyHeaders.append(\"Content-Type\", \"application/json\");\n\nvar raw = JSON.stringify({\"companyName\":\"test3.23-22\",\"phoneNumber\":122331212,\"companyEmail\":\"test@test.com\",\"addressLine1\":\"xxxx\",\"addressLine2\":\"\",\"city\":\"xxxx\",\"state\":\"xxxx\",\"zipCode\":\"12333\",\"country\":\"China\",\"adminFirstName\":\"test\",\"adminLastName\":\"sdfsd\",\"adminEmail\":\"test1@test.com\",\"adminPhoneNumber\":\"3838288282\",\"customerGroupId\":4});\n\nvar requestOptions = {\n  method: 'POST',\n  headers: myHeaders,\n  body: raw,\n  redirect: 'follow'\n};\n\nfetch(\"https://api-b2b.bigcommerce.com/api/v2/io/companies/convert-from-customer-group\", requestOptions)\n  .then(response => response.text())\n  .then(result => console.log(result))\n  .catch(error => console.log('error', error));\n"
          }
        ]
      },
      "parameters": []
    },
    "/companies/users/{customerId}/orders": {
      "post": {
        "operationId": "companies_users_orders_create",
        "summary": "Create Order Without CompanyID",
        "description": "Create an order from bigCommerce, you must known order id",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "description": "Request body",
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "orderId": {
                      "description": "BigCommerce order id",
                      "type": "string"
                    },
                    "poNumber": {
                      "description": "PoNumber",
                      "type": "string"
                    },
                    "totalIncTax": {
                      "description": "Total incTax",
                      "type": "number"
                    }
                  },
                  "required": [
                    "orderId",
                    "totalIncTax"
                  ]
                },
                {
                  "$ref": "https://raw.githubusercontent.com/bigcommerce/docs/b3-test/docs/b2b-edition/models/order/order-extra.yaml"
                }
              ]
            }
          },
          {
            "name": "authToken",
            "in": "header",
            "description": "Auth token in header.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Response Success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status code",
                  "type": "number"
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {
                    "companyId": {
                      "description": "Created order id",
                      "type": "string"
                    }
                  }
                },
                "message": {
                  "description": "Response message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 200,
                "data": {
                  "orderId": 2
                },
                "message": "Success"
              }
            }
          },
          "400": {
            "description": "Response Bad Request",
            "schema": {
              "description": "Response body",
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status error code",
                  "type": "number"
                },
                "data": {
                  "description": "Response error data",
                  "type": "object",
                  "properties": {
                    "[field]": {
                      "description": "Message about problem with field 'field'",
                      "type": "string"
                    }
                  }
                },
                "message": {
                  "description": "Response error message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 40010,
                "data": {
                  "bc_order_id": "orderId can not be null"
                },
                "message": "Bad Request Error"
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "schema": {
              "description": "Response body",
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status code",
                  "type": "number"
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {
                    "errMsg": {
                      "description": "Error message info",
                      "type": "string"
                    }
                  }
                },
                "message": {
                  "description": "Response message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 404,
                "data": {
                  "errMsg": "Companies Does not Exist"
                },
                "message": "Not Found Error"
              }
            }
          }
        },
        "tags": [
          "Order"
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "\ncurl --location --request POST 'https://api-b2b.bigcommerce.com/api/v2/io/companies/users/12/orders'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'                         --header 'Content-Type: application/json'                         --data-raw '{\n    \"totalIncTax\": \"111\",\n    \"orderId\": \"111\"\n}' \n"
          },
          {
            "lang": "Python",
            "source": "\nimport requests\n\nurl = \"https://api-b2b.bigcommerce.com/api/v2/io/companies/users/12/orders\"\n\npayload = {\n    \"totalIncTax\": \"111\",\n    \"orderId\": \"111\"\n}\nheaders = {\n  'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data = payload)\n\nprint(response.text.encode('utf8'))\n"
          },
          {
            "lang": "JavaScript",
            "source": "\nvar myHeaders = new Headers();\nmyHeaders.append(\"authToken\", \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY\");\nmyHeaders.append(\"Content-Type\", \"application/json\");\n\nvar raw = JSON.stringify({\"totalIncTax\":\"111\",\"orderId\":\"111\"});\n\nvar requestOptions = {\n  method: 'POST',\n  headers: myHeaders,\n  body: raw,\n  redirect: 'follow'\n};\n\nfetch(\"https://api-b2b.bigcommerce.com/api/v2/io/companies/users/12/orders\", requestOptions)\n  .then(response => response.text())\n  .then(result => console.log(result))\n  .catch(error => console.log('error', error));\n"
          }
        ]
      },
      "parameters": [
        {
          "name": "customerId",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/companies/{companyId}/addresses": {
      "get": {
        "operationId": "companies_addresses_list",
        "summary": "Get Company Addresses",
        "description": "Get all addresses for a company",
        "parameters": [
          {
            "name": "authToken",
            "in": "header",
            "description": "Auth token in header.",
            "required": true,
            "type": "string"
          },
          {
            "name": "minLastModifiedTime",
            "in": "query",
            "description": "Company filter condition: timestamp string e.g. 01/01/2000",
            "type": "number"
          },
          {
            "name": "maxLastModifiedTime",
            "in": "query",
            "description": "Company filter condition: timestamp string e.g. 01/01/2000",
            "type": "number"
          },
          {
            "name": "minLastCreatedTime",
            "in": "query",
            "description": "Company filter condition: timestamp string e.g. 01/01/2000",
            "type": "number"
          },
          {
            "name": "maxLastCreatedTime",
            "in": "query",
            "description": "Company filter condition: timestamp string e.g. 01/01/2000",
            "type": "number"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Company query string",
            "type": "string"
          },
          {
            "name": "firstName",
            "in": "query",
            "description": "Address first name filter",
            "type": "number"
          },
          {
            "name": "lastName",
            "in": "query",
            "description": "Address first name filter",
            "type": "number"
          },
          {
            "name": "address",
            "in": "query",
            "description": "Address line 1 filter",
            "type": "number"
          },
          {
            "name": "city",
            "in": "query",
            "description": "Address city filter",
            "type": "number"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Address country filter",
            "type": "number"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Address state filter",
            "type": "number"
          },
          {
            "name": "zipCode",
            "in": "query",
            "description": "Address zip code filter",
            "type": "number"
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "description": "Address phone number filter",
            "type": "number"
          },
          {
            "name": "isShipping",
            "in": "query",
            "description": "Address is shipping filter",
            "type": "number"
          },
          {
            "name": "isBilling",
            "in": "query",
            "description": "Address is billing filter",
            "type": "number"
          },
          {
            "type": "array",
            "in": "query",
            "name": "externalId[]",
            "description": "Address external id filter"
          },
          {
            "type": "number",
            "in": "query",
            "name": "offset",
            "description": "Address pagination offset, default 0"
          },
          {
            "type": "number",
            "in": "query",
            "name": "limit",
            "description": "Address pagination limit, default 4. ",
            "minimum": 4,
            "maximum": 500
          }
        ],
        "responses": {
          "200": {
            "description": "Response Success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status code",
                  "type": "number"
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {
                    "addresses": {
                      "description": "All addresses",
                      "type": "object",
                      "properties": {
                        "[address_id]": {
                          "description": "The map from address ID to address",
                          "type": "object",
                          "properties": {
                            "addressId": {
                              "description": "Identifier for the address (same as URL parameter addressId)",
                              "type": "string"
                            },
                            "addressLine1": {
                              "description": "Typically the street address",
                              "type": "string"
                            },
                            "addressLine2": {
                              "description": "More detailed information about where to deliver mail, such as a suite or office number",
                              "type": "string"
                            },
                            "city": {
                              "type": "string"
                            },
                            "country": {
                              "type": "object",
                              "properties": {
                                "countryCode": {
                                  "description": "ISO 3166-1 Alpha 2 Country Code",
                                  "type": "string"
                                },
                                "countryName": {
                                  "description": "Human readable country name",
                                  "type": "string"
                                }
                              }
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "isBilling": {
                              "description": "Indicates whether the address is a billing address",
                              "type": "boolean"
                            },
                            "isDefaultBilling": {
                              "type": "boolean"
                            },
                            "isDefaultShipping": {
                              "type": "boolean"
                            },
                            "isShipping": {
                              "description": "Indicates whether the address is a shipping address",
                              "type": "boolean"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            },
                            "state": {
                              "type": "object",
                              "properties": {
                                "stateCode": {
                                  "description": "ISO 3166-2 Alpha 2 Country Subdivision Code",
                                  "type": "string"
                                },
                                "stateName": {
                                  "description": "Human readable state (or other subdivision) name",
                                  "type": "string"
                                }
                              }
                            },
                            "zipCode": {
                              "description": "A valid postal code used by the country that was specified",
                              "type": "string"
                            },
                            "externalId": {
                              "type": "string"
                            }
                          }
                        },
                        "defaultBillingId": {
                          "description": "The identifier of the default shipping address",
                          "type": "number"
                        },
                        "defaultShippingId": {
                          "description": "The identifier of the default shipping address",
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "message": {
                  "description": "Response message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 200,
                "data": {
                  "addresses": {
                    "7": {
                      "addressId": "7",
                      "addressLine1": "123 Main Street",
                      "addressLine2": "Blvd",
                      "city": "Austin",
                      "country": {
                        "countryCode": "US",
                        "countryName": "United States"
                      },
                      "firstName": "Jane",
                      "isBilling": true,
                      "isDefaultBilling": true,
                      "isDefaultShipping": true,
                      "isShipping": true,
                      "lastName": "Doe",
                      "phoneNumber": "11111111111",
                      "state": {
                        "stateCode": "TX",
                        "stateName": "Texas"
                      },
                      "zipCode": "78751",
                      "channelId": 1,
                      "channelName": "test"
                    }
                  },
                  "defaultBillingId": "7",
                  "defaultShippingId": "7"
                },
                "message": "SUCCESS"
              }
            }
          }
        },
        "tags": [
          "Address"
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "\ncurl --location --request GET 'https://api-b2b.bigcommerce.com/api/v2/io/companies/39/addresses?minLastModifiedTime=1/11/2019&maxLastModifiedTime=1/11/2020&minLastCreatedTime=1/11/2019&maxLastCreatedTime=1/11/2020'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'                         --header 'Content-Type: application/json' \n"
          },
          {
            "lang": "Python",
            "source": "\nimport requests\n\nurl = \"https://api-b2b.bigcommerce.com/api/v2/io/companies/39/addresses?minLastModifiedTime=1/11/2019&maxLastModifiedTime=1/11/2020&minLastCreatedTime=1/11/2019&maxLastCreatedTime=1/11/2020\"\n\npayload = {}\nheaders = {\n  'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, data = payload)\n\nprint(response.text.encode('utf8'))\n\n"
          },
          {
            "lang": "JavaScript",
            "source": "\nvar myHeaders = new Headers();\nmyHeaders.append(\"authToken\", \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY\");\nmyHeaders.append(\"Content-Type\", \"application/json\");\n\nvar requestOptions = {\n  method: 'GET',\n  headers: myHeaders,\n  redirect: 'follow'\n};\n\nfetch(\"https://api-b2b.bigcommerce.com/api/v2/io/companies/39/addresses?minLastModifiedTime=1/11/2019&maxLastModifiedTime=1/11/2020&minLastCreatedTime=1/11/2019&maxLastCreatedTime=1/11/2020\", requestOptions)\n  .then(response => response.text())\n  .then(result => console.log(result))\n  .catch(error => console.log('error', error));\n"
          }
        ]
      },
      "post": {
        "operationId": "companies_addresses_create",
        "summary": "Create A Company Address",
        "description": "Creates a new address for a company. You will specify the address fields and the type of address. The address can be billing, shipping, or both. You can also request that this address becomes the new default billing or shipping address for the company.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "description": "Request body",
              "type": "object",
              "properties": {
                "addressLine1": {
                  "description": "Typically the street address",
                  "type": "string"
                },
                "addressLine2": {
                  "description": "More detailed information about where to deliver mail, such as a suite or office number",
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "country": {
                  "type": "object",
                  "properties": {
                    "countryCode": {
                      "description": "ISO 3166-1 Alpha 2 Country Code",
                      "type": "string"
                    },
                    "countryName": {
                      "description": "Human readable country name",
                      "type": "string"
                    }
                  }
                },
                "firstName": {
                  "description": "Address first name",
                  "type": "string"
                },
                "isBilling": {
                  "description": "Indicates whether the address is a billing address",
                  "type": "boolean"
                },
                "isDefaultBilling": {
                  "description": "Indicates whether the address is the default billing address",
                  "type": "boolean"
                },
                "isDefaultShipping": {
                  "description": "Indicates whether the address is the default shipping address",
                  "type": "boolean"
                },
                "isShipping": {
                  "description": "Indicates whether the address is a shipping address",
                  "type": "boolean"
                },
                "label": {
                  "description": "Address label",
                  "type": "string"
                },
                "lastName": {
                  "description": "Address last name",
                  "type": "string"
                },
                "phoneNumber": {
                  "description": "Address phone number",
                  "type": "string"
                },
                "state": {
                  "type": "object",
                  "properties": {
                    "stateCode": {
                      "description": "ISO 3166-2 Alpha 2 Country Subdivision Code",
                      "type": "string"
                    },
                    "stateName": {
                      "description": "Human readable state (or other subdivision) name",
                      "type": "string"
                    }
                  }
                },
                "zipCode": {
                  "type": "string"
                },
                "externalId": {
                  "type": "string"
                }
              },
              "required": [
                "addressLine1",
                "city",
                "country",
                "firstName",
                "lastName",
                "state",
                "zipCode"
              ]
            }
          },
          {
            "name": "authToken",
            "in": "header",
            "description": "Auth token in header.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Response Success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number",
                  "description": "Response status code",
                  "example": 200
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {
                    "addressId": {
                      "type": "integer",
                      "description": "Created address Id",
                      "example": 12
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Response message",
                      "example": "Success"
                    }
                  }
                }
              }
            },
            "examples": {
              "example-1": {
                "code": 200,
                "data": {
                  "addressId": 12
                },
                "meta": {
                  "message": "Success"
                }
              }
            }
          },
          "422": {
            "description": "Response Bad Request",
            "schema": {
              "description": "Response body",
              "type": "object",
              "properties": {
                "code": {
                  "type": "number",
                  "description": "Response status error code",
                  "example": 422
                },
                "data": {
                  "description": "Response error data",
                  "type": "object",
                  "properties": {
                    "errMsg": {
                      "description": "Message about problem with field 'field'",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "[field]": {
                            "type": "string",
                            "description": "field error description.",
                            "example": "xxx field is too long."
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Response error message",
                      "example": "Parameter Error"
                    }
                  }
                }
              }
            },
            "examples": {
              "example-1": {
                "code": 422,
                "data": {
                  "errMsg": [
                    {
                      "[field]": "xxx field is too long."
                    }
                  ]
                },
                "meta": {
                  "message": "Parameter Error"
                }
              }
            }
          }
        },
        "tags": [
          "Address"
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "\ncurl --location --request POST 'https://api-b2b.bigcommerce.com/api/v2/io/companies/23/addresses'                         --header 'Content-Type: application/json'                         --data-raw '{\n    \"label\": \"12dxqwdsa\",\n    \"firstName\": \"Bundle\",\n    \"lastName\": \"Test\",\n    \"addressLine1\": \"Street.1\",\n    \"addressLine2\": \"\",\n    \"city\": \"New York\",\n    \"zipCode\": \"110202\",\n    \"phoneNumber\": \"\",\n    \"country\": {\n        \"countryName\": \"United States\",\n        \"countryCode\": \"US\"\n    },\n    \"state\": {\n        \"stateName\": \"New York\",\n        \"stateCode\": \"NY\"\n    },\n    \"isShipping\": \"1\",\n    \"isBilling\": \"1\",\n    \"isDefaultShipping\": true,\n    \"isDefaultBilling\": true\n}'\n"
          },
          {
            "lang": "Python",
            "source": "\n                        import requests\n\n                        url = \"https://api-b2b.bigcommerce.com/api/v2/io/companies/23/addresses\"\n\n                        payload = \"{\n    \"label\": \"12dxqwdsa\",\n    \"firstName\": \"Bundle\",\n    \"lastName\": \"Test\",\n    \"addressLine1\": \"Street.1\",\n    \"addressLine2\": \"\",\n    \"city\": \"New York\",\n    \"zipCode\": \"110202\",\n    \"phoneNumber\": \"\",\n    \"country\": {\n        \"countryName\": \"United States\",\n        \"countryCode\": \"US\"\n    },\n    \"state\": {\n        \"stateName\": \"New York\",\n        \"stateCode\": \"NY\"\n    },\n    \"isShipping\": \"1\",\n    \"isBilling\": \"1\",\n    \"isDefaultShipping\": true,\n    \"isDefaultBilling\": true\n}\"\n                        headers = {\n                          'Content-Type': 'application/json'\n                        }\n\n                        response = requests.request(\"POST\", url, headers=headers, data = payload)\n\n                        print(response.text.encode('utf8'))\n"
          },
          {
            "lang": "JavaScript",
            "source": "\nvar myHeaders = new Headers();\nmyHeaders.append(\"Content-Type\", \"application/json\");\n\nvar raw = JSON.stringify({\"label\":\"12dxqwdsa\",\"firstName\":\"Bundle\",\"lastName\":\"Test\",\"addressLine1\":\"Street.1\",\"addressLine2\":\"\",\"city\":\"New York\",\"zipCode\":\"110202\",\"phoneNumber\":\"\",\"country\":{\"countryName\":\"United States\",\"countryCode\":\"US\"},\"state\":{\"stateName\":\"New York\",\"stateCode\":\"NY\"},\"isShipping\":\"1\",\"isBilling\":\"1\",\"isDefaultShipping\":\"1\",\"isDefaultBilling\":\"0\"});\n\nvar requestOptions = {\n  method: 'POST',\n  headers: myHeaders,\n  body: raw,\n  redirect: 'follow'\n};\n\nfetch(\"https://api-b2b.bigcommerce.com/api/v2/io/companies/23/addresses\", requestOptions)\n  .then(response => response.text())\n  .then(result => console.log(result))\n  .catch(error => console.log('error', error));\n"
          }
        ]
      },
      "parameters": [
        {
          "name": "companyId",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/companies/{companyId}/addresses/{addressId}": {
      "get": {
        "operationId": "companies_addresses_read",
        "summary": "Get A Company Address",
        "description": "Get an address for a company",
        "parameters": [
          {
            "name": "authToken",
            "in": "header",
            "description": "Auth token in header.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Response success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status code",
                  "type": "number"
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {
                    "addresses": {
                      "description": "All addresses",
                      "type": "object",
                      "properties": {
                        "addressId": {
                          "description": "Identifier for the address (same as URL parameter addressId)",
                          "type": "string"
                        },
                        "addressLine1": {
                          "description": "Typically the street address",
                          "type": "string"
                        },
                        "addressLine2": {
                          "description": "More detailed information about where to deliver mail, such as a suite or office number",
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "country": {
                          "type": "object",
                          "properties": {
                            "countryCode": {
                              "description": "ISO 3166-1 Alpha 2 Country Code",
                              "type": "string"
                            },
                            "countryName": {
                              "description": "Human readable country name",
                              "type": "string"
                            }
                          }
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "isBilling": {
                          "description": "Indicates whether the address is a billing address",
                          "type": "boolean"
                        },
                        "isDefaultBilling": {
                          "type": "boolean"
                        },
                        "isDefaultShipping": {
                          "type": "boolean"
                        },
                        "isShipping": {
                          "description": "Indicates whether the address is a shipping address",
                          "type": "boolean"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "phoneNumber": {
                          "type": "string"
                        },
                        "state": {
                          "type": "object",
                          "properties": {
                            "stateCode": {
                              "description": "ISO 3166-2 Alpha 2 Country Subdivision Code",
                              "type": "string"
                            },
                            "stateName": {
                              "description": "Human readable state (or other subdivision) name",
                              "type": "string"
                            }
                          }
                        },
                        "zipCode": {
                          "description": "A valid postal code used by the country that was specified",
                          "type": "string"
                        },
                        "externalId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "message": {
                  "description": "Response message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 200,
                "data": {
                  "addressId": "6",
                  "addressLine1": "123 Main Street",
                  "addressLine2": "Blvd",
                  "city": "Austin",
                  "country": {
                    "countryCode": "US",
                    "countryName": "United States"
                  },
                  "firstName": "Jane",
                  "isBilling": true,
                  "isDefaultBilling": true,
                  "isDefaultShipping": true,
                  "isShipping": true,
                  "lastName": "Doe",
                  "phoneNumber": "11111111111",
                  "state": {
                    "stateCode": "TX",
                    "stateName": "Texas"
                  },
                  "zipCode": "78751",
                  "channelId": 1,
                  "channelName": "test"
                },
                "message": "SUCCESS"
              }
            }
          },
          "404": {
            "description": "Response record not found",
            "schema": {
              "description": "Response body",
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status code",
                  "type": "number"
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {
                    "errMsg": {
                      "description": "Error message info",
                      "type": "string"
                    }
                  }
                },
                "message": {
                  "description": "Response message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 404,
                "data": {},
                "message": "Not Found Error"
              }
            }
          }
        },
        "tags": [
          "Address"
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "\ncurl --location --request GET 'https://api-b2b.bigcommerce.com/api/v2/io/companies/39/addresses/2'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'                         --header 'Content-Type: application/json'\n"
          },
          {
            "lang": "Python",
            "source": "\nimport requests\n\nurl = \"https://api-b2b.bigcommerce.com/api/v2/io/companies/39/addresses/2\"\n\npayload = {}\nheaders = {\n  'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, data = payload)\n\nprint(response.text.encode('utf8'))\n"
          },
          {
            "lang": "JavaScript",
            "source": "\nvar myHeaders = new Headers();\nmyHeaders.append(\"authToken\", \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY\");\nmyHeaders.append(\"Content-Type\", \"application/json\");\n\nvar requestOptions = {\n  method: 'GET',\n  headers: myHeaders,\n  redirect: 'follow'\n};\n\nfetch(\"https://api-b2b.bigcommerce.com/api/v2/io/companies/39/addresses/2\", requestOptions)\n  .then(response => response.text())\n  .then(result => console.log(result))\n  .catch(error => console.log('error', error));\n"
          }
        ]
      },
      "put": {
        "operationId": "companies_addresses_update",
        "summary": "Update A Company Address",
        "description": "Updates an address for a company. You can change whether the address is for billing, shipping, or both. You can also update the address to be the default billing or shipping address for the company.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "description": "Request body",
              "type": "object",
              "properties": {
                "addressLine1": {
                  "description": "Typically the street address",
                  "type": "string"
                },
                "addressLine2": {
                  "description": "More detailed information about where to deliver mail, such as a suite or office number",
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "country": {
                  "type": "object",
                  "properties": {
                    "countryCode": {
                      "description": "ISO 3166-1 Alpha 2 Country Code",
                      "type": "string"
                    },
                    "countryName": {
                      "description": "Human readable country name",
                      "type": "string"
                    }
                  }
                },
                "firstName": {
                  "description": "Address first name",
                  "type": "string"
                },
                "isBilling": {
                  "description": "Indicates whether the address is a billing address",
                  "type": "boolean"
                },
                "isDefaultBilling": {
                  "description": "Indicates whether the address is the default billing address",
                  "type": "boolean"
                },
                "isDefaultShipping": {
                  "description": "Indicates whether the address is the default shipping address",
                  "type": "boolean"
                },
                "isShipping": {
                  "description": "Indicates whether the address is a shipping address",
                  "type": "boolean"
                },
                "label": {
                  "description": "Address label",
                  "type": "string"
                },
                "lastName": {
                  "description": "Address last name",
                  "type": "string"
                },
                "phoneNumber": {
                  "description": "Address phone number",
                  "type": "string"
                },
                "state": {
                  "type": "object",
                  "properties": {
                    "stateCode": {
                      "description": "ISO 3166-2 Alpha 2 Country Subdivision Code",
                      "type": "string"
                    },
                    "stateName": {
                      "description": "Human readable state (or other subdivision) name",
                      "type": "string"
                    }
                  }
                },
                "zipCode": {
                  "type": "string"
                },
                "externalId": {
                  "type": "string"
                }
              }
            }
          },
          {
            "name": "authToken",
            "in": "header",
            "description": "Auth token in header.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Response Success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status code",
                  "type": "number"
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {
                    "addressId": {
                      "description": "Updated address Id",
                      "type": "string"
                    }
                  }
                },
                "message": {
                  "description": "Response message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 200,
                "data": {
                  "addressId": 4
                },
                "message": "Success"
              }
            }
          },
          "400": {
            "description": "Response Bad Request",
            "schema": {
              "description": "Response body",
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status error code",
                  "type": "number"
                },
                "data": {
                  "description": "Response error data",
                  "type": "object",
                  "properties": {
                    "[field]": {
                      "description": "Message about problem with field 'field'",
                      "type": "string"
                    }
                  }
                },
                "message": {
                  "description": "Response error message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 40010,
                "data": {
                  "address_line_1": "Address not allow None",
                  "last_name": "Last name not allow None"
                },
                "message": "Bad Requests Error"
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "schema": {
              "description": "Response body",
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status code",
                  "type": "number"
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {
                    "errMsg": {
                      "description": "Error message info",
                      "type": "string"
                    }
                  }
                },
                "message": {
                  "description": "Response message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 404,
                "data": {
                  "errMsg": "Address Does not Exist"
                },
                "message": "Not Found Error"
              }
            }
          }
        },
        "tags": [
          "Address"
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "\ncurl --location --request PUT 'https://api-b2b.bigcommerce.com/api/v2/io/companies/23/addresses/4'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'                         --header 'Content-Type: application/json'                         --data-raw '{\n    \"label\": \"12dxqwdsa\",\n    \"firstName\": \"Bundle\",\n    \"lastName\": \"Test\",\n    \"addressLine1\": \"Street.1\",\n    \"addressLine2\": \"\",\n    \"city\": \"New York\",\n    \"zipCode\": \"110202\",\n    \"phoneNumber\": \"\",\n    \"country\": {\n        \"countryName\": \"United States\",\n        \"countryCode\": \"US\"\n    },\n    \"state\": {\n        \"stateName\": \"New York\",\n        \"stateCode\": \"NY\"\n    },\n    \"isShipping\": \"1\",\n    \"isBilling\": \"1\",\n    \"isDefaultShipping\": \"1\",\n    \"isDefaultBilling\": \"0\"\n}'\n"
          },
          {
            "lang": "Python",
            "source": "\nimport requests\n\nurl = \"https://api-b2b.bigcommerce.com/api/v2/io/companies/23/addresses/4\"\npayload = {\n    \"label\": \"12dxqwdsa\",\n    \"firstName\": \"Bundle\",\n    \"lastName\": \"Test\",\n    \"addressLine1\": \"Street.1\",\n    \"addressLine2\": \"\",\n    \"city\": \"New York\",\n    \"zipCode\": \"110202\",\n    \"phoneNumber\": \"\",\n    \"country\": {\n        \"countryName\": \"United States\",\n        \"countryCode\": \"US\"\n    },\n    \"state\": {\n        \"stateName\": \"New York\",\n        \"stateCode\": \"NY\"\n    },\n    \"isShipping\": \"1\",\n    \"isBilling\": \"1\",\n    \"isDefaultShipping\": \"1\",\n    \"isDefaultBilling\": \"0\"\n}\nheaders = {\n  'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"PUT\", url, headers=headers, data = payload)\n\nprint(response.text.encode('utf8'))\n"
          },
          {
            "lang": "JavaScript",
            "source": "\nvar myHeaders = new Headers();\nmyHeaders.append(\"authToken\", \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY\");\nmyHeaders.append(\"Content-Type\", \"application/json\");\n\nvar raw = JSON.stringify({\"label\":\"12dxqwdsa\",\"firstName\":\"Bundle\",\"lastName\":\"Test\",\"addressLine1\":\"Street.1\",\"addressLine2\":\"\",\"city\":\"New York\",\"zipCode\":\"110202\",\"phoneNumber\":\"\",\"country\":{\"countryName\":\"United States\",\"countryCode\":\"US\"},\"state\":{\"stateName\":\"New York\",\"stateCode\":\"NY\"},\"isShipping\":\"1\",\"isBilling\":\"1\",\"isDefaultShipping\":\"1\",\"isDefaultBilling\":\"0\"});\n\nvar requestOptions = {\n  method: 'PUT',\n  headers: myHeaders,\n  body: raw,\n  redirect: 'follow'\n};\n\nfetch(\"https://api-b2b.bigcommerce.com/api/v2/io/companies/23/addresses/4\", requestOptions)\n  .then(response => response.text())\n  .then(result => console.log(result))\n  .catch(error => console.log('error', error));\n"
          }
        ]
      },
      "delete": {
        "operationId": "companies_addresses_delete",
        "summary": "Delete A Company Address",
        "description": "Deletes an address from a company.",
        "parameters": [
          {
            "name": "authToken",
            "in": "header",
            "description": "Auth token in header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted successful",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status code",
                  "type": "number"
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {
                    "addressId": {
                      "description": "Deleted address Id",
                      "type": "string"
                    }
                  }
                },
                "message": {
                  "description": "Response message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 200,
                "data": {
                  "addressId": 2
                },
                "message": "Success"
              }
            }
          },
          "404": {
            "description": "Company not found",
            "schema": {
              "description": "Response body",
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status code",
                  "type": "number"
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {}
                },
                "message": {
                  "description": "Response message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 404,
                "data": {
                  "errMsg": "Address Does not Exist"
                },
                "message": "Not Found Error"
              }
            }
          }
        },
        "tags": [
          "Address"
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "\ncurl --location --request DELETE 'https://api-b2b.bigcommerce.com/api/v2/io/companies/23/addresses/4'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'\n"
          },
          {
            "lang": "Python",
            "source": "\nimport requests\n\nurl = \"https://api-b2b.bigcommerce.com/api/v2/io/companies/23/addresses/4\"\n\npayload = {}\nheaders = {\n  'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'\n}\n\nresponse = requests.request(\"DELETE\", url, headers=headers, data = payload)\n\nprint(response.text.encode('utf8'))\n"
          },
          {
            "lang": "JavaScript",
            "source": "\nvar myHeaders = new Headers();\nmyHeaders.append(\"authToken\", \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY\");\n\nvar requestOptions = {\n  method: 'DELETE',\n  headers: myHeaders,\n  redirect: 'follow'\n};\n\nfetch(\"https://api-b2b.bigcommerce.com/api/v2/io/companies/23/addresses/4\", requestOptions)\n  .then(response => response.text())\n  .then(result => console.log(result))\n  .catch(error => console.log('error', error));\n"
          }
        ]
      },
      "parameters": [
        {
          "name": "addressId",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "companyId",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/companies/{companyId}/basic-info": {
      "get": {
        "operationId": "companies_basic-info_list",
        "summary": "Get Company Basic Information",
        "description": "Get company's basic information",
        "parameters": [
          {
            "name": "authToken",
            "in": "header",
            "description": "Auth token in header.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Response Success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status code",
                  "type": "number"
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {
                    "addressLine1": {
                      "description": "Company address line 1",
                      "type": "string"
                    },
                    "addressLine2": {
                      "description": "Company address line 2",
                      "type": "string"
                    },
                    "catalogId": {
                      "description": "Catalog Id",
                      "type": "string"
                    },
                    "catalogName": {
                      "description": "Catalog Id",
                      "type": "string"
                    },
                    "city": {
                      "description": "Company city",
                      "type": "string"
                    },
                    "companyEmail": {
                      "description": "Company email",
                      "type": "string"
                    },
                    "companyId": {
                      "description": "Company Id",
                      "type": "string"
                    },
                    "companyName": {
                      "description": "Company name",
                      "type": "string"
                    },
                    "companyStatus": {
                      "description": "Company status",
                      "type": "string"
                    },
                    "country": {
                      "description": "Company country",
                      "type": "string"
                    },
                    "description": {
                      "description": "Company description",
                      "type": "string"
                    },
                    "extraFields": {
                      "description": "Company extra fields",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dataType": {
                            "description": "Field data type, 0=text, 1=number, 2=textarea.",
                            "type": "string"
                          },
                          "fieldName": {
                            "description": "Field name",
                            "type": "string"
                          },
                          "fieldValue": {
                            "description": "Field value",
                            "type": "string"
                          },
                          "isRequired": {
                            "description": "Is field required or not, 0=not required, 1=required",
                            "type": "string"
                          },
                          "labelName": {
                            "description": "Field label name",
                            "type": "string"
                          }
                        }
                      }
                    },
                    "phoneNumber": {
                      "description": "Company phone number",
                      "type": "string"
                    },
                    "state": {
                      "description": "Company state",
                      "type": "string"
                    },
                    "updatedAt": {
                      "description": "Company updated timestamp",
                      "type": "string"
                    },
                    "uuid": {
                      "description": "UUID",
                      "type": "string"
                    },
                    "zipCode": {
                      "description": "Company zip code",
                      "type": "string"
                    }
                  }
                },
                "message": {
                  "description": "Response message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 200,
                "data": {
                  "addressLine1": "",
                  "addressLine2": "",
                  "catalogId": "1",
                  "catalogName": "testCatalogName",
                  "city": "Paris",
                  "companyEmail": "test@bundleb2b.com",
                  "companyId": "35",
                  "companyName": "CropTest1",
                  "companyStatus": "1",
                  "country": "French",
                  "description": "CropTest",
                  "extraFields": [
                    {
                      "dataType": "2",
                      "fieldName": "extraStr1",
                      "fieldValue": "extra_text",
                      "isRequired": "0",
                      "labelName": "Enter your license"
                    }
                  ],
                  "phoneNumber": "10030212001",
                  "state": "BC",
                  "updatedAt": "1594192159",
                  "uuid": "111",
                  "zipCode": "1032332"
                },
                "message": "SUCCESS"
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "schema": {
              "description": "Response body",
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status code",
                  "type": "number"
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {
                    "errMsg": {
                      "description": "Error message info",
                      "type": "string"
                    }
                  }
                },
                "message": {
                  "description": "Response message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 404,
                "data": {
                  "errMsg": "Companies Does not Exist"
                },
                "message": "Not Found Error"
              }
            }
          }
        },
        "tags": [
          "Company"
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "\ncurl --location --request GET 'https://api-b2b.bigcommerce.com/api/v2/companies/23/basic-info'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'                         --header 'Content-Type: application/json'\n"
          },
          {
            "lang": "Python",
            "source": "\nimport requests\n\nurl = \"https://api-b2b.bigcommerce.com/api/v2/companies/23/basic-info\"\n\npayload = {}\nheaders = {\n  'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, data = payload)\n\nprint(response.text.encode('utf8'))\n"
          },
          {
            "lang": "JavaScript",
            "source": "\nvar myHeaders = new Headers();\nmyHeaders.append(\"authToken\", \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY\");\nmyHeaders.append(\"Content-Type\", \"application/json\");\n\nvar requestOptions = {\n  method: 'GET',\n  headers: myHeaders,\n  redirect: 'follow'\n};\n\nfetch(\"https://api-b2b.bigcommerce.com/api/v2/companies/23/basic-info\", requestOptions)\n  .then(response => response.text())\n  .then(result => console.log(result))\n  .catch(error => console.log('error', error));\n"
          }
        ]
      },
      "put": {
        "operationId": "companies_basic-info_update",
        "summary": "Update Company Basic Information",
        "description": "Update a company's basic info, you can update on or more options",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "description": "Request body",
              "type": "object",
              "properties": {
                "addressLine1": {
                  "description": "Address string line 1",
                  "type": "string"
                },
                "addressLine2": {
                  "description": "Address string line 2",
                  "type": "string"
                },
                "catalogId": {
                  "description": "BigCommerce price list Id that company related(If put its 0 will clear the catalog).",
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "companyEmail": {
                  "type": "string"
                },
                "companyName": {
                  "type": "string"
                },
                "companyStatus": {
                  "description": "Company status: \n\n 0=PENDING 1=APPROVED 2=REJECTED 3=INACTIVE 4=DELETED",
                  "type": "string"
                },
                "country": {
                  "description": "\nCountry full name or ISO2 country code. For Example: \n\nA Country full name: Afghanistan \n\nISO2 Country code: AF\n",
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "extraFields": {
                  "description": "To use customized extra fields with field names you need to first add company extra fields in Settings > Extra fields inside B2B edition. eg. If you want to create a new company with an extra integer field named licenseNO, you can use this structure [{'fieldName': 'LicenseNO', 'fieldValue': 10342340323}] in the request body.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fieldName": {
                        "type": "string"
                      },
                      "fieldValue": {
                        "type": "string"
                      }
                    }
                  }
                },
                "extraInt1": {
                  "description": "The default extra integer field, you can also use this field to create a company with it.(include extraInt1 ~ extraInt5, extraStr1 ~ extraStr5, extraText) \n\n But there is an important point you need to know. After the B3 team helped you configure the custom extra fields, if you still need to use these default fields, you need to know the correspondence between the custom extra fields and the default extra fields. Otherwise, when you pass in both custom and default extra fields, if the custom extra field is bound to the default extra field you pass in, the value of the custom extra field will override the default extra field.",
                  "type": "number"
                },
                "extraInt2": {
                  "description": "Company update extra integer value, please refer to the description of extraInt1 above.",
                  "type": "number"
                },
                "extraInt3": {
                  "description": "Company update extra integer value, please refer to the description of extraInt1 above.",
                  "type": "number"
                },
                "extraInt4": {
                  "description": "Company update extra integer value, please refer to the description of extraInt1 above.",
                  "type": "number"
                },
                "extraInt5": {
                  "description": "Company update extra integer value, please refer to the description of extraInt1 above.",
                  "type": "number"
                },
                "extraStr1": {
                  "description": "Company update extra string value, please refer to the description of extraInt1 above.",
                  "type": "string"
                },
                "extraStr2": {
                  "description": "Company update extra string value, please refer to the description of extraInt1 above.",
                  "type": "string"
                },
                "extraStr3": {
                  "description": "Company update extra string value, please refer to the description of extraInt1 above.",
                  "type": "string"
                },
                "extraStr4": {
                  "description": "Company update extra string value, please refer to the description of extraInt1 above.",
                  "type": "string"
                },
                "extraStr5": {
                  "description": "Company update extra string value, please refer to the description of extraInt1 above.",
                  "type": "string"
                },
                "extraText": {
                  "description": "Company update extra string value, please refer to the description of extraInt1 above.",
                  "type": "string"
                },
                "phoneNumber": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "zipCode": {
                  "type": "string"
                },
                "priceListAssign": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "channelId": {
                        "type": "integer",
                        "description": "BigCommerce channel id"
                      },
                      "priceListId": {
                        "type": "integer",
                        "description": "BC price list ID"
                      }
                    }
                  }
                }
              }
            }
          },
          {
            "name": "authToken",
            "in": "header",
            "description": "Auth token in header.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Response Success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status code",
                  "type": "number"
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {
                    "companyId": {
                      "description": "Updated company Id",
                      "type": "string"
                    }
                  }
                },
                "message": {
                  "description": "Response message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 200,
                "data": {
                  "companyId": "2"
                },
                "message": "Success"
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "schema": {
              "description": "Response body",
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status code",
                  "type": "number"
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {
                    "errMsg": {
                      "description": "Error message info",
                      "type": "string"
                    }
                  }
                },
                "message": {
                  "description": "Response message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 404,
                "data": {
                  "errMsg": "Companies Does not Exist"
                },
                "message": "Not Found Error"
              }
            }
          }
        },
        "tags": [
          "Company"
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "\ncurl --location --request PUT 'https://api-b2b.bigcommerce.com/api/v2/io/companies/23'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'                         --header 'Content-Type: application/json'                         --data-raw '{\n    \"companyName\": \"test3.23-22\",\n    \"phoneNumber\": 122331212,\n    \"companyEmail\": \"test@test.com\",\n    \"addressLine1\": \"xxxx\",\n    \"addressLine2\": \"\",\n\n}'\n"
          },
          {
            "lang": "Python",
            "source": "\n                        import requests\n\n                        url = \"https://api-b2b.bigcommerce.com/api/v2/io/companies/23\"\n\n                        payload = \"{\n\t\"companyName\": \"test3.23-22\",\n\t\"phoneNumber\": 122331212,\n\t\"companyEmail\": \"test@test.com\",\n\t\"addressLine1\": \"xxxx\",\n\t\"addressLine2\": \"\",\n\n}\"\n                        headers = {\n                          'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY',\n                          'Content-Type': 'application/json'\n                        }\n\n                        response = requests.request(\"PUT\", url, headers=headers, data = payload)\n\n                        print(response.text.encode('utf8'))\n"
          },
          {
            "lang": "JavaScript",
            "source": "\n                        var myHeaders = new Headers();\n                        myHeaders.append(\"authToken\", \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY\");\n                        myHeaders.append(\"Content-Type\", \"application/json\");\n\n                        var raw = \"{\n\t\"companyName\": \"test3.23-22\",\n\t\"phoneNumber\": 122331212,\n\t\"companyEmail\": \"test@test.com\",\n\t\"addressLine1\": \"xxxx\",\n\t\"addressLine2\": \"\",\n\n}\";\n\n                        var requestOptions = {\n                          method: 'PUT',\n                          headers: myHeaders,\n                          body: raw,\n                          redirect: 'follow'\n                        };\n\n                        fetch(\"https://api-b2b.bigcommerce.com/api/v2/io/companies/23\", requestOptions)\n                          .then(response => response.text())\n                          .then(result => console.log(result))\n                          .catch(error => console.log('error', error));\n"
          }
        ]
      },
      "parameters": [
        {
          "name": "companyId",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/companies/{companyId}/force-del": {
      "delete": {
        "operationId": "companies_force-del_delete",
        "summary": "Delete Company With Related",
        "description": "Force Delete A Company and its Related Information.",
        "parameters": [
          {
            "name": "authToken",
            "in": "header",
            "description": "Auth token in header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted successful",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status code",
                  "type": "number"
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {
                    "companyId": {
                      "description": "Deleted company Id",
                      "type": "string"
                    }
                  }
                },
                "message": {
                  "description": "Response message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 200,
                "data": {
                  "companyId": "2"
                },
                "message": "Success"
              }
            }
          },
          "404": {
            "description": "Company not found",
            "schema": {
              "description": "Response body",
              "type": "object",
              "properties": {
                "code": {
                  "description": "Response status code",
                  "type": "number"
                },
                "data": {
                  "description": "Response data",
                  "type": "object",
                  "properties": {}
                },
                "message": {
                  "description": "Response message",
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "code": 404,
                "data": {
                  "errMsg": "Companies Does not Exist"
                },
                "message": "Not Found Error"
              }
            }
          }
        },
        "tags": [
          "Company"
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "\ncurl --location --request PUT 'https://api-b2b.bigcommerce.com/api/v2/io/companies/4/force-del'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'\n"
          },
          {
            "lang": "Python",
            "source": "\nimport requests\n\nurl = \"https://api-b2b.bigcommerce.com/api/v2/io/companies/4/force-del\"\n\npayload = {}\nheaders = {\n  'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'\n}\n\nresponse = requests.request(\"PUT\", url, headers=headers, data = payload)\n\nprint(response.text.encode('utf8'))\n"
          },
          {
            "lang": "JavaScript",
            "source": "\nvar myHeaders = new Headers();\nmyHeaders.append(\"authToken\", \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY\");\n\nvar requestOptions = {\n  method: 'PUT',\n  headers: myHeaders,\n  redirect: 'follow'\n};\n\nfetch(\"https://api-b2b.bigcommerce.com/api/v2/io/companies/4/force-del\", requestOptions)\n  .then(response => response.text())\n  .then(result => console.log(result))\n  .catch(error => console.log('error', error));\n"
          }
        ]
      },
      "parameters": [
        {
          "name": "companyId",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/companies/{companyId}/orderBCIds": {
      "get": {
        "operationId": "companies_orderBCIds_list",
[...]
