openapi: 3.0.1
info:
  title: Open API
  description: BigCommerce B2B Edition Open API Docs
  version: v3
servers:
  - url: https://api-b2b.bigcommerce.com/api/v2/io
security:
  - authToken: []
tags:
  - name: Address
  - name: Company
  - name: Order
  - name: Payment
  - name: Proxy
  - name: SalesRep
  - name: User
paths:
  /addresses/country_state:
    get:
      tags:
      - Address
      deprecated: true
      summary: Convert Country State
      description: Convert country/state name to their code or code to name
      operationId: addresses_country_state_list
      parameters:
      - name: authToken
        in: header
        description: Auth token in header
        required: true
        schema:
          type: string
      - name: country
        in: query
        description: Country code/name
        schema:
          type: string
      - name: state
        in: query
        description: Country code/name
        schema:
          type: string
      - name: search_type
        in: query
        description: "Convert type, code means transfer the input country/state name\
          \ to their code, name means transfer the input country/state code to their\
          \ name"
        schema:
          type: string
          enum:
          - code
          - name
      responses:
        "200":
          description: Response success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      countryCode:
                        type: string
                        description: The converted country code from input country
                          name
                      countryName:
                        type: string
                        description: The converted country name from input country
                          code
                      stateCode:
                        type: string
                        description: The converted state code from input state name
                      stateName:
                        type: string
                        description: The converted state name from input country code
                    description: Response data
                  message:
                    type: string
                    description: Response message
              example:
                code: 200
                data:
                  countryName: United States
                  stateName: New York
                message: SUCCESS
        "404":
          description: Response record not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      errMsg:
                        type: string
                        description: Error message info
                    description: Response data
                  message:
                    type: string
                    description: Response message
                description: Response body
              example:
                code: 404
                data: {}
                message: Not Found Error
      x-code-samples:
      - lang: Shell
        source: |2

          curl --location --request GET 'localhost:8000/api/v2/io/addresses/country_state?search_type=code&country=United%20States&state=New%20York'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiMWk2enB4cGUzZyIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoia2lkby56aGFvQGJ1bmRsZWIyYi5uZXQifQ.fB8TtxpTDdhOUmR_7gYV16w9nV3Kp0US52W8JMHG1js'                         --header 'Cookie: csrftoken=1r2Sm1HUb6NglzK7V5QJlcS7YlptUtVVGKCu9AbcYeyrKNy9erCk0SDDZnI8YKz7'
      - lang: Python
        source: |2

          import requests

          url = "localhost:8000/api/v2/io/addresses/country_state?search_type=name&country=US&state=NY"

          payload={}
          headers = {
            'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiMWk2enB4cGUzZyIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoia2lkby56aGFvQGJ1bmRsZWIyYi5uZXQifQ.fB8TtxpTDdhOUmR_7gYV16w9nV3Kp0US52W8JMHG1js',
            'Cookie': 'csrftoken=1r2Sm1HUb6NglzK7V5QJlcS7YlptUtVVGKCu9AbcYeyrKNy9erCk0SDDZnI8YKz7'
          }

          response = requests.request("GET", url, headers=headers, data=payload)

          print(response.text)
      - lang: JavaScript
        source: |2

          var myHeaders = new Headers();
          myHeaders.append("authToken", "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiMWk2enB4cGUzZyIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoia2lkby56aGFvQGJ1bmRsZWIyYi5uZXQifQ.fB8TtxpTDdhOUmR_7gYV16w9nV3Kp0US52W8JMHG1js");
          myHeaders.append("Cookie", "csrftoken=1r2Sm1HUb6NglzK7V5QJlcS7YlptUtVVGKCu9AbcYeyrKNy9erCk0SDDZnI8YKz7");

          var requestOptions = {
            method: 'GET',
            headers: myHeaders,
            redirect: 'follow'
          };

          fetch("localhost:8000/api/v2/io/addresses/country_state?search_type=code&country=United States&state=New York", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
  /companies/convert-from-customer-group:
    post:
      tags:
      - Company
      deprecated: true
      summary: Create Company From CG
      description: Create company from bigCommerce customer group. This API only enable
        for non-MSF store.
      operationId: companies_convert-from-customer-group_create
      parameters:
      - name: authToken
        in: header
        description: Auth token in header.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Request body
              allOf:
              - required:
                - adminEmail
                - adminFirstName
                - adminLastName
                - companyEmail
                - companyName
                - customerGroupId
                - phoneNumber
                type: object
                properties:
                  acceptWelcomeEmail:
                    type: string
                    description: (0=will not receive email 1=will receive email)
                    enum:
                    - "0"
                    - "1"
                  addressLine1:
                    type: string
                    description: Address string line 1
                  addressLine2:
                    type: string
                    description: Address string line 2
                  adminEmail:
                    type: string
                    description: Company admin user email
                  adminFirstName:
                    type: string
                    description: Company admin user's first name
                  adminLastName:
                    type: string
                    description: Company admin user's last name
                  adminPhoneNumber:
                    type: string
                    description: Company admin user phone number
                  city:
                    type: string
                  companyEmail:
                    type: string
                  companyName:
                    type: string
                  country:
                    type: string
                  customerGroupId:
                    type: string
                    description: BC customer group ID
                  extraFields:
                    type: array
                    description: "To use customized extra fields with field names\
                      \ you need to first add company extra fields in Settings > Extra\
                      \ fields inside B2B edition. eg. If you want to create a new\
                      \ company with an extra integer field named licenseNO, you can\
                      \ use this structure [{'fieldName': 'LicenseNO', 'fieldValue':\
                      \ 10342340323}] in the request body."
                    items:
                      type: object
                      properties:
                        fieldName:
                          type: string
                        fieldValue:
                          type: string
                  phoneNumber:
                    type: string
                  state:
                    type: string
                  zipCode:
                    type: string
              - $ref: '#/components/schemas/user_extra_field_values'
        required: true
      responses:
        "200":
          description: Response Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      companyId:
                        type: string
                        description: Created company Id
                    description: Response data
                  message:
                    type: string
                    description: Response message
              example:
                code: 200
                data:
                  companyId: "2"
                message: Success
        "400":
          description: Response Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status error code
                  data:
                    type: object
                    properties:
                      '[field]':
                        type: string
                        description: Message about problem with field 'field'
                    description: Response error data
                  message:
                    type: string
                    description: Response error message
                description: Response body
              example:
                code: 40010
                message: Enter a valid email address.
        "404":
          description: Not Found Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      errMsg:
                        type: string
                        description: Error message info
                    description: Response data
                  message:
                    type: string
                    description: Response message
                description: Response body
              example:
                code: 404
                data:
                  errMsg: Customer group does not exist
                message: Not Found Error
      x-code-samples:
      - lang: Shell
        source: |2

          curl --location --request POST 'https://api-b2b.bigcommerce.com/api/v2/io/companies/convert-from-customer-group'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'                         --header 'Content-Type: application/json'                         --data-raw '{
              "companyName": "Acme Corporation",
              "phoneNumber": 5551234567,
              "companyEmail": "contact@acme.com",
              "addressLine1": "123 Business Street",
              "addressLine2": "",
              "city": "Austin",
              "state": "TX",
              "zipCode": "78701",
              "country": "United States",
              "adminFirstName": "John",
              "adminLastName": "Doe",
              "adminEmail": "admin@acme.com",
              "adminPhoneNumber": "5551234567",
              "customerGroupId": 4
          }'
      - lang: Python
        source: |2

          import requests

          url = "https://api-b2b.bigcommerce.com/api/v2/io/companies/convert-from-customer-group"

          payload = {
              "companyName": "Acme Corporation",
              "phoneNumber": 5551234567,
              "companyEmail": "contact@acme.com",
              "addressLine1": "123 Business Street",
              "addressLine2": "",
              "city": "Austin",
              "state": "TX",
              "zipCode": "78701",
              "country": "United States",
              "adminFirstName": "John",
              "adminLastName": "Doe",
              "adminEmail": "admin@acme.com",
              "adminPhoneNumber": "5559876543",
              "customerGroupId": 4
          }
          headers = {
            'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY',
            'Content-Type': 'application/json'
          }
          response = requests.request("POST", url, headers=headers, data = payload)
          print(response.text.encode('utf8'))
      - lang: JavaScript
        source: |2

          var myHeaders = new Headers();
          myHeaders.append("authToken", "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY");
          myHeaders.append("Content-Type", "application/json");

          var raw = JSON.stringify({"companyName":"Acme Corporation","phoneNumber":5551234567,"companyEmail":"contact@acme.com","addressLine1":"123 Business Street","addressLine2":"","city":"Austin","state":"TX","zipCode":"78701","country":"United States","adminFirstName":"John","adminLastName":"Doe","adminEmail":"admin@acme.com","adminPhoneNumber":"5559876543","customerGroupId":4});

          var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
          };

          fetch("https://api-b2b.bigcommerce.com/api/v2/io/companies/convert-from-customer-group", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
      x-codegen-request-body-name: data
  /companies/users/{customerId}/orders:
    post:
      tags:
      - Order
      deprecated: true
      summary: Create Order Without CompanyID
      description: "Create an order from bigCommerce, you must known order id"
      operationId: companies_users_orders_create
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: authToken
        in: header
        description: Auth token in header.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Request body
              allOf:
              - required:
                - orderId
                - totalIncTax
                type: object
                properties:
                  orderId:
                    type: string
                    description: BigCommerce order id
                  poNumber:
                    type: string
                    description: PoNumber
                  totalIncTax:
                    type: number
                    description: Total incTax
        required: true
      responses:
        "200":
          description: Response Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      companyId:
                        type: string
                        description: Created order id
                    description: Response data
                  message:
                    type: string
                    description: Response message
              example:
                code: 200
                data:
                  orderId: 2
                message: Success
        "400":
          description: Response Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status error code
                  data:
                    type: object
                    properties:
                      '[field]':
                        type: string
                        description: Message about problem with field 'field'
                    description: Response error data
                  message:
                    type: string
                    description: Response error message
                description: Response body
              example:
                code: 40010
                data:
                  bc_order_id: orderId can not be null
                message: Bad Request Error
        "404":
          description: Not Found Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      errMsg:
                        type: string
                        description: Error message info
                    description: Response data
                  message:
                    type: string
                    description: Response message
                description: Response body
              example:
                code: 404
                data:
                  errMsg: Companies Does not Exist
                message: Not Found Error
      x-code-samples:
      - lang: Shell
        source: "\ncurl --location --request POST 'https://api-b2b.bigcommerce.com/api/v2/io/companies/users/12/orders'\
          \                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'\
          \                         --header 'Content-Type: application/json'    \
          \                     --data-raw '{\n    \"totalIncTax\": \"111\",\n   \
          \ \"orderId\": \"111\"\n}' \n"
      - lang: Python
        source: |2

          import requests

          url = "https://api-b2b.bigcommerce.com/api/v2/io/companies/users/12/orders"

          payload = {
              "totalIncTax": "111",
              "orderId": "111"
          }
          headers = {
            'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY',
            'Content-Type': 'application/json'
          }

          response = requests.request("POST", url, headers=headers, data = payload)

          print(response.text.encode('utf8'))
      - lang: JavaScript
        source: |2

          var myHeaders = new Headers();
          myHeaders.append("authToken", "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY");
          myHeaders.append("Content-Type", "application/json");

          var raw = JSON.stringify({"totalIncTax":"111","orderId":"111"});

          var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
          };

          fetch("https://api-b2b.bigcommerce.com/api/v2/io/companies/users/12/orders", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
      x-codegen-request-body-name: data
  /companies/{companyId}/addresses:
    get:
      tags:
      - Address
      deprecated: true
      summary: Get Company Addresses
      description: Get all addresses for a company
      operationId: companies_addresses_list
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
      - name: authToken
        in: header
        description: Auth token in header.
        required: true
        schema:
          type: string
      - name: minLastModifiedTime
        in: query
        description: "Company filter condition: timestamp string e.g. 01/01/2000"
        schema:
          type: number
      - name: maxLastModifiedTime
        in: query
        description: "Company filter condition: timestamp string e.g. 01/01/2000"
        schema:
          type: number
      - name: minLastCreatedTime
        in: query
        description: "Company filter condition: timestamp string e.g. 01/01/2000"
        schema:
          type: number
      - name: maxLastCreatedTime
        in: query
        description: "Company filter condition: timestamp string e.g. 01/01/2000"
        schema:
          type: number
      - name: q
        in: query
        description: Company query string
        schema:
          type: string
      - name: firstName
        in: query
        description: Address first name filter
        schema:
          type: number
      - name: lastName
        in: query
        description: Address first name filter
        schema:
          type: number
      - name: address
        in: query
        description: Address line 1 filter
        schema:
          type: number
      - name: city
        in: query
        description: Address city filter
        schema:
          type: number
      - name: country
        in: query
        description: Address country filter
        schema:
          type: number
      - name: state
        in: query
        description: Address state filter
        schema:
          type: number
      - name: zipCode
        in: query
        description: Address zip code filter
        schema:
          type: number
      - name: phoneNumber
        in: query
        description: Address phone number filter
        schema:
          type: number
      - name: isShipping
        in: query
        description: Address is shipping filter
        schema:
          type: number
      - name: isBilling
        in: query
        description: Address is billing filter
        schema:
          type: number
      - name: "externalId[]"
        in: query
        description: Address external id filter
        style: form
        explode: false
        schema:
          type: array
      - name: offset
        in: query
        description: "Address pagination offset, default 0"
        schema:
          type: number
      - name: limit
        in: query
        description: "Address pagination limit, default 4. "
        schema:
          maximum: 500
          minimum: 4
          type: number
      responses:
        "200":
          description: Response Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      addresses:
                        type: object
                        properties:
                          '[address_id]':
                            type: object
                            properties:
                              addressId:
                                type: string
                                description: Identifier for the address (same as URL
                                  parameter addressId)
                              addressLine1:
                                type: string
                                description: Typically the street address
                              addressLine2:
                                type: string
                                description: "More detailed information about where\
                                  \ to deliver mail, such as a suite or office number"
                              city:
                                type: string
                              country:
                                type: object
                                properties:
                                  countryCode:
                                    type: string
                                    description: ISO 3166-1 Alpha 2 Country Code
                                  countryName:
                                    type: string
                                    description: Human readable country name
                              firstName:
                                type: string
                              isBilling:
                                type: boolean
                                description: Indicates whether the address is a billing
                                  address
                              isDefaultBilling:
                                type: boolean
                              isDefaultShipping:
                                type: boolean
                              isShipping:
                                type: boolean
                                description: Indicates whether the address is a shipping
                                  address
                              lastName:
                                type: string
                              phoneNumber:
                                type: string
                              state:
                                type: object
                                properties:
                                  stateCode:
                                    type: string
                                    description: ISO 3166-2 Alpha 2 Country Subdivision
                                      Code
                                  stateName:
                                    type: string
                                    description: Human readable state (or other subdivision)
                                      name
                              zipCode:
                                type: string
                                description: A valid postal code used by the country
                                  that was specified
                              externalId:
                                type: string
                            description: The map from address ID to address
                          defaultBillingId:
                            type: number
                            description: The identifier of the default shipping address
                          defaultShippingId:
                            type: number
                            description: The identifier of the default shipping address
                        description: All addresses
                    description: Response data
                  message:
                    type: string
                    description: Response message
              example:
                code: 200
                data:
                  addresses:
                    "7":
                      addressId: "7"
                      addressLine1: 123 Main Street
                      addressLine2: Blvd
                      city: Austin
                      country:
                        countryCode: US
                        countryName: United States
                      firstName: Jane
                      isBilling: true
                      isDefaultBilling: true
                      isDefaultShipping: true
                      isShipping: true
                      lastName: Doe
                      phoneNumber: "11111111111"
                      state:
                        stateCode: TX
                        stateName: Texas
                      zipCode: "78751"
                      channelId: 1
                      channelName: test
                  defaultBillingId: "7"
                  defaultShippingId: "7"
                message: SUCCESS
      x-code-samples:
      - lang: Shell
        source: "\ncurl --location --request GET 'https://api-b2b.bigcommerce.com/api/v2/io/companies/39/addresses?minLastModifiedTime=1/11/2019&maxLastModifiedTime=1/11/2020&minLastCreatedTime=1/11/2019&maxLastCreatedTime=1/11/2020'\
          \                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'\
          \                         --header 'Content-Type: application/json' \n"
      - lang: Python
        source: |2+

          import requests

          url = "https://api-b2b.bigcommerce.com/api/v2/io/companies/39/addresses?minLastModifiedTime=1/11/2019&maxLastModifiedTime=1/11/2020&minLastCreatedTime=1/11/2019&maxLastCreatedTime=1/11/2020"

          payload = {}
          headers = {
            'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY',
            'Content-Type': 'application/json'
          }

          response = requests.request("GET", url, headers=headers, data = payload)

          print(response.text.encode('utf8'))

      - lang: JavaScript
        source: |2

          var myHeaders = new Headers();
          myHeaders.append("authToken", "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY");
          myHeaders.append("Content-Type", "application/json");

          var requestOptions = {
            method: 'GET',
            headers: myHeaders,
            redirect: 'follow'
          };

          fetch("https://api-b2b.bigcommerce.com/api/v2/io/companies/39/addresses?minLastModifiedTime=1/11/2019&maxLastModifiedTime=1/11/2020&minLastCreatedTime=1/11/2019&maxLastCreatedTime=1/11/2020", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
    post:
      tags:
      - Address
      deprecated: true
      summary: Create A Company Address
      description: "Creates a new address for a company. You will specify the address\
        \ fields and the type of address. The address can be billing, shipping, or\
        \ both. You can also request that this address becomes the new default billing\
        \ or shipping address for the company."
      operationId: companies_addresses_create
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
      - name: authToken
        in: header
        description: Auth token in header.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
              - addressLine1
              - city
              - country
              - firstName
              - lastName
              - state
              - zipCode
              type: object
              properties:
                addressLine1:
                  type: string
                  description: Typically the street address
                addressLine2:
                  type: string
                  description: "More detailed information about where to deliver mail,\
                    \ such as a suite or office number"
                city:
                  type: string
                country:
                  type: object
                  properties:
                    countryCode:
                      type: string
                      description: ISO 3166-1 Alpha 2 Country Code
                    countryName:
                      type: string
                      description: Human readable country name
                firstName:
                  type: string
                  description: Address first name
                isBilling:
                  type: boolean
                  description: Indicates whether the address is a billing address
                isDefaultBilling:
                  type: boolean
                  description: Indicates whether the address is the default billing
                    address
                isDefaultShipping:
                  type: boolean
                  description: Indicates whether the address is the default shipping
                    address
                isShipping:
                  type: boolean
                  description: Indicates whether the address is a shipping address
                label:
                  type: string
                  description: Address label
                lastName:
                  type: string
                  description: Address last name
                phoneNumber:
                  type: string
                  description: Address phone number
                state:
                  type: object
                  properties:
                    stateCode:
                      type: string
                      description: ISO 3166-2 Alpha 2 Country Subdivision Code
                    stateName:
                      type: string
                      description: Human readable state (or other subdivision) name
                zipCode:
                  type: string
                externalId:
                  type: string
              description: Request body
        required: true
      responses:
        "200":
          description: Response Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                    example: 200.0
                  data:
                    type: object
                    properties:
                      addressId:
                        type: integer
                        description: Created address Id
                        example: 12
                    description: Response data
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                        description: Response message
                        example: Success
            example-1:
              example:
                code: 200
                data:
                  addressId: 12
                meta:
                  message: Success
        "422":
          description: Response Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status error code
                    example: 422.0
                  data:
                    type: object
                    properties:
                      errMsg:
                        type: array
                        description: Message about problem with field 'field'
                        items:
                          type: object
                          properties:
                            '[field]':
                              type: string
                              description: field error description.
                              example: xxx field is too long.
                    description: Response error data
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                        description: Response error message
                        example: Parameter Error
                description: Response body
            example-1:
              example:
                code: 422
                data:
                  errMsg:
                  - '[field]': xxx field is too long.
                meta:
                  message: Parameter Error
      x-code-samples:
      - lang: Shell
        source: |2

          curl --location --request POST 'https://api-b2b.bigcommerce.com/api/v2/io/companies/23/addresses'                         --header 'Content-Type: application/json'                         --data-raw '{
              "label": "12dxqwdsa",
              "firstName": "Bundle",
              "lastName": "Smith",
              "addressLine1": "Street.1",
              "addressLine2": "",
              "city": "New York",
              "zipCode": "110202",
              "phoneNumber": "",
              "country": {
                  "countryName": "United States",
                  "countryCode": "US"
              },
              "state": {
                  "stateName": "New York",
                  "stateCode": "NY"
              },
              "isShipping": "1",
              "isBilling": "1",
              "isDefaultShipping": true,
              "isDefaultBilling": true
          }'
      - lang: Python
        source: |2

                                  import requests

                                  url = "https://api-b2b.bigcommerce.com/api/v2/io/companies/23/addresses"

                                  payload = "{
              "label": "12dxqwdsa",
              "firstName": "Bundle",
              "lastName": "Smith",
              "addressLine1": "Street.1",
              "addressLine2": "",
              "city": "New York",
              "zipCode": "110202",
              "phoneNumber": "",
              "country": {
                  "countryName": "United States",
                  "countryCode": "US"
              },
              "state": {
                  "stateName": "New York",
                  "stateCode": "NY"
              },
              "isShipping": "1",
              "isBilling": "1",
              "isDefaultShipping": true,
              "isDefaultBilling": true
          }"
                                  headers = {
                                    'Content-Type': 'application/json'
                                  }

                                  response = requests.request("POST", url, headers=headers, data = payload)

                                  print(response.text.encode('utf8'))
      - lang: JavaScript
        source: |2

          var myHeaders = new Headers();
          myHeaders.append("Content-Type", "application/json");

          var raw = JSON.stringify({"label":"Home Address","firstName":"Jane","lastName":"Smith","addressLine1":"123 Main Street","addressLine2":"","city":"New York","zipCode":"10001","phoneNumber":"5551234567","country":{"countryName":"United States","countryCode":"US"},"state":{"stateName":"New York","stateCode":"NY"},"isShipping":"1","isBilling":"1","isDefaultShipping":"1","isDefaultBilling":"0"});

          var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
          };

          fetch("https://api-b2b.bigcommerce.com/api/v2/io/companies/23/addresses", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
      x-codegen-request-body-name: data
  /companies/{companyId}/addresses/{addressId}:
    get:
      tags:
      - Address
      deprecated: true
      summary: Get A Company Address
      description: Get an address for a company
      operationId: companies_addresses_read
      parameters:
      - name: addressId
        in: path
        required: true
        schema:
          type: string
      - name: companyId
        in: path
        required: true
        schema:
          type: string
      - name: authToken
        in: header
        description: Auth token in header.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Response success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      addresses:
                        type: object
                        properties:
                          addressId:
                            type: string
                            description: Identifier for the address (same as URL parameter
                              addressId)
                          addressLine1:
                            type: string
                            description: Typically the street address
                          addressLine2:
                            type: string
                            description: "More detailed information about where to\
                              \ deliver mail, such as a suite or office number"
                          city:
                            type: string
                          country:
                            type: object
                            properties:
                              countryCode:
                                type: string
                                description: ISO 3166-1 Alpha 2 Country Code
                              countryName:
                                type: string
                                description: Human readable country name
                          firstName:
                            type: string
                          isBilling:
                            type: boolean
                            description: Indicates whether the address is a billing
                              address
                          isDefaultBilling:
                            type: boolean
                          isDefaultShipping:
                            type: boolean
                          isShipping:
                            type: boolean
                            description: Indicates whether the address is a shipping
                              address
                          lastName:
                            type: string
                          phoneNumber:
                            type: string
                          state:
                            type: object
                            properties:
                              stateCode:
                                type: string
                                description: ISO 3166-2 Alpha 2 Country Subdivision
                                  Code
                              stateName:
                                type: string
                                description: Human readable state (or other subdivision)
                                  name
                          zipCode:
                            type: string
                            description: A valid postal code used by the country that
                              was specified
                          externalId:
                            type: string
                        description: All addresses
                    description: Response data
                  message:
                    type: string
                    description: Response message
              example:
                code: 200
                data:
                  addressId: "6"
                  addressLine1: 123 Main Street
                  addressLine2: Blvd
                  city: Austin
                  country:
                    countryCode: US
                    countryName: United States
                  firstName: Jane
                  isBilling: true
                  isDefaultBilling: true
                  isDefaultShipping: true
                  isShipping: true
                  lastName: Doe
                  phoneNumber: "11111111111"
                  state:
                    stateCode: TX
                    stateName: Texas
                  zipCode: "78751"
                  channelId: 1
                  channelName: test
                message: SUCCESS
        "404":
          description: Response record not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      errMsg:
                        type: string
                        description: Error message info
                    description: Response data
                  message:
                    type: string
                    description: Response message
                description: Response body
              example:
                code: 404
                data: {}
                message: Not Found Error
      x-code-samples:
      - lang: Shell
        source: |2

          curl --location --request GET 'https://api-b2b.bigcommerce.com/api/v2/io/companies/39/addresses/2'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'                         --header 'Content-Type: application/json'
      - lang: Python
        source: |2

          import requests

          url = "https://api-b2b.bigcommerce.com/api/v2/io/companies/39/addresses/2"

          payload = {}
          headers = {
            'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY',
            'Content-Type': 'application/json'
          }

          response = requests.request("GET", url, headers=headers, data = payload)

          print(response.text.encode('utf8'))
      - lang: JavaScript
        source: |2

          var myHeaders = new Headers();
          myHeaders.append("authToken", "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY");
          myHeaders.append("Content-Type", "application/json");

          var requestOptions = {
            method: 'GET',
            headers: myHeaders,
            redirect: 'follow'
          };

          fetch("https://api-b2b.bigcommerce.com/api/v2/io/companies/39/addresses/2", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
    put:
      tags:
      - Address
      deprecated: true
      summary: Update A Company Address
      description: "Updates an address for a company. You can change whether the address\
        \ is for billing, shipping, or both. You can also update the address to be\
        \ the default billing or shipping address for the company."
      operationId: companies_addresses_update
      parameters:
      - name: addressId
        in: path
        required: true
        schema:
          type: string
      - name: companyId
        in: path
        required: true
        schema:
          type: string
      - name: authToken
        in: header
        description: Auth token in header.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                addressLine1:
                  type: string
                  description: Typically the street address
                addressLine2:
                  type: string
                  description: "More detailed information about where to deliver mail,\
                    \ such as a suite or office number"
                city:
                  type: string
                country:
                  type: object
                  properties:
                    countryCode:
                      type: string
                      description: ISO 3166-1 Alpha 2 Country Code
                    countryName:
                      type: string
                      description: Human readable country name
                firstName:
                  type: string
                  description: Address first name
                isBilling:
                  type: boolean
                  description: Indicates whether the address is a billing address
                isDefaultBilling:
                  type: boolean
                  description: Indicates whether the address is the default billing
                    address
                isDefaultShipping:
                  type: boolean
                  description: Indicates whether the address is the default shipping
                    address
                isShipping:
                  type: boolean
                  description: Indicates whether the address is a shipping address
                label:
                  type: string
                  description: Address label
                lastName:
                  type: string
                  description: Address last name
                phoneNumber:
                  type: string
                  description: Address phone number
                state:
                  type: object
                  properties:
                    stateCode:
                      type: string
                      description: ISO 3166-2 Alpha 2 Country Subdivision Code
                    stateName:
                      type: string
                      description: Human readable state (or other subdivision) name
                zipCode:
                  type: string
                externalId:
                  type: string
              description: Request body
        required: true
      responses:
        "200":
          description: Response Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      addressId:
                        type: string
                        description: Updated address Id
                    description: Response data
                  message:
                    type: string
                    description: Response message
              example:
                code: 200
                data:
                  addressId: 4
                message: Success
        "400":
          description: Response Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status error code
                  data:
                    type: object
                    properties:
                      '[field]':
                        type: string
                        description: Message about problem with field 'field'
                    description: Response error data
                  message:
                    type: string
                    description: Response error message
                description: Response body
              example:
                code: 40010
                data:
                  address_line_1: Address not allow None
                  last_name: Last name not allow None
                message: Bad Requests Error
        "404":
          description: Not Found Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      errMsg:
                        type: string
                        description: Error message info
                    description: Response data
                  message:
                    type: string
                    description: Response message
                description: Response body
              example:
                code: 404
                data:
                  errMsg: Address Does not Exist
                message: Not Found Error
      x-code-samples:
      - lang: Shell
        source: |2

          curl --location --request PUT 'https://api-b2b.bigcommerce.com/api/v2/io/companies/23/addresses/4'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'                         --header 'Content-Type: application/json'                         --data-raw '{
              "label": "12dxqwdsa",
              "firstName": "Bundle",
              "lastName": "Smith",
              "addressLine1": "Street.1",
              "addressLine2": "",
              "city": "New York",
              "zipCode": "110202",
              "phoneNumber": "",
              "country": {
                  "countryName": "United States",
                  "countryCode": "US"
              },
              "state": {
                  "stateName": "New York",
                  "stateCode": "NY"
              },
              "isShipping": "1",
              "isBilling": "1",
              "isDefaultShipping": "1",
              "isDefaultBilling": "0"
          }'
      - lang: Python
        source: |2

          import requests

          url = "https://api-b2b.bigcommerce.com/api/v2/io/companies/23/addresses/4"
          payload = {
              "label": "12dxqwdsa",
              "firstName": "Bundle",
              "lastName": "Smith",
              "addressLine1": "Street.1",
              "addressLine2": "",
              "city": "New York",
              "zipCode": "110202",
              "phoneNumber": "",
              "country": {
                  "countryName": "United States",
                  "countryCode": "US"
              },
              "state": {
                  "stateName": "New York",
                  "stateCode": "NY"
              },
              "isShipping": "1",
              "isBilling": "1",
              "isDefaultShipping": "1",
              "isDefaultBilling": "0"
          }
          headers = {
            'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY',
            'Content-Type': 'application/json'
          }

          response = requests.request("PUT", url, headers=headers, data = payload)

          print(response.text.encode('utf8'))
      - lang: JavaScript
        source: |2

          var myHeaders = new Headers();
          myHeaders.append("authToken", "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY");
          myHeaders.append("Content-Type", "application/json");

          var raw = JSON.stringify({"label":"Home Address","firstName":"Jane","lastName":"Smith","addressLine1":"123 Main Street","addressLine2":"","city":"New York","zipCode":"10001","phoneNumber":"5551234567","country":{"countryName":"United States","countryCode":"US"},"state":{"stateName":"New York","stateCode":"NY"},"isShipping":"1","isBilling":"1","isDefaultShipping":"1","isDefaultBilling":"0"});

          var requestOptions = {
            method: 'PUT',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
          };

          fetch("https://api-b2b.bigcommerce.com/api/v2/io/companies/23/addresses/4", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
      x-codegen-request-body-name: data
    delete:
      tags:
      - Address
      deprecated: true
      summary: Delete A Company Address
      description: Deletes an address from a company.
      operationId: companies_addresses_delete
      parameters:
      - name: addressId
        in: path
        required: true
        schema:
          type: string
      - name: companyId
        in: path
        required: true
        schema:
          type: string
      - name: authToken
        in: header
        description: Auth token in header
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Deleted successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      addressId:
                        type: string
                        description: Deleted address Id
                    description: Response data
                  message:
                    type: string
                    description: Response message
              example:
                code: 200
                data:
                  addressId: 2
                message: Success
        "404":
          description: Company not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties: {}
                    description: Response data
                  message:
                    type: string
                    description: Response message
                description: Response body
              example:
                code: 404
                data:
                  errMsg: Address Does not Exist
                message: Not Found Error
      x-code-samples:
      - lang: Shell
        source: |2

          curl --location --request DELETE 'https://api-b2b.bigcommerce.com/api/v2/io/companies/23/addresses/4'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'
      - lang: Python
        source: |2

          import requests

          url = "https://api-b2b.bigcommerce.com/api/v2/io/companies/23/addresses/4"

          payload = {}
          headers = {
            'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'
          }

          response = requests.request("DELETE", url, headers=headers, data = payload)

          print(response.text.encode('utf8'))
      - lang: JavaScript
        source: |2

          var myHeaders = new Headers();
          myHeaders.append("authToken", "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY");

          var requestOptions = {
            method: 'DELETE',
            headers: myHeaders,
            redirect: 'follow'
          };

          fetch("https://api-b2b.bigcommerce.com/api/v2/io/companies/23/addresses/4", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
  /companies/{companyId}/basic-info:
    get:
      tags:
      - Company
      deprecated: true
      summary: Get Company Basic Information
      description: Get company's basic information
      operationId: companies_basic-info_list
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
      - name: authToken
        in: header
        description: Auth token in header.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Response Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      addressLine1:
                        type: string
                        description: Company address line 1
                      addressLine2:
                        type: string
                        description: Company address line 2
                      catalogId:
                        type: string
                        description: Catalog Id
                      catalogName:
                        type: string
                        description: Catalog Id
                      city:
                        type: string
                        description: Company city
                      companyEmail:
                        type: string
                        description: Company email
                      companyId:
                        type: string
                        description: Company Id
                      companyName:
                        type: string
                        description: Company name
                      companyStatus:
                        type: string
                        description: Company status
                      country:
                        type: string
                        description: Company country
                      description:
                        type: string
                        description: Company description
                      extraFields:
                        type: array
                        description: Company extra fields
                        items:
                          type: object
                          properties:
                            dataType:
                              type: string
                              description: "Field data type, 0=text, 1=number, 2=textarea."
                            fieldName:
                              type: string
                              description: Field name
                            fieldValue:
                              type: string
                              description: Field value
                            isRequired:
                              type: string
                              description: "Is field required or not, 0=not required,\
                                \ 1=required"
                            labelName:
                              type: string
                              description: Field label name
                      phoneNumber:
                        type: string
                        description: Company phone number
                      state:
                        type: string
                        description: Company state
                      updatedAt:
                        type: string
                        description: Company updated timestamp
                      uuid:
                        type: string
                        description: UUID
                      zipCode:
                        type: string
                        description: Company zip code
                    description: Response data
                  message:
                    type: string
                    description: Response message
              example:
                code: 200
                data:
                  addressLine1: ""
                  addressLine2: ""
                  catalogId: "1"
                  catalogName: testCatalogName
                  city: Paris
                  companyEmail: contact@example.com
                  companyId: "35"
                  companyName: CropTest1
                  companyStatus: "1"
                  country: French
                  description: CropTest
                  extraFields:
                  - dataType: "2"
                    fieldName: extraStr1
                    fieldValue: extra_text
                    isRequired: "0"
                    labelName: Enter your license
                  phoneNumber: "10030212001"
                  state: BC
                  updatedAt: "1594192159"
                  uuid: "111"
                  zipCode: "1032332"
                message: SUCCESS
        "404":
          description: Not Found Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      errMsg:
                        type: string
                        description: Error message info
                    description: Response data
                  message:
                    type: string
                    description: Response message
                description: Response body
              example:
                code: 404
                data:
                  errMsg: Companies Does not Exist
                message: Not Found Error
      x-code-samples:
      - lang: Shell
        source: |2

          curl --location --request GET 'https://api-b2b.bigcommerce.com/api/v2/companies/23/basic-info'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'                         --header 'Content-Type: application/json'
      - lang: Python
        source: |2

          import requests

          url = "https://api-b2b.bigcommerce.com/api/v2/companies/23/basic-info"

          payload = {}
          headers = {
            'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY',
            'Content-Type': 'application/json'
          }

          response = requests.request("GET", url, headers=headers, data = payload)

          print(response.text.encode('utf8'))
      - lang: JavaScript
        source: |2

          var myHeaders = new Headers();
          myHeaders.append("authToken", "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY");
          myHeaders.append("Content-Type", "application/json");

          var requestOptions = {
            method: 'GET',
            headers: myHeaders,
            redirect: 'follow'
          };

          fetch("https://api-b2b.bigcommerce.com/api/v2/companies/23/basic-info", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
    put:
      tags:
      - Company
      deprecated: true
      summary: Update Company Basic Information
      description: "Update a company's basic info, you can update on or more options"
      operationId: companies_basic-info_update
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
      - name: authToken
        in: header
        description: Auth token in header.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                addressLine1:
                  type: string
                  description: Address string line 1
                addressLine2:
                  type: string
                  description: Address string line 2
                catalogId:
                  type: string
                  description: BigCommerce price list Id that company related(If put
                    its 0 will clear the catalog).
                city:
                  type: string
                companyEmail:
                  type: string
                companyName:
                  type: string
                companyStatus:
                  type: string
                  description: "Company status: \n\n 0=PENDING 1=APPROVED 2=REJECTED\
                    \ 3=INACTIVE 4=DELETED"
                country:
                  type: string
                  description: "\nCountry full name or ISO2 country code. For Example:\
                    \ \n\nA Country full name: Afghanistan \n\nISO2 Country code:\
                    \ AF\n"
                description:
                  type: string
                extraFields:
                  type: array
                  description: "To use customized extra fields with field names you\
                    \ need to first add company extra fields in Settings > Extra fields\
                    \ inside B2B edition. eg. If you want to create a new company\
                    \ with an extra integer field named licenseNO, you can use this\
                    \ structure [{'fieldName': 'LicenseNO', 'fieldValue': 10342340323}]\
                    \ in the request body."
                  items:
                    type: object
                    properties:
                      fieldName:
                        type: string
                      fieldValue:
                        type: string
                phoneNumber:
                  type: string
                state:
                  type: string
                zipCode:
                  type: string
                priceListAssign:
                  type: array
                  items:
                    type: object
                    properties:
                      channelId:
                        type: integer
                        description: BigCommerce channel id
                      priceListId:
                        type: integer
                        description: BC price list ID
              description: Request body
        required: true
      responses:
        "200":
          description: Response Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      companyId:
                        type: string
                        description: Updated company Id
                    description: Response data
                  message:
                    type: string
                    description: Response message
              example:
                code: 200
                data:
                  companyId: "2"
                message: Success
        "404":
          description: Not Found Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      errMsg:
                        type: string
                        description: Error message info
                    description: Response data
                  message:
                    type: string
                    description: Response message
                description: Response body
              example:
                code: 404
                data:
                  errMsg: Companies Does not Exist
                message: Not Found Error
      x-code-samples:
      - lang: Shell
        source: |2

          curl --location --request PUT 'https://api-b2b.bigcommerce.com/api/v2/io/companies/23'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'                         --header 'Content-Type: application/json'                         --data-raw '{
              "companyName": "test3.23-22",
              "phoneNumber": 122331212,
              "companyEmail": "contact@acme.com",
              "addressLine1": "xxxx",
              "addressLine2": "",

          }'
      - lang: Python
        source: "\n                        import requests\n\n                   \
          \     url = \"https://api-b2b.bigcommerce.com/api/v2/io/companies/23\"\n\
          \n                        payload = \"{\n\t\"companyName\": \"test3.23-22\"\
          ,\n\t\"phoneNumber\": 122331212,\n\t\"companyEmail\": \"test@test.com\"\
          ,\n\t\"addressLine1\": \"xxxx\",\n\t\"addressLine2\": \"\",\n\n}\"\n   \
          \                     headers = {\n                          'authToken':\
          \ 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY',\n\
          \                          'Content-Type': 'application/json'\n        \
          \                }\n\n                        response = requests.request(\"\
          PUT\", url, headers=headers, data = payload)\n\n                       \
          \ print(response.text.encode('utf8'))\n"
      - lang: JavaScript
        source: "\n                        var myHeaders = new Headers();\n      \
          \                  myHeaders.append(\"authToken\", \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY\"\
          );\n                        myHeaders.append(\"Content-Type\", \"application/json\"\
          );\n\n                        var raw = \"{\n\t\"companyName\": \"test3.23-22\"\
          ,\n\t\"phoneNumber\": 122331212,\n\t\"companyEmail\": \"test@test.com\"\
          ,\n\t\"addressLine1\": \"xxxx\",\n\t\"addressLine2\": \"\",\n\n}\";\n\n\
          \                        var requestOptions = {\n                      \
          \    method: 'PUT',\n                          headers: myHeaders,\n   \
          \                       body: raw,\n                          redirect:\
          \ 'follow'\n                        };\n\n                        fetch(\"\
          https://api-b2b.bigcommerce.com/api/v2/io/companies/23\", requestOptions)\n\
          \                          .then(response => response.text())\n        \
          \                  .then(result => console.log(result))\n              \
          \            .catch(error => console.log('error', error));\n"
      x-codegen-request-body-name: data
  /companies/{companyId}/force-del:
    delete:
      tags:
      - Company
      deprecated: true
      summary: Delete Company With Related
      description: Force Delete A Company and its Related Information.
      operationId: companies_force-del_delete
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
      - name: authToken
        in: header
        description: Auth token in header
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Deleted successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      companyId:
                        type: string
                        description: Deleted company Id
                    description: Response data
                  message:
                    type: string
                    description: Response message
              example:
                code: 200
                data:
                  companyId: "2"
                message: Success
        "404":
          description: Company not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties: {}
                    description: Response data
                  message:
                    type: string
                    description: Response message
                description: Response body
              example:
                code: 404
                data:
                  errMsg: Companies Does not Exist
                message: Not Found Error
      x-code-samples:
      - lang: Shell
        source: |2

          curl --location --request PUT 'https://api-b2b.bigcommerce.com/api/v2/io/companies/4/force-del'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'
      - lang: Python
        source: |2

          import requests

          url = "https://api-b2b.bigcommerce.com/api/v2/io/companies/4/force-del"

          payload = {}
          headers = {
            'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'
          }

          response = requests.request("PUT", url, headers=headers, data = payload)

          print(response.text.encode('utf8'))
      - lang: JavaScript
        source: |2

          var myHeaders = new Headers();
          myHeaders.append("authToken", "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY");

          var requestOptions = {
            method: 'PUT',
            headers: myHeaders,
            redirect: 'follow'
          };

          fetch("https://api-b2b.bigcommerce.com/api/v2/io/companies/4/force-del", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
  /companies/{companyId}/orderBCIds:
    get:
      tags:
      - Company
      deprecated: true
      summary: Get BC Order Id List By Company Id
      description: Get bC order ID list by company id
      operationId: companies_orderBCIds_list
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
      - name: authToken
        in: header
        description: Auth token in header.
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: "Pagination offset default: 0"
        schema:
          type: number
      - name: limit
        in: query
        description: "Pagination limit default: 10"
        schema:
          type: number
      - name: beginDateAt
        in: query
        description: "End date filter, in format '12/31/2019'"
        schema:
          type: string
      - name: endDateAt
        in: query
        description: "End date filter, in format '12/31/2019'"
        schema:
          type: string
      responses:
        "200":
          description: Response Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        description: ""
                        items:
                          type: object
                          properties:
                            orderId:
                              type: string
                              description: Order id
                      pagination:
                        type: object
                        properties:
                          limit:
                            type: number
                            description: Response pagination limit
                          offset:
                            type: number
                            description: Response pagination offset
                          totalCount:
                            type: number
                            description: Response data items number
                        description: Response data pagination
                  message:
                    type: string
                    description: Response message
              example:
                code: 200
                data:
                  list:
                  - orderId: "1"
                  pagination:
                    limit: 10
                    offset: 0
                    totalCount: 3
                message: Success
        "404":
          description: Not Found Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      errMsg:
                        type: string
                        description: Error message info
                    description: Response data
                  message:
                    type: string
                    description: Response message
                description: Response body
              example:
                code: 404
                data:
                  errMsg: Companies Does not Exist
                message: Not Found Error
      x-code-samples:
      - lang: Shell
        source: |2

          curl --location --request GET 'https://api-b2b.bigcommerce.com/api/v2/io/companies/4/orderBCIds'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'
      - lang: Python
        source: |2

          import requests

          url = "https://api-b2b.bigcommerce.com/api/v2/io/companies/4/orderBCIds"

          payload = {}
          headers = {
            'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'
          }

          response = requests.request("GET", url, headers=headers, data = payload)

          print(response.text.encode('utf8'))
      - lang: JavaScript
        source: |2

          var myHeaders = new Headers();
          myHeaders.append("authToken", "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY");

          var requestOptions = {
            method: 'GET',
            headers: myHeaders,
            redirect: 'follow'
          };

          fetch("https://api-b2b.bigcommerce.com/api/v2/io/companies/4/orderBCIds", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
  /companies/{companyId}/orders:
    get:
      tags:
      - Order
      deprecated: true
      summary: Get Company Orders
      description: "Get company all orders, with pagination data"
      operationId: companies_orders_list
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
      - name: authToken
        in: header
        description: Auth token in header.
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: "Pagination offset default: 0"
        schema:
          type: number
      - name: limit
        in: query
        description: "Pagination limit default: 10"
        schema:
          type: number
      - name: orderBy
        in: query
        description: "in ['bcOrderId', 'totalIncTax', 'createdAt']"
        schema:
          type: string
      - name: beginDateAt
        in: query
        description: "End date filter, in format '12/31/2019'"
        schema:
          type: string
      - name: endDateAt
        in: query
        description: "End date filter, in format '12/31/2019'"
        schema:
          type: string
      - name: includeExtra
        in: query
        description: "Switch show extra fields, allow: 0, 1"
        schema:
          type: string
      - name: channelId
        in: query
        description: BigComerce channel id
        schema:
          type: number
      responses:
        "200":
          description: Response Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            OrderStatus:
                              type: string
                              description: "Order status, eg. Awaiting Payment"
                            companyName:
                              type: string
                              description: User phone number
                            createdAt:
                              type: string
                              description: Order created date.
                            firstName:
                              type: string
                              description: Order's user first name.
                            isInvoiceOrder:
                              type: string
                              description: Is a invoice order
                            lastName:
                              type: string
                              description: Order's user last name
                            orderId:
                              type: string
                              description: Order id
                            totalIncTax:
                              type: string
                              description: Order's total invoice taxes.
                            updatedAt:
                              type: string
                              description: Order updated date.
                            channelName:
                              type: string
                              description: BigCommerce channel name
                            channelId:
                              type: string
                              description: BigCommerce channel id
                      pagination:
                        type: object
                        properties:
                          limit:
                            type: number
                            description: Response pagination limit
                          offset:
                            type: number
                            description: Response pagination offset
                          totalCount:
                            type: number
                            description: Response data items number
                        description: Response data pagination
                    description: Response data
                  message:
                    type: string
                    description: Response message
              example:
                code: 200
                data:
                  list:
                  - companyName: fkkfcctest
                    createdAt: "1572323610"
                    firstName: james
                    isInvoiceOrder: "0"
                    lastName: liu
                    orderId: "126"
                    orderStatus: Awaiting Payment
                    totalIncTax: "100.0000"
                    updatedAt: "1572323610"
                    channelId: 1
                    channelName: test
                  - companyName: fkkfcctest
                    createdAt: "1572323432"
                    firstName: james
                    isInvoiceOrder: "0"
                    lastName: liu
                    orderId: "124"
                    orderStatus: Awaiting Payment
                    totalIncTax: "50.0000"
                    updatedAt: "1572323432"
                    channelId: 1
                    channelName: test
                  - companyName: fkkfcctest
                    createdAt: "1572321777"
                    firstName: james
                    isInvoiceOrder: "0"
                    lastName: liu
                    orderId: "125"
                    orderStatus: Awaiting Payment
                    totalIncTax: "50.0000"
                    updatedAt: "1572321777"
                    channelId: 1
                    channelName: test
                  paginator:
                    limit: 10
                    offset: 0
                    totalCount: 3
                message: SUCCESS
        "404":
          description: Not Found Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: object
                    properties:
                      errMsg:
                        type: string
                        description: Error message info
                    description: Response data
                  message:
                    type: string
                    description: Response message
                description: Response body
              example:
                code: 404
                data:
                  errMsg: Companies Does not Exist
                message: Not Found Error
      x-code-samples:
      - lang: Shell
        source: |2

          curl --location --request GET 'https://api-b2b.bigcommerce.com/api/v2/io/companies/{companyId}/orders'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'
      - lang: Python
        source: |2

          import requests

          url = "https://api-b2b.bigcommerce.com/api/v2/io/companies/{companyId}/orders"

          payload = {}
          headers = {
            'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'
          }

          response = requests.request("GET", url, headers=headers, data = payload)

          print(response.text.encode('utf8'))
      - lang: JavaScript
        source: |2

          var myHeaders = new Headers();
          myHeaders.append("authToken", "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY");

          var requestOptions = {
            method: 'GET',
            headers: myHeaders,
            redirect: 'follow'
          };

          fetch("https://api-b2b.bigcommerce.com/api/v2/io/companies/{companyId}/orders", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
  /companies/{companyId}/payments:
    get:
      tags:
      - Payment
      deprecated: true
      summary: Get Company Payments Methods
      description: "Get company payments methods, include inactive"
      operationId: companies_payments_list
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
      - name: authToken
        in: header
        description: Auth token in header.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Response Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: Response status code
                  data:
                    type: array
                    description: ""
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: Payment code
                        isEnabled:
                          type: string
                          description: Payment method status
                        name:
                          type: string
                          description: Payment name
                        paymentId:
                          type: number
                          description: Payment id
                  message:
                    type: string
                    description: Response message
              example:
                code: 200
                data:
                - code: cheque
                  isEnabled: "1"
                  name: Check
                  paymentId: 3
                - code: bankdeposit
                  isEnabled: "0"
                  name: Bank Deposit
                  paymentId: 6
                - code: cod
                  isEnabled: "0"
                  name: Cash on Delivery
                  paymentId: 7
                - code: moneyorder
                  isEnabled: "0"
                  name: Money Order
                  paymentId: 8
                - code: testgateway
                  isEnabled: "0"
                  name: Test Payment Gateway
                  paymentId: 5
                message: SUCCESS
      x-code-samples:
      - lang: Shell
        source: |2

          curl --location --request GET 'https://api-b2b.bigcommerce.com/api/v2/io/companies/4/payments'                         --header 'authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'
      - lang: Python
        source: |2

          import requests

          url = "https://api-b2b.bigcommerce.com/api/v2/io/companies/4/payments"

          payload = {}
          headers = {
            'authToken': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY'
          }

          response = requests.request("GET", url, headers=headers, data = payload)

          print(response.text.encode('utf8'))
      - lang: JavaScript
        source: |2

          var myHeaders = new Headers();
          myHeaders.append("authToken", "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdG9yZV9oYXNoIjoiZjJvc3hqam54aiIsImRiIjoiZGVmYXVsdCIsImVtYWlsIjoiYnJ1Y2UuaHVhbmdAc2lsa3NvZnR3YXJlLmNvbSJ9._DQFg-3FgtztdQVCGU5Gxfv8j8V3U9Ssaw7ARxUU6pY");

          var requestOptions = {
            method: 'GET',
            headers: myHeaders,
            redirect: 'follow'
          };

          fetch("https://api-b2b.bigcommerce.com/api/v2/io/companies/4/payments", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
    put:
      tags:
      - Payment
      deprecated: true
      summary: Update Company Payments Methods
      description: "Update Company payments methods' status, change them active or\
        \ not"
      operationId: companies_payments_update
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
      - name: authToken
        in: header
        description: Auth token in header.
        required: true
        schema:
[...]
