openapi: 3.0.1
info:
  title: Config
  description: BigCommerce B2B Edition Invoice Config
  contact: {}
  version: v3
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v3/io/ip'
security:
  - authToken: []
tags:
  - name: Config
    description: Config
components:
  securitySchemes:
    authToken:
      name: authToken
      type: apiKey
      in: header
paths:
  /config:
    get:
      summary: Get Invoice Portal Configs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  data:
                    type: object
                    required:
                      - allMethods
                      - invoiceEmailTemplate
                      - isPaymentProcessingEnabled
                      - payments
                      - paymentsBigcommerceSalesOrder
                      - paymentsMinibc
                      - paymentsOffline
                      - paymentsTest
                      - storesBundleb2b
                    properties:
                      allMethods:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        description: Allow payment methods
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              minLength: 1
                            name:
                              type: string
                              minLength: 1
                            testMode:
                              type: boolean
                          required:
                            - code
                            - name
                            - testMode
                      invoiceEmailTemplate:
                        type: object
                        properties:
                          html:
                            type: string
                          isEnabled:
                            type: number
                          title:
                            type: string
                      isPaymentProcessingEnabled:
                        type: object
                        properties:
                          isEnabled:
                            type: number
                          isStorefrontMethod:
                            type: number
                      payments:
                        type: object
                        required:
                          - paymentHoldPolicy
                          - generalPaymentFees
                          - statusAfterPaymentIsMade
                          - invoiceBalanceUpdatePolicy
                          - onlinePaymentAutomaticInvoiceGeneration
                          - offlinePaymentAutomaticInvoiceGeneration
                        properties:
                          paymentHoldPolicy:
                            type: number
                          generalPaymentFees:
                            type: array
                            items:
                              type: object
                          statusAfterPaymentIsMade:
                            type: number
                          invoiceBalanceUpdatePolicy:
                            type: number
                          onlinePaymentAutomaticInvoiceGeneration:
                            type: number
                          offlinePaymentAutomaticInvoiceGeneration:
                            type: number
                      paymentsBigcommerceSalesOrder:
                        type: object
                        description: Pay Invoice Online
                        required:
                          - isEnabled
                          - productId
                          - variantId
                          - displayName
                          - allowedMethods
                          - isStorefrontMethod
                        properties:
                          isEnabled:
                            type: number
                          productId:
                            type: number
                          variantId:
                            type: number
                          displayName:
                            type: string
                            minLength: 1
                          allowedMethods:
                            type: array
                            items:
                              type: object
                          isStorefrontMethod:
                            type: number
                      paymentsMinibc:
                        type: object
                        description: ''
                        required:
                          - apiKey
                          - rootUrl
                          - isEnabled
                          - displayName
                          - authorizeOnly
                          - isStorefrontMethod
                        properties:
                          apiKey:
                            type: string
                            minLength: 1
                          rootUrl:
                            type: string
                            minLength: 1
                          isEnabled:
                            type: number
                          displayName:
                            type: string
                            minLength: 1
                          authorizeOnly:
                            type: number
                          isStorefrontMethod:
                            type: number
                          storeId:
                            type: string
                          token:
                            type: string
                      paymentsOffline:
                        type: object
                        description: ''
                        required:
                          - isEnabled
                          - displayName
                          - isStorefrontMethod
                        properties:
                          isEnabled:
                            type: number
                          displayName:
                            type: string
                            minLength: 1
                          isStorefrontMethod:
                            type: number
                      paymentsTest:
                        type: object
                        description: Test Payment Gateway
                        required:
                          - isEnabled
                          - displayName
                          - isStorefrontMethod
                        properties:
                          isEnabled:
                            type: number
                          displayName:
                            type: string
                            minLength: 1
                          isStorefrontMethod:
                            type: number
                      storesBundleb2b:
                        type: object
                        required:
                          - apiKey
                          - isEnabled
                          - internalEmail
                          - internalPassword
                        properties:
                          apiKey:
                            type: string
                          isEnabled:
                            type: number
                          internalEmail:
                            type: string
                          internalPassword:
                            type: string
                  meta:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: string
                        minLength: 1
                required:
                  - code
                  - data
                  - meta
              examples:
                '200':
                  value:
                    code: 200
                    data:
                      paymentsOffline:
                        isEnabled: 1
                        displayName: Offline Payment
                        isStorefrontMethod: 0
                      paymentsTest:
                        isEnabled: 0
                        displayName: Test Payment Gateway123
                        isStorefrontMethod: 1
                      payments:
                        paymentHoldPolicy: 0
                        generalPaymentFees: []
                        statusAfterPaymentIsMade: 3
                        invoiceBalanceUpdatePolicy: 1
                        onlinePaymentAutomaticInvoiceGeneration: 0
                        offlinePaymentAutomaticInvoiceGeneration: 0
                      paymentsBigcommerceSalesOrder:
                        isEnabled: 1
                        productId: 113
                        variantId: 78
                        displayName: Pay with BigCommerce
                        allowedMethods:
                          - testgateway
                          - cheque
                        isStorefrontMethod: 1
                      storesBundleb2b:
                        apiKey: ''
                        isEnabled: 0
                        internalEmail: ''
                        internalPassword: ''
                      paymentsMinibc:
                        apiKey: MTIxNy5hcGlfNWYwNGI5xxxxxxxxOTYuMjkxMDAxNTAuMTU5NDE0NTE0NA==
                        rootUrl: 'https://apps.minibc.com/api/apps/recurring/v1'
                        isEnabled: 1
                        displayName: Credit / Debit Card
                        authorizeOnly: 0
                        isStorefrontMethod: 1
                      allMethods:
                        - code: cheque
                          name: Check
                          testMode: false
                        - code: testgateway
                          name: Test Payment Gateway
                          testMode: true
                      invoiceEmailTemplate:
                        html: '<p style="padding: 0px; margin-top: 10px; line-height: 1.5; color: rgba(0, 0, 0, 0.87); font-family: Roboto, Helvetica, Arial, sans-serif; letter-spacing: 0.12852px; font-size: 16px !important;">Dear Customer,</p><p style="padding: 0px; margin-top: 10px; line-height: 1.5; color: rgba(0, 0, 0, 0.87); font-family: Roboto, Helvetica, Arial, sans-serif; letter-spacing: 0.12852px; font-size: 16px !important;">A new invoice for your {store_name} order has been issued.</p><p style="padding: 0px; margin-top: 10px; line-height: 1.5; color: rgba(0, 0, 0, 0.87); font-family: Roboto, Helvetica, Arial, sans-serif; letter-spacing: 0.12852px; font-size: 16px !important;">Order Number： {order_number}</p><p style="padding: 0px; margin-top: 10px; line-height: 1.5; color: rgba(0, 0, 0, 0.87); font-family: Roboto, Helvetica, Arial, sans-serif; letter-spacing: 0.12852px; font-size: 16px !important;">Invoice Number： {invoice_number}</p><p style="padding: 0px; margin-top: 10px; line-height: 1.5; color: rgba(0, 0, 0, 0.87); font-family: Roboto, Helvetica, Arial, sans-serif; letter-spacing: 0.12852px; font-size: 16px !important;">View Invoice： {invoice_detail _url}</p><p style="padding: 0px; margin-top: 10px; line-height: 1.5; color: rgba(0, 0, 0, 0.87); font-family: Roboto, Helvetica, Arial, sans-serif; letter-spacing: 0.12852px; font-size: 16px !important;">sssss</p><p style="padding: 0px; margin-top: 10px; line-height: 1.5; color: rgba(0, 0, 0, 0.87); font-family: Roboto, Helvetica, Arial, sans-serif; letter-spacing: 0.12852px; font-size: 16px !important;">Thank you,</p>'
                        title: You Have a New Store Name Invoice
                        isEnabled: 1
                      isPaymentProcessingEnabled:
                        isEnabled: 1
                        isStorefrontMethod: 0
                    meta:
                      message: SUCCESS
      operationId: get-ip-config
      description: Get invoice portal configs
      parameters: []
      tags:
        - Config
      x-internal: true
    put:
      summary: Update Invoice Portal Config
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: string
                        minLength: 1
                      errors:
                        type: string
                required:
                  - code
                  - data
                  - meta
              examples:
                '200':
                  value:
                    code: 200
                    data: []
                    meta:
                      message: SUCCESS
      operationId: put-ip-config
      description: Update invoice portal config
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      visibilityLevel:
                        type: number
                        example: 1
                        description: 'Reserved field, Default value is "1"'
                        default: 1
                      path:
                        type: string
                        description: config name
                      value:
                        type: object
                        description: config value
                    required:
                      - visibilityLevel
                      - path
                      - value
            examples:
              example:
                value:
                  data:
                    - visibilityLevel: 1
                      path: test-config
                      value:
                        testValue: 1
        description: ''
      tags:
        - Config
      x-internal: true
x-internal: true
