openapi: '3.0.3'
info:
  title: Catalog - Categories
  termsOfService: 'https://www.bigcommerce.com/terms'
  contact:
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
    email: support@bigcommerce.com
  version: ''
  description: |-
    > The Catalog API manages products, categories, brands, bulk pricing rules, and more. To learn more about catalog resources, see the [Catalog Overview](/api-docs/store-management/catalog/products-overview).
    
    Our Catalog Categories endpoints let you [create individual categories](/docs/rest-catalog/categories#create-a-category) and [modify categories](/docs/rest-catalog/categories#update-a-category) that organize a store's products, as well as [delete categories](/docs/rest-catalog/categories#delete-a-category). 
    
    Category images have their own dedicated [create a category image](/docs/rest-catalog/categories/images#create-a-category-image) and [delete a category image](/docs/rest-catalog/categories/images#delete-a-category-image) endpoints. 
    
    In addition, categories have metafields that you can use to store information structured in key-value pairs; learn more about [creating category metafields](/docs/rest-catalog/categories/metafields#create-a-category-metafield), [updating category metafields](/docs/rest-catalog/categories/metafields#update-a-category-metafield), and [deleting category metafields](/docs/rest-catalog/categories/metafields#delete-a-category-metafield). 
    
    This API family also contains endpoints to [update product sort order](/docs/rest-catalog/categories/sort-order#update-product-sort-order) within a category. 
    
    These endpoints are primarily useful in applications for single storefront stores. To work with categories for an [MSF-enabled store](/api-docs/multi-storefront/overview), see [Category Trees](/docs/rest-catalog/category-trees).
    
    > To learn more about authenticating Catalog endpoints, locate the **Authentication** section at the top of each endpoint, then click **Show Details**. 
    
    ## Resources
    
    ### Webhooks
    Learn more about [Category webhook events](/api-docs/store-management/webhooks/events#category).
    
    ### Additional Catalog endpoints
    * [Brands](/docs/rest-catalog/brands)
    * [Category Trees](/docs/rest-catalog/category-trees)
    * [Products](/docs/rest-catalog/products)
    * [Product Modifiers](/docs/rest-catalog/product-modifiers)
    * [Product Variants](/docs/rest-catalog/product-variants)
    * [Product Variant Options](/docs/rest-catalog/product-variant-options)

servers:
  - url: 'https://api.bigcommerce.com/stores/{store_hash}/v3'
    variables:
      store_hash:
        default: store_hash
        description: Permanent ID of the BigCommerce store.
    description: BigCommerce API Gateway
security:
  - X-Auth-Token: []
tags:
  - name: Categories
  - name: Metafields
  - name: Images
  - name: Sort Order
paths:
  '/catalog/categories/metafields':
    get:
      summary: Get All Metafields
      tags:
        - Metafields
      description: Get all category metafields.
      operationId: getCategoryMetafields
      responses:
        '200':
          description: |
            List of `Metafield` objects.
          content:
            application/json:
              schema:
                $ref: '__shared_models.yml#/components/schemas/MetaFieldCollectionResponse'
        '500':
          description: Internal Server Error
      parameters:
        - $ref: '__shared_models.yml#/components/parameters/PageParam'
        - $ref: '__shared_models.yml#/components/parameters/LimitParam'
        - $ref: '__shared_models.yml#/components/parameters/MetafieldKeyParam'
        - $ref: '__shared_models.yml#/components/parameters/MetafieldKeyInParam'
        - $ref: '__shared_models.yml#/components/parameters/MetafieldNamespaceParam'
        - $ref: '__shared_models.yml#/components/parameters/MetafieldNamespaceInParam'
        - $ref: '__shared_models.yml#/components/parameters/DirectionParam'
    post:
      summary: Create multiple Metafields
      tags:
        - Metafields
      description: Create multiple metafields.
      operationId: createCategoryMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '__shared_models.yml#/components/schemas/MetafieldPost'
        description: ''
      responses:
        '200':
          description: |
            List of created `Metafield` objects. # TODO
          content:
            application/json:
              schema:
                $ref: '__shared_models.yml#/components/schemas/MetaFieldCollectionDeleteResponsePartialSuccess'
        '422':
          description: |
            Response object for metafields creation with partial success.
          content:
            application/json:
              schema:
                $ref: '__shared_models.yml#/components/schemas/MetaFieldCollectionResponse'
        '500':
          description: Internal Server Error
    put:
      summary: Update multiple Metafields
      tags:
        - Metafields
      description: Create multiple metafields.
      operationId: updateCategoryMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '__shared_models.yml#/components/schemas/MetafieldPut'
        description: ''
        required: true
      responses:
        '200':
          description: |
            List of updated `Metafield` objects.
          content:
            application/json:
              schema:
                $ref: '__shared_models.yml#/components/schemas/MetaFieldCollectionResponse'
        '422':
          description: |
            Response object for metafields creation with partial success.
          content:
            application/json:
              schema:
                $ref: '__shared_models.yml#/components/schemas/MetaFieldCollectionResponse'
        '500':
          description: Internal Server Error
    delete:
      summary: Delete All Metafields
      tags:
        - Metafields
      description: Delete all category metafields.
      operationId: deleteCategoryMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
        description: "Metafield's id list"
      responses:
        '200':
          description: |
            Response object for metafields deletion with success.
          content:
            application/json:
              schema:
                $ref: '__shared_models.yml#/components/schemas/MetaFieldCollectionDeleteResponseSuccess'
        '422':
          description: |
            Response object for metafields deletion with partial success.
          content:
            application/json:
              schema:
                $ref: '__shared_models.yml#/components/schemas/MetaFieldCollectionDeleteResponsePartialSuccess'
components:
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: |-
        ### OAuth scopes

        | UI Name | Permission | Parameter |
        |:--------|:-----------|:----------|
        |  Products | modify | `store_v2_products` |
        |  Products | read-only | `store_v2_products_read_only` |

        ### Authentication header

        | Header | Argument | Description |
        |:-------|:---------|:------------|
        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/api-docs/getting-started/api-accounts). |

        ### Further reading

        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/api-docs/getting-started/authentication#x-auth-token-header-example-requests).

        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/api-docs/getting-started/api-accounts#oauth-scopes).

        For a list of API status codes, see [API Status Codes](/api-docs/getting-started/api-status-codes).
      type: apiKey
      in: header