openapi: 3.0.3
info:
  title: Tax Classes
  description: |
    Manage tax calculations applied to sales. Tax classes are used to apply different tax rates for specific types of products and orders.

    This API exposes batch operations (`POST`, `PUT`, `DELETE`) for tax classes.

    **Responses:** Successful JSON bodies use the envelope format:
    `{ "data": ..., "meta": ... }`. Batch POST/PUT return an array of tax class resources under `data`.

    **DELETE:** Deletes are filter-based using the `id:in` query parameter. The request must specify the ids to delete — there is no single-resource delete on this endpoint.
  termsOfService: 'https://www.bigcommerce.com/terms'
  contact:
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
    email: support@bigcommerce.com
  version: 1.0.0

servers:
  - url: 'https://api.bigcommerce.com/stores/{store_hash}/v3'
    variables:
      store_hash:
        default: store_hash
        description: Permanent ID of the BigCommerce store.
    description: BigCommerce API Gateway

tags:
  - name: Tax — Class (batch)
    description: Batch create, update, and delete tax classes.

paths:
  /tax/class:
    post:
      tags: [Tax — Class (batch)]
      summary: Batch create tax classes
      description: |
        Creates multiple tax classes in a single request. Max **50** items per request.
        Each `name` must be **1–100** characters and cannot contain angle brackets,
        braces, backticks, parentheses, semicolons, or pipes.
        Names must be **unique case-insensitively** within the batch.

        Conflicting names against existing tax classes produce **409**.
      operationId: taxClassBatchPost
      security:
        - adminAuth: []
        - hawkAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxClassCreateBatch'
            example:
              - name: Class One
              - name: Class Two
      responses:
        '200':
          description: Created classes returned as a collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxClassCollectionEnvelope'
        '400':
          description: Bad request (e.g. invalid input).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemResponseEnvelope'
        '409':
          description: Duplicate tax class names (conflict).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemResponseEnvelope'
        '413':
          description: Batch exceeds limit (50 items).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemResponseEnvelope'
        '422':
          description: |
            Unprocessable entity — empty body, non-array batch shape, or duplicate `name` or `id` within the batch.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemResponseEnvelope'
        '403':
          description: Authentication or `Manage_Tax` denied.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemResponseEnvelope'
        '500':
          description: Unexpected server error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemResponseEnvelope'

    put:
      tags: [Tax — Class (batch)]
      summary: Batch update tax classes
      description: |
        Updates multiple tax classes in a single request. Collection PUT only.

        Request body: non-empty array, max **50** items. Each item must include:
        - `id`: positive integer (**unique** across the batch)
        - `name`: same length and character rules as create; **unique case-insensitively** in the batch.

        Returns **400** if one or more specified classes are not found.
        Duplicate names → **409**.
      operationId: taxClassBatchPut
      security:
        - adminAuth: []
        - hawkAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxClassUpdateBatch'
            example:
              - id: 1
                name: Renamed One
              - id: 2
                name: Renamed Two
      responses:
        '200':
          description: Updated classes returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxClassCollectionEnvelope'
        '400':
          description: One or more classes not found (update).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemResponseEnvelope'
        '409':
          description: Duplicate tax class names.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemResponseEnvelope'
        '413':
          description: Batch exceeds 50 ids/items.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemResponseEnvelope'
        '422':
          description: Validation error (format, duplicate `id` in batch, invalid id values, id-only update payload, etc.).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemResponseEnvelope'
        '403':
          description: Authentication or permission denied.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemResponseEnvelope'
        '500':
          description: Server error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemResponseEnvelope'

    delete:
      tags: [Tax — Class (batch)]
      summary: Batch delete tax classes
      description: |
        Deletes multiple tax classes in a single request. The request must include the **`id:in`** query parameter
        with a comma-separated list of positive integer ids.

        Max **50** ids. Empty id list → **404**. Invalid id values → **422**.
        Returns **400** if one or more specified classes are not found.

        Success returns **204 No Content**.
      operationId: taxClassBatchDelete
      security:
        - adminAuth: []
        - hawkAuth: []
      parameters:
        - name: id:in
          in: query
          required: true
          description: |
            Comma-separated list of tax class ids to delete (e.g. `1,2,3`).
            Must use the `in` operator; other filter operators are rejected with **400**.
          schema:
            type: string
          example: '101,102,103'
      responses:
        '204':
          description: All listed classes deleted successfully.
        '400':
          description: Delete failed (e.g. class not found).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemResponseEnvelope'
        '404':
          description: Missing or empty `id:in` filter.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemResponseEnvelope'
        '413':
          description: More than 50 ids.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemResponseEnvelope'
        '422':
          description: Invalid id values in filter.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemResponseEnvelope'
        '403':
          description: Authentication or permission denied.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemResponseEnvelope'
        '500':
          description: Server error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemResponseEnvelope'

components:
  securitySchemes:
    adminAuth:
      type: apiKey
      in: header
      name: X-Auth-Client
      description: |-
        ### Required permissions

        | Permission | Description |
        |:-----------|:------------|
        | `Manage_Tax` | Required for write operations (POST, PUT, DELETE). Read-only actions do not require this permission. |

        ### Authentication header

        | Header | Argument | Description |
        |:-------|:---------|:------------|
        | `X-Auth-Client` | `client_id` | Admin client identifier. |

        ### Further reading

        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).
    hawkAuth:
      type: apiKey
      in: header
      name: X-Auth-Client
      description: |-
        ### Overview

        Hawk-authenticated clients authorized via the hawk configuration.

        ### Required permissions

        | Permission | Description |
        |:-----------|:------------|
        | `Manage_Tax` | Required for write operations (POST, PUT, DELETE). |

        ### Further reading

        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).

  schemas:
    TaxClassCreateBatch:
      type: array
      minItems: 1
      maxItems: 50
      items:
        type: object
        required:
          - name
        properties:
          name:
            type: string
            minLength: 1
            maxLength: 100
            description: >
              Must not contain < > { } ` ( ) ; |
        additionalProperties: false

    TaxClassUpdateBatch:
      type: array
      minItems: 1
      maxItems: 50
      items:
        type: object
        required:
          - id
          - name
        description: |
          Each item must include `id` and at least one other field. Only `name` is permitted alongside `id`.
        properties:
          id:
            type: integer
            minimum: 1
          name:
            type: string
            minLength: 1
            maxLength: 100
        additionalProperties: false

    TaxClassResource:
      type: object
      required:
        - id
        - name
        - created_at
        - updated_at
      properties:
        id:
          type: integer
        name:
          type: string
        created_at:
          type: string
          format: date-time
          description: ISO-8601 timestamp.
        updated_at:
          type: string
          format: date-time

    TaxClassCollectionEnvelope:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TaxClassResource'
        meta:
          type: object
          description: Response metadata (may be an empty object).

    Problem:
      type: object
      description: RFC 7807-style problem object (optional fields omitted when empty).
      properties:
        title:
          type: string
        status:
          type: integer
        type:
          type: string
          format: uri
        detail:
          type: string
        code:
          type: integer
        errors:
          type: object
          additionalProperties: true

    ProblemResponseEnvelope:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        meta:
          type: object
