openapi: 3.0.1
info:
  title: Invoices
  description: BigCommerce B2B Edition Invoice
  contact: {}
  version: v3
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v3/io/ip'
security:
  - authToken: []
tags:
  - name: Invoice
    description: Invoice
components:
  securitySchemes:
    authToken:
      name: authToken
      description: An API key is a token that you provide when making API calls. Include the token in a header parameter called `authToken`.
      type: apiKey
      in: header
  responses:
    '404':
      description: Example response
      content:
        application/json:
          schema:
            description: ''
            type: object
            properties:
              code:
                type: number
              data:
                type: object
                properties:
                  errMsg:
                    type: string
                    minLength: 1
                required:
                  - errMsg
              meta:
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                required:
                  - message
            required:
              - code
              - data
              - meta
            x-examples:
              example-1:
                code: 404
                data:
                  errMsg: Invoice does not exist
                meta:
                  message: Not Found Error
          examples:
            example-1:
              value:
                code: 404
                data:
                  errMsg: Invoice does not exist
                meta:
                  message: Not Found Error
paths:
  '/invoices/{invoiceId}':
    parameters:
      - schema:
          type: string
        name: invoiceId
        in: path
        required: true
        description: invoice id
    get:
      summary: Get invoice detail
      operationId: get-invoices-invoiceId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  data:
                    allOf:
                      - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/invoice_portal/invoice.yaml
                      - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/extra_fields/extra_field_values.yaml
                  meta:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: string
                        minLength: 1
                required:
                  - meta
              examples:
                '200':
                  value:
                    code: 200
                    data:
                      id: 9
                      customerId: '95075'
                      externalId: '23'
                      externalCustomerId: '123'
                      invoiceNumber: '00000009'
                      type: Invoice on Shipment
                      dueDate: 1617675497
                      status: 1
                      orderNumber: '104'
                      purchaseOrderNumber: '123'
                      details:
                        type: StandardInvoiceDetails
                        header:
                          costLines:
                            - amount:
                                code: USD
                                value: '349.5000'
                              description: Subtotal
                            - amount:
                                code: USD
                                value: '0.0000'
                              description: Freight
                            - amount:
                                code: USD
                                value: '0.0000'
                              description: Sales Tax
                          orderDate: 1616809386
                          billingAddress:
                            city: 成都
                            state: District of Columbia
                            country: United States
                            street1: tianfuwujie
                            street2: ruanjianyuan
                            zipCode: '123'
                            lastName: xu
                            firstName: stanton
                            customFields: {}
                          customerFields: 123
                          shippingAddresses:
                            - city: 成都
                              state: District of Columbia
                              country: United States
                              street1: tianfuwujie
                              street2: ruanjianyuan
                              zipCode: '123'
                              lastName: xu
                              firstName: stanton
                              customFields: {}
                        details:
                          shipments: []
                          lineItems:
                            - sku: DPB
                              type: physical
                              comments: ''
                              quantity: '10'
                              unitPrice:
                                code: USD
                                value: '34.95'
                              description: '[Sample] Dustpan & Brush'
                              customFields: {}
                              unitDiscount:
                                code: USD
                                value: '12'
                            - sku: DD
                              type: product
                              comments: ''
                              quantity: '10'
                              unitPrice:
                                code: USD
                                value: '3'
                              description: '[Sample] Dustpan '
                              customFields: {}
                              unitDiscount:
                                code: USD
                                value: '1'
                      isPendingPayment: 1
                      source: 0
                      originalBalance:
                        code: USD
                        value: '349.5000'
                      openBalance:
                        code: USD
                        value: '913.4300'
                      customerName: silk
                    meta:
                      message: SUCCESS
                example-1:
                  value:
                    code: 0
                    data:
                      id: 0
                      customerId: string
                      externalCustomerId: string
                      externalId: string
                      invoiceNumber: string
                      type: string
                      dueDate: 0
                      status: 0
                      orderNumber: string
                      purchaseOrderNumber: string
                      details:
                        type: string
                        header:
                          costLines:
                            - amount:
                                code: string
                                value: string
                              description: string
                          orderDate: 0
                          billingAddress:
                            city: string
                            state: string
                            country: string
                            street1: string
                            street2: string
                            zipCode: string
                            lastName: string
                            firstName: string
                            customFields: {}
                          customerFields: string
                          shippingAddresses:
                            - city: string
                              state: string
                              country: string
                              street1: string
                              street2: string
                              zipCode: string
                              lastName: string
                              firstName: string
                              customFields: {}
                        details:
                          shipments:
                            - addressIndex: string
                              shipDate: string
                              shipVia: string
                              trackingNumber: string
                              comments: string
                              customFields: {}
                          lineItems:
                            - sku: string
                              type: string
                              comments: string
                              quantity: string
                              unitPrice:
                                code: USA
                                value: string
                              description: string
                              customFields: {}
                              unitDiscount:
                                code: string
                                value: string
                      isPendingPayment: 0
                      source: 0
                      originalBalance:
                        code: string
                        value: string
                      openBalance:
                        code: string
                        value: string
                      customerName: string
                      createdAt: string
                      updatedAt: string
                      channelId: 1
                      channelName: string
                    meta:
                      message: string
        '404':
          $ref: '#/components/responses/404'
      description: get invoice detail
      parameters: []
      tags:
        - Invoice
    put:
      summary: Update an invoice
      operationId: put-invoices-invoiceId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  data:
                    type: object
                    required:
                      - id
                    properties:
                      id:
                        type: number
                        description: Invoice ID
                  meta:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: string
                        minLength: 1
                required:
                  - code
                  - data
                  - meta
              examples:
                '200':
                  value:
                    code: 200
                    data:
                      id: 33
                    meta:
                      message: SUCCESS
                '400':
                  value:
                    code: 400
                    data: 
                      id: 33
                    meta:
                      message: Bad Requests Error
                      errors: 'Please enter a valid number; '
      description: update an invoice
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              x-examples:
                example-1:
                  id: 0
                  customerId: string
                  externalCustomerId: string
                  externalId: string
                  invoiceNumber: string
                  type: string
                  dueDate: 0
                  status: 0
                  orderNumber: string
                  purchaseOrderNumber: string
                  details:
                    type: string
                    header:
                      costLines:
                        - amount:
                            code: string
                            value: string
                          description: string
                      orderDate: 0
                      billingAddress:
                        city: string
                        state: string
                        country: string
                        street1: string
                        street2: string
                        zipCode: string
                        lastName: string
                        firstName: string
                        customFields: {}
                      customerFields: string
                      shippingAddresses:
                        - city: string
                          state: string
                          country: string
                          street1: string
                          street2: string
                          zipCode: string
                          lastName: string
                          firstName: string
                          customFields: {}
                    details:
                      shipments:
                        - addressIndex: string
                          shipDate: string
                          shipVia: string
                          trackingNumber: string
                          comments: string
                          customFields: {}
                      lineItems:
                        - sku: string
                          type: string
                          comments: string
                          quantity: string
                          unitPrice:
                            code: USA
                            value: string
                          description: string
                          customFields: {}
                          unitDiscount:
                            code: string
                            value: string
                  isPendingPayment: 0
                  source: 0
                  originalBalance:
                    code: string
                    value: string
                  openBalance:
                    code: string
                    value: string
                  customerName: string
                  createdAt: string
                  updatedAt: string
              allOf:
                - type: object
                  properties:
                    customerId:
                      type: string
                      minLength: 1
                      description: B2B Edition Company ID
                    externalCustomerId:
                      type: string
                      minLength: 1
                      description: Ext Customer ID
                    externalId:
                      type: string
                      minLength: 1
                      description: Ext Invoice ID
                    invoiceNumber:
                      type: string
                      minLength: 1
                      description: 'Invoice Number must be unique'
                    type:
                      type: string
                      minLength: 1
                    dueDate:
                      type: number
                      description: Invoice due date
                    status:
                      type: number
                      description: 'Invoice status will be auto-set to 2 when the open balance is <= 0.'
                    purchaseOrderNumber:
                      type: string
                      minLength: 1
                      description: PO Number
                    details:
                      type: object
                      description: 'Updating will override the invoice details; therefore, ensure you get the original values before updating all the data.'
                      properties:
                        header:
                          type: object
                          properties:
                            costLines:
                              type: array
                              uniqueItems: true
                              minItems: 1
                              items:
                                type: object
                                properties:
                                  amount:
                                    type: object
                                    required:
                                      - code
                                      - value
                                    properties:
                                      code:
                                        type: string
                                        minLength: 1
                                      value:
                                        type: string
                                        minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                required:
                                  - amount
                                  - description
                            billingAddress:
                              type: object
                              properties:
                                city:
                                  type: string
                                  minLength: 1
                                state:
                                  type: string
                                  minLength: 1
                                country:
                                  type: string
                                  minLength: 1
                                street1:
                                  type: string
                                  minLength: 1
                                street2:
                                  type: string
                                  minLength: 1
                                zipCode:
                                  type: string
                                  minLength: 1
                                lastName:
                                  type: string
                                  minLength: 1
                                firstName:
                                  type: string
                                  minLength: 1
                                customFields:
                                  type: object
                              required:
                                - city
                                - state
                                - country
                                - street1
                                - street2
                                - zipCode
                                - lastName
                                - firstName
                                - customFields
                            shippingAddresses:
                              type: array
                              uniqueItems: true
                              minItems: 1
                              items:
                                type: object
                                properties:
                                  city:
                                    type: string
                                    minLength: 1
                                  state:
                                    type: string
                                    minLength: 1
                                  country:
                                    type: string
                                    minLength: 1
                                  street1:
                                    type: string
                                    minLength: 1
                                  street2:
                                    type: string
                                    minLength: 1
                                  zipCode:
                                    type: string
                                    minLength: 1
                                  lastName:
                                    type: string
                                    minLength: 1
                                  firstName:
                                    type: string
                                    minLength: 1
                                required:
                                  - city
                                  - state
                                  - country
                                  - street1
                                  - street2
                                  - zipCode
                                  - lastName
                                  - firstName
                        details:
                          type: object
                          properties:
                            shipments:
                              type: array
                              uniqueItems: true
                              minItems: 1
                              items:
                                type: object
                                properties:
                                  addressIndex:
                                    type: string
                                    minLength: 1
                                  shipDate:
                                    type: string
                                    minLength: 1
                                  shipVia:
                                    type: string
                                    minLength: 1
                                  trackingNumber:
                                    type: string
                                    minLength: 1
                                  comments:
                                    type: string
                                    minLength: 1
                                required:
                                  - addressIndex
                                  - shipDate
                                  - shipVia
                                  - trackingNumber
                                  - comments
                            lineItems:
                              type: array
                              uniqueItems: true
                              minItems: 1
                              items:
                                type: object
                                properties:
                                  sku:
                                    type: string
                                    minLength: 1
                                  type:
                                    type: string
                                    minLength: 1
                                  comments:
                                    type: string
                                    minLength: 1
                                  quantity:
                                    type: string
                                    minLength: 1
                                  unitPrice:
                                    type: object
                                    required:
                                      - code
                                      - value
                                    properties:
                                      code:
                                        type: string
                                        minLength: 1
                                      value:
                                        type: string
                                        minLength: 1
                                  description:
                                    type: string
                                    description: The product description or product name is a requirement for a custom product.
                                    minLength: 1
                                  unitDiscount:
                                    type: object
                                    properties:
                                      code:
                                        type: string
                                        minLength: 1
                                      value:
                                        type: string
                                        minLength: 1
                                    required:
                                      - code
                                      - value
                                required:
                                  - sku
                                  - quantity
                                  - unitPrice
                    source:
                      type: number
                      description: 'Mark the source of the invoice, 0 for B2B Edition, 1 for external.'
                    originalBalance:
                      type: object
                      description: Invoice original balance
                      properties:
                        code:
                          type: string
                          minLength: 1
                        value:
                          type: string
                          minLength: 1
                      required:
                        - code
                        - value
                    openBalance:
                      type: object
                      description: Invoice balance awaiting for payment
                      properties:
                        code:
                          type: string
                          minLength: 1
                        value:
                          type: string
                          minLength: 1
                      required:
                        - code
                        - value
                    createdAt:
                      type: integer
                    externalPdfUrl:
                      type: string
                      description: The url of your external PDF file. The recommended file size should not exceed 5 MB. Please make sure that your file service has processed CORS. Using empty value if you want to delete it.
                - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/extra_fields/extra_field_values.yaml
            examples:
              Update body with details field:
                value:
                  customerId: '3'
                  dueDate: 1619826907
                  details:
                    header:
                      costLines:
                        - amount:
                            code: USD
                            value: '400.0000'
                          description: Subtotal
                        - amount:
                            code: USD
                            value: '0.0000'
                          description: Freight
                        - amount:
                            code: USD
                            value: '0.0000'
                          description: Sales Tax
                    details:
                      lineItems:
                        - sku: CLC
                          type: physical
                          comments: 'Sample'
                          quantity: '2'
                          unitPrice:
                            code: USD
                            value: '200.0000'
                          description: '[Sample] Canvas Laundry Cart'
                  openBalance:
                    code: USD
                    value: '12.0000'
              Update body without details field:
                value:
                  openBalance:
                    code: USD
                    value: '12.0000'
      tags:
        - Invoice
    delete:
      summary: Delete an invoice
      operationId: delete-invoices-invoiceId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                        description: Invoice ID
                  meta:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: string
                      errors:
                        type: string
                required:
                  - code
                  - data
                  - meta
              examples:
                '200':
                  value:
                    code: 200
                    data:
                      id: 12
                    meta:
                      message: Success
        '404':
          $ref: '#/components/responses/404'
      description: delete an invoice
      parameters: []
      tags:
        - Invoice
  /invoices:
    post:
      summary: Create Invoice
      operationId: post-invoices
      description: Create Invoice
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    invoiceNumber:
                      type: string
                      description: Invoice no.
                    type:
                      type: string
                      default: Invoice
                      description: Invoice type
                    dueDate:
                      type: integer
                      description: 'Due date, if empty, it will be set to the default due date which is the current date + pre-configured due days.'
                    status:
                      type: integer
                      default: 0
                      enum:
                        - 0
                        - 1
                        - 2
                      description: 'Invoice status 0=Open, 1=Partial paid, 2=Completed, 0 as default, will be auto set to 2 when open balance is <= 0'
                    orderNumber:
                      type: string
                      description: ID in BC of the order to which the current invoice
                    purchaseOrderNumber:
                      type: string
                      description: PO Number
                    originalBalance:
                      type: object
                      description: Original balance
                      required:
                        - code
                        - value
                      properties:
                        code:
                          type: string
                          description: Currency code
                          example: USD
                        value:
                          type: number
                          description: Amount
                    openBalance:
                      type: object
                      description: 'Open balance , when it is <= 0, status will be auto set to 2'
                      required:
                        - code
                        - value
                      properties:
                        code:
                          type: string
                          description: Currency code
                          example: USD
                        value:
                          type: number
                          description: Amount
                    issuedAt:
                      type: number
                      description: The creation timestamp of the invoice. The current timestamp is the default.
                    details:
                      type: object
                      description: Invoice details
                      properties:
                        header:
                          type: object
                          properties:
                            costLines:
                              type: array
                              description: 'Invoice cost information is not required，but some of the sub-fields will be required if it exists. Invoice cost information is displayed on the invoice detail page.'
                              items:
                                type: object
                                properties:
                                  amount:
                                    type: object
                                    description: cost amount
                                    required:
                                      - code
                                      - value
                                    properties:
                                      code:
                                        type: string
                                        description: currency code
                                      value:
                                        type: string
                                        description: amount
                                  description:
                                    type: string
                                    description: Price description. e.g., Subtotal or other types of prices or fees.
                                required:
                                  - amount
                                  - description
                            billingAddress:
                              type: object
                              description: 'Invoice billing address is not required，but if it exists, some sub-fields will be required.'
                              properties:
                                city:
                                  type: string
                                state:
                                  type: string
                                country:
                                  type: string
                                street1:
                                  type: string
                                street2:
                                  type: string
                                zipCode:
                                  type: string
                                lastName:
                                  type: string
                                firstName:
                                  type: string
                              required:
                                - city
                                - state
                                - country
                                - street1
                                - street2
                                - zipCode
                                - lastName
                                - firstName
                            shippingAddresses:
                              type: array
                              description: 'Invoice shipping addresses is not required，but if exists, some of the following sub-fields will be required, but an empty string is allowed.'
                              items:
                                type: object
                                properties:
                                  city:
                                    type: string
                                  state:
                                    type: string
                                  country:
                                    type: string
                                  street1:
                                    type: string
                                  street2:
                                    type: string
                                  zipCode:
                                    type: string
                                  lastName:
                                    type: string
                                  firstName:
                                    type: string
                                required:
                                  - city
                                  - state
                                  - country
                                  - street1
                                  - street2
                                  - zipCode
                                  - lastName
                                  - firstName
                        details:
                          type: object
                          properties:
                            shipments:
                              type: array
                              description: 'Invoice shipment information is not required，but if exists, some of the following sub-fields will be required, but an empty string is allowed.'
                              items:
                                type: object
                                properties:
                                  addressIndex:
                                    type: string
                                    description: address ID
                                  shipDate:
                                    type: string
                                    description: shipment 
                                  shipVia:
                                    type: string
                                  trackingNumber:
                                    type: string
                                    description: tracking number
                                  comments:
                                    type: string
                                required:
                                  - addressIndex
                                  - shipDate
                                  - shipVia
                                  - trackingNumber
                                  - comments
                            lineItems:
                              type: array
                              description: 'Invoice products information is not required，but if exists, some of the following sub-fields will be required.'
                              items:
                                type: object
                                properties:
                                  sku:
                                    type: string
                                    description: product sku
                                  type:
                                    type: string
                                    description: product type
                                  comments:
                                    type: string
                                  quantity:
                                    type: string
                                    description: product quantity
                                  unitPrice:
                                    type: object
                                    description: product unit price
                                    required:
                                      - code
                                      - value
                                    properties:
                                      code:
                                        type: string
                                        description: currency code
                                      value:
                                        type: string
                                        description: amount
                                  description:
                                    type: string
                                    description: The product description or product name is a requirement for a custom product.
                                  unitDiscount:
                                    type: object
                                    description: 'The product unit discount is not required，but if exists, some of the following sub-fields will be required.'
                                    properties:
                                      code:
                                        type: string
                                        description: currency code
                                      value:
                                        type: string
                                        description: amount
                                    required:
                                      - code
                                      - value
                                required:
                                  - sku
                                  - quantity
                                  - unitPrice
                    source:
                      type: number
                      default: 0
                      description: 'Source of the invoice. Mark the source of the invoice, 0 for B2B Edition, 1 for external.'
                      enum:
                        - 0
                        - 1
                    customerId:
                      type: string
                      description: B2B Edition Company ID
                    externalId:
                      type: string
                      description: ERP Invoice ID
                    externalCustomerId:
                      type: string
                      description: ERP Customer ID
                    channelId:
                      type: integer
                      description: BigCommerce channel ID
                    externalPdfUrl:
                      type: string
                      description: The url of your external PDF file. The recommended file size should not exceed 5 MB. Please make sure that your file service has processed CORS.
                    termsConditions:
                      type: string
                      description: Terms & Conditions. Visible on the default Invoice PDF.
                  required:
                    - invoiceNumber
                    - originalBalance
                    - openBalance
                    - customerId
                - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/extra_fields/extra_field_values.yaml
            examples:
              Invoice body with details info:
                value:
                  invoiceNumber: '0000001'
                  dueDate: 1619161808
                  status: 0
                  originalBalance:
                    code: USD
                    value: 100
                  openBalance:
                    code: USD
                    value: 100
                  issuedAt: 1619161808
                  details:
                    header:
                      costLines:
                        - amount:
                            code: USD
                            value: '90.00'
                          description: Subtotal
                        - amount:
                            code: USD
                            value: '10.00'
                          description: Freight
                        - amount:
                            code: USD
                            value: '0.00'
                          description: Sales Tax
                      billingAddress:
                        city: Chengdu
                        state: Sichuan
                        country: China
                        street1: TianFuWuJie
                        street2: ''
                        zipCode: '12345'
                        lastName: Test
                        firstName: B2B
                      shippingAddresses:
                        - city: Chengdu
                          state: Sichuan
                          country: China
                          street1: TianFuWuJie
                          street2: ''
                          zipCode: '12345'
                          lastName: Test
                          firstName: B2B
                    details:
                      lineItems:
                        - sku: Test-1
                          quantity: '2'
                          unitPrice:
                            code: USD
                            value: '40.00'
                          description: The description is a requirement for a custom product.
                  customerId: '12345'
                  channelId: 1
              Invoice body without details info:
                value:
                  invoiceNumber: '0000001'
                  originalBalance:
                    code: USD
                    value: 100
                  openBalance:
                    code: USD
                    value: 100
                  customerId: '12345'
                  channelId: 1
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    description: '200'
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                        description: invoice ID
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                        description: Success
                      errors:
                        type: string
              examples:
                '200':
                  value:
                    code: 200
                    data:
                      id: 12
                    meta:
                      message: Success
                '400':
                  value:
                    code: 400
                    data:
                      errMsg: The invoice number already exists.
                    meta:
                      message: Bad Requests Error
      tags:
        - Invoice
    parameters: []
    get:
      summary: Get invoices
      operationId: get-invoices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      allOf:
                        - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/invoice_portal/invoice.yaml
                        - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/extra_fields/extra_field_values.yaml
                  meta:
                    type: object
                    x-stoplight:
                      id: pht8y928miqy9
                    properties:
                      message:
                        type: string
                        x-stoplight:
                          id: 2jm99sqmjeuty
                      pagination:
                        type: object
                        x-stoplight:
                          id: mqkl3sn242e8h
                        properties:
                          totalCount:
                            type: integer
                            x-stoplight:
                              id: 9mfisvvpi367o
                          limit:
                            type: integer
                            x-stoplight:
                              id: orpbdnwbh09j8
                          offset:
                            type: integer
                            x-stoplight:
                              id: hhcd4o48fb5k6
              examples:
                example:
                  value:
                    code: 200
                    data:
                      - id: 33
                        customerId: '3'
                        externalId: '123'
                        externalCustomerId: '123'
                        invoiceNumber: '00000033'
                        type: Invoice on Shipment
                        dueDate: 1619826907
                        status: 0
                        orderNumber: '132'
                        purchaseOrderNumber: '123'
                        details:
                          type: StandardInvoiceDetails
                          header:
                            costLines:
                              - amount:
                                  code: USD
                                  value: '400.0000'
                                description: Subtotal
                              - amount:
                                  code: USD
                                  value: '0.0000'
                                description: Freight
                              - amount:
                                  code: USD
                                  value: '0.0000'
                                description: Sales Tax
                            orderDate: 1618246864
                            billingAddress:
                              city: montreal
                              state: California
                              country: United States
                              street1: test
                              street2: test
                              zipCode: '111111'
                              lastName: test
                              firstName: test
                              customFields: {}
                            customerFields: ''
                            shippingAddresses:
                              - city: montreal
                                state: California
                                country: United States
                                street1: test
                                street2: test
                                zipCode: '111111'
                                lastName: test
                                firstName: test
                                customFields: {}
                          details:
                            lineItems:
                              - sku: CLC
                                type: physical
                                comments: ''
                                quantity: 2
                                unitPrice:
                                  code: USD
                                  value: '200.0000'
                                description: '[Sample] Canvas Laundry Cart'
                                customFields: {}
                                unitDiscount:
                                  code: USD
                                  value: 0
                            shipments: []
                        isPendingPayment: 1
                        source: 0
                        originalBalance:
                          code: USD
                          value: '400.0000'
                        openBalance:
                          code: USD
                          value: '400.0000'
                        customerName: ABC123
                        channelId: 1
                        channelName: string
      description: get invoices
      parameters:
        - schema:
            type: number
          in: query
          name: offset
        - schema:
            type: number
          in: query
          name: limit
        - schema:
            type: string
            enum:
              - DESC
              - ASC
            example: DESC
          in: query
          name: orderBy
          description: '"DESC" or "ASC"'
        - schema:
            type: string
            enum:
              - invoiceNumber
              - createdAt
              - customerId
              - externalCustomerId
              - dueDate
              - updatedAt
              - isPendingPayment
              - openBalance
              - originalBalance
              - status
            example: invoiceNumber
          in: query
          name: sortBy
          description: Sort by the field value
        - schema:
            type: string
            enum:
              - invoiceNumber
              - type
              - orderNumber
              - purchaseOrderNumber
              - customerId
              - externalCustomerId
            example: invoiceNumber
          in: query
          name: searchBy
          description: Filter by a field
        - schema:
            type: string
          in: query
          name: q
          description: 'Keyword queries are performed on fields corresponding to the value of "searchBy" or, if "searchBy" is empty, on all fields supported by "searchBy".'
        - schema:
            type: string
          in: query
          name: customerName
          description: Query by invoice B2B Edition company name
        - schema:
            type: string
          in: query
          name: customerId
          description: Query by invoice B2B Edition company ID
        - schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
            example: 1
          in: query
          name: status
          description: Query by invoice status
        - schema:
            type: string
          in: query
          name: beginDateAt
          description: 'Query by the created period, with the "endDateAt" parameter.'
        - schema:
            type: string
          in: query
          name: endDateAt
          description: 'Query by the created period, with the "beginDateAt" parameter.'
        - schema:
            type: array
            items:
              type: number
          in: query
          name: 'externalId[]'
          description: Query by the invoice external ID
        - schema:
            type: string
            enum:
              - '0'
              - '1'
          in: query
          name: isIncludeExtraFields
          description: Is show extra fields in the response
        - schema:
            type: array
            items:
              type: number
          in: query
          name: channelIds
          description: BigCommerce channel IDs
      tags:
        - Invoice
  /invoices/export: {}
  '/orders/{orderId}/invoices':
    parameters:
      - schema:
          type: number
        name: orderId
        in: path
        required: true
        description: B2B Edition order ID
    post:
      summary: Create invoice from order
      tags:
        - Invoice
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  data:
                    type: object
                    required:
                      - invoiceNumber
                      - invoiceId
                    properties:
                      invoiceNumber:
                        type: string
                        minLength: 1
                        description: Invoice no.
                      invoiceId:
                        type: number
                        description: Invoice ID
                  meta:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: string
                        minLength: 1
                      errors:
                        type: string
                required:
                  - code
                  - data
                  - meta
              examples:
                '200':
                  value:
                    code: 200
                    data:
                      invoiceNumber: '00000036'
                      invoiceId: 36
                    meta:
                      message: SUCCESS
                '404':
                  value:
                    code: 404
                    data:
                      invoiceNumber: '00000036'
                      invoiceId: 36
                      errMsg: Order does not exist
                    meta:
                      message: Not Found Error
      operationId: post-orders-orderId-invoices
      description: create invoice from B2B Edition order
      parameters: []
  '/invoices/{invoiceId}/download-pdf':
    parameters:
      - schema:
          type: string
        name: invoiceId
        in: path
        required: true
    get:
      summary: invoice download pdf
      operationId: get-invoices-invoiceId-download-pdf
      description: Get invoice invoiceId download
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                      externalPdfUrl:
                        type: string
                        description: The URL of your external PDF file. The recommended file size should not exceed 5 Mb. Please make sure that your file service has processed CORS.
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                x-examples:
                  example-1:
                    code: 200
                    data:
                      url: 'https://s3-us-west-2.amazonaws.com/bundleb2b-v2.0-quote-staging/B3_V3_dev_00000012.pdf'
                    meta:
                      message: SUCCESS
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    properties:
                      errMsg:
                        type: string
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                x-examples:
                  example-1:
                    code: 404
                    data:
                      errMsg: Invoice does not exist
                    meta:
                      message: Not Found Error
      tags:
        - Invoice
  '/invoices/{invoiceId}/send-mail':
    parameters:
      - schema:
          type: string
        name: invoiceId
        in: path
        required: true
  /invoices/extra-fields:
    get:
      summary: Get invoice extra field configs
      tags:
        - Invoice
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/utils/response-object.yaml
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/extra_fields/extra_fields.yaml
                      meta:
                        $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/models/utils/pagination.yaml
      operationId: get-invoices-extra-fields
      description: Get invoice extra field configs
      parameters:
        - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/specs/api-v3/user/user.yaml#/components/parameters/offset
        - $ref: https://raw.githubusercontent.com/bigcommerce/docs/main/docs/b2b-edition/specs/api-v3/user/user.yaml#/components/parameters/limit
