openapi: 3.0.0
info:
  title: Catalog
  version: '1.0'
  description: The Catalog refers to a store’s collection of physical and digital products.
  contact:
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
    email: support@bigcommerce.com
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v2'
security:
  - BearerToken: []
paths:
  /catalogs/variants:
    get:
      summary: Get Product Variants Info
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                example:
                    code: 200
                    message: Success
                    data:
                      - sku: OTS
                        variantId: 65
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        sku:
                          type: string
                          minLength: 1
                          description: Variant SKU name.
                        variantId:
                          type: number
                          description: Unique ID of this variant.
                      required:
                        - sku
                        - variantId
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: Success
                    data:
                      - sku: OTS
                        variantId: 65
      operationId: get-catalogs-variants
      description: |-
        Get variants list.
        Equivalent Storefront GraphQL API Query: `productVariantsInfo`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      parameters:
        - schema:
            type: string
          in: query
          name: productId
          description: Unique product ID
      tags:
        - Catalog
  /catalogs/quick-product:
    get:
      summary: Search Variant SKU
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      required:
                      - id
                      - product_id
                      - sku
                      - calculated_price
                      - image_url
                      - inventory_level
                      - variantSku
                      - productId
                      - variantId
                      - baseSku
                      - productName
                      - price
                      - isVisible
                      properties:
                        id:
                          type: number
                        product_id:
                          type: number
                        sku:
                          type: string
                          minLength: 1
                        calculated_price:
                          type: number
                        image_url:
                          type: string
                          minLength: 1
                        inventory_level:
                          type: number
                        option_values:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              label:
                                type: string
                              option_id:
                                type: integer
                              option_display_name:
                                type: string
                        variantSku:
                          type: string
                          minLength: 1
                        productId:
                          type: string
                          minLength: 1
                        variantId:
                          type: string
                          minLength: 1
                        baseSku:
                          type: string
                          minLength: 1
                        productName:
                          type: string
                          minLength: 1
                        categories:
                          type: array
                          items:
                            type: integer
                        price:
                          type: number
                        option:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              label:
                                type: string
                              option_id:
                                type: integer
                              option_display_name:
                                type: string
                        isVisible:
                          type: string
                          minLength: 1
                required:
                  - code
                  - message
                  - data
                example:
                    code: 200
                    message: Success
                    data:
                      - id: 65
                        product_id: 81
                        sku: OTS
                        calculated_price: 89
                        image_url: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/81/images/273/roundterrariumsmall.1554505753.386.513.jpg?c=2'
                        inventory_level: 999
                        option_values: []
                        variantSku: OTS
                        productId: '81'
                        variantId: '65'
                        baseSku: OTS
                        productName: '[Sample] Orbit Terrarium - Small'
                        categories:
                          - 23
                          - 19
                        price: 89
                        option: []
                        isVisible: '1'
              examples:
                example-1:
                  value:
                    code: 200
                    message: Success
                    data:
                      - id: 65
                        product_id: 81
                        sku: OTS
                        calculated_price: 89
                        image_url: url
                        inventory_level: 999
                        option_values: []
                        variantSku: OTS
                        productId: '81'
                        variantId: '65'
                        baseSku: OTS
                        productName: '[Sample] Orbit Terrarium - Small'
                        categories:
                          - 23
                          - 19
                        price: 89
                        option: []
                        isVisible: '1'
      operationId: get-catalogs-quickProduct
      parameters:
        - schema:
            type: string
            example: sku-1|sku-2|sku-3
          in: query
          name: variantSkus
          description: 'Variant SKU names, split by "|".'
      description: |-
        Get the catalogʼs product information by requesting the [Get All Products](https://developer.bigcommerce.com/docs/rest-catalog/products#get-all-products) BigCommerceʼs API. 
        Equivalent Storefront GraphQL API Query: `variantSku`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Catalog
    parameters: []
  /catalogs/quick-order-pad:
    post:
      summary: Quick Order Pad
      operationId: post-catalogs-quick-order-pad
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                example:
                    code: 200
                    message: Success
                    data:
                      - isStock: '1'
                        stock: 999
                        variantSku: OTS
                        productId: '81'
                        variantId: 65
                        baseSku: OTS
                        productName: '[Sample] Orbit Terrarium - Small'
                        categories:
                          - 23
                          - 19
                        option: []
                        minQuantity: 0
                        maxQuantity: 0
                        isVisible: '1'
                        modifiers: []
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        isStock:
                          type: string
                          minLength: 1
                        stock:
                          type: number
                          description: Stock number
                        variantSku:
                          type: string
                          minLength: 1
                          description: Variant SKU name
                        productId:
                          type: string
                          minLength: 1
                          description: Unique product ID
                        variantId:
                          type: number
                          description: Unique variant ID
                        baseSku:
                          type: string
                          minLength: 1
                          description: SKU name
                        productName:
                          type: string
                          minLength: 1
                          description: Product name
                        categories:
                          type: array
                          items:
                            type: integer
                        option:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              label:
                                type: string
                              option_id:
                                type: integer
                              option_display_name:
                                type: string
                        minQuantity:
                          type: number
                          description: Order quantity minimum
                        maxQuantity:
                          type: number
                          description: Order quantity maximum
                        isVisible:
                          type: string
                          minLength: 1
                          description: If product is visible.
                        modifiers:
                          type: array
                          items:
                            type: object
                      required:
                        - isStock
                        - stock
                        - variantSku
                        - productId
                        - variantId
                        - baseSku
                        - productName
                        - minQuantity
                        - maxQuantity
                        - isVisible
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: Success
                    data:
                      - isStock: '1'
                        stock: 999
                        variantSku: OTS
                        productId: '81'
                        variantId: 65
                        baseSku: OTS
                        productName: '[Sample] Orbit Terrarium - Small'
                        categories:
                          - 23
                          - 19
                        option: []
                        minQuantity: 0
                        maxQuantity: 0
                        isVisible: '1'
                        modifiers: []
      description: |-
        Get products quickly.
        Equivalent Storefront GraphQL API Query: `variantSku`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Catalog
      parameters:
        - schema:
            type: string
          in: query
          name: variantSkus
          description: Variant SKU names, split by "|".
          example: sku-1|sku-2|sku-3
components:
  schemas: {}
  securitySchemes:
    BearerToken:
      name: BearerToken
      description: |-
        ### Authentication header
        | Header | Argument | Description |
        |:-------|:---------|:------------|
        |`Authorization`|`Bearer {{B2B_JWT_TOKEN}}`| You can obtain this token using the steps described in the [REST Storefront API](/b2b-edition/docs/authentication#rest-storefront-api) section of the [Authentication for hosted storefront](https://developer.bigcommerce.com/b2b-edition/docs/authentication) article. |
      type: apiKey
      in: header
tags:
  - name: Catalog
