openapi: 3.0.0
info:
  title: Company
  version: '1.0'
  description: Company refers to a collection of customers. BigCommerce B2B Edition special provided company member management and convenience of company purchasing.
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v2'
security:
  - BearerToken: []
paths:
  /frontend/companies:
    post:
      deprecated: false
      description: |-
        Create a company on the frontend.
        Equivalent Storefront GraphQL API Mutation: `companyCreate`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      operationId: createcompany(fronted)
      parameters: []
      requestBody:
        content:
          application/json:
            encoding: {}
            schema:
              type: object
              properties:
                addressLine1:
                  type: string
                  description: Company address line
                addressLine2:
                  type: string
                  description: Another company address line
                city:
                  type: string
                  description: Company city
                companyEmail:
                  example: kobe@bu.com
                  type: string
                  description: Company email
                companyFirstName:
                  example: xxxx
                  type: string
                  description: First name of company admin manager
                companyLastName:
                  example: xxxxx
                  type: string
                  description: Last name of company admin manager
                companyName:
                  example: KobeTestCrop
                  type: string
                  description: Company name
                companyPhoneNumber:
                  example: '17316289569'
                  format: int64
                  type: string
                  description: Company phone number
                customerId:
                  type: string
                  description: Company admin manager's customer user ID in BigCommerce
                extraFields:
                  type: array
                  items:
                    type: object
                    properties:
                      fieldName:
                        type: string
                      fieldValue:
                        type: string
                state:
                  type: string
                  description: Company state
                storeHash:
                  example: storeHash
                  type: string
                  description: Store Hash
                zipCode:
                  type: string
                  description: Company zip code
                country:
                  type: string
                  description: Company country
              required:
                - addressLine1
                - addressLine2
                - city
                - companyEmail
                - companyFirstName
                - companyLastName
                - companyName
                - companyPhoneNumber
                - customerId
                - state
                - storeHash
                - zipCode
                - country
        required: false
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      companyId:
                        type: number
                    required:
                      - companyId
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 0
                    message: string
                    data:
                      companyId: 1233
              examples:
                example-1:
                  value:
                    code: 0
                    message: string
                    data:
                      companyId: 1233
      summary: Create A Company
      tags:
        - Company
  /companies/extra-fields/storefront:
    get:
      parameters:
        - description: Store Hash
          explode: true
          in: query
          name: storeHash
          required: true
          schema:
            type: string
          style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      - fieldName: company_tax_exempt_code
                        labelName: Company Tax Exempt Code
                        dataType: '0'
                        isRequired: '0'
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        fieldName:
                          type: string
                          minLength: 1
                          description: Field name of one extra field
                        labelName:
                          type: string
                          minLength: 1
                          description: Label name of one extra field
                        dataType:
                          type: string
                          minLength: 1
                          description: Type of this field
                        isRequired:
                          type: string
                          minLength: 1
                          description: If this fields is requied
                      required:
                        - fieldName
                        - labelName
                        - dataType
                        - isRequired
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      - fieldName: company_tax_exempt_code
                        labelName: Company Tax Exempt Code
                        dataType: '0'
                        isRequired: '0'
          description: ''
          headers: {}
      summary: Get Company Extra Fields
      tags:
        - Company
      operationId: get-companies-extra_fields-storefront
      description: |-
        Get company extra fields.
        Equivalent Storefront GraphQL API Query: `companyExtraFields`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
    parameters: []
  '/customers/{userId}/companies':
    get:
      deprecated: false
      description: |-
        Get company information by user ID
        Equivalent Storefront GraphQL API Query: `userCompany`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      operationId: getcompanybyuserid
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      companyName: levi-test
                      bcGroupName: levi-test
                      companyStatus: '1'
                      description: Levi-test
                      addressLine1: ''
                      addressLine2: ''
                      city: ''
                      state: ''
                      zipCode: ''
                      country: ''
                      companyId: '5716'
                      catalogId: '5'
                      extraFields:
                        - fieldName: company_tax_exempt_code
                          labelName: Company Tax Exempt Code
                          dataType: '0'
                          isRequired: '0'
                          fieldValue: ''
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - companyName
                      - bcGroupName
                      - companyStatus
                      - description
                      - addressLine1
                      - addressLine2
                      - city
                      - state
                      - zipCode
                      - country
                      - companyId
                      - catalogId
                      - extraFields
                    properties:
                      companyName:
                        type: string
                        minLength: 1
                        description: Company name.
                      bcGroupName:
                        type: string
                        minLength: 1
                        description: The group name in BigCommerce's group. which must be unique
                      companyStatus:
                        type: string
                        minLength: 1
                        description: Company status
                      description:
                        type: string
                        minLength: 1
                        description: A brief introduction to the company
                      addressLine1:
                        type: string
                        description: Company address line 1
                      addressLine2:
                        type: string
                        description: Company address line 2
                      city:
                        type: string
                        description: Company city
                      state:
                        type: string
                        description: Company state
                      zipCode:
                        type: string
                        description: Zip code of company city
                      country:
                        type: string
                        description: Company country
                      companyId:
                        type: string
                        minLength: 1
                        description: Unique ID of this company
                      catalogId:
                        type: string
                        minLength: 1
                        description: Prices list ID of this company
                      extraFields:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            fieldName:
                              type: string
                              minLength: 1
                            fieldValue:
                              type: string
                          required:
                            - fieldName
                            - fieldValue
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      companyName: company a
                      bcGroupName: company a
                      companyStatus: '1'
                      description: Company a
                      addressLine1: ''
                      addressLine2: ''
                      city: ''
                      state: ''
                      zipCode: ''
                      country: ''
                      companyId: '5716'
                      catalogId: '5'
                      extraFields:
                        - fieldName: company_tax_exempt_code
                          labelName: Company Tax Exempt Code
                          dataType: '0'
                          isRequired: '0'
                          fieldValue: ''
          description: ''
          headers: {}
      summary: Get Company by User ID
      tags:
        - Company
    parameters:
      - schema:
          type: string
        name: userId
        in: path
        required: true
        description: B2B Edition user ID
  '/companies/{companyId}/users':
    parameters:
      - schema:
          type: string
        name: companyId
        in: path
        required: true
        description: Unique ID of this company
    post:
      summary: Create Company User
      operationId: post-companies-companyId-users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      userId:
                        type: number
                    required:
                      - userId
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      userId: 7838
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      userId: 7838
      description: |-
        Create company user
        Equivalent Storefront GraphQL API Mutation: `userCreate`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  firstName: Ada
                  lastName: MK
                  email: test@test12.com
                  phone: '1234567'
                  userRole: 3
              properties:
                firstName:
                  type: string
                  minLength: 1
                  description: User's first name
                lastName:
                  type: string
                  minLength: 1
                  description: User's last name
                email:
                  type: string
                  minLength: 1
                  description: User's email
                phone:
                  type: string
                  minLength: 1
                  description: User's phone number
                userRole:
                  type: number
                  description: User role
              required:
                - firstName
                - lastName
                - email
                - phone
                - userRole
            examples:
              example-1:
                value:
                  firstName: Ada
                  lastName: MK
                  email: test@test12.com
                  phone: '1234567'
                  userRole: 1
      tags:
        - Company
    get:
      summary: Get Company User List
      operationId: get-companies-companyId-users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - id: '7837'
                          phoneNumber: '11111112'
                          role: '0'
                          email: test1111@test1.com
                          uuid: ''
                          createdAt: '1622444011'
                          updatedAt: '1622444501'
                          firstName: test
                          lastName: test
                          catalogId: '5'
                        - id: '7831'
                          phoneNumber: ''
                          role: '0'
                          email: levi.tuo@silksoftware.com
                          uuid: ''
                          createdAt: '1622108356'
                          updatedAt: '1622443883'
                          firstName: levi
                          lastName: tuo
                          catalogId: '5'
                      pagination:
                        totalCount: 2
                        offset: 0
                        limit: 10
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - list
                      - pagination
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              minLength: 1
                              description: Unique user ID
                            phoneNumber:
                              type: string
                              minLength: 1
                              description: Phone number of user
                            role:
                              type: string
                              minLength: 1
                              description: Role of user
                            email:
                              type: string
                              minLength: 1
                              description: User's email
                            uuid:
                              type: string
                              description: UUID of user
                            createdAt:
                              type: string
                              minLength: 1
                              description: User create time
                            updatedAt:
                              type: string
                              minLength: 1
                              description: User last modify time.
                            firstName:
                              type: string
                              minLength: 1
                              description: User's first name
                            lastName:
                              type: string
                              minLength: 1
                              description: User's last name.
                            catalogId:
                              type: string
                              minLength: 1
                              description: Prices list ID of user's company.
                          required:
                            - id
                            - phoneNumber
                            - role
                            - email
                            - uuid
                            - createdAt
                            - updatedAt
                            - firstName
                            - lastName
                            - catalogId
                      pagination:
                        type: object
                        required:
                          - totalCount
                          - offset
                          - limit
                        properties:
                          totalCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - id: '7837'
                          phoneNumber: '12345678'
                          role: '0'
                          email: admin@admin.com
                          uuid: ''
                          createdAt: '1622444011'
                          updatedAt: '1622444501'
                          firstName: test
                          lastName: test
                          catalogId: '5'
                      pagination:
                        totalCount: 1
                        offset: 0
                        limit: 10
      description: |-
        Query company's user list.
        Equivalent Storefront GraphQL API Query: `users`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      parameters:
        - schema:
            type: string
          in: query
          name: minLastModifiedTime
          description: Mininum last modified time
        - schema:
            type: string
          in: query
          name: maxLastModifiedTime
          description: Maxinum last modified time
        - schema:
            type: string
          in: query
          name: minLastCreatedTime
          description: Mininum last created time
        - schema:
            type: string
          in: query
          name: maxLastCreatedTime
          description: Maxinum last created time
        - schema:
            type: string
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
          in: query
          name: q
          description: Query string
        - schema:
            type: string
            enum:
              - '0'
              - '1'
              - '2'
          in: query
          name: 'role[]'
          description: 'User role, 0: Admin, 1:Senior Buyer, 2: Junior Buyer'
      tags:
        - Company
  '/companies/validations/frontend/user-emails/{email}':
    parameters:
      - schema:
          type: string
        name: email
        in: path
        required: true
        description: Email address of the user
    get:
      summary: Validate Frontend User Email
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: Success
                    data:
                      isValid: '0'
                      userInfo:
                        id: '7831'
                        firstName: levi
                        lastName: tuo
                        phoneNumber: ''
                        role: '0'
                        email: levi.tuo@silksoftware.com
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - isValid
                      - userInfo
                    properties:
                      isValid:
                        type: string
                        minLength: 1
                        description: If this email is valid
                      userInfo:
                        type: object
                        required:
                          - id
                          - firstName
                          - lastName
                          - phoneNumber
                          - role
                          - email
                        properties:
                          id:
                            type: string
                            minLength: 1
                            description: Unique user ID
                          firstName:
                            type: string
                            minLength: 1
                            description: User's first name
                          lastName:
                            type: string
                            minLength: 1
                            description: User's last name
                          phoneNumber:
                            type: string
                            description: User's phone number
                          role:
                            type: string
                            minLength: 1
                            description: User role
                          email:
                            type: string
                            minLength: 1
                            description: User's email.
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: Success
                    data:
                      isValid: '0'
                      userInfo:
                        id: '7831'
                        firstName: Ada
                        lastName: Brook
                        phoneNumber: ''
                        role: '0'
                        email: example@example.com
      operationId: get-companies-validations-fronted-user-emails-email
      description: |-
        Check if the user email is valid for current company; user information and available status are front-end responses.
        Equivalent Storefront GraphQL API Query: `userEmailCheck`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      parameters:
        - schema:
            type: string
          in: query
          name: companyId
          description: Company ID
        - schema:
            type: string
            enum:
              - '0'
              - '1'
              - '2'
              - '3'
              - '4'
          in: query
          name: role
          description: 'User role ,  0： "Admin" 1： "Senior Buyer" 2： "Junior Buyer" 3： "Sales Rep" 4： "UNKNOWN"'
          required: true
        - schema:
            type: string
          in: query
          name: storeHash
          description: Store Hash
          required: true
      x-internal: false
      tags:
        - Company
  /companies/addresses/countries:
    get:
      summary: Get Countries List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: Success
                    data:
                      list:
                        - id: 1
                          countryName: Afghanistan
                          countryCode: AF
                          states: []
                        - id: 2
                          countryName: Albania
                          countryCode: AL
                          states: []
                        - id: 3
                          countryName: Algeria
                          countryCode: DZ
                          states: []
                        - id: 4
                          countryName: American Samoa
                          countryCode: AS
                          states: []
                        - id: 5
                          countryName: Andorra
                          countryCode: AD
                          states: []
                        - id: 6
                          countryName: Angola
                          countryCode: AO
                          states: []
                        - id: 7
                          countryName: Anguilla
                          countryCode: AI
                          states: []
                        - id: 8
                          countryName: Antarctica
                          countryCode: AQ
                          states: []
                        - id: 9
                          countryName: Antigua and Barbuda
                          countryCode: AG
                          states: []
                        - id: 10
                          countryName: Argentina
                          countryCode: AR
                          states:
                            - stateName: Ciudad Autónoma de Buenos Aires
                              stateCode: C
                            - stateName: Buenos Aires
                              stateCode: B
                            - stateName: Catamarca
                              stateCode: K
                            - stateName: Chaco
                              stateCode: H
                            - stateName: Chubut
                              stateCode: U
                            - stateName: Córdoba
                              stateCode: X
                            - stateName: Corrientes
                              stateCode: W
                            - stateName: Entre Ríos
                              stateCode: E
                            - stateName: Formosa
                              stateCode: P
                            - stateName: Jujuy
                              stateCode: 'Y'
                            - stateName: La Pampa
                              stateCode: L
                            - stateName: La Rioja
                              stateCode: F
                            - stateName: Mendoza
                              stateCode: M
                            - stateName: Misiones
                              stateCode: 'N'
                            - stateName: Neuquén
                              stateCode: Q
                            - stateName: Río Negro
                              stateCode: R
                            - stateName: Salta
                              stateCode: A
                            - stateName: San Juan
                              stateCode: J
                            - stateName: San Luis
                              stateCode: D
                            - stateName: Santa Cruz
                              stateCode: Z
                            - stateName: Santa Fe
                              stateCode: S
                            - stateName: Santiago del Estero
                              stateCode: G
                            - stateName: Tierra del Fuego
                              stateCode: V
                            - stateName: Tucumán
                              stateCode: T
                        - id: 11
                          countryName: Armenia
                          countryCode: AM
                          states: []
                        - id: 12
                          countryName: Aruba
                          countryCode: AW
                          states: []
                        - id: 13
                          countryName: Australia
                          countryCode: AU
                          states:
                            - stateName: Australian Capital Territory
                              stateCode: ACT
                            - stateName: New South Wales
                              stateCode: NSW
                            - stateName: Northern Territory
                              stateCode: NT
                            - stateName: Queensland
                              stateCode: QLD
                            - stateName: South Australia
                              stateCode: SA
                            - stateName: Tasmania
                              stateCode: TAS
                            - stateName: Victoria
                              stateCode: VIC
                            - stateName: Western Australia
                              stateCode: WA
                        - id: 14
                          countryName: Austria
                          countryCode: AT
                          states:
                            - stateName: Wien
                              stateCode: '9'
                            - stateName: Niederösterreich
                              stateCode: '3'
                            - stateName: Oberösterreich
                              stateCode: '4'
                            - stateName: Salzburg
                              stateCode: '5'
                            - stateName: Kärnten
                              stateCode: '2'
                            - stateName: Steiermark
                              stateCode: '6'
                            - stateName: Tirol
                              stateCode: '7'
                            - stateName: Burgenland
                              stateCode: '1'
                            - stateName: Vorarlberg
                              stateCode: '8'
                        - id: 15
                          countryName: Azerbaijan
                          countryCode: AZ
                          states: []
                        - id: 16
                          countryName: Bahamas
                          countryCode: BS
                          states: []
                        - id: 17
                          countryName: Bahrain
                          countryCode: BH
                          states: []
                        - id: 18
                          countryName: Bangladesh
                          countryCode: BD
                          states: []
                        - id: 19
                          countryName: Barbados
                          countryCode: BB
                          states: []
                        - id: 20
                          countryName: Belarus
                          countryCode: BY
                          states: []
                        - id: 21
                          countryName: Belgium
                          countryCode: BE
                          states: []
                        - id: 22
                          countryName: Belize
                          countryCode: BZ
                          states: []
                        - id: 23
                          countryName: Benin
                          countryCode: BJ
                          states: []
                        - id: 24
                          countryName: Bermuda
                          countryCode: BM
                          states: []
                        - id: 25
                          countryName: Bhutan
                          countryCode: BT
                          states: []
                        - id: 26
                          countryName: Bolivia
                          countryCode: BO
                          states: []
                        - id: 27
                          countryName: Bosnia and Herzegovina
                          countryCode: BA
                          states: []
                        - id: 28
                          countryName: Botswana
                          countryCode: BW
                          states: []
                        - id: 29
                          countryName: Bouvet Island
                          countryCode: BV
                          states: []
                        - id: 30
                          countryName: Brazil
                          countryCode: BR
                          states: []
                        - id: 31
                          countryName: British Indian Ocean Territory
                          countryCode: IO
                          states: []
                        - id: 32
                          countryName: Brunei Darussalam
                          countryCode: BN
                          states: []
                        - id: 33
                          countryName: Bulgaria
                          countryCode: BG
                          states: []
                        - id: 34
                          countryName: Burkina Faso
                          countryCode: BF
                          states: []
                        - id: 35
                          countryName: Burundi
                          countryCode: BI
                          states: []
                        - id: 36
                          countryName: Cambodia
                          countryCode: KH
                          states: []
                        - id: 37
                          countryName: Cameroon
                          countryCode: CM
                          states: []
                        - id: 38
                          countryName: Canada
                          countryCode: CA
                          states:
                            - stateName: Alberta
                              stateCode: AB
                            - stateName: British Columbia
                              stateCode: BC
                            - stateName: Manitoba
                              stateCode: MB
                            - stateName: Newfoundland and Labrador
                              stateCode: NL
                            - stateName: New Brunswick
                              stateCode: NB
                            - stateName: Nova Scotia
                              stateCode: NS
                            - stateName: Northwest Territories
                              stateCode: NT
                            - stateName: Nunavut
                              stateCode: NU
                            - stateName: Ontario
                              stateCode: 'ON'
                            - stateName: Prince Edward Island
                              stateCode: PE
                            - stateName: Quebec
                              stateCode: QC
                            - stateName: Saskatchewan
                              stateCode: SK
                            - stateName: Yukon Territory
                              stateCode: YT
                        - id: 39
                          countryName: Cape Verde
                          countryCode: CV
                          states: []
                        - id: 40
                          countryName: Cayman Islands
                          countryCode: KY
                          states: []
                        - id: 41
                          countryName: Central African Republic
                          countryCode: CF
                          states: []
                        - id: 42
                          countryName: Chad
                          countryCode: TD
                          states: []
                        - id: 43
                          countryName: Chile
                          countryCode: CL
                          states: []
                        - id: 44
                          countryName: China
                          countryCode: CN
                          states: []
                        - id: 45
                          countryName: Christmas Island
                          countryCode: CX
                          states: []
                        - id: 46
                          countryName: Cocos (Keeling) Islands
                          countryCode: CC
                          states: []
                        - id: 47
                          countryName: Colombia
                          countryCode: CO
                          states: []
                        - id: 48
                          countryName: Comoros
                          countryCode: KM
                          states: []
                        - id: 49
                          countryName: Congo
                          countryCode: CG
                          states: []
                        - id: 50
                          countryName: 'Congo, the Democratic Republic of the'
                          countryCode: CD
                          states: []
                        - id: 51
                          countryName: Cook Islands
                          countryCode: CK
                          states: []
                        - id: 52
                          countryName: Costa Rica
                          countryCode: CR
                          states: []
                        - id: 54
                          countryName: Croatia
                          countryCode: HR
                          states: []
                        - id: 56
                          countryName: Cyprus
                          countryCode: CY
                          states: []
                        - id: 57
                          countryName: Czech Republic
                          countryCode: CZ
                          states: []
                        - id: 58
                          countryName: Denmark
                          countryCode: DK
                          states: []
                        - id: 59
                          countryName: Djibouti
                          countryCode: DJ
                          states: []
                        - id: 60
                          countryName: Dominica
                          countryCode: DM
                          states: []
                        - id: 61
                          countryName: Dominican Republic
                          countryCode: DO
                          states: []
                        - id: 62
                          countryName: Ecuador
                          countryCode: EC
                          states: []
                        - id: 63
                          countryName: Egypt
                          countryCode: EG
                          states: []
                        - id: 64
                          countryName: El Salvador
                          countryCode: SV
                          states: []
                        - id: 65
                          countryName: Equatorial Guinea
                          countryCode: GQ
                          states: []
                        - id: 66
                          countryName: Eritrea
                          countryCode: ER
                          states: []
                        - id: 67
                          countryName: Estonia
                          countryCode: EE
                          states: []
                        - id: 68
                          countryName: Ethiopia
                          countryCode: ET
                          states: []
                        - id: 69
                          countryName: Falkland Islands (Malvinas)
                          countryCode: FK
                          states: []
                        - id: 70
                          countryName: Faroe Islands
                          countryCode: FO
                          states: []
                        - id: 71
                          countryName: Fiji
                          countryCode: FJ
                          states: []
                        - id: 72
                          countryName: Finland
                          countryCode: FI
                          states: []
                        - id: 73
                          countryName: France
                          countryCode: FR
                          states: []
                        - id: 74
                          countryName: French Guiana
                          countryCode: GF
                          states: []
                        - id: 75
                          countryName: French Polynesia
                          countryCode: PF
                          states: []
                        - id: 76
                          countryName: French Southern Territories
                          countryCode: TF
                          states: []
                        - id: 77
                          countryName: Gabon
                          countryCode: GA
                          states: []
                        - id: 78
                          countryName: Gambia
                          countryCode: GM
                          states: []
                        - id: 79
                          countryName: Georgia
                          countryCode: GE
                          states: []
                        - id: 80
                          countryName: Germany
                          countryCode: DE
                          states:
                            - stateName: Niedersachsen
                              stateCode: NI
                            - stateName: Baden-Württemberg
                              stateCode: BW
                            - stateName: Bayern
                              stateCode: BY
                            - stateName: Berlin
                              stateCode: BE
                            - stateName: Brandenburg
                              stateCode: BB
                            - stateName: Bremen
                              stateCode: HB
                            - stateName: Hamburg
                              stateCode: HH
                            - stateName: Hessen
                              stateCode: HE
                            - stateName: Mecklenburg-Vorpommern
                              stateCode: MV
                            - stateName: Nordrhein-Westfalen
                              stateCode: NW
                            - stateName: Rheinland-Pfalz
                              stateCode: RP
                            - stateName: Saarland
                              stateCode: SL
                            - stateName: Sachsen
                              stateCode: SN
                            - stateName: Sachsen-Anhalt
                              stateCode: ST
                            - stateName: Schleswig-Holstein
                              stateCode: SH
                            - stateName: Thüringen
                              stateCode: TH
                        - id: 81
                          countryName: Ghana
                          countryCode: GH
                          states: []
                        - id: 82
                          countryName: Gibraltar
                          countryCode: GI
                          states: []
                        - id: 83
                          countryName: Greece
                          countryCode: GR
                          states: []
                        - id: 84
                          countryName: Greenland
                          countryCode: GL
                          states: []
                        - id: 85
                          countryName: Grenada
                          countryCode: GD
                          states: []
                        - id: 86
                          countryName: Guadeloupe
                          countryCode: GP
                          states: []
                        - id: 87
                          countryName: Guam
                          countryCode: GU
                          states: []
                        - id: 88
                          countryName: Guatemala
                          countryCode: GT
                          states: []
                        - id: 89
                          countryName: Guinea
                          countryCode: GN
                          states: []
                        - id: 90
                          countryName: Guinea-Bissau
                          countryCode: GW
                          states: []
                        - id: 91
                          countryName: Guyana
                          countryCode: GY
                          states: []
                        - id: 92
                          countryName: Haiti
                          countryCode: HT
                          states: []
                        - id: 93
                          countryName: Heard Island and Mcdonald Islands
                          countryCode: HM
                          states: []
                        - id: 94
                          countryName: Holy See (Vatican City State)
                          countryCode: VA
                          states: []
                        - id: 95
                          countryName: Honduras
                          countryCode: HN
                          states: []
                        - id: 96
                          countryName: Hong Kong
                          countryCode: HK
                          states: []
                        - id: 97
                          countryName: Hungary
                          countryCode: HU
                          states: []
                        - id: 98
                          countryName: Iceland
                          countryCode: IS
                          states: []
                        - id: 99
                          countryName: India
                          countryCode: IN
                          states:
                            - stateName: Andhra Pradesh
                              stateCode: AP
                            - stateName: Arunachal Pradesh
                              stateCode: AR
                            - stateName: Assam
                              stateCode: AS
                            - stateName: Bihar
                              stateCode: BR
                            - stateName: Chhattisgarh
                              stateCode: CT
                            - stateName: Goa
                              stateCode: GA
                            - stateName: Gujarat
                              stateCode: GJ
                            - stateName: Haryana
                              stateCode: HR
                            - stateName: Himachal Pradesh
                              stateCode: HP
                            - stateName: Jammu & Kashmir
                              stateCode: JK
                            - stateName: Jharkhand
                              stateCode: JH
                            - stateName: Karnataka
                              stateCode: KA
                            - stateName: Kerala
                              stateCode: KL
                            - stateName: Madhya Pradesh
                              stateCode: MP
                            - stateName: Maharashtra
                              stateCode: MH
                            - stateName: Manipur
                              stateCode: MN
                            - stateName: Meghalaya
                              stateCode: ML
                            - stateName: Mizoram
                              stateCode: MZ
                            - stateName: Nagaland
                              stateCode: NL
                            - stateName: Orissa
                              stateCode: OR
                            - stateName: Punjab
                              stateCode: PB
                            - stateName: Rajasthan
                              stateCode: RJ
                            - stateName: Sikkim
                              stateCode: SK
                            - stateName: Tamil Nadu
                              stateCode: TN
                            - stateName: Tripura
                              stateCode: TR
                            - stateName: Uttarakhand
                              stateCode: UT
                            - stateName: Uttar Pradesh
                              stateCode: UP
                            - stateName: West Bengal
                              stateCode: WB
                            - stateName: Andaman and Nicobar Islands
                              stateCode: AN
                            - stateName: Chandigarh
                              stateCode: CH
                            - stateName: Dadra and Nagar Haveli
                              stateCode: DN
                            - stateName: Daman & Diu
                              stateCode: DD
                            - stateName: Lakshadweep
                              stateCode: LD
                            - stateName: Delhi
                              stateCode: DL
                            - stateName: Pondicherry
                              stateCode: PY
                            - stateName: Telangana
                              stateCode: TS
                        - id: 100
                          countryName: Indonesia
                          countryCode: ID
                          states:
                            - stateName: Bali
                              stateCode: BA
                            - stateName: Bangka Belitung
                              stateCode: BB
                            - stateName: Banten
                              stateCode: BT
                            - stateName: Bengkulu
                              stateCode: BE
                            - stateName: Daista Aceh
                              stateCode: AC
                            - stateName: Jakarta
                              stateCode: JK
                            - stateName: Sumatera Utara
                              stateCode: SU
                            - stateName: Sumatera Barat
                              stateCode: SB
                            - stateName: Riau
                              stateCode: RI
                            - stateName: Jambi
                              stateCode: JA
                            - stateName: Sumatera Selatan
                              stateCode: SS
                            - stateName: Lampung
                              stateCode: LA
                            - stateName: Jawa Barat
                              stateCode: JB
                            - stateName: Jawa Tengah
                              stateCode: JT
                            - stateName: Daista Yogyakarta
                              stateCode: YO
                            - stateName: Jawa Timur
                              stateCode: JI
                            - stateName: Kalimantan Barat
                              stateCode: KB
                            - stateName: Kalimantan Tengah
                              stateCode: KT
                            - stateName: Kalimantan Timur
                              stateCode: KI
                            - stateName: Kalimantan Selatan
                              stateCode: KS
                            - stateName: Nusa Tenggara Barat
                              stateCode: NB
                            - stateName: Nusa Tenggara Timur
                              stateCode: NT
                            - stateName: Sulawesi Selatan
                              stateCode: SN
                            - stateName: Sulawesi Tengah
                              stateCode: ST
                            - stateName: Sulawesi Utara
                              stateCode: SA
                            - stateName: Sulawesi Tenggara
                              stateCode: SG
                            - stateName: Maluku
                              stateCode: MA
                            - stateName: Maluku Utara
                              stateCode: MU
                            - stateName: Irian Jaya Timur
                              stateCode: IJ
                            - stateName: Irian Jaya Tengah
                              stateCode: IT
                            - stateName: Irian Jawa Barat
                              stateCode: IB
                            - stateName: Gorontalo
                              stateCode: GO
                        - id: 102
                          countryName: Iraq
                          countryCode: IQ
                          states: []
                        - id: 103
                          countryName: Ireland
                          countryCode: IE
                          states:
                            - stateName: Carlow
                              stateCode: CW
                            - stateName: Cavan
                              stateCode: CN
                            - stateName: Clare
                              stateCode: CE
                            - stateName: Cork
                              stateCode: C
                            - stateName: Donegal
                              stateCode: DL
                            - stateName: Dublin
                              stateCode: D
                            - stateName: Galway
                              stateCode: G
                            - stateName: Kerry
                              stateCode: KY
                            - stateName: Kildare
                              stateCode: KE
                            - stateName: Kilkenny
                              stateCode: KK
                            - stateName: Laois
                              stateCode: LS
                            - stateName: Leitrim
                              stateCode: LM
                            - stateName: Limerick
                              stateCode: LK
                            - stateName: Longford
                              stateCode: LD
                            - stateName: Louth
                              stateCode: LH
                            - stateName: Mayo
                              stateCode: MO
                            - stateName: Meath
                              stateCode: MH
                            - stateName: Monaghan
                              stateCode: MN
                            - stateName: Offaly
                              stateCode: OY
                            - stateName: Roscommon
                              stateCode: RN
                            - stateName: Sligo
                              stateCode: SO
                            - stateName: Tipperary
                              stateCode: TA
                            - stateName: Waterford
                              stateCode: WD
                            - stateName: Westmeath
                              stateCode: WH
                            - stateName: Wexford
                              stateCode: WX
                            - stateName: Wicklow
                              stateCode: WW
                        - id: 104
                          countryName: Israel
                          countryCode: IL
                          states: []
                        - id: 105
                          countryName: Italy
                          countryCode: IT
                          states: []
                        - id: 106
                          countryName: Jamaica
                          countryCode: JM
                          states: []
                        - id: 107
                          countryName: Japan
                          countryCode: JP
                          states: []
                        - id: 108
                          countryName: Jordan
                          countryCode: JO
                          states: []
                        - id: 109
                          countryName: Kazakhstan
                          countryCode: KZ
                          states: []
                        - id: 110
                          countryName: Kenya
                          countryCode: KE
                          states: []
                        - id: 111
                          countryName: Kiribati
                          countryCode: KI
                          states: []
                        - id: 113
                          countryName: 'Korea, Republic of'
                          countryCode: KR
                          states: []
                        - id: 114
                          countryName: Kuwait
                          countryCode: KW
                          states: []
                        - id: 115
                          countryName: Kyrgyzstan
                          countryCode: KG
                          states: []
                        - id: 117
                          countryName: Latvia
                          countryCode: LV
                          states: []
                        - id: 118
                          countryName: Lebanon
                          countryCode: LB
                          states: []
                        - id: 119
                          countryName: Lesotho
                          countryCode: LS
                          states: []
                        - id: 120
                          countryName: Liberia
                          countryCode: LR
                          states: []
                        - id: 121
                          countryName: Libya
                          countryCode: LY
                          states: []
                        - id: 122
                          countryName: Liechtenstein
                          countryCode: LI
                          states: []
                        - id: 123
                          countryName: Lithuania
                          countryCode: LT
                          states: []
                        - id: 124
                          countryName: Luxembourg
                          countryCode: LU
                          states: []
                        - id: 125
                          countryName: Macao
                          countryCode: MO
                          states: []
                        - id: 126
                          countryName: 'Macedonia, the Former Yugoslav Republic of'
                          countryCode: MK
                          states: []
                        - id: 127
                          countryName: Madagascar
                          countryCode: MG
                          states: []
                        - id: 128
                          countryName: Malawi
                          countryCode: MW
                          states: []
                        - id: 129
                          countryName: Malaysia
                          countryCode: MY
                          states:
                            - stateName: Johor
                              stateCode: '01'
                            - stateName: Kedah
                              stateCode: '02'
                            - stateName: Kelantan
                              stateCode: '03'
                            - stateName: Melaka
                              stateCode: '04'
                            - stateName: Negeri Sembilan
                              stateCode: '05'
                            - stateName: Pahang
                              stateCode: '06'
                            - stateName: Pulau Pinang
                              stateCode: '07'
                            - stateName: Perak
                              stateCode: '08'
                            - stateName: Perlis
                              stateCode: '09'
                            - stateName: Selangor
                              stateCode: '10'
                            - stateName: Terengganu
                              stateCode: '11'
                            - stateName: Sabah
                              stateCode: '12'
                            - stateName: Sarawak
                              stateCode: '13'
                            - stateName: Kuala Lumpur
                              stateCode: '14'
                            - stateName: Labuan
                              stateCode: '15'
                            - stateName: Putrajaya
                              stateCode: '16'
                        - id: 130
                          countryName: Maldives
                          countryCode: MV
                          states: []
                        - id: 131
                          countryName: Mali
                          countryCode: ML
                          states: []
                        - id: 132
                          countryName: Malta
                          countryCode: MT
                          states: []
                        - id: 133
                          countryName: Marshall Islands
                          countryCode: MH
                          states: []
                        - id: 134
                          countryName: Martinique
                          countryCode: MQ
                          states: []
                        - id: 135
                          countryName: Mauritania
                          countryCode: MR
                          states: []
                        - id: 136
                          countryName: Mauritius
                          countryCode: MU
                          states: []
                        - id: 137
                          countryName: Mayotte
                          countryCode: YT
                          states: []
                        - id: 138
                          countryName: Mexico
                          countryCode: MX
                          states:
                            - stateName: Aguascalientes
                              stateCode: AGU
                            - stateName: Baja California
                              stateCode: BCN
                            - stateName: Baja California Sur
                              stateCode: BCS
                            - stateName: Campeche
                              stateCode: CAM
                            - stateName: Coahuila
                              stateCode: COA
                            - stateName: Colima
                              stateCode: COL
                            - stateName: Chiapas
                              stateCode: CHP
                            - stateName: Chihuahua
                              stateCode: CHH
                            - stateName: Durango
                              stateCode: DUR
                            - stateName: Guanajuato
                              stateCode: GUA
                            - stateName: Guerrero
                              stateCode: GRO
                            - stateName: Hidalgo
                              stateCode: HID
                            - stateName: Jalisco
                              stateCode: JAL
                            - stateName: Ciudad de México
                              stateCode: CMX
                            - stateName: México
                              stateCode: MEX
                            - stateName: Michoacán
                              stateCode: MIC
                            - stateName: Morelos
                              stateCode: MOR
                            - stateName: Nayarit
                              stateCode: NAY
                            - stateName: Nuevo León
                              stateCode: NLE
                            - stateName: Oaxaca
                              stateCode: OAX
                            - stateName: Puebla
                              stateCode: PUE
                            - stateName: Querétaro
                              stateCode: QUE
                            - stateName: Quintana Roo
                              stateCode: ROO
                            - stateName: San Luis Potosí
                              stateCode: SLP
                            - stateName: Sinaloa
                              stateCode: SIN
                            - stateName: Sonora
                              stateCode: SON
                            - stateName: Tabasco
                              stateCode: TAB
                            - stateName: Tamaulipas
                              stateCode: TAM
                            - stateName: Tlaxcala
                              stateCode: TLA
                            - stateName: Veracruz
                              stateCode: VER
                            - stateName: Yucatán
                              stateCode: YUC
                            - stateName: Zacatecas
                              stateCode: ZAC
                        - id: 139
                          countryName: 'Micronesia, Federated States of'
                          countryCode: FM
                          states: []
                        - id: 140
                          countryName: 'Moldova, Republic of'
                          countryCode: MD
                          states: []
                        - id: 141
                          countryName: Monaco
                          countryCode: MC
                          states: []
                        - id: 142
                          countryName: Mongolia
                          countryCode: MN
                          states: []
                        - id: 143
                          countryName: Montserrat
                          countryCode: MS
                          states: []
                        - id: 144
                          countryName: Morocco
                          countryCode: MA
                          states: []
                        - id: 145
                          countryName: Mozambique
                          countryCode: MZ
                          states: []
                        - id: 146
                          countryName: Myanmar
                          countryCode: MM
                          states:
                            - stateName: Ayeyarwady
                              stateCode: '07'
                            - stateName: Bago
                              stateCode: '02'
                            - stateName: Chin
                              stateCode: '14'
                            - stateName: Kachin
                              stateCode: '11'
                            - stateName: Kayah
                              stateCode: '12'
                            - stateName: Kayin
                              stateCode: '13'
                            - stateName: Magway
                              stateCode: '03'
                            - stateName: Mandalay
                              stateCode: '04'
                            - stateName: Mon
                              stateCode: '15'
                            - stateName: Rakhine
                              stateCode: '16'
                            - stateName: Shan
                              stateCode: '17'
                            - stateName: Sagaing
                              stateCode: '01'
                            - stateName: Tanintharyi
                              stateCode: '05'
                            - stateName: Yangon
                              stateCode: '06'
                            - stateName: Naypyidaw Union
                              stateCode: '18'
                        - id: 147
                          countryName: Namibia
                          countryCode: NA
                          states: []
                        - id: 148
                          countryName: Nauru
                          countryCode: NR
                          states: []
                        - id: 149
                          countryName: Nepal
                          countryCode: NP
                          states: []
                        - id: 150
                          countryName: Netherlands
                          countryCode: NL
                          states: []
                        - id: 151
                          countryName: Netherlands Antilles
                          countryCode: AN
                          states: []
                        - id: 152
                          countryName: New Caledonia
                          countryCode: NC
                          states: []
                        - id: 153
                          countryName: New Zealand
                          countryCode: NZ
                          states: []
                        - id: 154
                          countryName: Nicaragua
                          countryCode: NI
                          states: []
                        - id: 155
                          countryName: Niger
                          countryCode: NE
                          states: []
                        - id: 156
                          countryName: Nigeria
                          countryCode: NG
                          states: []
                        - id: 157
                          countryName: Niue
                          countryCode: NU
                          states: []
                        - id: 158
                          countryName: Norfolk Island
                          countryCode: NF
                          states: []
                        - id: 159
                          countryName: Northern Mariana Islands
                          countryCode: MP
                          states: []
                        - id: 160
                          countryName: Norway
                          countryCode: 'NO'
                          states: []
                        - id: 161
                          countryName: Oman
                          countryCode: OM
                          states: []
                        - id: 162
                          countryName: Pakistan
                          countryCode: PK
                          states: []
                        - id: 163
                          countryName: Palau
                          countryCode: PW
                          states: []
                        - id: 164
                          countryName: 'Palestinian Territory, Occupied'
                          countryCode: PS
                          states: []
                        - id: 165
                          countryName: Panama
                          countryCode: PA
                          states: []
                        - id: 166
                          countryName: Papua New Guinea
                          countryCode: PG
                          states: []
                        - id: 167
                          countryName: Paraguay
                          countryCode: PY
                          states: []
                        - id: 168
                          countryName: Peru
                          countryCode: PE
                          states: []
                        - id: 169
                          countryName: Philippines
                          countryCode: PH
                          states: []
                        - id: 170
                          countryName: Pitcairn
                          countryCode: PN
                          states: []
                        - id: 171
                          countryName: Poland
                          countryCode: PL
                          states: []
                        - id: 172
                          countryName: Portugal
                          countryCode: PT
                          states: []
                        - id: 173
                          countryName: Puerto Rico
                          countryCode: PR
                          states: []
                        - id: 174
                          countryName: Qatar
                          countryCode: QA
                          states: []
                        - id: 175
                          countryName: Reunion
                          countryCode: RE
                          states: []
                        - id: 176
                          countryName: Romania
                          countryCode: RO
                          states: []
                        - id: 177
                          countryName: Russian Federation
                          countryCode: RU
                          states: []
                        - id: 178
                          countryName: Rwanda
                          countryCode: RW
                          states: []
                        - id: 179
                          countryName: Saint Helena
                          countryCode: SH
                          states: []
                        - id: 180
                          countryName: Saint Kitts and Nevis
                          countryCode: KN
                          states: []
                        - id: 181
                          countryName: Saint Lucia
                          countryCode: LC
                          states: []
                        - id: 182
                          countryName: Saint Pierre and Miquelon
                          countryCode: PM
                          states: []
                        - id: 183
                          countryName: Saint Vincent and the Grenadines
                          countryCode: VC
                          states: []
                        - id: 184
                          countryName: Samoa
                          countryCode: WS
                          states: []
                        - id: 185
                          countryName: San Marino
                          countryCode: SM
                          states: []
                        - id: 186
                          countryName: Sao Tome and Principe
                          countryCode: ST
                          states: []
                        - id: 187
                          countryName: Saudi Arabia
                          countryCode: SA
                          states: []
                        - id: 188
                          countryName: Senegal
                          countryCode: SN
                          states: []
                        - id: 189
                          countryName: Serbia
                          countryCode: RS
                          states: []
                        - id: 190
                          countryName: Seychelles
                          countryCode: SC
                          states: []
                        - id: 191
                          countryName: Sierra Leone
                          countryCode: SL
                          states: []
                        - id: 192
                          countryName: Singapore
                          countryCode: SG
                          states: []
                        - id: 193
                          countryName: Slovakia
                          countryCode: SK
                          states: []
                        - id: 194
                          countryName: Slovenia
                          countryCode: SI
                          states: []
                        - id: 195
                          countryName: Solomon Islands
                          countryCode: SB
                          states: []
                        - id: 196
                          countryName: Somalia
                          countryCode: SO
                          states: []
                        - id: 197
                          countryName: South Africa
                          countryCode: ZA
                          states:
                            - stateName: Eastern Cape
                              stateCode: EC
                            - stateName: Free State
                              stateCode: FS
                            - stateName: Gauteng
                              stateCode: GT
                            - stateName: KwaZulu-Natal
                              stateCode: NL
                            - stateName: Limpopo
                              stateCode: LP
                            - stateName: Mpumalanga
                              stateCode: MP
                            - stateName: Northern Cape
                              stateCode: NC
                            - stateName: North-West
                              stateCode: NW
                            - stateName: Western Cape
                              stateCode: WC
                        - id: 198
                          countryName: South Georgia and the South Sandwich Islands
                          countryCode: GS
                          states: []
                        - id: 199
                          countryName: Spain
                          countryCode: ES
                          states:
                            - stateName: A Coruña
                              stateCode: C
                            - stateName: Alava
                              stateCode: VI
                            - stateName: Albacete
                              stateCode: AB
                            - stateName: Alicante
                              stateCode: A
                            - stateName: Almeria
                              stateCode: AL
                            - stateName: Asturias
                              stateCode: O
                            - stateName: Avila
                              stateCode: AV
                            - stateName: Badajoz
                              stateCode: BA
                            - stateName: Baleares
                              stateCode: PM
                            - stateName: Barcelona
                              stateCode: B
                            - stateName: Burgos
                              stateCode: BU
                            - stateName: Caceres
                              stateCode: CC
                            - stateName: Cadiz
                              stateCode: CA
                            - stateName: Cantabria
                              stateCode: S
                            - stateName: Castellon
                              stateCode: CS
                            - stateName: Ceuta
                              stateCode: CE
                            - stateName: Ciudad Real
                              stateCode: CR
                            - stateName: Cordoba
                              stateCode: CO
                            - stateName: Cuenca
                              stateCode: CU
                            - stateName: Girona
                              stateCode: GI
                            - stateName: Granada
                              stateCode: GR
                            - stateName: Guadalajara
                              stateCode: GU
                            - stateName: Guipuzcoa
                              stateCode: SS
                            - stateName: Huelva
                              stateCode: H
                            - stateName: Huesca
                              stateCode: HU
                            - stateName: Jaen
                              stateCode: J
                            - stateName: La Rioja
                              stateCode: LO
                            - stateName: Las Palmas
                              stateCode: GC
                            - stateName: Leon
                              stateCode: LE
                            - stateName: Lleida
                              stateCode: L
                            - stateName: Lugo
                              stateCode: LU
                            - stateName: Madrid
                              stateCode: M
                            - stateName: Malaga
                              stateCode: MA
                            - stateName: Melilla
                              stateCode: ML
                            - stateName: Murcia
                              stateCode: MU
                            - stateName: Navarra
                              stateCode: NA
                            - stateName: Ourense
                              stateCode: OR
                            - stateName: Palencia
                              stateCode: P
                            - stateName: Pontevedra
                              stateCode: PO
                            - stateName: Salamanca
                              stateCode: SA
                            - stateName: Santa Cruz de Tenerife
                              stateCode: TF
                            - stateName: Segovia
                              stateCode: SG
                            - stateName: Sevilla
                              stateCode: SE
                            - stateName: Soria
                              stateCode: SO
                            - stateName: Tarragona
                              stateCode: T
                            - stateName: Teruel
                              stateCode: TE
                            - stateName: Toledo
                              stateCode: TO
                            - stateName: Valencia
                              stateCode: V
                            - stateName: Valladolid
                              stateCode: VA
                            - stateName: Vizcaya
                              stateCode: BI
                            - stateName: Zamora
                              stateCode: ZA
                            - stateName: Zaragoza
                              stateCode: Z
                        - id: 200
                          countryName: Sri Lanka
                          countryCode: LK
                          states: []
                        - id: 201
                          countryName: Sudan
                          countryCode: SD
                          states: []
                        - id: 202
                          countryName: Suriname
                          countryCode: SR
                          states: []
                        - id: 203
                          countryName: Svalbard and Jan Mayen
                          countryCode: SJ
                          states: []
                        - id: 204
                          countryName: Swaziland
                          countryCode: SZ
                          states: []
                        - id: 205
                          countryName: Sweden
                          countryCode: SE
                          states: []
                        - id: 206
                          countryName: Switzerland
                          countryCode: CH
                          states:
                            - stateName: Aargau
                              stateCode: AG
                            - stateName: Appenzell Innerrhoden
                              stateCode: AI
                            - stateName: Appenzell Ausserrhoden
                              stateCode: AR
                            - stateName: Bern
                              stateCode: BE
                            - stateName: Basel-Landschaft
                              stateCode: BL
                            - stateName: Basel-Stadt
                              stateCode: BS
                            - stateName: Fribourg
                              stateCode: FR
                            - stateName: Geneva
                              stateCode: GE
                            - stateName: Glarus
                              stateCode: GL
                            - stateName: Graubünden
                              stateCode: GR
                            - stateName: Jura
                              stateCode: JU
                            - stateName: Luzern
                              stateCode: LU
                            - stateName: Neuchâtel
                              stateCode: NE
                            - stateName: Nidwalden
                              stateCode: NW
                            - stateName: Obwalden
                              stateCode: OW
                            - stateName: St. Gallen
                              stateCode: SG
                            - stateName: Schaffhausen
                              stateCode: SH
                            - stateName: Solothurn
                              stateCode: SO
                            - stateName: Schwyz
                              stateCode: SZ
                            - stateName: Thurgau
                              stateCode: TG
                            - stateName: Ticino
                              stateCode: TI
                            - stateName: Uri
                              stateCode: UR
                            - stateName: Vaud
                              stateCode: VD
                            - stateName: Valais
                              stateCode: VS
                            - stateName: Zug
                              stateCode: ZG
                            - stateName: Zürich
                              stateCode: ZH
                        - id: 208
                          countryName: Taiwan
                          countryCode: TW
                          states: []
                        - id: 209
                          countryName: Tajikistan
                          countryCode: TJ
                          states: []
                        - id: 210
                          countryName: 'Tanzania, United Republic of'
                          countryCode: TZ
                          states: []
                        - id: 211
                          countryName: Thailand
                          countryCode: TH
                          states: []
                        - id: 212
                          countryName: Timor-Leste
                          countryCode: TL
                          states: []
                        - id: 213
                          countryName: Togo
                          countryCode: TG
                          states: []
                        - id: 214
                          countryName: Tokelau
                          countryCode: TK
                          states: []
                        - id: 215
                          countryName: Tonga
                          countryCode: TO
                          states: []
                        - id: 216
                          countryName: Trinidad and Tobago
                          countryCode: TT
                          states: []
                        - id: 217
                          countryName: Tunisia
                          countryCode: TN
                          states: []
                        - id: 218
                          countryName: Turkey
                          countryCode: TR
                          states: []
                        - id: 219
                          countryName: Turkmenistan
                          countryCode: TM
                          states: []
                        - id: 220
                          countryName: Turks and Caicos Islands
                          countryCode: TC
                          states: []
                        - id: 221
                          countryName: Tuvalu
                          countryCode: TV
                          states: []
                        - id: 222
                          countryName: Uganda
                          countryCode: UG
                          states: []
                        - id: 223
                          countryName: Ukraine
                          countryCode: UA
                          states: []
                        - id: 224
                          countryName: United Arab Emirates
                          countryCode: AE
                          states:
                            - stateName: Abu Dhabi
                              stateCode: AZ
                            - stateName: Ajman
                              stateCode: AJ
                            - stateName: Fujairah
                              stateCode: FU
                            - stateName: Sharjah
                              stateCode: SH
                            - stateName: Dubai
                              stateCode: DU
                            - stateName: Ras al-Khaimah
                              stateCode: RK
                            - stateName: Umm al-Quwain
                              stateCode: UQ
                        - id: 225
                          countryName: United Kingdom
                          countryCode: GB
                          states: []
                        - id: 226
                          countryName: United States
                          countryCode: US
                          states:
                            - stateName: Alabama
                              stateCode: AL
                            - stateName: Alaska
                              stateCode: AK
                            - stateName: American Samoa
                              stateCode: AS
                            - stateName: Arizona
                              stateCode: AZ
                            - stateName: Arkansas
                              stateCode: AR
                            - stateName: Armed Forces Africa
                              stateCode: AE
                            - stateName: Armed Forces Americas
                              stateCode: AA
                            - stateName: Armed Forces Canada
                              stateCode: AE
                            - stateName: Armed Forces Europe
                              stateCode: AE
                            - stateName: Armed Forces Middle East
                              stateCode: AE
                            - stateName: Armed Forces Pacific
                              stateCode: AP
                            - stateName: California
                              stateCode: CA
                            - stateName: Colorado
                              stateCode: CO
                            - stateName: Connecticut
                              stateCode: CT
                            - stateName: Delaware
                              stateCode: DE
                            - stateName: District of Columbia
                              stateCode: DC
                            - stateName: Federated States Of Micronesia
                              stateCode: FM
                            - stateName: Florida
                              stateCode: FL
                            - stateName: Georgia
                              stateCode: GA
                            - stateName: Guam
                              stateCode: GU
                            - stateName: Hawaii
                              stateCode: HI
                            - stateName: Idaho
                              stateCode: ID
                            - stateName: Illinois
                              stateCode: IL
                            - stateName: Indiana
                              stateCode: IN
                            - stateName: Iowa
                              stateCode: IA
                            - stateName: Kansas
                              stateCode: KS
                            - stateName: Kentucky
                              stateCode: KY
                            - stateName: Louisiana
                              stateCode: LA
                            - stateName: Maine
                              stateCode: ME
                            - stateName: Marshall Islands
                              stateCode: MH
                            - stateName: Maryland
                              stateCode: MD
                            - stateName: Massachusetts
                              stateCode: MA
                            - stateName: Michigan
                              stateCode: MI
                            - stateName: Minnesota
                              stateCode: MN
                            - stateName: Mississippi
                              stateCode: MS
                            - stateName: Missouri
                              stateCode: MO
                            - stateName: Montana
                              stateCode: MT
                            - stateName: Nebraska
                              stateCode: NE
                            - stateName: Nevada
                              stateCode: NV
                            - stateName: New Hampshire
                              stateCode: NH
                            - stateName: New Jersey
                              stateCode: NJ
                            - stateName: New Mexico
                              stateCode: NM
                            - stateName: New York
                              stateCode: NY
                            - stateName: North Carolina
                              stateCode: NC
                            - stateName: North Dakota
                              stateCode: ND
                            - stateName: Northern Mariana Islands
                              stateCode: MP
                            - stateName: Ohio
                              stateCode: OH
                            - stateName: Oklahoma
                              stateCode: OK
                            - stateName: Oregon
                              stateCode: OR
                            - stateName: Palau
                              stateCode: PW
                            - stateName: Pennsylvania
                              stateCode: PA
                            - stateName: Puerto Rico
                              stateCode: PR
                            - stateName: Rhode Island
                              stateCode: RI
                            - stateName: South Carolina
[...]
