openapi: 3.0.0
info:
  title: Order
  version: '1.0'
  description: Company based order management.
  contact:
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
    email: support@bigcommerce.com
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v2'
security:
  - BearerToken: []
paths:
  /orders:
    get:
      summary: Get Orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - orderId: 635
                          companyName: levi-test
                          createdAt: '1622616050'
                          updatedAt: '1622616050'
                          isInvoiceOrder: 0
                          orderStatus: Awaiting Payment
                          customOrderStatus: Awaiting Pay Kido Test
                          statusCode: 0
                          totalIncTax: 450.45
                          currencyCode: CNY
                          money:
                            currency_location: left
                            currency_token: ¥
                            decimal_token: .
                            decimal_places: 2
                            thousands_token: ','
                          firstName: levi
                          lastName: tuo
                          poNumber: ''
                      paginator:
                        totalCount: 1
                        offset: 0
                        limit: 10
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - list
                      - paginator
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            orderId:
                              type: number
                              description: Unique order ID in BigCommerce store
                            companyName:
                              type: string
                              minLength: 1
                              description: Company name
                            createdAt:
                              type: string
                              minLength: 1
                              description: Create timestamp of this order
                            updatedAt:
                              type: string
                              minLength: 1
                              description: User last modified timestamp
                            isInvoiceOrder:
                              type: number
                              description: If order is invoice order
                            orderStatus:
                              type: string
                              minLength: 1
                              description: Order status
                            customOrderStatus:
                              type: string
                              minLength: 1
                              description: Custom order status
                            statusCode:
                              type: number
                              description: Order status code
                            totalIncTax:
                              type: number
                              description: Total inc tax
                            currencyCode:
                              type: string
                              minLength: 1
                              description: Currency money code
                            money:
                              type: object
                              properties:
                                currency_location:
                                  type: string
                                  minLength: 1
                                  description: Currency location
                                currency_token:
                                  type: string
                                  minLength: 1
                                  description: Currency token code
                                decimal_token:
                                  type: string
                                  minLength: 1
                                  description: Decimal token
                                decimal_places:
                                  type: number
                                  description: Decimal places
                                thousands_token:
                                  type: string
                                  minLength: 1
                                  description: Thousands token
                              required:
                                - currency_location
                                - currency_token
                                - decimal_token
                                - decimal_places
                                - thousands_token
                            firstName:
                              type: string
                              minLength: 1
                              description: Company first name
                            lastName:
                              type: string
                              minLength: 1
                              description: Company last name
                            poNumber:
                              type: string
                              description: PO number
                            extraFields:
                              type: array
                              items:
                                type: object
                                properties:
                                  fieldName:
                                    type: string
                                    description: Extra field name
                                  fieldValue:
                                    type: string
                                    description: Extra field value
                          required:
                            - orderId
                            - companyName
                            - createdAt
                            - updatedAt
                            - isInvoiceOrder
                            - orderStatus
                            - customOrderStatus
                            - statusCode
                            - totalIncTax
                            - currencyCode
                            - firstName
                            - lastName
                            - poNumber
                      paginator:
                        type: object
                        required:
                          - totalCount
                          - offset
                          - limit
                        properties:
                          totalCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - orderId: 635
                          companyName: company name
                          createdAt: '1622616050'
                          updatedAt: '1622616050'
                          isInvoiceOrder: 0
                          orderStatus: Awaiting Payment
                          customOrderStatus: Awaiting Pay Kido Test
                          statusCode: 0
                          totalIncTax: 450.45
                          currencyCode: CNY
                          money:
                            currency_location: left
                            currency_token: ¥
                            decimal_token: .
                            decimal_places: 2
                            thousands_token: ','
                          firstName: Jo
                          lastName: Sweet
                          poNumber: ''
                          extraFields: [{
                              fieldName: 'test field',
                              fieldValue: 'test'
                            }]
                      paginator:
                        totalCount: 1
                        offset: 0
                        limit: 10
      operationId: get-orders
      parameters:
        - schema:
            type: string
          in: query
          name: beginDateAt
          description: Begin query date
        - schema:
            type: string
          in: query
          name: endDateAt
          description: End query date
        - schema:
            type: string
            default: createdAt
          in: query
          name: orderBy
          description: Order by
        - schema:
            type: string
            default: DESC
          in: query
          name: sortBy
          description: Sort order by desc or asc
        - schema:
            type: string
            default: '0'
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
            default: '10'
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
            default: '0'
          in: query
          name: isShowMy
          description: Is show my orders
        - schema:
            type: string
            default: '0'
          in: query
          name: includeExtra
          description: Include extra field
        - schema:
            type: string
          in: query
          name: q
          description: Query string
        - schema:
            type: string
          in: query
          name: companyName
          description: Company name
        - schema:
            type: string
          in: query
          name: orderNumber
          description: Order number
        - schema:
            type: string
          in: query
          name: poNumber
          description: PO number
        - schema:
            type: string
          in: query
          name: 'status[]'
          description: Order status
      description: |-
        Get orders.
        Equivalent Storefront GraphQL API Query: `allOrders`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Order
    post:
      summary: Create an Order
      operationId: post-orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      orderId:
                        type: string
                        minLength: 1
                    required:
                      - orderId
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      orderId: '123'
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      orderId: '1234'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orderId:
                  type: string
                  description: Unique order ID in BigCommerce store
                poNumber:
                  type: string
                  description: PO number
                isSaveOrderComment:
                  type: string
                  description: If save order comment
                extraInt1:
                  type: string
                  description: Order extra int field 1
                extraInt2:
                  type: string
                  description: Order extra int field 2
                extraInt3:
                  type: string
                  description: Order extra int field 3
                extraInt4:
                  type: string
                  description: Order extra int field 4
                extraInt5:
                  type: string
                  description: Order extra int field 5
                extraStr1:
                  type: string
                  description: Order extra str field 1
                extraStr2:
                  type: string
                  description: Order extra str field 2
                extraStr3:
                  type: string
                  description: Order extra str field 3
                extraStr4:
                  type: string
                  description: Order extra str field 4
                extraStr5:
                  type: string
                  description: Order extra str field 5
                extraText:
                  type: string
                  description: Order extra text field
                extraInfo:
                  oneOf:
                    - type: string
                    - type: object
                      properties:
                        addressExtraFields:
                          type: object
                          properties:
                            shippingAddressExtraFields:
                              type: array
                              items:
                                type: object
                                properties:
                                  fieldName:
                                    type: string
                                  fieldValue:
                                    type: string
                  description: order extra info such as address extra fields
              required:
                - orderId
      description: |-
        Create an order in the BigCommerce store.
        Equivalent Storefront GraphQL API Mutation: `createOrder`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Order
  /orders/images:
    get:
      summary: Get Order Images
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: Success
                    data:
                      - orderId: '123'
                        imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/111/images/371/smithjournal1.1554505753.386.513.jpg?c=2'
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        orderId:
                          type: string
                          minLength: 1
                          description: Order ID
                        imageUrl:
                          type: string
                          minLength: 1
                          description: Image URL address
                      required:
                        - orderId
                        - imageUrl
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: Success
                    data:
                      - orderId: '123'
                        imageUrl: url
      operationId: get-orders-images
      parameters:
        - schema:
            type: string
          in: query
          name: 'orderIds[]'
          description: Unique order ID
      description: |-
        Get order's images.
        Equivalent Storefront GraphQL API Query: `orderImages`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Order
      x-internal: true
  '/orders/{orderId}/products':
    parameters:
      - schema:
          type: string
        name: orderId
        in: path
        required: true
        description: Unique order ID in BigCommerce store
    get:
      summary: Get Order Products
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: Success
                    data:
                      - productId: '104'
                        quantity: '2'
                        variantId: '142'
                        optionList:
                          - option_id: 147
                            option_value: '95'
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        productId:
                          type: string
                          minLength: 1
                          description: Unique order product ID
                        quantity:
                          type: string
                          minLength: 1
                          description: Product quantity in this order
                        variantId:
                          type: string
                          minLength: 1
                          description: Unique variant ID
                        optionList:
                          type: array
                          uniqueItems: true
                          minItems: 1
                          items:
                            type: object
                            properties:
                              option_id:
                                type: number
                                description: Product option ID
                              option_value:
                                type: string
                                minLength: 1
                                description: Product option value
                            required:
                              - option_id
                              - option_value
                      required:
                        - productId
                        - quantity
                        - variantId
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: Success
                    data:
                      - productId: '104'
                        quantity: '2'
                        variantId: '142'
                        optionList:
                          - option_id: 147
                            option_value: '95'
      operationId: get-orders-orderId-products
      description: |-
        Get order products by orderId.
        Equivalent Storefront GraphQL API Query: `orderProducts`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Order
  '/orders/{orderId}/details':
    parameters:
      - schema:
          type: string
        name: orderId
        in: path
        required: true
        description: Unique order ID in BigCommerce store
    get:
      summary: Get Order Detail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      id: 636
                      customer_id: 8186
                      date_created: 'Wed, 02 Jun 2021 07:01:56 +0000'
                      date_modified: 'Wed, 02 Jun 2021 07:01:57 +0000'
                      date_shipped: ''
                      status_id: 7
                      status: Awaiting Payment
                      subtotal_ex_tax: '91.9000'
                      subtotal_inc_tax: '91.9000'
                      subtotal_tax: '0.0000'
                      base_shipping_cost: '0.0000'
                      shipping_cost_ex_tax: '0.0000'
                      shipping_cost_inc_tax: '0.0000'
                      shipping_cost_tax: '0.0000'
                      shipping_cost_tax_class_id: 2
                      base_handling_cost: '0.0000'
                      handling_cost_ex_tax: '0.0000'
                      handling_cost_inc_tax: '0.0000'
                      handling_cost_tax: '0.0000'
                      handling_cost_tax_class_id: 2
                      base_wrapping_cost: '0.0000'
                      wrapping_cost_ex_tax: '0.0000'
                      wrapping_cost_inc_tax: '0.0000'
                      wrapping_cost_tax: '0.0000'
                      wrapping_cost_tax_class_id: 3
                      total_ex_tax: '91.9000'
                      total_inc_tax: '91.9000'
                      total_tax: '0.0000'
                      items_total: 2
                      items_shipped: 0
                      payment_method: Purchase Orders
                      payment_provider_id: null
                      payment_status: ''
                      refunded_amount: '0.0000'
                      order_is_digital: false
                      store_credit_amount: '0.0000'
                      gift_certificate_amount: '0.0000'
                      ip_address: 193.176.211.29
                      geoip_country: Hong Kong
                      geoip_country_iso2: HK
                      currency_id: 3
                      currency_code: CNY
                      currency_exchange_rate: '1.0000000000'
                      default_currency_id: 3
                      default_currency_code: CNY
                      staff_notes: ''
                      customer_message: ''
                      discount_amount: '0.0000'
                      coupon_discount: '0.0000'
                      shipping_address_count: 1
                      is_deleted: false
                      ebay_order_id: '0'
                      cart_id: a5a603a2-04be-47fc-8298-27a5995251d9
                      billing_address:
                        first_name: test
                        last_name: order
                        company: test-order
                        street_1: address
                        street_2: ''
                        city: HA
                        state: ''
                        zip: '80022'
                        country: American Samoa
                        country_iso2: AS
                        phone: ''
                        email: levi.tuo@silksoftware.com
                        form_fields: []
                      is_email_opt_in: false
                      credit_card_type: null
                      order_source: www
                      channel_id: 1
                      external_source: ''
                      products:
                        - id: 1461
                          order_id: 636
                          product_id: 104
                          variant_id: 142
                          order_address_id: 544
                          name: '[Sample] Utility Caddy'
                          name_customer: '[Sample] Utility Caddy'
                          name_merchant: '[Sample] Utility Caddy'
                          sku: e1-1
                          upc: ''
                          type: physical
                          base_price: '45.9500'
                          price_ex_tax: '45.9500'
                          price_inc_tax: '45.9500'
                          price_tax: '0.0000'
                          base_total: '91.9000'
                          total_ex_tax: '91.9000'
                          total_inc_tax: '91.9000'
                          total_tax: '0.0000'
                          weight: '1.0000'
                          width: '0.0000'
                          height: '0.0000'
                          depth: '0.0000'
                          quantity: 2
                          base_cost_price: '0.0000'
                          cost_price_inc_tax: '0.0000'
                          cost_price_ex_tax: '0.0000'
                          cost_price_tax: '0.0000'
                          is_refunded: false
                          quantity_refunded: 0
                          refund_amount: '0.0000'
                          return_id: 0
                          wrapping_name: ''
                          base_wrapping_cost: '0.0000'
                          wrapping_cost_ex_tax: '0.0000'
                          wrapping_cost_inc_tax: '0.0000'
                          wrapping_cost_tax: '0.0000'
                          wrapping_message: ''
                          quantity_shipped: 0
                          event_name: null
                          event_date: ''
                          fixed_shipping_cost: '0.0000'
                          ebay_item_id: ''
                          ebay_transaction_id: ''
                          option_set_id: 16
                          parent_order_product_id: null
                          is_bundled_product: false
                          bin_picking_number: ''
                          external_id: null
                          fulfillment_source: ''
                          applied_discounts: []
                          product_options:
                            - id: 1595
                              option_id: 32
                              order_product_id: 1461
                              product_option_id: 147
                              display_name: Size
                              display_name_customer: Size
                              display_name_merchant: Size
                              display_value: Small
                              display_value_customer: Small
                              display_value_merchant: Small
                              value: '95'
                              type: Multiple choice
                              name: Jar Size
                              display_style: Rectangle
                          configurable_fields: []
                      shipping_addresses:
                        url: 'https://api.bigcommerce.com/stores/1i6zpxpe3g/v2/orders/636/shipping_addresses'
                        resource: /orders/636/shipping_addresses
                      coupons:
                        url: 'https://api.bigcommerce.com/stores/1i6zpxpe3g/v2/orders/636/coupons'
                        resource: /orders/636/coupons
                      external_id: null
                      external_merchant_id: null
                      tax_provider_id: BasicTaxProvider
                      customer_locale: en
                      store_default_currency_code: CNY
                      store_default_to_transactional_exchange_rate: '1.0000000000'
                      custom_status: Awaiting Pay Kido Test
                      shippingAddress:
                        - id: 544
                          order_id: 636
                          first_name: test
                          last_name: order
                          company: test-order
                          street_1: address
                          street_2: ''
                          city: HA
                          zip: '80022'
                          country: American Samoa
                          country_iso2: AS
                          state: ''
                          email: levi.tuo@silksoftware.com
                          phone: ''
                          items_total: 2
                          items_shipped: 0
                          shipping_method: Free Shipping
                          base_cost: '0.0000'
                          cost_ex_tax: '0.0000'
                          cost_inc_tax: '0.0000'
                          cost_tax: '0.0000'
                          cost_tax_class_id: 2
                          base_handling_cost: '0.0000'
                          handling_cost_ex_tax: '0.0000'
                          handling_cost_inc_tax: '0.0000'
                          handling_cost_tax: '0.0000'
                          handling_cost_tax_class_id: 2
                          shipping_zone_id: 4
                          shipping_zone_name: American Samoa
                          shipping_quotes:
                            url: 'https://api.bigcommerce.com/stores/1i6zpxpe3g/v2/orders/636/shipping_addresses/544/shipping_quotes'
                            resource: /orders/636/shipping_addresses/544/shipping_quotes
                          form_fields: []
                      shipments: false
                      poNumber: ''
                      money:
                        currency_location: left
                        currency_token: ¥
                        decimal_token: .
                        decimal_places: 2
                        thousands_token: ','
                      extraFields: [{
                          fieldName: 'test field',
                          fieldValue: 'test'
                        }]
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    allOf:
                      - type: object
                        properties:
                          id:
                            type: number
                            description: Unique order ID in BigCommerce store.
                          customer_id:
                            type: number
                            description: Customer ID in BigCommerce store
                          date_created:
                            type: string
                            minLength: 1
                            description: Create date of order
                          date_modified:
                            type: string
                            minLength: 1
                            description: Last modified datetime of order
                          date_shipped:
                            type: string
                            description: Shipped date
                          status_id:
                            type: number
                            description: Status ID
                          status:
                            type: string
                            minLength: 1
                            description: Status
                          subtotal_ex_tax:
                            type: string
                            minLength: 1
                          subtotal_inc_tax:
                            type: string
                            minLength: 1
                          subtotal_tax:
                            type: string
                            minLength: 1
                          base_shipping_cost:
                            type: string
                            minLength: 1
                          shipping_cost_ex_tax:
                            type: string
                            minLength: 1
                          shipping_cost_inc_tax:
                            type: string
                            minLength: 1
                          shipping_cost_tax:
                            type: string
                            minLength: 1
                          shipping_cost_tax_class_id:
                            type: number
                          base_handling_cost:
                            type: string
                            minLength: 1
                          handling_cost_ex_tax:
                            type: string
                            minLength: 1
                          handling_cost_inc_tax:
                            type: string
                            minLength: 1
                          handling_cost_tax:
                            type: string
                            minLength: 1
                          handling_cost_tax_class_id:
                            type: number
                          base_wrapping_cost:
                            type: string
                            minLength: 1
                          wrapping_cost_ex_tax:
                            type: string
                            minLength: 1
                          wrapping_cost_inc_tax:
                            type: string
                            minLength: 1
                          wrapping_cost_tax:
                            type: string
                            minLength: 1
                          wrapping_cost_tax_class_id:
                            type: number
                          total_ex_tax:
                            type: string
                            minLength: 1
                          total_inc_tax:
                            type: string
                            minLength: 1
                          total_tax:
                            type: string
                            minLength: 1
                          items_total:
                            type: number
                          items_shipped:
                            type: number
                          payment_method:
                            type: string
                            minLength: 1
                          payment_provider_id: {}
                          payment_status:
                            type: string
                          refunded_amount:
                            type: string
                            minLength: 1
                          order_is_digital:
                            type: boolean
                          store_credit_amount:
                            type: string
                            minLength: 1
                          gift_certificate_amount:
                            type: string
                            minLength: 1
                          ip_address:
                            type: string
                            minLength: 1
                          geoip_country:
                            type: string
                            minLength: 1
                          geoip_country_iso2:
                            type: string
                            minLength: 1
                          currency_id:
                            type: number
                          currency_code:
                            type: string
                            minLength: 1
                          currency_exchange_rate:
                            type: string
                            minLength: 1
                          default_currency_id:
                            type: number
                          default_currency_code:
                            type: string
                            minLength: 1
                          staff_notes:
                            type: string
                          customer_message:
                            type: string
                          discount_amount:
                            type: string
                            minLength: 1
                          coupon_discount:
                            type: string
                            minLength: 1
                          shipping_address_count:
                            type: number
                          is_deleted:
                            type: boolean
                          ebay_order_id:
                            type: string
                            minLength: 1
                          cart_id:
                            type: string
                            minLength: 1
                          billing_address:
                            type: object
                            description: Billing address info of this order
                            required:
                              - first_name
                              - last_name
                              - company
                              - street_1
                              - street_2
                              - city
                              - state
                              - zip
                              - country
                              - country_iso2
                              - phone
                              - email
                              - form_fields
                            properties:
                              first_name:
                                type: string
                                minLength: 1
                              last_name:
                                type: string
                                minLength: 1
                              company:
                                type: string
                                minLength: 1
                              street_1:
                                type: string
                                minLength: 1
                              street_2:
                                type: string
                              city:
                                type: string
                                minLength: 1
                              state:
                                type: string
                              zip:
                                type: string
                                minLength: 1
                              country:
                                type: string
                                minLength: 1
                              country_iso2:
                                type: string
                                minLength: 1
                              phone:
                                type: string
                              email:
                                type: string
                                minLength: 1
                              form_fields:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name: 
                                      type: string
                                    value:
                                      type: string
                          is_email_opt_in:
                            type: boolean
                          credit_card_type: {}
                          order_source:
                            type: string
                            minLength: 1
                          channel_id:
                            type: number
                          external_source:
                            type: string
                          products:
                            type: array
                            uniqueItems: true
                            minItems: 1
                            items:
                              type: object
                              properties:
                                id:
                                  type: number
                                order_id:
                                  type: number
                                product_id:
                                  type: number
                                variant_id:
                                  type: number
                                order_address_id:
                                  type: number
                                name:
                                  type: string
                                  minLength: 1
                                name_customer:
                                  type: string
                                  minLength: 1
                                name_merchant:
                                  type: string
                                  minLength: 1
                                sku:
                                  type: string
                                  minLength: 1
                                upc:
                                  type: string
                                type:
                                  type: string
                                  minLength: 1
                                base_price:
                                  type: string
                                  minLength: 1
                                price_ex_tax:
                                  type: string
                                  minLength: 1
                                price_inc_tax:
                                  type: string
                                  minLength: 1
                                price_tax:
                                  type: string
                                  minLength: 1
                                base_total:
                                  type: string
                                  minLength: 1
                                total_ex_tax:
                                  type: string
                                  minLength: 1
                                total_inc_tax:
                                  type: string
                                  minLength: 1
                                total_tax:
                                  type: string
                                  minLength: 1
                                weight:
                                  type: string
                                  minLength: 1
                                width:
                                  type: string
                                  minLength: 1
                                height:
                                  type: string
                                  minLength: 1
                                depth:
                                  type: string
                                  minLength: 1
                                quantity:
                                  type: number
                                base_cost_price:
                                  type: string
                                  minLength: 1
                                cost_price_inc_tax:
                                  type: string
                                  minLength: 1
                                cost_price_ex_tax:
                                  type: string
                                  minLength: 1
                                cost_price_tax:
                                  type: string
                                  minLength: 1
                                is_refunded:
                                  type: boolean
                                quantity_refunded:
                                  type: number
                                refund_amount:
                                  type: string
                                  minLength: 1
                                return_id:
                                  type: number
                                wrapping_name:
                                  type: string
                                base_wrapping_cost:
                                  type: string
                                  minLength: 1
                                wrapping_cost_ex_tax:
                                  type: string
                                  minLength: 1
                                wrapping_cost_inc_tax:
                                  type: string
                                  minLength: 1
                                wrapping_cost_tax:
                                  type: string
                                  minLength: 1
                                wrapping_message:
                                  type: string
                                quantity_shipped:
                                  type: number
                                event_name: {}
                                event_date:
                                  type: string
                                fixed_shipping_cost:
                                  type: string
                                  minLength: 1
                                ebay_item_id:
                                  type: string
                                ebay_transaction_id:
                                  type: string
                                option_set_id:
                                  type: number
                                parent_order_product_id: {}
                                is_bundled_product:
                                  type: boolean
                                bin_picking_number:
                                  type: string
                                external_id: {}
                                fulfillment_source:
                                  type: string
                                applied_discounts:
                                  type: array
                                  items:
                                    type: string
                                product_options:
                                  type: array
                                  uniqueItems: true
                                  minItems: 1
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      option_id:
                                        type: number
                                      order_product_id:
                                        type: number
                                      product_option_id:
                                        type: number
                                      display_name:
                                        type: string
                                        minLength: 1
                                      display_name_customer:
                                        type: string
                                        minLength: 1
                                      display_name_merchant:
                                        type: string
                                        minLength: 1
                                      display_value:
                                        type: string
                                        minLength: 1
                                      display_value_customer:
                                        type: string
                                        minLength: 1
                                      display_value_merchant:
                                        type: string
                                        minLength: 1
                                      value:
                                        type: string
                                        minLength: 1
                                      type:
                                        type: string
                                        minLength: 1
                                      name:
                                        type: string
                                        minLength: 1
                                      display_style:
                                        type: string
                                        minLength: 1
                                    required:
                                      - id
                                      - option_id
                                      - order_product_id
                                      - product_option_id
                                      - display_name
                                      - display_name_customer
                                      - display_name_merchant
                                      - display_value
                                      - display_value_customer
                                      - display_value_merchant
                                      - value
                                      - type
                                      - name
                                      - display_style
                                configurable_fields:
                                  type: array
                                  items:
                                    type: string
                              required:
                                - id
                                - order_id
                                - product_id
                                - variant_id
                                - order_address_id
                                - name
                                - name_customer
                                - name_merchant
                                - sku
                                - upc
                                - type
                                - base_price
                                - price_ex_tax
                                - price_inc_tax
                                - price_tax
                                - base_total
                                - total_ex_tax
                                - total_inc_tax
                                - total_tax
                                - weight
                                - width
                                - height
                                - depth
                                - quantity
                                - base_cost_price
                                - cost_price_inc_tax
                                - cost_price_ex_tax
                                - cost_price_tax
                                - is_refunded
                                - quantity_refunded
                                - refund_amount
                                - return_id
                                - wrapping_name
                                - base_wrapping_cost
                                - wrapping_cost_ex_tax
                                - wrapping_cost_inc_tax
                                - wrapping_cost_tax
                                - wrapping_message
                                - quantity_shipped
                                - event_date
                                - fixed_shipping_cost
                                - ebay_item_id
                                - ebay_transaction_id
                                - option_set_id
                                - is_bundled_product
                                - bin_picking_number
                                - fulfillment_source
                          shipping_addresses:
                            type: object
                            required:
                              - url
                              - resource
                            properties:
                              url:
                                type: string
                                minLength: 1
                              resource:
                                type: string
                                minLength: 1
                          coupons:
                            type: object
                            required:
                              - url
                              - resource
                            properties:
                              url:
                                type: string
                                minLength: 1
                              resource:
                                type: string
                                minLength: 1
                          external_id: {}
                          external_merchant_id: {}
                          tax_provider_id:
                            type: string
                            minLength: 1
                          customer_locale:
                            type: string
                            minLength: 1
                          store_default_currency_code:
                            type: string
                            minLength: 1
                          store_default_to_transactional_exchange_rate:
                            type: string
                            minLength: 1
                          custom_status:
                            type: string
                            minLength: 1
                          shippingAddress:
                            type: array
                            uniqueItems: true
                            minItems: 1
                            items:
                              type: object
                              properties:
                                id:
                                  type: number
                                order_id:
                                  type: number
                                first_name:
                                  type: string
                                  minLength: 1
                                last_name:
                                  type: string
                                  minLength: 1
                                company:
                                  type: string
                                  minLength: 1
                                street_1:
                                  type: string
                                  minLength: 1
                                street_2:
                                  type: string
                                city:
                                  type: string
                                  minLength: 1
                                zip:
                                  type: string
                                  minLength: 1
                                country:
                                  type: string
                                  minLength: 1
                                country_iso2:
                                  type: string
                                  minLength: 1
                                state:
                                  type: string
                                email:
                                  type: string
                                  minLength: 1
                                phone:
                                  type: string
                                items_total:
                                  type: number
                                items_shipped:
                                  type: number
                                shipping_method:
                                  type: string
                                  minLength: 1
                                base_cost:
                                  type: string
                                  minLength: 1
                                cost_ex_tax:
                                  type: string
                                  minLength: 1
                                cost_inc_tax:
                                  type: string
                                  minLength: 1
                                cost_tax:
                                  type: string
                                  minLength: 1
                                cost_tax_class_id:
                                  type: number
                                base_handling_cost:
                                  type: string
                                  minLength: 1
                                handling_cost_ex_tax:
                                  type: string
                                  minLength: 1
                                handling_cost_inc_tax:
                                  type: string
                                  minLength: 1
                                handling_cost_tax:
                                  type: string
                                  minLength: 1
                                handling_cost_tax_class_id:
                                  type: number
                                shipping_zone_id:
                                  type: number
                                shipping_zone_name:
                                  type: string
                                  minLength: 1
                                shipping_quotes:
                                  type: object
                                  properties:
                                    url:
                                      type: string
                                      minLength: 1
                                    resource:
                                      type: string
                                      minLength: 1
                                  required:
                                    - url
                                    - resource
                                form_fields:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name: 
                                        type: string
                                      value:
                                        type: string
                              required:
                                - id
                                - order_id
                                - first_name
                                - last_name
                                - company
                                - street_1
                                - street_2
                                - city
                                - zip
                                - country
                                - country_iso2
                                - state
                                - email
                                - phone
                                - items_total
                                - items_shipped
                                - shipping_method
                                - base_cost
                                - cost_ex_tax
                                - cost_inc_tax
                                - cost_tax
                                - cost_tax_class_id
                                - base_handling_cost
                                - handling_cost_ex_tax
                                - handling_cost_inc_tax
                                - handling_cost_tax
                                - handling_cost_tax_class_id
                                - shipping_zone_id
                                - shipping_zone_name
                          shipments:
                            type: boolean
                          poNumber:
                            type: string
                          money:
                            type: object
                            required:
                              - currency_location
                              - currency_token
                              - decimal_token
                              - decimal_places
                              - thousands_token
                            properties:
                              currency_location:
                                type: string
                                minLength: 1
                              currency_token:
                                type: string
                                minLength: 1
                              decimal_token:
                                type: string
                                minLength: 1
                              decimal_places:
                                type: number
                              thousands_token:
                                type: string
                                minLength: 1
                          extraFields:
                              type: array
                              items:
                                type: object
                                properties:
                                  fieldName:
                                    type: string
                                    description: Extra field name
                                  fieldValue:
                                    type: string
                                    description: Extra field value
                        required:
                          - id
                          - customer_id
                          - date_created
                          - date_modified
                          - date_shipped
                          - status_id
                          - status
                          - subtotal_ex_tax
                          - subtotal_inc_tax
                          - subtotal_tax
                          - base_shipping_cost
                          - shipping_cost_ex_tax
                          - shipping_cost_inc_tax
                          - shipping_cost_tax
                          - shipping_cost_tax_class_id
                          - base_handling_cost
                          - handling_cost_ex_tax
                          - handling_cost_inc_tax
                          - handling_cost_tax
                          - handling_cost_tax_class_id
                          - base_wrapping_cost
                          - wrapping_cost_ex_tax
                          - wrapping_cost_inc_tax
                          - wrapping_cost_tax
                          - wrapping_cost_tax_class_id
                          - total_ex_tax
                          - total_inc_tax
                          - total_tax
                          - items_total
                          - items_shipped
                          - payment_method
                          - payment_status
                          - refunded_amount
                          - order_is_digital
                          - store_credit_amount
                          - gift_certificate_amount
                          - ip_address
                          - geoip_country
                          - geoip_country_iso2
                          - currency_id
                          - currency_code
                          - currency_exchange_rate
                          - default_currency_id
                          - default_currency_code
                          - staff_notes
                          - customer_message
                          - discount_amount
                          - coupon_discount
                          - shipping_address_count
                          - is_deleted
                          - ebay_order_id
                          - cart_id
                          - billing_address
                          - is_email_opt_in
                          - order_source
                          - channel_id
                          - external_source
                          - products
                          - shipping_addresses
                          - coupons
                          - tax_provider_id
                          - customer_locale
                          - store_default_currency_code
                          - store_default_to_transactional_exchange_rate
                          - custom_status
                          - shippingAddress
                          - shipments
                          - poNumber
                          - money
                      - $ref: '../../../models/order/order-extra.yaml'
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      id: 636
                      customer_id: 8186
                      date_created: 'Wed, 02 Jun 2021 07:01:56 +0000'
                      date_modified: 'Wed, 02 Jun 2021 07:01:57 +0000'
                      date_shipped: ''
                      status_id: 7
                      status: Awaiting Payment
                      subtotal_ex_tax: '91.9000'
                      subtotal_inc_tax: '91.9000'
                      subtotal_tax: '0.0000'
                      base_shipping_cost: '0.0000'
                      shipping_cost_ex_tax: '0.0000'
                      shipping_cost_inc_tax: '0.0000'
                      shipping_cost_tax: '0.0000'
                      shipping_cost_tax_class_id: 2
                      base_handling_cost: '0.0000'
                      handling_cost_ex_tax: '0.0000'
                      handling_cost_inc_tax: '0.0000'
                      handling_cost_tax: '0.0000'
                      handling_cost_tax_class_id: 2
                      base_wrapping_cost: '0.0000'
                      wrapping_cost_ex_tax: '0.0000'
                      wrapping_cost_inc_tax: '0.0000'
                      wrapping_cost_tax: '0.0000'
                      wrapping_cost_tax_class_id: 3
                      total_ex_tax: '91.9000'
                      total_inc_tax: '91.9000'
                      total_tax: '0.0000'
                      items_total: 2
                      items_shipped: 0
                      payment_method: Purchase Orders
                      payment_provider_id: null
                      payment_status: ''
                      refunded_amount: '0.0000'
                      order_is_digital: false
                      store_credit_amount: '0.0000'
                      gift_certificate_amount: '0.0000'
                      ip_address: 193.176.211.29
                      geoip_country: Hong Kong
                      geoip_country_iso2: HK
                      currency_id: 3
                      currency_code: CNY
                      currency_exchange_rate: '1.0000000000'
                      default_currency_id: 3
                      default_currency_code: CNY
                      staff_notes: ''
                      customer_message: ''
                      discount_amount: '0.0000'
                      coupon_discount: '0.0000'
                      shipping_address_count: 1
                      is_deleted: false
                      ebay_order_id: '0'
                      cart_id: a5a603a2-04be-47fc-8298-27a5995251d9
                      billing_address:
                        first_name: test
                        last_name: order
                        company: test-order
                        street_1: address
                        street_2: ''
                        city: HA
                        state: ''
                        zip: '80022'
                        country: American Samoa
                        country_iso2: AS
                        phone: ''
                        email: example@example.com
                        form_fields: []
                      is_email_opt_in: false
                      credit_card_type: null
                      order_source: www
                      channel_id: 1
                      external_source: ''
                      products:
                        - id: 1461
                          order_id: 636
                          product_id: 104
                          variant_id: 142
                          order_address_id: 544
                          name: '[Sample] Utility Caddy'
                          name_customer: '[Sample] Utility Caddy'
                          name_merchant: '[Sample] Utility Caddy'
                          sku: e1-1
                          upc: ''
                          type: physical
                          base_price: '45.9500'
                          price_ex_tax: '45.9500'
                          price_inc_tax: '45.9500'
                          price_tax: '0.0000'
                          base_total: '91.9000'
                          total_ex_tax: '91.9000'
                          total_inc_tax: '91.9000'
                          total_tax: '0.0000'
                          weight: '1.0000'
                          width: '0.0000'
                          height: '0.0000'
                          depth: '0.0000'
                          quantity: 2
                          base_cost_price: '0.0000'
                          cost_price_inc_tax: '0.0000'
                          cost_price_ex_tax: '0.0000'
                          cost_price_tax: '0.0000'
                          is_refunded: false
                          quantity_refunded: 0
                          refund_amount: '0.0000'
                          return_id: 0
                          wrapping_name: ''
                          base_wrapping_cost: '0.0000'
                          wrapping_cost_ex_tax: '0.0000'
                          wrapping_cost_inc_tax: '0.0000'
                          wrapping_cost_tax: '0.0000'
                          wrapping_message: ''
                          quantity_shipped: 0
                          event_name: null
                          event_date: ''
                          fixed_shipping_cost: '0.0000'
                          ebay_item_id: ''
                          ebay_transaction_id: ''
                          option_set_id: 16
                          parent_order_product_id: null
                          is_bundled_product: false
                          bin_picking_number: ''
                          external_id: null
                          fulfillment_source: ''
                          applied_discounts: []
                          product_options:
                            - id: 1595
                              option_id: 32
                              order_product_id: 1461
                              product_option_id: 147
                              display_name: Size
                              display_name_customer: Size
                              display_name_merchant: Size
                              display_value: Small
                              display_value_customer: Small
                              display_value_merchant: Small
                              value: '95'
                              type: Multiple choice
                              name: Jar Size
                              display_style: Rectangle
                          configurable_fields: []
                      shipping_addresses:
                        url: 'https://api.bigcommerce.com/stores/1i6zpxpe3g/v2/orders/636/shipping_addresses'
                        resource: /orders/636/shipping_addresses
                      coupons:
                        url: 'https://api.bigcommerce.com/stores/1i6zpxpe3g/v2/orders/636/coupons'
                        resource: /orders/636/coupons
                      external_id: null
                      external_merchant_id: null
                      tax_provider_id: BasicTaxProvider
                      customer_locale: en
                      store_default_currency_code: CNY
                      store_default_to_transactional_exchange_rate: '1.0000000000'
                      custom_status: Awaiting Pay Kido Test
                      shippingAddress:
                        - id: 544
                          order_id: 636
                          first_name: test
                          last_name: order
                          company: test-order
                          street_1: address
                          street_2: ''
                          city: HA
                          zip: '80022'
                          country: American Samoa
                          country_iso2: AS
                          state: ''
                          email: example@example.com
                          phone: ''
                          items_total: 2
                          items_shipped: 0
                          shipping_method: Free Shipping
                          base_cost: '0.0000'
                          cost_ex_tax: '0.0000'
                          cost_inc_tax: '0.0000'
                          cost_tax: '0.0000'
                          cost_tax_class_id: 2
                          base_handling_cost: '0.0000'
                          handling_cost_ex_tax: '0.0000'
                          handling_cost_inc_tax: '0.0000'
                          handling_cost_tax: '0.0000'
                          handling_cost_tax_class_id: 2
                          shipping_zone_id: 4
                          shipping_zone_name: American Samoa
                          shipping_quotes:
                            url: 'https://api.bigcommerce.com/stores/1i6zpxpe3g/v2/orders/636/shipping_addresses/544/shipping_quotes'
                            resource: /orders/636/shipping_addresses/544/shipping_quotes
                          form_fields: []
                      shipments: false
                      poNumber: ''
                      money:
                        currency_location: left
                        currency_token: ¥
                        decimal_token: .
                        decimal_places: 2
                        thousands_token: ','
      operationId: get-orders-orderId-details
      description: |-
        Get order detail by orderId. Please refer to [BigCommerce API](https://developer.bigcommerce.com/api-reference/store-management/orders/orders/getanorder) for detailed parameter introduction.
        Equivalent Storefront GraphQL API Query: `order`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Order
  /ordered-products:
    get:
      summary: Get Ordered Product List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      pagination:
                        totalCount: 3
                        offset: 0
                        limit: 10
                      list:
                        - orderProductId: '264'
                          productName: '[Sample] Utility Caddy'
                          sku: e1-1
                          productId: '104'
                          variantId: '142'
                          lastOrdered: '1622617316'
                          optionList:
                            - id: 1595
                              option_id: 32
                              order_product_id: 1461
                              product_option_id: 147
                              display_name: Size
                              display_name_customer: Size
                              display_name_merchant: Size
                              display_value: Small
                              display_value_customer: Small
                              display_value_merchant: Small
                              value: '95'
                              type: Multiple choice
                              name: Jar Size
                              display_style: Rectangle
                          orderedTimes: '1'
                          lastOrderedItems: '2'
                          productBrandName: OFS
                        - orderProductId: '263'
                          productName: '[Sample] Dustpan & Brush'
                          sku: d1-2
                          productId: '107'
                          variantId: '131'
                          lastOrdered: '1622616050'
                          optionList:
                            - id: 1594
                              option_id: 32
                              order_product_id: 1460
                              product_option_id: 145
                              display_name: Size
                              display_name_customer: Size
                              display_name_merchant: Size
                              display_value: Medium
                              display_value_customer: Medium
                              display_value_merchant: Medium
                              value: '96'
                              type: Multiple choice
                              name: Jar Size
                              display_style: Rectangle
                          orderedTimes: '2'
                          lastOrderedItems: '5'
                          productBrandName: OFS
                        - orderProductId: '262'
                          productName: '[Sample] Utility Caddy'
                          sku: e1-2
                          productId: '104'
                          variantId: '143'
                          lastOrdered: '1622616050'
                          optionList:
                            - id: 1593
                              option_id: 32
                              order_product_id: 1459
                              product_option_id: 147
                              display_name: Size
                              display_name_customer: Size
                              display_name_merchant: Size
                              display_value: Medium
                              display_value_customer: Medium
                              display_value_merchant: Medium
                              value: '96'
                              type: Multiple choice
                              name: Jar Size
                              display_style: Rectangle
                          orderedTimes: '2'
                          lastOrderedItems: '6'
                          productBrandName: OFS
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - pagination
                      - list
                    properties:
                      pagination:
                        type: object
                        required:
                          - totalCount
                          - offset
                          - limit
                        properties:
                          totalCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            orderProductId:
                              type: string
                              minLength: 1
                              description: Unique order product ID
                            productName:
                              type: string
                              minLength: 1
                              description: Product name
                            sku:
                              type: string
                              minLength: 1
                              description: SKU name
                            productId:
                              type: string
                              minLength: 1
                              description: Product ID in BigCommerce store
                            variantId:
                              type: string
                              minLength: 1
                              description: Variant ID
                            lastOrdered:
                              type: string
                              minLength: 1
                              description: Last ordered time
                            optionList:
                              type: array
                              uniqueItems: true
                              minItems: 1
                              description: Product option list
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                    description: ''
                                  option_id:
                                    type: number
                                    description: Option ID of product
                                  order_product_id:
                                    type: number
                                  product_option_id:
                                    type: number
                                  display_name:
                                    type: string
                                    minLength: 1
                                  display_name_customer:
                                    type: string
                                    minLength: 1
                                  display_name_merchant:
                                    type: string
                                    minLength: 1
                                  display_value:
                                    type: string
                                    minLength: 1
                                  display_value_customer:
                                    type: string
                                    minLength: 1
                                  display_value_merchant:
                                    type: string
                                    minLength: 1
                                  value:
                                    type: string
                                    minLength: 1
                                  type:
                                    type: string
                                    minLength: 1
                                  name:
                                    type: string
                                    minLength: 1
                                  display_style:
                                    type: string
                                    minLength: 1
                                required:
                                  - id
                                  - option_id
                                  - order_product_id
                                  - product_option_id
                                  - display_name
                                  - display_name_customer
                                  - display_name_merchant
                                  - display_value
                                  - display_value_customer
                                  - display_value_merchant
                                  - value
                                  - type
                                  - name
                                  - display_style
                            orderedTimes:
                              type: string
                              minLength: 1
                            lastOrderedItems:
                              type: string
                              minLength: 1
                            productBrandName:
                              type: string
                              minLength: 1
                          required:
                            - orderProductId
                            - productName
                            - sku
                            - productId
                            - variantId
                            - lastOrdered
                            - orderedTimes
                            - lastOrderedItems
                            - productBrandName
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      pagination:
                        totalCount: 3
                        offset: 0
                        limit: 10
                      list:
                        - orderProductId: '264'
                          productName: '[Sample] Utility Caddy'
                          sku: e1-1
                          productId: '104'
                          variantId: '142'
                          lastOrdered: '1622617316'
                          optionList:
                            - id: 1595
                              option_id: 32
                              order_product_id: 1461
                              product_option_id: 147
                              display_name: Size
                              display_name_customer: Size
                              display_name_merchant: Size
                              display_value: Small
                              display_value_customer: Small
                              display_value_merchant: Small
                              value: '95'
                              type: Multiple choice
                              name: Jar Size
                              display_style: Rectangle
                          orderedTimes: '1'
                          lastOrderedItems: '2'
                          productBrandName: OFS
      operationId: get-ordered-products
      parameters:
        - schema:
            type: string
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
          in: query
          name: beginDateAt
          description: Begin date
        - schema:
            type: string
          in: query
          name: endDateAt
          description: End date
        - schema:
            type: string
          in: query
          name: minOrderedTimes
          description: Minimum ordered times
        - schema:
            type: string
          in: query
          name: maxOrderedTimes
          description: Maximum ordered times
        - schema:
            type: string
          in: query
          name: productID
          description: Pruduct ID
        - schema:
            type: string
          in: query
          name: q
          description: Query string
      description: |-
        Get ordered products.
        Equivalent Storefront GraphQL API Query: `orderedProducts`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Order
components:
  schemas: {}
  securitySchemes:
    BearerToken:
      name: BearerToken
      description: |-
        ### Authentication header

        | Header | Argument | Description |
        |:-------|:---------|:------------|
        |`Authorization`|`Bearer {{B2B_JWT_TOKEN}}`| Obtained using the [BigCommerce Current Customer API](/docs/rest-authentication/current-customer) endpoint. |
      type: apiKey
      in: header
tags:
  - name: Order
