openapi: 3.0.0
info:
  title: RFQ
  version: '1.0'
  description: 'A new set of API endpoints for quote, which new data structure is used at the bottom. For more comprehensive and easy to use features.'
  termsOfService: 'https://www.bigcommerce.com/terms'
  contact:
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
    email: support@bigcommerce.com
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v2'
security:
  - BearerToken: []
paths:
  /rfq:
    get:
      summary: Get Quote Form List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - quoteId: 195
                          quoteNumber: QN000195
                          referenceNumber: ''
                          quoteTitle: ''
                          createdBy: Kido Zhao
                          company: levi-test
                          salesRep: Kido Zhao
                          createdAt: 1622618606
                          updatedAt: 1622618606
                          expiredAt: 1622717999
                          subtotal: 45.95
                          status: 1
                          currency:
                            token: ¥
                            location: left
                            currencyCode: USD
                            decimalToken: .
                            decimalPlaces: 2
                            thousandsToken: ','
                            currencyExchangeRate: 1
                          bcOrderId: ''
                          orderId: ''
                      pagination:
                        totalCount: 1
                        offset: 0
                        limit: 10
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - list
                      - pagination
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            quoteId:
                              type: number
                            quoteNumber:
                              type: string
                              minLength: 1
                            referenceNumber:
                              type: string
                              description: Reference number of a quote
                            quoteTitle:
                              type: string
                              description: Quote title created by a user
                            createdBy:
                              type: string
                              minLength: 1
                            company:
                              type: string
                              minLength: 1
                            salesRep:
                              type: string
                              minLength: 1
                            createdAt:
                              type: number
                            updatedAt:
                              type: number
                            expiredAt:
                              type: number
                            subtotal:
                              type: number
                              description: Total price
                            status:
                              type: number
                            currency:
                              type: object
                              description: Currency information
                              properties:
                                token:
                                  type: string
                                  minLength: 1
                                  description: Currency token
                                location:
                                  type: string
                                  minLength: 1
                                  description: Currency token location
                                currencyCode:
                                  type: string
                                  minLength: 1
                                  description: 'Currency code, ex. USD, CNY'
                                decimalToken:
                                  type: string
                                  minLength: 1
                                  description: Decimal token
                                decimalPlaces:
                                  type: number
                                  description: Number of decimal places
                                currencyExchangeRate:
                                  type: number
                                  description: Exchange rate
                                thousandsToken:
                                  type: string
                                  minLength: 1
                                  description: Thousands token
                              required:
                                - token
                                - location
                                - currencyCode
                                - decimalToken
                                - decimalPlaces
                                - currencyExchangeRate
                                - thousandsToken
                            bcOrderId:
                              type: string
                            orderId:
                              type: string
                            channelId:
                              type: integer
                              description: B2B Edition channel id
                            ChannelName:
                              type: string
                              description: Store Channel Name
                          required:
                            - quoteId
                            - quoteNumber
                            - referenceNumber
                            - quoteTitle
                            - createdBy
                            - company
                            - salesRep
                            - createdAt
                            - updatedAt
                            - expiredAt
                            - subtotal
                            - status
                            - bcOrderId
                            - orderId
                      pagination:
                        type: object
                        required:
                          - totalCount
                          - offset
                          - limit
                        properties:
                          totalCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - quoteId: 195
                          quoteNumber: QN000195
                          referenceNumber: ''
                          quoteTitle: ''
                          createdBy: Jo Sweet
                          company: company name
                          salesRep: Jo Sweet
                          createdAt: 1622618606
                          updatedAt: 1622618606
                          expiredAt: 1622717999
                          subtotal: 45.95
                          status: 1
                          currency:
                            token: ¥
                            location: left
                            currencyCode: USD
                            decimalToken: .
                            decimalPlaces: 2
                            thousandsToken: ','
                            currencyExchangeRate: 1
                          bcOrderId: ''
                          orderId: ''
                      pagination:
                        totalCount: 1
                        offset: 0
                        limit: 10
      operationId: get-rfq
      parameters:
        - schema:
            type: string
            default: '0'
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
            default: '10'
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
            default: updatedAt
          in: query
          name: sortBy
          description: Sort by desc or asc
        - schema:
            type: string
            default: DESC
          in: query
          name: orderBy
          description: Order by
        - schema:
            type: string
          in: query
          name: q
          description: Query string
        - schema:
            type: string
          in: query
          name: quoteNumber
          description: Quote number
        - schema:
            type: string
          in: query
          name: company
          description: Company ID field
        - schema:
            type: string
          in: query
          name: salesRep
          description: Super Admin ID
        - schema:
            type: string
          in: query
          name: status
          description: Status of quote
        - schema:
            type: string
          in: query
          name: quoteTitle
          description: Title of quote
        - schema:
            type: string
          in: query
          name: createdBy
          description: Create user name
        - schema:
            type: string
          in: query
          name: dateCreatedBeginAt
          description: 'Create date begin.example:10/01/2022'
        - schema:
            type: string
          in: query
          name: dateCreatedEndAt
          description: 'Create date end.example:10/01/2022'
        - schema:
            type: string
          in: query
          name: dateUpdatedBeginAt
          description: 'Update date begin.example:10/01/2022'
        - schema:
            type: string
          in: query
          name: dateUpdatedEndAt
          description: 'Update date end.example:10/01/2022'
        - schema:
            type: string
          in: query
          name: dateExpiredBeginAt
          description: 'Expired date begin.example:10/01/2022'
        - schema:
            type: string
          in: query
          name: dateExpiredEndAt
          description: 'Expired date end.example:10/01/2022'
      description: |-
        Get quote form list.
        Equivalent Storefront GraphQL API Query: `quotes`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - RFQ
    post:
      summary: Create a Quote Form
      operationId: post-rfq
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      quoteId:
                        type: number
                      quoteUrl:
                        type: string
                        minLength: 1
                    required:
                      - quoteId
                      - quoteUrl
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      quoteId: 195
                      quoteUrl: 'https://sylvia-apptest-store.mybigcommerce.com/quote/?id=195&date=1622618606'
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      quoteId: 195
                      quoteUrl: url
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  notes: this is a note
                  legalTerms: for examplde
                  message: test message
                  grandTotal: 45.95
                  discount: 0
                  subtotal: 45.95
                  referenceNumber: ''
                  userEmail: kido.zhao@bundleb2b.net
                  expiredAt: 06/02/2021
                  quoteTitle: ''
                  shippingAddress:
                    country: Argentina
                    state: Mendoza
                    city: AS
                    zipCode: '10013'
                    address: line1
                    apartment: line1
                  contactInfo:
                    name: levi-test-quote
                    email: levi.tuo@silksoftware.com
                    companyName: levi-test
                    phoneNumber: ''
                  companyId: 5716
                  currency:
                    token: ¥
                    location: left
                    decimalToken: .
                    decimalPlaces: 2
                    thousandsToken: ','
                  companyInfo:
                    companyId: 5716
                    companyName: levi-test
                  storeHash: 1i6zpxpe3g
                  productList:
                    - sku: e1-1
                      basePrice: 45.95
                      discount: 0
                      offeredPrice: 45.95
                      quantity: 1
                      productId: 104
                      variantId: 142
                      imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/104/images/336/utilitybucket1.1554505753.220.290.jpg?c=2'
                      orderQuantityMaximum: 0
                      orderQuantityMinimum: 0
                      productName: '[Sample] Utility Caddy'
                      options:
                        - optionId: 147
                          optionValue: 95
                          optionLabel: Small
                          optionName: Size
                  isBackendUser: 1
              properties:
                notes:
                  type: string
                  minLength: 1
                legalTerms:
                  type: string
                  minLength: 1
                  description: Legal terms
                message:
                  type: string
                  minLength: 1
                  description: Extra message
                grandTotal:
                  type: number
                  description: Total price after discount
                discount:
                  type: number
                subtotal:
                  type: number
                  description: Total price
                referenceNumber:
                  type: string
                userEmail:
                  type: string
                  minLength: 1
                expiredAt:
                  type: string
                  minLength: 1
                quoteTitle:
                  type: string
                shippingAddress:
                  type: object
                  required:
                    - country
                    - state
                    - city
                    - zipCode
                    - address
                    - apartment
                  properties:
                    country:
                      type: string
                      minLength: 1
                    state:
                      type: string
                      minLength: 1
                    city:
                      type: string
                      minLength: 1
                    zipCode:
                      type: string
                      minLength: 1
                    address:
                      type: string
                      minLength: 1
                    apartment:
                      type: string
                      minLength: 1
                contactInfo:
                  type: object
                  required:
                    - name
                    - email
                    - companyName
                    - phoneNumber
                  properties:
                    name:
                      type: string
                      minLength: 1
                    email:
                      type: string
                      minLength: 1
                    companyName:
                      type: string
                      minLength: 1
                    phoneNumber:
                      type: string
                companyId:
                  type: number
                currency:
                  type: object
                  description: Currency info
                  required:
                    - token
                    - location
                    - decimalToken
                    - decimalPlaces
                    - thousandsToken
                  properties:
                    token:
                      type: string
                      minLength: 1
                      description: 'Currency token, such as $'
                    location:
                      type: string
                      minLength: 1
                      description: 'Currency token position, left or right'
                    decimalToken:
                      type: string
                      minLength: 1
                      description: Decimal separator
                    decimalPlaces:
                      type: number
                    thousandsToken:
                      type: string
                      minLength: 1
                      description: Thousands separator
                storeHash:
                  type: string
                  minLength: 1
                productList:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    type: object
                    properties:
                      sku:
                        type: string
                        minLength: 1
                      basePrice:
                        type: number
                      discount:
                        type: number
                      offeredPrice:
                        type: number
                        description: The discounted price must be passed on
                      quantity:
                        type: number
                      productId:
                        type: number
                      variantId:
                        type: number
                        description: Variant SKU ID of the product
                      imageUrl:
                        type: string
                        minLength: 1
                      orderQuantityMaximum:
                        type: number
                      orderQuantityMinimum:
                        type: number
                      productName:
                        type: string
                        minLength: 1
                      options:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            optionId:
                              type: number
                            optionValue:
                              type: number
                            optionLabel:
                              type: string
                              minLength: 1
                            optionName:
                              type: string
                              minLength: 1
                          required:
                            - optionId
                            - optionValue
                            - optionLabel
                            - optionName
                    required:
                      - sku
                      - basePrice
                      - discount
                      - offeredPrice
                      - quantity
                      - productId
                      - variantId
                      - imageUrl
                      - orderQuantityMaximum
                      - orderQuantityMinimum
                      - productName
                isBackendUser:
                  type: number
                bcCustomerId:
                  type: integer
                  description: Customer bc id
                channelId:
                  type: integer
                  description: B2B Edition channel id
              required:
                - notes
                - legalTerms
                - message
                - grandTotal
                - discount
                - subtotal
                - referenceNumber
                - userEmail
                - expiredAt
                - quoteTitle
                - shippingAddress
                - contactInfo
                - companyId
                - currency
                - storeHash
                - productList
                - isBackendUser
      description: |-
        Create a quote form.

        Equivalent Storefront GraphQL API Mutation: `quoteCreate`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).

        **Note:** By default, quotes created with this endpoint undergo a price validation check to prevent invalid prices on quotes. If the check fails, a `BigCommerce API Error` will be raised and logged, preventing quote creation.
      tags:
        - RFQ
  '/rfq/{quote_id}':
    parameters:
      - schema:
          type: string
        name: quote_id
        in: path
        required: true
        description: Unique quote ID
    get:
      summary: Get a Quote Detail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      quoteNumber: QN000199
                      referenceNumber: ''
                      createdAt: 1622618606
                      expiredAt: 1622717999
                      status: 0
                      contactInfo:
                        name: Hannah Admin330
                        email: charles.admin@charlesco.com
                        companyName: CharlesCo
                        phoneNumber: '0000000000'
                      shippingAddress:
                        city: ''
                        state: ''
                        address: ''
                        country: ''
                        zipCode: ''
                        apartment: ''
                      subtotal: 45.95
                      discount: 0
                      grandTotal: 45.95
                      currency:
                        token: ¥
                        location: left
                        currencyCode: USD
                        decimalToken: .
                        decimalPlaces: 2
                        thousandsToken: ','
                        currencyExchangeRate: 1
                      trackingHistory: []
                      productList:
                        - sku: e1-3
                          basePrice: 45.95
                          discount: 0
                          offeredPrice: 45.95
                          quantity: 1
                          imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/images/stencil/original/products/104/336/utilitybucket1.1554505753.jpg?c=2'
                          productId: 104
                          variantId: 144
                          productName: '[Sample] Utility Caddy'
                          options:
                            - optionId: 147
                              optionName: Size
                              optionLabel: Large
                              optionValue: '97'
                          notes: ''
                          orderQuantityMaximum: 0
                          orderQuantityMinimum: 0
                      quoteTitle: ''
                      notes: ''
                      legalTerms: ''
                      createdBy: Hannah Admin330
                      bcOrderId: ''
                      orderId: ''
                      storeInfo:
                        storeName: Sylvia Apptest Store
                        storeAddress: |-
                          47 Discovery
                          Acmeville, AC 12345
                          United States of America
                        storeCountry: United States
                      companyInfo:
                        companyId: '5456'
                        companyName: CharlesCo
                        companyAddress: Asia China
                        companyCountry: ''
                        companyState: Sichuan
                        companyCity: Chengdu
                        companyZipCode: '10086'
                        phoneNumber: '123412'
                      salesRepInfo: {}
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - quoteNumber
                      - referenceNumber
                      - createdAt
                      - expiredAt
                      - status
                      - contactInfo
                      - shippingAddress
                      - subtotal
                      - discount
                      - grandTotal
                      - currency
                      - trackingHistory
                      - productList
                      - quoteTitle
                      - notes
                      - legalTerms
                      - createdBy
                      - bcOrderId
                      - orderId
                      - storeInfo
                      - companyInfo
                      - salesRepInfo
                    properties:
                      quoteNumber:
                        type: string
                        minLength: 1
                        description: Quote number
                      referenceNumber:
                        type: string
                        description: Reference number of a quote
                      createdAt:
                        type: number
                        description: Created at timestamp
                      expiredAt:
                        type: number
                        description: Expired at timestamp
                      status:
                        type: number
                        description: The status of this quote
                      contactInfo:
                        type: object
                        required:
                          - name
                          - email
                          - companyName
                          - phoneNumber
                        properties:
                          name:
                            type: string
                            minLength: 1
                          email:
                            type: string
                            minLength: 1
                          companyName:
                            type: string
                            minLength: 1
                          phoneNumber:
                            type: string
                            minLength: 1
                      shippingAddress:
                        type: object
                        required:
                          - city
                          - state
                          - address
                          - zipCode
                          - country
                          - apartment
                        properties:
                          city:
                            type: string
                          state:
                            type: string
                          address:
                            type: string
                          zipCode:
                            type: string
                          country:
                            type: string
                          apartment:
                            type: string
                      subtotal:
                        type: number
                        description: Total price
                      discount:
                        type: number
                        description: Discount
                      grandTotal:
                        type: number
                        description: Total price after discount
                      currency:
                        type: object
                        required:
                          - token
                          - location
                          - currencyCode
                          - decimalToken
                          - decimalPlaces
                          - thousandsToken
                          - currencyExchangeRate
                        properties:
                          token:
                            type: string
                            minLength: 1
                            description: 'Currency token, such as $'
                          location:
                            type: string
                            minLength: 1
                            description: 'Currency token location, ex. left or right'
                          currencyCode:
                            type: string
                            minLength: 1
                            description: 'Currency code, ex. USD CNY'
                          decimalToken:
                            type: string
                            minLength: 1
                            description: Decimal separator
                          decimalPlaces:
                            type: number
                            description: Number of decimal places
                          thousandsToken:
                            type: string
                            minLength: 1
                            description: Thousands separator
                          currencyExchangeRate:
                            type: number
                            description: Currency rate
                      trackingHistory:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: integer
                            message:
                              type: string
                      productList:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            sku:
                              type: string
                              minLength: 1
                            basePrice:
                              type: number
                              description: Base price of this product
                            discount:
                              type: number
                              description: Discount
                            offeredPrice:
                              type: number
                              description: The discounted price must be passed on
                            quantity:
                              type: number
                              description: Quantity of the product
                            imageUrl:
                              type: string
                              minLength: 1
                              description: Product image URL
                            productId:
                              type: number
                            variantId:
                              type: number
                              description: Variant SKU ID
                            productName:
                              type: string
                              minLength: 1
                            options:
                              type: array
                              uniqueItems: true
                              minItems: 1
                              items:
                                type: object
                                properties:
                                  optionId:
                                    type: number
                                  optionName:
                                    type: string
                                    minLength: 1
                                  optionLabel:
                                    type: string
                                    minLength: 1
                                  optionValue:
                                    type: string
                                    minLength: 1
                                required:
                                  - optionId
                                  - optionName
                                  - optionLabel
                                  - optionValue
                            notes:
                              type: string
                              description: The extra message notes
                            orderQuantityMaximum:
                              type: number
                              description: The maximum quantity for this order
                            orderQuantityMinimum:
                              type: number
                              description: The minimum quantity for this order
                          required:
                            - sku
                            - basePrice
                            - discount
                            - offeredPrice
                            - quantity
                            - imageUrl
                            - productId
                            - variantId
                            - productName
                            - notes
                            - orderQuantityMaximum
                            - orderQuantityMinimum
                      quoteTitle:
                        type: string
                        description: Quote title
                      notes:
                        type: string
                        description: Extra message note
                      legalTerms:
                        type: string
                        description: Legal terms
                      createdBy:
                        type: string
                        minLength: 1
                      bcOrderId:
                        type: string
                        description: BC order ID
                      orderId:
                        type: string
                        description: B2B Edition order ID
                      storeInfo:
                        type: object
                        required:
                          - storeName
                          - storeAddress
                          - storeCountry
                        properties:
                          storeName:
                            type: string
                            minLength: 1
                          storeAddress:
                            type: string
                            minLength: 1
                          storeCountry:
                            type: string
                            minLength: 1
                      companyInfo:
                        type: object
                        required:
                          - companyId
                          - companyName
                          - companyAddress
                          - companyCountry
                          - companyState
                          - companyCity
                          - companyZipCode
                          - phoneNumber
                        properties:
                          companyId:
                            type: string
                            minLength: 1
                          companyName:
                            type: string
                            minLength: 1
                          companyAddress:
                            type: string
                            minLength: 1
                          companyCountry:
                            type: string
                          companyState:
                            type: string
                            minLength: 1
                          companyCity:
                            type: string
                            minLength: 1
                          companyZipCode:
                            type: string
                            minLength: 1
                          phoneNumber:
                            type: string
                            minLength: 1
                      salesRepInfo:
                        type: object
                        properties:
                          salesRepName:
                            type: string
                          salesRepEmail:
                            type: string
                          salesRepPhoneNumber:
                            type: string
                      ChannelId:
                        type: integer
                        description: B2B Edition channel id
                      Channel Name:
                        type: string
                        description: Store Channel name
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      quoteNumber: QN000199
                      referenceNumber: ''
                      createdAt: 1622618606
                      expiredAt: 1622717999
                      status: 0
                      contactInfo:
                        name: Hannah Admin330
                        email: charles.admin@charlesco.com
                        companyName: CharlesCo
                        phoneNumber: '0000000000'
                      shippingAddress:
                        city: ''
                        state: ''
                        address: ''
                        country: ''
                        zipCode: ''
                        apartment: ''
                      subtotal: 45.95
                      discount: 0
                      grandTotal: 45.95
                      currency:
                        token: ¥
                        location: left
                        currencyCode: USD
                        decimalToken: .
                        decimalPlaces: 2
                        thousandsToken: ','
                        currencyExchangeRate: 1
                      trackingHistory: []
                      productList:
                        - sku: e1-3
                          basePrice: 45.95
                          discount: 0
                          offeredPrice: 45.95
                          quantity: 1
                          imageUrl: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/images/stencil/original/products/104/336/utilitybucket1.1554505753.jpg?c=2'
                          productId: 104
                          variantId: 144
                          productName: '[Sample] Utility Caddy'
                          options:
                            - optionId: 147
                              optionName: Size
                              optionLabel: Large
                              optionValue: '97'
                          notes: ''
                          orderQuantityMaximum: 0
                          orderQuantityMinimum: 0
                      quoteTitle: ''
                      notes: ''
                      legalTerms: ''
                      createdBy: Hannah Admin330
                      bcOrderId: ''
                      orderId: ''
                      storeInfo:
                        storeName: Sylvia Apptest Store
                        storeAddress: |-
                          47 Discovery
                          Acmeville, AC 12345
                          United States of America
                        storeCountry: United States
                      companyInfo:
                        companyId: '5456'
                        companyName: CharlesCo
                        companyAddress: Asia China
                        companyCountry: ''
                        companyState: Sichuan
                        companyCity: Chengdu
                        companyZipCode: '10086'
                        phoneNumber: '123412'
                      salesRepInfo: {}
      operationId: get-rfq-quote_id
      parameters:
        - schema:
            type: string
          in: query
          name: storeHash
          description: Store Hash
          required: true
        - schema:
            type: string
          in: query
          name: date
          required: true
          description: 'Creation date of quote, timestamp'
      description: |-
        Get a quote detail by quoteId.
        Equivalent Storefront GraphQL API Query: `quote`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - RFQ
    put:
      summary: Update a Quote
      operationId: put-rfq-quote_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      quoteId:
                        type: number
                      quoteUrl:
                        type: string
                        minLength: 1
                    required:
                      - quoteId
                      - quoteUrl
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      quoteId: 195
                      quoteUrl: url
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      quoteId: 195
                      quoteUrl: url
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  notes: string
                  legalTerms: string
                  message: string
                  grandTotal: 0
                  discount: 0
                  subtotal: 0
                  referenceNumber: string
                  userEmail: string
                  expiredAt: string
                  quoteTitle: string
                  shippingAddress:
                    country: string
                    state: string
                    city: string
                    zipCode: string
                    address: string
                    apartment: string
                  contactInfo:
                    name: string
                    email: string
                    companyName: string
                    phoneNumber: string
                  companyId: 0
                  currency:
                    token: string
                    location: string
                    decimalToken: string
                    decimalPlaces: 0
                    thousandsToken: string
                  companyInfo:
                    companyId: 0
                    companyName: string
                  storeHash: string
                  productList:
                    - sku: string
                      basePrice: 0
                      discount: 0
                      offeredPrice: 0
                      quantity: 0
                      productId: 0
                      variantId: 0
                      imageUrl: string
                      orderQuantityMaximum: 0
                      orderQuantityMinimum: 0
                      productName: string
                      options:
                        - optionId: 0
                          optionValue: 0
                          optionLabel: string
                          optionName: string
                  isBackendUser: 0
              properties:
                notes:
                  type: string
                  minLength: 1
                  description: Quote extra message
                legalTerms:
                  type: string
                  minLength: 1
                message:
                  type: string
                  minLength: 1
                  description: Text info from comments
                grandTotal:
                  type: number
                  description: Total price after discount
                discount:
                  type: number
                subtotal:
                  type: number
                  description: Total price
                referenceNumber:
                  type: string
                  minLength: 1
                  description: Reference number of a quote
                userEmail:
                  type: string
                  minLength: 1
                expiredAt:
                  type: string
                  minLength: 1
                quoteTitle:
                  type: string
                  minLength: 1
                shippingAddress:
                  type: object
                  required:
                    - country
                    - state
                    - city
                    - zipCode
                    - address
                    - apartment
                  properties:
                    country:
                      type: string
                      minLength: 1
                    state:
                      type: string
                      minLength: 1
                    city:
                      type: string
                      minLength: 1
                    zipCode:
                      type: string
                      minLength: 1
                    address:
                      type: string
                      minLength: 1
                    apartment:
                      type: string
                      minLength: 1
                contactInfo:
                  type: object
                  required:
                    - name
                    - email
                    - companyName
                    - phoneNumber
                  properties:
                    name:
                      type: string
                      minLength: 1
                    email:
                      type: string
                      minLength: 1
                    companyName:
                      type: string
                      minLength: 1
                    phoneNumber:
                      type: string
                      minLength: 1
                currency:
                  type: object
                  required:
                    - token
                    - location
                    - decimalToken
                    - decimalPlaces
                    - thousandsToken
                  description: 'Currency info, which can be seen when you get quote detail'
                  properties:
                    token:
                      type: string
                      minLength: 1
                    location:
                      type: string
                      minLength: 1
                    decimalToken:
                      type: string
                      minLength: 1
                    decimalPlaces:
                      type: number
                    thousandsToken:
                      type: string
                      minLength: 1
                storeHash:
                  type: string
                  minLength: 1
                productList:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    type: object
                    properties:
                      sku:
                        type: string
                        minLength: 1
                      basePrice:
                        type: number
                      discount:
                        type: number
                      offeredPrice:
                        type: number
                        description: The discounted price must be passed on
                      quantity:
                        type: number
                      productId:
                        type: number
                      variantId:
                        type: number
                      imageUrl:
                        type: string
                        minLength: 1
                      orderQuantityMaximum:
                        type: number
                      orderQuantityMinimum:
                        type: number
                      productName:
                        type: string
                        minLength: 1
                      options:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            optionId:
                              type: number
                            optionValue:
                              type: number
                            optionLabel:
                              type: string
                              minLength: 1
                            optionName:
                              type: string
                              minLength: 1
                          required:
                            - optionId
                            - optionValue
                            - optionLabel
                            - optionName
                    required:
                      - sku
                      - basePrice
                      - discount
                      - offeredPrice
                      - quantity
                      - productId
                      - variantId
                      - imageUrl
                      - orderQuantityMaximum
                      - orderQuantityMinimum
                      - productName
                isBackendUser:
                  type: number
              required:
                - notes
                - legalTerms
                - message
                - grandTotal
                - discount
                - subtotal
                - referenceNumber
                - userEmail
                - expiredAt
                - quoteTitle
                - shippingAddress
                - contactInfo
                - currency
                - storeHash
                - productList
                - isBackendUser
            examples:
              example-1:
                value:
                  notes: string
                  legalTerms: string
                  message: string
                  grandTotal: 0
                  discount: 0
                  subtotal: 0
                  referenceNumber: string
                  userEmail: string
                  expiredAt: string
                  quoteTitle: string
                  shippingAddress:
                    country: string
                    state: string
                    city: string
                    zipCode: string
                    address: string
                    apartment: string
                  contactInfo:
                    name: string
                    email: string
                    companyName: string
                    phoneNumber: string
                  currency:
                    token: string
                    location: string
                    decimalToken: string
                    decimalPlaces: 0
                    thousandsToken: string
                  storeHash: string
                  productList:
                    - sku: string
                      basePrice: 0
                      discount: 0
                      offeredPrice: 0
                      quantity: 0
                      productId: 0
                      variantId: 0
                      imageUrl: string
                      orderQuantityMaximum: 0
                      orderQuantityMinimum: 0
                      productName: string
                      options:
                        - optionId: 0
                          optionValue: 0
                          optionLabel: string
                          optionName: string
                  isBackendUser: 0
        description: Request body params you could find when you get quote detail
      description: |-
        Update a quote.
        Equivalent Storefront GraphQL API Mutation: `quoteUpdate`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - RFQ
  '/rfq/{quote_id}/checkout':
    parameters:
      - schema:
          type: string
        name: quote_id
        in: path
        required: true
        description: Unique quote ID
    post:
      summary: Checkout Quote Form
      operationId: post-rfq-quote_id-checkout
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      checkoutUrl: url
                      cartId: '123'
                      cartUrl: url
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - checkoutUrl
                      - cartId
                      - cartUrl
                    properties:
                      checkoutUrl:
                        type: string
                        minLength: 1
                        description: The checkout URL
                      cartId:
                        type: string
                        minLength: 1
                        description: Cart ID
                      cartUrl:
                        type: string
                        minLength: 1
                        description: The cart URL
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      checkoutUrl: url
                      cartId: '123'
                      cartUrl: url
      description: |-
        Checkout quote form by quoteId.
        Equivalent Storefront GraphQL API Mutation: `quoteCheckout`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                storeHash:
                  type: string
                  description: Store Hash
              required:
                - storeHash
      tags:
        - RFQ
  '/rfq/{quote_id}/ordered':
    parameters:
      - schema:
          type: string
        name: quote_id
        in: path
        required: true
        description: Unique quote ID
    post:
      summary: Ordered a Quote
      operationId: post-rfq-quote_id-ordered
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      description: |-
        Ordered a quote by quoteId.
        Equivalent Storefront GraphQL API Mutation: `quoteOrdered`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  orderId: ''
                  storeHash: ''
                  shippingTotal: 0
                  taxTotal: 0
                  shippingMethod:
                    id: kWf@Mjg
                    type: flat
                    description: Fixed (Fixed)
                    imageUrl: 'telnet://axcsqlcngg.cc/sfsrtyimv'
                    transitTime: ''
                    cost: 10
                    additionalDescription: ''
              properties:
                orderId:
                  type: string
                  description: Unique order ID
                storeHash:
                  type: string
                  description: Store Hash
                shippingTotal:
                  type: number
                  description: Shipping total price
                taxTotal:
                  type: number
                  description: Tax total price
                shippingMethod:
                  type: object
                  required:
                    - id
                    - type
                    - description
                    - imageUrl
                    - transitTime
                    - cost
                    - additionalDescription
                  properties:
                    id:
                      type: string
                      minLength: 1
                    type:
                      type: string
                      minLength: 1
                    description:
                      type: string
                      minLength: 1
                    imageUrl:
                      type: string
                      minLength: 1
                    transitTime:
                      type: string
                    cost:
                      type: number
                    additionalDescription:
                      type: string
              required:
                - orderId
                - storeHash
                - shippingTotal
                - taxTotal
                - shippingMethod
            examples:
              example-1:
                value:
                  orderId: ''
                  storeHash: ''
                  shippingTotal: 0
                  taxTotal: 0
                  shippingMethod:
                    id: kWf@Mjg
                    type: flat
                    description: Fixed (Fixed)
                    imageUrl: 'telnet://axcsqlcngg.cc/sfsrtyimv'
                    transitTime: ''
                    cost: 10
                    additionalDescription: ''
      tags:
        - RFQ
  /rfq/configs:
    get:
      summary: Get Quote Config
      responses: 
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      switchStatus:
                      - key: quote_reminder_notification
                        isEnabled: '1'
                      - key: quote_customer
                        isEnabled: '1'
                      - key: quote_default_pdf
                        isEnabled: '1'
                      quoteOtherConfigs:
                      - key: defaultExpirationDate
                        value: 5
                      - key: defaultTermsAndConditions
                        value: ""
                properties:
                  code:
                    type: number
                    example: 200
                  message:
                    type: string
                    minLength: 1
                    example: SUCCESS
                  data:
                    type: object
                    properties:
                      switchStatus:
                        type: array 
                        items:
                          type: object
                          properties:
                            key:  
                              type: string
                            isEnabled:
                              type: string
                        required:
                          - key
                          - isEnabled
                      quoteOtherConfigs:
                        type: array 
                        items:
                          type: object
                          properties:
                            key:  
                              type: string
                            value:
                              type: string
                    required:
                      - switchStatus
                required: 
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      switchStatus:
                        - key: quote_reminder_notification
                          isEnabled: "1"
                        - key: quote_customer
                          isEnabled: "1"
                        - key: quote_default_pdf
                          isEnabled: "1"
                      quoteOtherConfiqs:
                        - key: defaultExpirationDate
                          value: 5
                        - key: defaultTermsAndConditions
                          value: ''
      operationId: get-rfq-configs
      description: |-
        Get quote config.
        Equivalent Storefront GraphQL API Query: `quoteConfig`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      parameters:
        - schema:
            type: string
          in: query
          name: storeHash
          description: Store Hash
      tags:
        - RFQ
  /rfq/store-info:
    get:
      summary: Get Quote Store Info
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      storeUserInfo:
                        storeInfo:
                          storeName: Sylvia Apptest Store
                          storeAddress: |-
                            47 Discovery
                            Acmeville, AC 12345
                            United States of America
                          storeCountry: United States
                        companyInfo:
                          companyId: '5716'
                          companyName: levi-test
                          companyAddress: address line 1 address line 2
                          companyCountry: Aruba
                          companyState: ''
                          companyCity: Denver
                          companyZipCode: '80022'
                          phoneNumber: '17195453626'
                        salesRepInfo:
                          salesRepName: sales rep name
                          salesRepEmail: email
                          salesRepPhoneNumber: '123456789'
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - storeUserInfo
                    properties:
                      storeUserInfo:
                        type: object
                        required:
                          - storeInfo
                          - companyInfo
                          - salesRepInfo
                        properties:
                          storeInfo:
                            type: object
                            required:
                              - storeName
                              - storeAddress
                              - storeCountry
                            properties:
                              storeName:
                                type: string
                                minLength: 1
                              storeAddress:
                                type: string
                                minLength: 1
                                description: Store address of the config
                              storeCountry:
                                type: string
                                minLength: 1
                                description: Store country of config
                          companyInfo:
                            type: object
                            required:
                              - companyId
                              - companyName
                              - companyAddress
                              - companyCountry
                              - companyState
                              - companyCity
                              - companyZipCode
                              - phoneNumber
                            properties:
                              companyId:
                                type: string
                                minLength: 1
                              companyName:
                                type: string
                                minLength: 1
                              companyAddress:
                                type: string
                                minLength: 1
                              companyCountry:
                                type: string
                                minLength: 1
                              companyState:
                                type: string
                              companyCity:
                                type: string
                                minLength: 1
                              companyZipCode:
                                type: string
                                minLength: 1
                              phoneNumber:
                                type: string
                                minLength: 1
                          salesRepInfo:
                            type: object
                            required:
                              - salesRepName
                              - salesRepEmail
                              - salesRepPhoneNumber
                            properties:
                              salesRepName:
                                type: string
                                minLength: 1
                              salesRepEmail:
                                type: string
                                minLength: 1
                              salesRepPhoneNumber:
                                type: string
                                minLength: 1
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      storeUserInfo:
                        storeInfo:
                          storeName: Apptest Store
                          storeAddress: |-
                            47 Discovery
                            Acmeville, AC 12345
                            United States of America
                          storeCountry: United States
                        companyInfo:
                          companyId: '5716'
                          companyName: company name
                          companyAddress: address line 1 address line 2
                          companyCountry: Aruba
                          companyState: ''
                          companyCity: Denver
                          companyZipCode: '80022'
                          phoneNumber: '123456789'
                        salesRepInfo:
                          salesRepName: sales rep name
                          salesRepEmail: email
                          salesRepPhoneNumber: '123456789'
      operationId: get-rfq-store-info
      parameters:
        - schema:
            type: string
          in: query
          name: storeHash
          description: Store Hash
        - schema:
            type: string
          in: query
          name: companyId
          description: Company ID
        - schema:
            type: string
          in: query
          name: salesRepId
          description: Sales Rep ID
      description: |-
        Get store, company, and sales rep info. Mainly used for preview.
        Equivalent Storefront GraphQL API Query: `quoteUserStoreInfo`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - RFQ
  /rfq/emails:
    post:
      summary: Send a Quote Email
      operationId: post-rfq-emails
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      description: |-
        Send a quote email.
        Equivalent Storefront GraphQL API Mutation: `quoteEmail`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  quoteId: '195'
                  email: levi.tuo@silksoftware.com
              properties:
                quoteId:
                  type: string
                  minLength: 1
                  description: The quote ID you want to use
                email:
                  type: string
                  minLength: 1
                  description: Which email you want to send
              required:
                - quoteId
                - email
            examples: {}
      tags:
        - RFQ
  '/rfq/{quote_id}/pdf-export':
    parameters:
      - schema:
          type: string
        name: quote_id
        in: path
        required: true
        description: Unique quote ID
    post:
      summary: Quote Export PDF
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        minLength: 1
                    required:
                      - url
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      url: 'https://s3-us-west-2.amazonaws.com/bundleb2b-v2.0-quote-staging/Sylvia_Apptest_Store:QN000195.pdf'
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      url: pdf url
      operationId: get-rfq-quote_id-pdf-export
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                storeHash:
                  type: string
                  description: Store Hash
                currency:
                  type: object
                  properties:
                    currencyExchangeRate:
                      type: string
                      description: Currency rate
              required:
                - storeHash
                - isBackendUser
      description: |-
        Export quote pdf.
        Equivalent Storefront GraphQL API Mutation: `quoteFrontendPdf`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - RFQ
components:
  schemas: {}
  securitySchemes:
    BearerToken:
      description: |-
        ### Authentication header
        | Header | Argument | Description |
        |:-------|:---------|:------------|
        |`Authorization`|`Bearer {{B2B_JWT_TOKEN}}`| You can obtain this token using the steps described in the [REST Storefront API](/b2b-edition/docs/authentication#rest-storefront-api) section of the [Authentication for hosted storefront](https://developer.bigcommerce.com/b2b-edition/docs/authentication) article. |
      type: http
      scheme: bearer
tags:
  - name: RFQ
x-internal: false
