openapi: 3.0.0
info:
  title: Super Admin
  version: '1.0'
  description: Super Admin is a group of sales representatives assigned to the company.
  contact:
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
    email: support@bigcommerce.com
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v2'
security:
  - BearerToken: []
paths:
  '/sales-reps/{userId}/companies/{companyId}/begin-masq':
    parameters:
      - schema:
          type: string
        name: companyId
        in: path
        required: true
        description: Unique company ID in B2B Edition
      - schema:
          type: string
        name: userId
        in: path
        required: true
        description: Unique user ID in B2B Edition
    put:
      summary: Super Admin Begin Masquerade
      operationId: put-sales-reps-customerId-companies-companyId-begin-masq
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      email:
                        type: string
                        minLength: 1
                      firstName:
                        type: string
                        minLength: 1
                      lastName:
                        type: string
                        minLength: 1
                      phoneNumber:
                        type: string
                    required:
                      - email
                      - firstName
                      - lastName
                      - phoneNumber
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      email: levi.tuo2@silksoftware.com
                      firstName: levi
                      lastName: test
                      phoneNumber: ''
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      email: example@example.com
                      firstName: Jo
                      lastName: Sweet
                      phoneNumber: '123456789'
      description: |-
        Update status for when a super admin masquerades as a company by userId and companyId.
        Equivalent Storefront GraphQL API Mutation: `superAdminBeginMasquerade`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Super Admin
  '/sales-reps/{userId}/companies/{companyId}/end-masq':
    parameters:
      - schema:
          type: string
        name: companyId
        in: path
        required: true
        description: Unique ID of a company in B2B Edition
      - schema:
          type: string
        name: userId
        in: path
        required: true
        description: Unique ID of a user in B2B Edition
    put:
      summary: Super Admin End Masquerade
      operationId: put-sales-reps-customerId-companies-companyId-end-masq
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      description: |-
        Update status for when a super admin masquerades as a company by userId and companyId.
        Equivalent Storefront GraphQL API Mutation: `superAdminEndMasquerade`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Super Admin
  '/sales-reps/{customerId}/companies/masquerading':
    parameters:
      - schema:
          type: string
        name: customerId
        in: path
        required: true
        description: Unique ID of a company in BigCommerce
    get:
      summary: Get Masquerading Company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      companyName: levi-test
                      description: ''
                      addressLine1: address line 1
                      addressLine2: address line 2
                      companyStatus: '1'
                      city: Denver
                      state: ''
                      zipCode: '80022'
                      country: Aruba
                      companyId: '5716'
                      catalogId: '5'
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - companyName
                      - description
                      - addressLine1
                      - addressLine2
                      - companyStatus
                      - city
                      - state
                      - zipCode
                      - country
                      - companyId
                      - catalogId
                    properties:
                      companyName:
                        type: string
                        minLength: 1
                        description: Company name
                      description:
                        type: string
                        description: Company description
                      addressLine1:
                        type: string
                        minLength: 1
                        description: Company address line 1
                      addressLine2:
                        type: string
                        minLength: 1
                        description: Company address line 2
                      companyStatus:
                        type: string
                        minLength: 1
                        description: Company status
                      city:
                        type: string
                        minLength: 1
                        description: Company city
                      state:
                        type: string
                        description: Company state
                      zipCode:
                        type: string
                        minLength: 1
                        description: Company zip code
                      country:
                        type: string
                        minLength: 1
                        description: Company country
                      companyId:
                        type: string
                        minLength: 1
                      catalogId:
                        type: string
                        minLength: 1
                        description: Company price list ID
                      extraFields:
                        type: array
                        items:
                          type: object
                          properties:
                            fieldName:
                              type: string
                            fieldValue:
                              type: string
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      companyName: company name
                      description: ''
                      addressLine1: address line 1
                      addressLine2: address line 2
                      companyStatus: '1'
                      city: Denver
                      state: ''
                      zipCode: '80022'
                      country: Aruba
                      companyId: '5716'
                      catalogId: '5'
                      extraFields:
                        - fieldName: test
                          fieldValue: test
      operationId: get-sales-reps-customerId-companies-masquerading
      description: |-
        Get company information for the current super admin masquerading.
        Equivalent Storefront GraphQL API Query: `superAdminMasquerading`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Super Admin
  '/sales-reps/{salesRepId}/companies':
    parameters:
      - schema:
          type: string
        name: salesRepId
        in: path
        required: true
        description: Unique ID of super admin
    get:
      summary: Get Company List by Super Admin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - companyName: stanton1112
                          bcGroupName: stanton1112
                          companyAdminName: judy he
                          companyEmail: judy.he@silksoftware.com
                          companyId: '84'
                          extraFields:
                            - fieldName: company_tax_exempt_code
                              labelName: Company Tax Exempt Code
                              dataType: '0'
                              isRequired: '0'
                              fieldValue: ''
                        - companyName: james
                          bcGroupName: james
                          companyAdminName: user btc
                          companyEmail: jamessen@1111.com
                          companyId: '53'
                          extraFields:
                            - fieldName: company_tax_exempt_code
                              labelName: Company Tax Exempt Code
                              dataType: '0'
                              isRequired: '0'
                              fieldValue: ''
                        - companyName: XYZ Inc.phone
                          bcGroupName: XYZ Inc.phone
                          companyAdminName: Mary Smith
                          companyEmail: Marketingphone@xyz.com
                          companyId: '376'
                          extraFields:
                            - fieldName: company_tax_exempt_code
                              labelName: Company Tax Exempt Code
                              dataType: '0'
                              isRequired: '0'
                              fieldValue: ''
                      pagination:
                        totalCount: 3
                        perCount: 3
                        offset: 0
                        limit: 10
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - list
                      - pagination
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            companyName:
                              type: string
                              minLength: 1
                            bcGroupName:
                              type: string
                              minLength: 1
                              description: Company BC customer group name
                            companyAdminName:
                              type: string
                              minLength: 1
                            companyEmail:
                              type: string
                              minLength: 1
                            companyId:
                              type: string
                              minLength: 1
                            extraFields:
                              type: array
                              uniqueItems: true
                              minItems: 1
                              items:
                                type: object
                                properties:
                                  fieldName:
                                    type: string
                                    minLength: 1
                                  labelName:
                                    type: string
                                    minLength: 1
                                  dataType:
                                    type: string
                                    minLength: 1
                                  isRequired:
                                    type: string
                                    minLength: 1
                                  fieldValue:
                                    type: string
                                required:
                                  - fieldName
                                  - labelName
                                  - dataType
                                  - isRequired
                                  - fieldValue
                          required:
                            - companyName
                            - bcGroupName
                            - companyAdminName
                            - companyEmail
                            - companyId
                      pagination:
                        type: object
                        required:
                          - totalCount
                          - perCount
                          - offset
                          - limit
                        properties:
                          totalCount:
                            type: number
                          perCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - companyName: company name
                          bcGroupName: bc group name
                          companyAdminName: judy he
                          companyEmail: example@example.com
                          companyId: '84'
                          extraFields:
                            - fieldName: company_tax_exempt_code
                              labelName: Company Tax Exempt Code
                              dataType: '0'
                              isRequired: '0'
                              fieldValue: ''
                      pagination:
                        totalCount: 1
                        perCount: 1
                        offset: 0
                        limit: 10
      operationId: get-sales-reps-salesRepId-companies
      description: |-
        Get companies by Super Admin ID.
        Equivalent Storefront GraphQL API Query: `superAdminCompanies`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Super Admin
      parameters:
        - schema:
            type: integer
          in: query
          name: offset
        - schema:
            type: integer
          in: query
          name: limit
        - schema:
            type: string
          in: query
          name: orderBy
        - schema:
            type: string
            example: 'DESC, ASC'
          in: query
          name: sortBy
        - schema:
            type: string
          in: query
          name: q
        - schema:
            type: string
          in: query
          name: companyId
components:
  schemas: {}
  securitySchemes:
    BearerToken:
      name: BearerToken
      description: |-
        ### Authentication header
        | Header | Argument | Description |
        |:-------|:---------|:------------|
        |`Authorization`|`Bearer {{B2B_JWT_TOKEN}}`| You can obtain this token using the steps described in the [REST Storefront API](/b2b-edition/docs/authentication#rest-storefront-api) section of the [Authentication for hosted storefront](https://developer.bigcommerce.com/b2b-edition/docs/authentication) article. |
      type: apiKey
      in: header
tags:
  - name: Super Admin
