openapi: 3.0.0
info:
  title: Shopping
  version: '1.0'
  description: Shopping related information.
  contact:
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
    email: support@bigcommerce.com
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v2'
security:
  - BearerToken: []
paths:
  /shoppinglists:
    get:
      summary: Get Shopping Lists
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - id: 441
                          name: shopping list name
                          status: 0
                          description: Shopping list desc
                          updatedAt: 1622601337
                          createdAt: 1622601337
                          totalCount: 0
                          customerInfo:
                            firstName: levi
                            lastName: tuo
                            userId: 7831
                            email: levi.tuo@silksoftware.com
                      pagination:
                        totalCount: 1
                        offset: 0
                        limit: 20
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - list
                      - pagination
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                              minLength: 1
                            status:
                              type: number
                              description: |-
                                0:   Approved
                                20:  Deleted
                                30:  Draft
                                40:  Ready for approval
                            description:
                              type: string
                              minLength: 1
                            updatedAt:
                              type: number
                            createdAt:
                              type: number
                            totalCount:
                              type: number
                              description: Total count of shopping list items
                            customerInfo:
                              type: object
                              properties:
                                firstName:
                                  type: string
                                  minLength: 1
                                lastName:
                                  type: string
                                  minLength: 1
                                userId:
                                  type: number
                                email:
                                  type: string
                                  minLength: 1
                              required:
                                - firstName
                                - lastName
                                - userId
                                - email
                          required:
                            - id
                            - name
                            - status
                            - description
                            - updatedAt
                            - createdAt
                            - totalCount
                      pagination:
                        type: object
                        required:
                          - totalCount
                          - offset
                          - limit
                        properties:
                          totalCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - id: 441
                          name: shopping list name
                          status: 0
                          description: Shopping list desc
                          updatedAt: 1622601337
                          createdAt: 1622601337
                          totalCount: 0
                          customerInfo:
                            firstName: Jo
                            lastName: Sweet
                            userId: 7831
                            email: example@example.com
                      pagination:
                        totalCount: 1
                        offset: 0
                        limit: 20
      operationId: get-shoppinglists
      parameters:
        - schema:
            type: string
            default: '0'
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
            default: '20'
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
            default: '1'
          in: query
          name: isShowAll
          description: If show all
        - schema:
            type: string
            default: '-created_at'
          in: query
          name: orderBy
          description: Order by
      description: |-
        Get all shopping lists.
        Equivalent Storefront GraphQL API Query: `shoppingLists`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Shopping
    post:
      summary: Create Shopping List
      operationId: post-shoppinglists
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      shopplistId:
                        type: number
                    required:
                      - shopplistId
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      shopplistId: 442
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      shopplistId: 442
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  name: shopping list name
                  description: Shopping list desc
                  status: '0'
              properties:
                name:
                  type: string
                  minLength: 1
                description:
                  type: string
                  minLength: 1
                status:
                  type: string
                  minLength: 1
                  description: |-
                    0:   Approved
                    20:  Deleted
                    30:  Draft
                    40:  Ready for approval
                  enum:
                    - '0'
                    - '20'
                    - '30'
                    - '40'
              required:
                - name
                - description
                - status
            examples: {}
      description: |-
        Create a shopping list.
        Equivalent Storefront GraphQL API Mutation: `shoppingListsCreate`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Shopping
    put:
      summary: Update Shopping List
      operationId: put-shoppinglists
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: 
                      shoplistId: 1
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      shoplistId:
                        type:
                          number
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: 
                      shoplistId: 1
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  name: shopping list name2
                  description: Shopping list desc
                  status: 0
                  id: '442'
              properties:
                name:
                  type: string
                  minLength: 1
                  description: Shopping list name
                description:
                  type: string
                  minLength: 1
                  description: Description of this shopping list
                status:
                  type: number
                  description: |-
                    0:   Approved
                    20:  Deleted
                    30: Draft
                    40:  Ready for approval
                id:
                  type: string
                  minLength: 1
                  description: Shopping list’s ID
              required:
                - name
                - description
                - status
                - id
      description: |-
        Update a shopping list.
        Equivalent Storefront GraphQL API Mutation: `shoppingListsUpdate`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Shopping
  /shoppinglists/lists:
    get:
      summary: Get Shopping List's ID and Name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                              minLength: 1
                          required:
                            - id
                            - name
                    required:
                      - list
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - id: 442
                          name: shopping list name2
                        - id: 443
                          name: shopping list name1622602668636
                        - id: 441
                          name: shopping list name
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      list:
                        - id: 443
                          name: shopping list name1622602668636
                        - id: 441
                          name: shopping list name
      operationId: get-shoppinglists-lists
      description: |-
        > This endpoint is deprecated.

        Get all the shopping lists that contains both ID and name.
      parameters:
        - schema:
            type: string
          in: query
          name: status
          description: '0:Approved  20:Deleted  30:Draft  40:Ready for approval'
      tags:
        - Shopping
  /shoppinglists/items:
    post:
      summary: Add shopping List Items
      operationId: post-shoppinglists-items
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  id: '441'
                  items:
                    - productId: '93'
                      variantId: '46'
                      qty: '1'
                      optionList:
                        - option_id: 'attribute[112]'
                          option_value: '95'
                  checkAddStatus: true
              properties:
                id:
                  type: string
                  minLength: 1
                  description: Shopping list ID
                items:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    type: object
                    properties:
                      productId:
                        type: string
                        minLength: 1
                      variantId:
                        type: string
                        minLength: 1
                      qty:
                        type: string
                        minLength: 1
                      optionList:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            option_id:
                              type: string
                              minLength: 1
                            option_value:
                              type: string
                              minLength: 1
                          required:
                            - option_id
                            - option_value
                      sortOrder:
                        type: integer
                        description: The sort order for item
                    required:
                      - productId
                      - variantId
                      - qty
              required:
                - id
                - items
            examples:
              example-1:
                value:
                  id: string
                  items:
                    - productId: string
                      variantId: string
                      qty: string
                      optionList:
                        - option_id: string
                          option_value: string
                  checkAddStatus: true
      description: |-
        Add items to an existed shopping list.
        Equivalent Storefront GraphQL API Mutation: `shoppingListsItemsCreate`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Shopping
    put:
      summary: Update Shopping List Items
      operationId: put-shoppinglists-items
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  shoppinglistId: '441'
                  itemId: '1558'
                  qty: '2'
                  optionList:
                    - option_id: 'attribute[145]'
                      option_value: '95'
                  variantId: '130'
              properties:
                shoppinglistId:
                  type: string
                  minLength: 1
                  description: Shopping list ID field
                itemId:
                  type: string
                  minLength: 1
                  description: Shopping list item ID field
                qty:
                  type: string
                  minLength: 1
                  description: Quantity of product in shopping list
                optionList:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  description: Product option of shopping list item
                  items:
                    type: object
                    properties:
                      option_id:
                        type: string
                        minLength: 1
                      option_value:
                        type: string
                        minLength: 1
                    required:
                      - option_id
                      - option_value
                variantId:
                  type: string
                  minLength: 1
                  description: Product SKU ID
                sortOrder:
                  type: integer
                  description: The sort order for item
              required:
                - shoppinglistId
                - itemId
                - qty
                - optionList
                - variantId
      description: |-
        Update shopping lists items.
        Equivalent Storefront GraphQL API Mutation: `shoppingListsItemsUpdate`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Shopping
  /shoppinglists/items-extension:
    get:
      summary: Get Shopping List Items Extension
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      name: shopping list name
                      description: Shopping list desc
                      status: 0
                      isOwner: '1'
                      products:
                        - itemId: 1558
                          productId: '107'
                          baseSku: DPB
                          variantSku: d1-1
                          qty: 5
                          basePrice: 34.95
                          productUrl: /sample-dustpan-brush/
                          optionsList:
                            - option_id: 'attribute[145]'
                              option_value: '95'
                          variantId: '130'
                          primaryImage:
                            urlThumbnail: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/107/images/351/dustpan1.1554505753.220.290.jpg?c=2'
                          productName: '[Sample] Dustpan & Brush'
                          updatedAt: 1622603634
                          createdAt: 1622603183
                        - itemId: 1557
                          productId: '93'
                          baseSku: SLLPJ
                          variantSku: SLLPJ-6088C959
                          qty: 2
                          basePrice: 7
                          productUrl: /1-l-le-parfait-jar/
                          optionsList:
                            - option_id: 'attribute[112]'
                              option_value: '95'
                          variantId: '46'
                          primaryImage:
                            urlThumbnail: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/93/images/311/leparfaitmedium3.1554505753.220.290.jpg?c=2'
                          productName: '[Sample] 1 L Le Parfait Jar'
                          updatedAt: 1622603542
                          createdAt: 1622602889
                      customerInfo:
                        firstName: levi
                        lastName: tuo
                      grandTotal: 188.75
                      pagination:
                        totalCount: 2
                        offset: 0
                        limit: 100
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - name
                      - description
                      - status
                      - isOwner
                      - products
                      - customerInfo
                      - grandTotal
                      - pagination
                    properties:
                      name:
                        type: string
                        minLength: 1
                        description: Shopping list name
                      description:
                        type: string
                        minLength: 1
                        description: Description of shopping list
                      status:
                        type: number
                      isOwner:
                        type: string
                        minLength: 1
                        description: If owner of shopping list
                      products:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            itemId:
                              type: number
                              description: Shopping list item ID
                            productId:
                              type: string
                              minLength: 1
                              description: 'Product ID '
                            baseSku:
                              type: string
                              minLength: 1
                              description: Product base SKU
                            variantSku:
                              type: string
                              minLength: 1
                              description: SKU name
                            qty:
                              type: number
                              description: Qty number
                            basePrice:
                              type: number
                            productUrl:
                              type: string
                              minLength: 1
                            optionsList:
                              type: array
                              uniqueItems: true
                              minItems: 1
                              items:
                                type: object
                                properties:
                                  option_id:
                                    type: string
                                    minLength: 1
                                  option_value:
                                    type: string
                                    minLength: 1
                                required:
                                  - option_id
                                  - option_value
                            variantId:
                              type: string
                              minLength: 1
                              description: Variant SKU ID
                            primaryImage:
                              type: object
                              properties:
                                urlThumbnail:
                                  type: string
                                  minLength: 1
                              required:
                                - urlThumbnail
                            productName:
                              type: string
                              minLength: 1
                              description: Product name
                            updatedAt:
                              type: number
                            createdAt:
                              type: number
                            sortOrder:
                              type: integer
                              description: The sort order for item
                          required:
                            - itemId
                            - productId
                            - baseSku
                            - variantSku
                            - qty
                            - basePrice
                            - productUrl
                            - variantId
                            - productName
                            - updatedAt
                            - createdAt
                      customerInfo:
                        type: object
                        required:
                          - firstName
                          - lastName
                        properties:
                          firstName:
                            type: string
                            minLength: 1
                          lastName:
                            type: string
                            minLength: 1
                      grandTotal:
                        type: number
                      channelId:
                        type: integer
                        description: B2B Edition channel ID
                      channelName:
                        type: string
                        description: Store Channel name
                      pagination:
                        type: object
                        required:
                          - totalCount
                          - offset
                          - limit
                        properties:
                          totalCount:
                            type: number
                          offset:
                            type: number
                          limit:
                            type: number
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      name: shopping list name
                      description: Shopping list desc
                      status: 0
                      isOwner: '1'
                      products:
                        - itemId: 1558
                          productId: '107'
                          baseSku: DPB
                          variantSku: d1-1
                          qty: 5
                          basePrice: 34.95
                          productUrl: /sample-dustpan-brush/
                          optionsList:
                            - option_id: 'attribute[145]'
                              option_value: '95'
                          variantId: '130'
                          primaryImage:
                            urlThumbnail: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/107/images/351/dustpan1.1554505753.220.290.jpg?c=2'
                          productName: '[Sample] Dustpan & Brush'
                          updatedAt: 1622603634
                          createdAt: 1622603183
                        - itemId: 1557
                          productId: '93'
                          baseSku: SLLPJ
                          variantSku: SLLPJ-6088C959
                          qty: 2
                          basePrice: 7
                          productUrl: /1-l-le-parfait-jar/
                          optionsList:
                            - option_id: 'attribute[112]'
                              option_value: '95'
                          variantId: '46'
                          primaryImage:
                            urlThumbnail: 'https://cdn11.bigcommerce.com/s-1i6zpxpe3g/products/93/images/311/leparfaitmedium3.1554505753.220.290.jpg?c=2'
                          productName: '[Sample] 1 L Le Parfait Jar'
                          updatedAt: 1622603542
                          createdAt: 1622602889
                      customerInfo:
                        firstName: Jo
                        lastName: Sweet
                      grandTotal: 188.75
                      pagination:
                        totalCount: 2
                        offset: 0
                        limit: 100
      operationId: get-shoppinglists-items-extension
      parameters:
        - schema:
            type: string
          in: query
          name: id
          description: Shopping list ID
        - schema:
            type: string
            default: '0'
          in: query
          name: offset
          description: Pagination offset
        - schema:
            type: string
            default: '100'
          in: query
          name: limit
          description: Pagination limit
        - schema:
            type: string
            example: sort_order
            enum:
              - product_name
              - quantity
              - product_sku
              - updated_at
              - created_at
              - sort_order
          in: query
          name: sortBy
          description: the field to sort by
      description: |-
        Get a shopping list detail information.
        Equivalent Storefront GraphQL API Query: `shoppingList`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Shopping
  '/shoppinglists/{shoppingListId}/items/{itemId}':
    parameters:
      - schema:
          type: string
        name: shoppingListId
        in: path
        required: true
        description: Shopping list ID
      - schema:
          type: string
        name: itemId
        in: path
        required: true
        description: Item id
    delete:
      summary: Delete Shopping List Item
      operationId: delete-shoppinglists-shoppingListId-items-itemId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      description: |-
        Delete shopping list item using shoppingListId and itemId.
        Equivalent Storefront GraphQL API Mutation: `shoppingListsItemsDelete`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Shopping
  '/shoppinglists/{shoppingListId}':
    parameters:
      - schema:
          type: string
        name: shoppingListId
        in: path
        required: true
        description: Shopping list ID
    delete:
      summary: Delete Shopping List
      operationId: delete-shoppinglists-shoppingListId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties: {}
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data: {}
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data: {}
      description: |-
        Delete a shopping list.
        Equivalent Storefront GraphQL API Mutation: `shoppingListsDelete`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Shopping
  /shoppinglists/duplicate:
    post:
      summary: Duplicate a Shopping List
      operationId: post-shoppinglists-duplicate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      shoppingListId:
                        type: string
                        minLength: 1
                    required:
                      - shoppingListId
                required:
                  - code
                  - message
                  - data
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      shoppingListId: '443'
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      shoppingListId: '443'
      description: |-
        Duplicate a shopping list.
        Equivalent Storefront GraphQL API Mutation: `shoppingListsDuplicate`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                sampleShoppingListId:
                  type: number
                name:
                  type: string
                  minLength: 1
                description:
                  type: string
                  minLength: 1
              required:
                - sampleShoppingListId
                - name
                - description
              x-examples:
                example-1:
                  sampleShoppingListId: 441
                  name: shopping list name1622602668636
                  description: Shopping list desc
            examples: {}
      tags:
        - Shopping
components:
  schemas: {}
  securitySchemes:
    BearerToken:
      name: BearerToken
      description: |-
        ### Authentication header
        | Header | Argument | Description |
        |:-------|:---------|:------------|
        |`Authorization`|`Bearer {{B2B_JWT_TOKEN}}`| You can obtain this token using the steps described in the [REST Storefront API](/b2b-edition/docs/authentication#rest-storefront-api) section of the [Authentication for hosted storefront](https://developer.bigcommerce.com/b2b-edition/docs/authentication) article. |
      type: apiKey
      in: header
tags:
  - name: Shopping
