openapi: 3.0.0
info:
  title: Store
  version: '1.0'
  description: Store shopping information settings.
  contact:
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
    email: support@bigcommerce.com
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v2'
security:
  - BearerToken: []
paths:
  /stores/order-statuses:
    get:
      summary: Get Store Order Statuses Setting
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      orderStatuses:
                        - systemLabel: Incomplete
                          customLabel: Incomplete
                          statusCode: '0'
                        - systemLabel: Pending
                          customLabel: Pending Kido Test
                          statusCode: '1'
                        - systemLabel: Shipped
                          customLabel: Shipping
                          statusCode: '2'
                        - systemLabel: Partially Shipped
                          customLabel: Partially Shipped
                          statusCode: '3'
                        - systemLabel: Refunded
                          customLabel: Refunded Test
                          statusCode: '4'
                        - systemLabel: Cancelled
                          customLabel: Cancelled
                          statusCode: '5'
                        - systemLabel: Declined
                          customLabel: Declined
                          statusCode: '6'
                        - systemLabel: Awaiting Payment
                          customLabel: Awaiting Pay Kido Test
                          statusCode: '7'
                        - systemLabel: Awaiting Pickup
                          customLabel: Awaiting Pickup
                          statusCode: '8'
                        - systemLabel: Awaiting Shipment
                          customLabel: Awaiting Shipment
                          statusCode: '9'
                        - systemLabel: Completed
                          customLabel: Completed Kido Test
                          statusCode: '10'
                        - systemLabel: Awaiting Fulfillment
                          customLabel: Awaiting Fulfill
                          statusCode: '11'
                        - systemLabel: Manual Verification Required
                          customLabel: Manual Verification Required
                          statusCode: '12'
                        - systemLabel: Disputed
                          customLabel: Disputed
                          statusCode: '13'
                        - systemLabel: Partially Refunded
                          customLabel: Partially Refunded
                          statusCode: '14'
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - orderStatuses
                    properties:
                      orderStatuses:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            systemLabel:
                              type: string
                              minLength: 1
                              description: Standard label name
                            customLabel:
                              type: string
                              minLength: 1
                              description: Custom label name
                            statusCode:
                              type: string
                              minLength: 1
                              description: Status code
                          required:
                            - systemLabel
                            - customLabel
                            - statusCode
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      orderStatuses:
                        - systemLabel: Incomplete
                          customLabel: Incomplete
                          statusCode: '0'
                        - systemLabel: Pending
                          customLabel: Pending Kido Test
                          statusCode: '1'
                        - systemLabel: Shipped
                          customLabel: Shipping
                          statusCode: '2'
                        - systemLabel: Partially Shipped
                          customLabel: Partially Shipped
                          statusCode: '3'
                        - systemLabel: Refunded
                          customLabel: Refunded Test
                          statusCode: '4'
                        - systemLabel: Cancelled
                          customLabel: Cancelled
                          statusCode: '5'
                        - systemLabel: Declined
                          customLabel: Declined
                          statusCode: '6'
                        - systemLabel: Awaiting Payment
                          customLabel: Awaiting Pay Kido Test
                          statusCode: '7'
                        - systemLabel: Awaiting Pickup
                          customLabel: Awaiting Pickup
                          statusCode: '8'
                        - systemLabel: Awaiting Shipment
                          customLabel: Awaiting Shipment
                          statusCode: '9'
                        - systemLabel: Completed
                          customLabel: Completed Kido Test
                          statusCode: '10'
                        - systemLabel: Awaiting Fulfillment
                          customLabel: Awaiting Fulfill
                          statusCode: '11'
                        - systemLabel: Manual Verification Required
                          customLabel: Manual Verification Required
                          statusCode: '12'
                        - systemLabel: Disputed
                          customLabel: Disputed
                          statusCode: '13'
                        - systemLabel: Partially Refunded
                          customLabel: Partially Refunded
                          statusCode: '14'
      operationId: get-stores-order-statuses
      description: |-
        Get a list of all statuses of the order, including status codes and custom status names.
        Equivalent Storefront GraphQL API Query: `orderStatuses`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      tags:
        - Store
  /stores/currencies:
    get:
      summary: Get Store Currencies Setting
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    code: 200
                    message: SUCCESS
                    data:
                      currencies:
                        - id: 1
                          is_default: false
                          last_updated: 'Wed, 19 May 2021 01:35:32 +0000'
                          country_iso2: null
                          default_for_country_codes: []
                          currency_code: USD
                          currency_exchange_rate: '0.1411948941'
                          name: USD
                          token: $
                          auto_update: false
                          token_location: left
                          decimal_token: .
                          thousands_token: ','
                          decimal_places: 2
                          enabled: true
                          is_transactional: true
                        - id: 2
                          is_default: false
                          last_updated: 'Wed, 19 May 2021 01:35:32 +0000'
                          country_iso2: null
                          default_for_country_codes: []
                          currency_code: AUD
                          currency_exchange_rate: '0.2077965256'
                          name: Australian Dollar
                          token: $
                          auto_update: false
                          token_location: right
                          decimal_token: .
                          thousands_token: ','
                          decimal_places: 2
                          enabled: true
                          is_transactional: true
                        - id: 3
                          is_default: true
                          last_updated: 'Wed, 19 May 2021 01:35:32 +0000'
                          country_iso2: null
                          default_for_country_codes: []
                          currency_code: CNY
                          currency_exchange_rate: '1.0000000000'
                          name: Chinese Yuan
                          token: ¥
                          auto_update: false
                          token_location: left
                          decimal_token: .
                          thousands_token: ','
                          decimal_places: 2
                          enabled: true
                          is_transactional: true
                        - id: 4
                          is_default: false
                          last_updated: 'Wed, 19 May 2021 01:35:32 +0000'
                          country_iso2: null
                          default_for_country_codes: []
                          currency_code: GBP
                          currency_exchange_rate: '0.1055431833'
                          name: British Pound
                          token: £
                          auto_update: false
                          token_location: left
                          decimal_token: .
                          thousands_token: ','
                          decimal_places: 2
                          enabled: true
                          is_transactional: true
                        - id: 5
                          is_default: false
                          last_updated: 'Wed, 19 May 2021 01:35:32 +0000'
                          country_iso2: null
                          default_for_country_codes: []
                          currency_code: EUR
                          currency_exchange_rate: '0.1164293097'
                          name: Euro
                          token: €
                          auto_update: false
                          token_location: left
                          decimal_token: .
                          thousands_token: ','
                          decimal_places: 2
                          enabled: true
                          is_transactional: true
                properties:
                  code:
                    type: number
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    required:
                      - currencies
                    properties:
                      currencies:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            is_default:
                              type: boolean
                            country_iso2:
                              description: 'Country code, ex. US, CN'
                              type: string
                            last_updated:
                              type: string
                              minLength: 1
                            default_for_country_codes:
                              type: array
                              items:
                                type: object
                            currency_code:
                              type: string
                              minLength: 1
                              description: 'Currency code, ex. USD, CNY'
                            currency_exchange_rate:
                              type: string
                              minLength: 1
                            name:
                              type: string
                              minLength: 1
                            token:
                              type: string
                              minLength: 1
                              description: 'Currency token, ex. $'
                            auto_update:
                              type: boolean
                            token_location:
                              type: string
                              minLength: 1
                              description: 'Currency token location, ex. left or right'
                            decimal_token:
                              type: string
                              minLength: 1
                            thousands_token:
                              type: string
                              minLength: 1
                            decimal_places:
                              type: number
                            enabled:
                              type: boolean
                            is_transactional:
                              type: boolean
                              description: Is transactional
                          required:
                            - id
                            - is_default
                            - last_updated
                            - currency_code
                            - currency_exchange_rate
                            - name
                            - token
                            - auto_update
                            - token_location
                            - decimal_token
                            - thousands_token
                            - decimal_places
                            - enabled
                            - is_transactional
                      channelCurrencies:
                        type: array
                        items:
                          type: object
                          properties:
                            channel_id:
                              type: integer
                            enabled_currencies:
                              type: array
                              items: {}
                            default_currency:
                              type: string
                required:
                  - code
                  - message
                  - data
              examples:
                example-1:
                  value:
                    code: 200
                    message: SUCCESS
                    data:
                      currencies:
                        - id: 1
                          is_default: false
                          last_updated: 'Wed, 19 May 2021 01:35:32 +0000'
                          country_iso2: 'null'
                          default_for_country_codes: []
                          currency_code: USD
                          currency_exchange_rate: '0.1411948941'
                          name: USD
                          token: $
                          auto_update: false
                          token_location: left
                          decimal_token: .
                          thousands_token: ','
                          decimal_places: 2
                          enabled: true
                          is_transactional: true
      operationId: get-stores-currencies
      description: |-
        Get store currencies config.
        Equivalent Storefront GraphQL API Query: `currencies`. For more information, see the [GraphQL Playground](https://api-b2b.bigcommerce.com/graphql/playground).
      parameters:
        - schema:
            type: string
          in: query
          name: storehash
          description: Store Hash
          required: true
        - schema:
            type: string
          in: query
          name: channelId
          description: BigCommerce channel id
      tags:
        - Store
components:
  schemas: {}
  securitySchemes:
    BearerToken:
      name: BearerToken
      description: |-
        ### Authentication header
        | Header | Argument | Description |
        |:-------|:---------|:------------|
        |`Authorization`|`Bearer {{B2B_JWT_TOKEN}}`| You can obtain this token using the steps described in the [REST Storefront API](/b2b-edition/docs/authentication#rest-storefront-api) section of the [Authentication for hosted storefront](https://developer.bigcommerce.com/b2b-edition/docs/authentication) article. |
      type: apiKey
      in: header
tags:
  - name: Store
