openapi: 3.0.0
info:
  title: Channels
  description: |-
    > **NOTICE**
    > 
    > As of September 30, 2025, the B2B Edition API `authToken` will be deprecated and replaced by the standard BigCommerce API `X-Auth-Token`. For information concerning this change, see [B2B Authentication](/b2b-edition/docs/authentication).
    > 
    > While `authToken` authentication is not expected to be fully sunset in the near future, it is advised to migrate to the new system as soon as possible to prevent disruption of functionality.

    Channels are the primary structure for separating storefront experience for customers on the frontend. The endpoints provided by the B2B Edition API allow polling, but not management, of channel data. For details on managing channels and updating their settings via API, see [Channels](/docs/rest-management/channels).

    The B2B Edition channels endpoints are intended for use only in Multi-Storefront environments, and using them in Single-Storefront environments will result in unexpected responses.
  contact:
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
    email: support@bigcommerce.com
  version: v3
  termsOfService: 'https://www.bigcommerce.com/terms'
servers:
  - url: 'https://api-b2b.bigcommerce.com/api/v3/io'
security:
  - X-Auth-Token: []
    X-Store-Hash: []
tags:
  - name: Channels
paths:
  /channels:
    get:
      summary: "Get all Channels"
      tags:
        - Channels
      description: |-
        Returns all enabled channels for the current store. Analogous to [Get All Channels](/docs/rest-management/channels#get-all-channels) in the BigCommerce API.
      operationId: get-channels
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    default: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Channel'
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                        default: "SUCCESS"
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: HTTP status code.
                    example: 403
                  message:
                    type: string
                    description: Error message.
                    example: "Multi storefront is not enabled"
  /channels/{channel_id}:
    parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
        description: The unique BigCommerce channel ID.
        example: 1
    get:
      summary: Get Channel Details by channel ID
      tags:
        - Channels
      description: |-
        Returns data for the specific channel associated with `channel_id`. Analogous to [Get A Channel](/docs/rest-management/channels#get-a-channel) in the BigCommerce API.
      operationId: get-channels-channelId
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    default: 200
                  data:
                    $ref: '#/components/schemas/Channel'
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                        default: "SUCCESS"
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: HTTP status code.
                    example: 403
                  message:
                    type: string
                    description: Error message.
                    example: "Multi storefront is not enabled"
        '404':
          description: Channel Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: HTTP status code.
                    example: 404
                  message:
                    type: string
                    description: Error message.
                    example: "Channel does not exist"
components:
  schemas:
    Channel:
      type: object
      description: A BigCommerce store channel object
      properties:
        id:
          type: integer
          description: "The unique numeric ID assigned to the storefront channel by B2B Edition. Does **not** match `channelId`."
          example: 1
        channelId:
          type: integer
          description: "The unique numeric ID assigned to the storefront channel by BigCommerce. Does **not** match `id`."
          example: 1
        name:
          type: string
          description: "The display name for the channel as shown in the Channels menu in the BigCommerce control panel."
          example: "Default Channel"
        type:
          type: string
          description: "The type of channel. Currently, only `storefront` channel type is supported within B2B Edition."
          example: "storefront"
          enum: ["storefront", "marketplace", "pos", "custom"]
        platform:
          type: string
          description: "The platform provider for the channel. Currently, only `bigcommerce` channel platform is supported within B2B Edition."
          example: "bigcommerce"
          enum: ["bigcommerce", "amazon", "ebay", "custom"]
        status:
          type: string
          description: "The status of the channel, indicating whether it is prelaunch (`prelaunch`), live (`active`), down for maintenance (`inactive`), archived (`archived`), or marked for deletion (`deleted`). Once a channel is deleted, it will no longer be available to the API."
          example: "active"
          enum: ["active", "inactive", "archived"]
        site:
          type: string
          description: "The domain associated with the channel, as reported within BigCommerce."
          example: "https://default.example.com"
        isVisible:
          type: boolean
          description: "Indicates whether the channel is visible in the BigCommerce control panel."
          example: true
        isEnabled:
          type: boolean
          description: "Indicates whether the channel is enabled."
          example: true
        iconUrl:
          type: string
          description: "The URL for the channel's icon seen in B2B Edition's Storefronts settings. Note that this does not correspond to the storefront channel's logo or favicon."
          example: "https://cdn.example.com/icons/default.png"
        b2bEnabled:
          type: boolean
          description: "Indicates whether B2B features are enabled for this channel."
          example: true
        allowGlobalLogins:
          type: boolean
          description: "Determines if customers created on this channel will get global access/login."
          example: false
        createdAt:
          type: string
          format: date-time
          description: "The [Unix Timestap](https://www.unixtimestamp.com/) creation date for the channel."
          example: "1750437336"
        updatedAt:
          type: string
          format: date-time
          description: "The [Unix Timestap](https://www.unixtimestamp.com/) last update date for the channel."
          example: "1750437336"
  securitySchemes:
    X-Store-Hash:
      name: X-Store-Hash
      description: |-
        ### Authentication header

        | Header | Argument | Description |
        |:-------|:---------|:------------|
        | `X-Store-Hash` | `store_hash` | The unique store hash associated with a BigCommerce store that has B2B Edition enabled. |
      type: apiKey
      in: header
    X-Auth-Token:
      name: X-Auth-Token
      description: |-

        ### Authentication header

        | Header | Argument | Description |
        |:-------|:---------|:------------|
        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |
        
        ### Further reading

        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).
        
        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).
        
        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).
      type: apiKey
      in: header
